
@import 'biosimulations-colors'

.md-container
  overflow: auto
  max-height: 50vh

.header
  margin: auto
  text-align: center

.content
  max-width: 80vw
  margin: auto
  margin-top: 1rem

.error
  margin-bottom: 2rem