<div class="container">
  <br>
  <br>
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-6" style="text-align: center;">
      <div class="card text-white bg-dark mb-3" style="max-width: 100%; height: 25rem;">
        <!-- <div class="card-header"><img src="https://biosimulations.org/assets/logo/logo-white.svg" alt=""></div> -->
        <div class="card-body">
          <h5 class="card-title">Dispatch page for biomodel simulations</h5>
          <p class="card-text">
            Welcome to BioSimulations Dispatch app, here anyone can dispatch simulation to UConn's HPC cluster.
            You don't need to get yourself registered on UConn servers, you can run your simulations directly as a guest user. 
            Go to <a routerLink="/run"><b>Dispatch</b></a> tab to get started.
          </p>
          <br>
          <p>- Developed by CRBM team</p>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>