<biosimulations-home-teaser
  heading="runBioSimulations: Simulating biomodels with ease"
  banner="assets/images/runbiosimulations-logo/logo-white.svg"
>
  <ng-container id="buttons">
    <biosimulations-home-teaser-button [href]="config.simulatorsAppUrl" width="180px" color="accent">
      <ng-container id="title">Find simulators</ng-container>
      <ng-container id="text">
        <p>@BioSimulators</p>
      </ng-container>
    </biosimulations-home-teaser-button>
    <biosimulations-home-teaser-button [route]="['/run']" width="180px" color="primary">
      <ng-container id="title">Run simulations</ng-container>
      <ng-container id="text">
        <p>@runBioSimulations</p>
      </ng-container>
    </biosimulations-home-teaser-button>
    <biosimulations-home-teaser-button [route]="['/simulations']" width="180px" color="primary">
      <ng-container id="title">Viz simulation results</ng-container>
      <ng-container id="text">
        <p>@runBioSimulations</p>
      </ng-container>
    </biosimulations-home-teaser-button>
    <biosimulations-home-teaser-button [href]="config.platformAppUrl" width="180px" color="accent" [disabled]="true">
      <ng-container id="title">Share and reuse biomodeling studies</ng-container>
      <ng-container id="text">
        <p>@BioSimulations</p>
      </ng-container>
    </biosimulations-home-teaser-button>
  </ng-container>
  <ng-container id="description">
    runBioSimulations is a free tool for executing a wide range of simulations. runBioSimulations supports a broad range of modeling frameworks (e.g., logical, kinetic), simulation algorithms (e.g., FBA, SSA), modeling formats (e.g., SBML, SED-ML), and simulation tools (e.g., COBRApy, COPASI).
  </ng-container>
</biosimulations-home-teaser>

<biosimulations-home-section
  [columns]="3"
>
  <ng-container id="heading">
    Helping investigators <span class="highlight-primary">execute biomodeling studies</span>
  </ng-container>

  <biosimulations-home-subsection
    id="subsection"
    heading="Simulate studies"
    subheading="Execute many formalisms &amp; algorithms"
    icon="simulator"
  >
    runBioSimulations is a central application for executing simulations of a broad range of frameworks, algorithms, and formats.
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Vis simulation results"
    subheading="Analyze predicted trajectories"
    icon="chart"
  >
    runBioSimulations provides a simple web interface for interactively plotting the results of simulations.
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Reuse published studies"
    subheading="Evaluate new hypotheses"
    icon="reuse"
  >
    By making it easier to execute simulations, runBioSimulations makes it easier to reuse simulations, including for peer review.
  </biosimulations-home-subsection>
</biosimulations-home-section>

<biosimulations-home-section
  [columns]="4"
>
  <ng-container id="heading">Central access to <span class="highlight-primary">multiple modeling frameworks, algorithms, formats &amp; tools</span></ng-container>

  <biosimulations-home-subsection
    id="subsection"
    heading="Model formats"
    subheading="runBioSimulations supports several model formats"
    subheadingSize="small"
    icon="model"
  >
    <biosimulations-home-logo
      title="BNGL"
      src="assets/images/about/partners/bionetgen.png"
      href="https://www.bionetgen.org"
    >
    </biosimulations-home-logo>

    <!--
    <biosimulations-home-logo
      title="CellML"
      src="assets/images/about/partners/cellml.svg"
      href="https://www.cellml.org/"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="NeuroML"
      src="assets/images/about/partners/neuroml.svg"
      href="https://neuroml.org/"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="pharmML"
      src="assets/images/about/partners/pharmml.svg"
      href="http://www.pharmml.org/"
    >
    </biosimulations-home-logo>
    -->

    <biosimulations-home-logo
      title="SBML"
      src="assets/images/about/partners/sbml.svg"
      href="http://sbml.org"
    >
    </biosimulations-home-logo>
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Simulation formats"
    subheading="runBioSimulations supports the SED-ML simulation format"
    subheadingSize="small"
    icon="simulation"
  >
    <biosimulations-home-logo
      title="SED-ML"
      src="assets/images/about/partners/sed-ml.svg"
      href="https://sed-ml.org/"
    >
    </biosimulations-home-logo>
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Project formats"
    subheading="runBioSimulations supports the COMBINE/OMEX project format"
    subheadingSize="small"
    icon="project"
  >
    <biosimulations-home-logo
      title="COMBINE/OMEX"
      src="assets/images/about/partners/omex.svg"
      href="https://combinearchive.org/"
    >
    </biosimulations-home-logo>
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Algorithms &amp; simulators"
    subheading="Through BioSimulators, runBioSimulations supports many simulation algorithms and tools"
    subheadingSize="small"
    icon="simulator"
  >
    <p>
      <biosimulations-home-logo
        title="AMICI"
        src="assets/images/about/partners/amici.svg"
        href="http://amici-dev.github.io/AMICI/"
      >
      </biosimulations-home-logo>

      <!--
      <biosimulations-home-logo
        title="Cayenne"
        src="assets/images/about/partners/cayenne.png"
        href="https://cayenne.readthedocs.io/"
      >
      </biosimulations-home-logo>
      -->

      <biosimulations-home-logo
        title="COBRApy"
        src="assets/images/about/partners/cobrapy.svg"
        href="https://opencobra.github.io/cobrapy/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="COPASI"
        src="assets/images/about/partners/copasi.svg"
        href="http://copasi.org/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="GillesPy2"
        src="assets/images/about/partners/gillespy2.svg"
        href="https://gillespy2.github.io/GillesPy2/"
      >
      </biosimulations-home-logo>
    </p>
    <p>
      <!--
      <biosimulations-home-logo
        title="iBioSim"
        src="assets/images/about/partners/ibiosim.svg"
        href="https://github.com/MyersResearchGroup/iBioSim"
      >
      </biosimulations-home-logo>
      -->

      <biosimulations-home-logo
        title="NFsim"
        src="assets/images/about/partners/nfsim.svg"
        href="http://michaelsneddon.net/nfsim/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="PySCeS"
        src="assets/images/about/partners/pysces.svg"
        href="http://pysces.sourceforge.net/"
      >
      </biosimulations-home-logo>
    </p>
    <p>
      <biosimulations-home-logo
        title="tellurium/libRoadRunner"
        src="assets/images/about/partners/libroadrunner.svg"
        href="http://tellurium.analogmachine.org/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="VCell"
        src="assets/images/about/partners/vcell.svg"
        href="https://vcell.org/"
      >
      </biosimulations-home-logo>
    </p>
  </biosimulations-home-subsection>
</biosimulations-home-section>

<biosimulations-home-section
  [columns]="1"
>
  <ng-container id="heading">About <span class="highlight-primary">runBioSimulations</span></ng-container>
  <ng-container id="subsection">
    <div class="about-content">
      <div class="text">
        <p>
          runBioSimulations was developed by the Center for Reproducible Biomedical Modeling <a href="https://reproduciblebiomodels.org/" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a>, the Karr Lab at the Icahn School of Medicine at Mount Sinai <a href="https://www.karrlab.org" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a>, and the Center for Cell Analysis & Modeling at the University of Connecticut Health Center <a href="https://health.uconn.edu/cell-analysis-modeling/" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> with support from the National Institutes of Health and the National Science Foundation.
        </p>
        <p>
          runBioSimulations is implemented using several open-source tools and cloud platforms. The runBioSimulations code is openly available under the MIT license <a href="https://github.com/biosimulations/Biosimulations/blob/dev/LICENSE" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a>. The simulation tools provided through runBioSimulations are available under the licenses specified for each simulation tool at BioSimulators <a [href]="config.simulatorsAppUrl" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a>.
        </p>
        <p>
          Please see the <a [routerLink]="['/help', 'about']">About page</a> for more information.
        </p>
      </div>
      <div class="logos">        
        <p>
          <biosimulations-home-logo
            title="Center for Reproducible Biomedical Modeling"
            src="assets/images/about/team/crbm.svg"
            href="https://reproduciblebiomodels.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Karr Lab"
            src="assets/images/about/team/karr-lab.svg"
            href="https://www.karrlab.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Icahn School of Medicine at Mount Sinai"
            src="assets/images/about/team/sinai.svg"
            href="https://icahn.mssm.edu/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="University of Connecticut Health Center"
            src="assets/images/about/team/uconn.svg"
            href="https://health.uconn.edu/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="University of Washington"
            src="assets/images/about/team/uw.svg"
            href="https://www.washington.edu/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NIBIB"
            src="assets/images/about/funding/nibib.svg"
            href="http://nibib.nih.gov/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NIGMS"
            src="assets/images/about/funding/nigms.svg"
            href="http://nigms.nih.gov/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NIH"
            src="assets/images/about/funding/nih.svg"
            href="http://nih.gov/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NSF"
            src="assets/images/about/funding/nsf.svg"
            href="http://nsf.gov/"
          >
          </biosimulations-home-logo>
        </p>
        <p>
          <biosimulations-home-logo
            title="BNGL"
            src="assets/images/about/partners/bionetgen.png"
            href="https://www.bionetgen.org"
          >
          </biosimulations-home-logo>

          <!--
          <biosimulations-home-logo
            title="CellML"
            src="assets/images/about/partners/cellml.svg"
            href="https://www.cellml.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NeuroML"
            src="assets/images/about/partners/neuroml.svg"
            href="https://neuroml.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="pharmML"
            src="assets/images/about/partners/pharmml.svg"
            href="http://www.pharmml.org/"
          >
          </biosimulations-home-logo>
          -->

          <biosimulations-home-logo
            title="SBML"
            src="assets/images/about/partners/sbml.svg"
            href="http://sbml.org"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="SBO"
            src="assets/images/about/partners/sbo.png"
            href="http://www.ebi.ac.uk/sbo/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="SED-ML"
            src="assets/images/about/partners/sed-ml.svg"
            href="https://sed-ml.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="KiSAO"
            src="assets/images/about/partners/kisao.svg"
            href="http://co.mbine.org/standards/kisao"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="COMBINE/OMEX"
            src="assets/images/about/partners/omex.svg"
            href="https://combinearchive.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="BioContainers"
            src="assets/images/about/partners/biocontainers.png"
            href="https://biocontainers.pro/"
          >
          </biosimulations-home-logo>
        </p>
        <p>
          <biosimulations-home-logo
            title="AMICI"
            src="assets/images/about/partners/amici.svg"
            href="http://amici-dev.github.io/AMICI/"
          >
          </biosimulations-home-logo>

          <!--
          <biosimulations-home-logo
            title="Cayenne"
            src="assets/images/about/partners/cayenne.png"
            href="https://cayenne.readthedocs.io/"
          >
          </biosimulations-home-logo>
          -->

          <biosimulations-home-logo
            title="COBRApy"
            src="assets/images/about/partners/cobrapy.svg"
            href="https://opencobra.github.io/cobrapy/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="COPASI"
            src="assets/images/about/partners/copasi.svg"
            href="http://copasi.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="GillesPy2"
            src="assets/images/about/partners/gillespy2.svg"
            href="https://gillespy2.github.io/GillesPy2/"
          >
          </biosimulations-home-logo>

          <!--
          <biosimulations-home-logo
            title="iBioSim"
            src="assets/images/about/partners/ibiosim.svg"
            href="https://github.com/MyersResearchGroup/iBioSim"
          >
          </biosimulations-home-logo>
          -->

          <biosimulations-home-logo
            title="NFsim"
            src="assets/images/about/partners/nfsim.svg"
            href="http://michaelsneddon.net/nfsim/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="PySCeS"
            src="assets/images/about/partners/pysces.svg"
            href="http://pysces.sourceforge.net/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="tellurium/libRoadRunner"
            src="assets/images/about/partners/libroadrunner.svg"
            href="http://tellurium.analogmachine.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="VCell"
            src="assets/images/about/partners/vcell.svg"
            href="https://vcell.org/"
          >
          </biosimulations-home-logo>
        </p>
        <p>
          <biosimulations-home-logo
            title="Angular"
            src="assets/images/about/tech/angular.svg"
            href="https://angular.io/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Docker"
            src="assets/images/about/tech/docker.svg"
            href="http://www.docker.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Favicon Generator"
            src="assets/images/about/tech/real-favicon-generator.png"
            href="http://realfavicongenerator.net/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Font Awesome"
            src="assets/images/about/tech/font-awesome.svg"
            href="https://fontawesome.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="GitHub"
            src="assets/images/about/tech/github.svg"
            href="https://github.com/open-source"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Kubernetes"
            src="assets/images/about/tech/kubernetes.svg"
            href="https://kubernetes.io/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Material Design"
            src="assets/images/about/tech/material.svg"
            href="https://material.io/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Material Theme Generator"
            src="assets/images/about/tech/material-theme-generator.svg"
            href="https://materialtheme.arcsine.dev/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="MongoDB"
            src="assets/images/about/tech/mongodb.svg"
            href="https://www.mongodb.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NestJS"
            src="assets/images/about/tech/nestjs.svg"
            href="https://nestjs.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Netlify"
            src="assets/images/about/tech/netlify.svg"
            href="https://www.netlify.com"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="OpenAPI"
            src="assets/images/about/tech/openapi.svg"
            href="https://www.openapis.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Plotly"
            src="assets/images/about/tech/plotly.svg"
            href="https://plotly.com/javascript/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="SPDX"
            src="assets/images/about/tech/spdx.svg"
            href="http://spdx.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Swagger"
            src="assets/images/about/tech/swagger.svg"
            href="https://swagger.io/"
          >
          </biosimulations-home-logo>
        </p>
      </div>
    </div>
  </ng-container>
</biosimulations-home-section>
