<button mat-flat-button color="primary" [routerLink]="['']">Home</button>

<button mat-flat-button color="primary" [routerLink]="['/about']">
  About
</button>

<button mat-flat-button color="primary" [routerLink]="['/visualize']">
  Visualize
</button>

<button mat-flat-button color="primary" [routerLink]="['/files']">
  Files
</button>

<button mat-flat-button color="primary" [routerLink]="['/simulate']">
  Simulate
</button>

<button
  mat-flat-button
  *ngIf="!auth.loggedIn"
  color="primary"
  (click)="auth.login()"
>
  Login
</button>
<button
  mat-flat-button
  *ngIf="auth.loggedIn"
  color="primary"
  [routerLink]="['/profile']"
>
  Profile
</button>
<button
  mat-flat-button
  *ngIf="auth.loggedIn"
  color="primary"
  (click)="auth.logout()"
>
  Logout
</button>
