<div class="page-content partial-width">
  <div *ngIf="user">
    <div class="profile">
      <img class="photo" src="{{ user.getGravatarImgUrl() }}" />
      <div class="name mat-title">{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</div>
      <div class="username light">{{ user.userName }}</div>
      <div class="description" *ngIf="user.description">{{
        user.description
      }}</div>

      <table class="details">
        <tr *ngIf="user.organization">
          <th>
            <mat-icon aria-hidden="false" aria-label="Organization"
              >people</mat-icon
            >
          </th>
          <td>{{ user.organization }}</td>
        </tr>

        <tr *ngIf="user.website">
          <th>
            <mat-icon aria-hidden="false" aria-label="Website">link</mat-icon>
          </th>
          <td>
            <a href="{{ user.website }}">{{
              user.website
            }}</a>
          </td>
        </tr>

        <tr *ngIf="user.email && user.emailPublic" class="email">
          <th><mat-icon aria-hidden="false" aria-label="Email">email</mat-icon></th>
          <td>
            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
          </td>
        </tr>

        <tr *ngIf="user.gitHubId">
          <th>
            <fa-icon
              [icon]="['fab', 'github']"
              size="lg"
              aria-hidden="false"
              aria-label="GitHub"
            ></fa-icon>
          </th>
          <td>
            <a href="https://github.com/{{ user.gitHubId }}">{{
              user.gitHubId
            }}</a>
          </td>
        </tr>

        <tr *ngIf="user.googleScholarId">
          <th>
            <fa-icon
              [icon]="['fab', 'google']"
              size="lg"
              aria-hidden="false"
              aria-label="Google Scholar"
            ></fa-icon>
          </th>
          <td>
            <a
              href="https://scholar.google.com/citations?user={{
                user.googleScholarId
              }}"
              >{{ user.googleScholarId }}</a
            >
          </td>
        </tr>

        <tr *ngIf="user.orcId">
          <th>
            <fa-icon
              [icon]="['fab', 'orcid']"
              size="lg"
              aria-hidden="false"
              aria-label="ORCID"
            ></fa-icon>
          </th>
          <td>
            <a href="https://orcid.org/{{ user.orcId }}">{{
              user.orcId
            }}</a>
          </td>
        </tr>
      </table>
    </div>

    <div class="resources-container">
      <ng-container *ngIf="user.getProjects() as projects">
        <div class="resources" *ngIf="projects.length > 0">
          <div class="resources-title float-container">
            <h2>Projects ({{ projects.length }})</h2>
            <a [routerLink]="['projects']">View all</a>
          </div>
          <app-project-cards
            [projects]="projects"
            [maxProjects]="10"
          ></app-project-cards>
        </div>
      </ng-container>

      <ng-container *ngIf="user.getModels() as models">
        <div class="resources" *ngIf="models.length > 0">
          <div class="resources-title float-container">
            <h2>Models ({{ models.length }})</h2>
            <a [routerLink]="['models']">View all</a>
          </div>
          <app-model-cards
            [models]="models"
            [maxModels]="10"
          ></app-model-cards>
        </div>
      </ng-container>

      <ng-container *ngIf="user.getSimulations() as simulations">
        <div class="resources" *ngIf="simulations.length > 0">
          <div class="resources-title float-container">
            <h2>Simulations ({{ simulations.length }})</h2>
            <a [routerLink]="['simulations']">View all</a>
          </div>
          <app-simulation-cards
            [simulations]="simulations"
            [maxSimulations]="10"
          ></app-simulation-cards>
        </div>
      </ng-container>

      <ng-container *ngIf="user.getChartTypes() as chartTypes">
        <div class="resources" *ngIf="chartTypes.length > 0">
          <div class="resources-title float-container">
            <h2>Chart types ({{ chartTypes.length }})</h2>
            <a [routerLink]="['chart-types']">View all</a>
          </div>
          <app-chart-type-cards
            [chartTypes]="chartTypes"
            [maxChartTypes]="10"
          ></app-chart-type-cards>
        </div>
      </ng-container>

      <ng-container *ngIf="user.getVisualizations() as visualizations">
        <div class="resources" *ngIf="visualizations.length > 0">
          <div class="resources-title float-container">
            <h2>Visualizations ({{ visualizations.length }})</h2>
            <a [routerLink]="['visualizations']">View all</a>
          </div>
          <app-visualization-cards
            [visualizations]="visualizations"
            [maxVisualizations]="10"
          ></app-visualization-cards>
        </div>
      </ng-container>
    </div>
  </div>
</div>
