Thank you for creating an account. Just a few more steps:
<mat-horizontal-stepper linear="true" #stepper>
  <mat-step [stepControl]="termsAndConditionsForm">
    <ng-template matStepLabel>Terms of Service</ng-template>
    <p>
      To create a Biosimulations account, you must agree to the Terms of
      Service, Code of Conduct, and Privacy Policy
    </p>
    <p>
      Please <a href="https://Biosimulations.dev/about"> contact us</a> if you
      have any questions
    </p>
    <form [formGroup]="termsAndConditionsForm">
      <h3>Code of Conduct</h3>
      <mat-checkbox formControlName="tos"
        >I agree to abide by the code of conduct</mat-checkbox
      >
      <h3>Terms of Service</h3>
      <mat-checkbox formControlName="coc"
        >I agree to abide to the terms of service
      </mat-checkbox>
      <h3>Privacy Policy</h3>
      <mat-checkbox formControlName="ppo"
        >I accept the privacy policy</mat-checkbox
      >
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="userNameForm">
    <form [formGroup]="userNameForm">
      <ng-template matStepLabel>Choose a Username</ng-template>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="username"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="this.continueLogin()">
        Continue Login
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<biosimulations-debug>
  <p>state: {{ this.state | async }}</p>
  <p>Token: {{ this.token | async }}</p>
  <pre>
<p>form: {{ this.termsAndConditionsForm.valueChanges | async | json}}</p>
</pre>
</biosimulations-debug>
