<div class="mat-typography app-page-centered" style="padding-bottom: 4rem">
  <div class="page-title">
    <h1 class="mat-display-1" style="margin-bottom: 10px; margin-top: 20px">Simulation Projects</h1>
  </div>
  <div class="projects-table-container full-width-table mat-elevation-z8">
    <biosimulations-projects-chips
      [filterStats$]="filterStats$"
      (filterQueries$)="onFilterQueryChanged($event)"></biosimulations-projects-chips>

    <div class="below-filters">
      <mat-form-field appearance="fill">
        <input
          (keyup)="onKeyUpEvent($event)"
          [(ngModel)]="searchTerm"
          matInput
          placeholder="Search projects"
          type="text" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>

      <!--Top Paginator-->
      <mat-paginator
        #paginatorTop
        [length]="dataSource.datalength"
        [pageIndex]="0"
        [pageSizeOptions]="[25, 50, 100, 200]"
        [pageSize]="25"
        [showFirstLastButtons]="true"
        [color]="color"
        aria-label="Select page">
      </mat-paginator>
    </div>

    <!--  <table mat-table class="full-width-table" matSort aria-label="Elements">-->
    <table aria-label="Elements" mat-table matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Id</th>
        <td *matCellDef="let row" mat-cell>
          <a [routerLink]="['/projects', row.id]">{{ row.id }}</a>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Title</th>
        <td *matCellDef="let row" mat-cell>{{ row.title }}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; let odd = odd; columns: displayedColumns" [class.striped-row]="odd" mat-row></tr>
    </table>
  </div>
</div>
