<div class="home-container platform">
  <ng-container *ngIf="!isMobileSimulations; else mobileViewSimulationsHome">
  <mat-card class="home-description platform">
    <mat-card-content>
         <!-- Start Home Teaser Section with Features Carousel -->
         <biosimulations-home-teaser
            heading="Easily share and find models, simulations, and visualizations of simulation results">
            <ng-container id="buttons">
            <biosimulations-featured [autoScrollInterval]="9000"></biosimulations-featured>
            </ng-container>

            <ng-container id="description">
            BioSimulations is a free platform for sharing and re-using biomodels, simulations, simulation results, and
            visualizations of simulation results. BioSimulations supports a wide range of frameworks (e.g., logical,
            Flux-Balance Analysis (FBA), continuous kinetic, discrete kinetic), simulation algorithms (e.g., FBA, SSA),
            model formats (e.g., SBML), and tools (e.g., COBRApy, COPASI, tellurium).
            </ng-container>
         </biosimulations-home-teaser>
         <!-- End Home Teaser Section with Features Carousel -->
      </mat-card-content>
    </mat-card>
    <!-- Start Home Section with Text -->
      <div class="home-bottom platform">
        <biosimulations-home-section [columns]="1">
          <ng-container id="heading">
            <span>
              <strong>About </strong><strong id="bio">Bio</strong><strong id="simulations">Simulations</strong>
            </span>
          </ng-container>
          <ng-container id="subsection">
            <div class="about-content">
              <div class="text">
                <p>
                  BioSimulations was developed by the Center for Reproducible Biomedical Modeling
                  <a href="https://reproduciblebiomodels.org/" rel="noopener" target="_blank"
                    ><biosimulations-icon icon="link"></biosimulations-icon></a
                  >, the Karr Lab at the Icahn School of Medicine at Mount Sinai
                  <a href="https://www.karrlab.org" rel="noopener" target="_blank"
                    ><biosimulations-icon icon="link"></biosimulations-icon></a
                  >, and the Center for Cell Analysis &amp; Modeling at the University of Connecticut Health Center
                  <a href="https://health.uconn.edu/cell-analysis-modeling/" rel="noopener" target="_blank"
                    ><biosimulations-icon icon="link"></biosimulations-icon
                  ></a>
                  with support from the National Institutes of Health and the National Science Foundation.
                </p>
                <p>
                  BioSimulations is implemented using several open-source tools and cloud platforms. The models,
                  simulations, and visualizations are available under the licenses specified for each resource. The code
                  is openly available under the MIT license
                  <a
                    href="https://github.com/biosimulations/biosimulations/blob/dev/LICENSE"
                    rel="noopener"
                    target="license"
                    ><biosimulations-icon icon="link"></biosimulations-icon></a
                  >. The simulation tools provided are available under the licenses specified for each simulation tool
                  at BioSimulators
                  <a [href]="simulatorsAppUrl" rel="noopener" target="biosimulators"
                    ><biosimulations-icon icon="link"></biosimulations-icon></a
                  >.
                </p>
                <p>
                  Please see the
                  <a href="https://docs.biosimulations.org/about/team" target="biosimulations-docs">documentation</a>
                  for more information.
                </p>
                <p>Images by: rawpixel.com on Freepik and oldbookillustrations.com</p>
              </div>

              <div class="logos">
                <p>
                  <biosimulations-home-logo
                    title="Center for Reproducible Biomedical Modeling"
                    src="assets/images/about/team/crbm.svg"
                    href="https://reproduciblebiomodels.org/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Karr Lab"
                    src="assets/images/about/team/karr-lab.svg"
                    href="https://www.karrlab.org/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Icahn School of Medicine at Mount Sinai"
                    src="assets/images/about/team/sinai.svg"
                    href="https://icahn.mssm.edu/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="UConn Health"
                    src="assets/images/about/team/uconn.svg"
                    href="https://health.uconn.edu/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="University of Washington"
                    src="assets/images/about/team/uw.svg"
                    href="https://www.washington.edu/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="NIBIB"
                    src="assets/images/about/funding/nibib.svg"
                    href="http://nibib.nih.gov/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="NIGMS"
                    src="assets/images/about/funding/nigms.svg"
                    href="http://nigms.nih.gov/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="NIH"
                    src="assets/images/about/funding/nih.svg"
                    href="http://nih.gov/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="NSF"
                    src="assets/images/about/funding/nsf.svg"
                    href="http://nsf.gov/">
                  </biosimulations-home-logo>
                </p>
                <p>
                  <biosimulations-home-logo
                    title="BiGG"
                    src="assets/images/about/partners/bigg.png"
                    href="http://bigg.ucsd.edu/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="BioModels"
                    src="assets/images/about/partners/biomodels.svg"
                    href="http://biomodels.org/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="JWS Online"
                    src="assets/images/about/partners/jws.svg"
                    href="https://jjj.biochem.sun.ac.za/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="ModelDB"
                    src="assets/images/about/partners/modeldb.svg"
                    href="http://modeldb.science/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="RBA"
                    src="assets/images/about/partners/rba.png"
                    href="https://rba.inrae.fr/">
                  </biosimulations-home-logo>
                </p>
                <p>
                  <biosimulations-home-logo
                    title="Angular"
                    src="assets/images/about/tech/angular.svg"
                    href="https://angular.io/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Auth0"
                    src="assets/images/about/tech/auth0.svg"
                    href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Docker"
                    src="assets/images/about/tech/docker.svg"
                    href="http://www.docker.com/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Favicon Generator"
                    src="assets/images/about/tech/real-favicon-generator.png"
                    href="http://realfavicongenerator.net/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Font Awesome"
                    src="assets/images/about/tech/font-awesome.svg"
                    href="https://fontawesome.com/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="GitHub"
                    src="assets/images/about/tech/github.svg"
                    href="https://github.com/open-source">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Gravatar"
                    src="assets/images/about/tech/gravatar.svg"
                    href="https://gravatar.com/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Kubernetes"
                    src="assets/images/about/tech/kubernetes.svg"
                    href="https://kubernetes.io/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Material Design"
                    src="assets/images/about/tech/material.svg"
                    href="https://material.io/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Material Theme Generator"
                    src="assets/images/about/tech/material-theme-generator.svg"
                    href="https://materialtheme.arcsine.dev/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="MongoDB"
                    src="assets/images/about/tech/mongodb.svg"
                    href="https://www.mongodb.com/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="NestJS"
                    src="assets/images/about/tech/nestjs.svg"
                    href="https://nestjs.com/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Netlify"
                    src="assets/images/about/tech/netlify.svg"
                    href="https://www.netlify.com">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="OpenAPI"
                    src="assets/images/about/tech/openapi.svg"
                    href="https://www.openapis.org/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Plotly"
                    src="assets/images/about/tech/plotly.svg"
                    href="https://plotly.com/javascript/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="SPDX"
                    src="assets/images/about/tech/spdx.svg"
                    href="http://spdx.org/">
                  </biosimulations-home-logo>

                  <biosimulations-home-logo
                    title="Swagger"
                    src="assets/images/about/tech/swagger.svg"
                    href="https://swagger.io/">
                  </biosimulations-home-logo>
                </p>
              </div>
              <div style="height: 100px; width: 100%"> </div>
            </div>
          </ng-container>
        </biosimulations-home-section>
        <!-- End Home Section with Text -->


        <!--Start Home Footer Section with Buttons -->
        <biosimulations-home-section [columns]="3" class="home-footer simulations">
          <!-- Help Footer Section -->
          <biosimulations-home-subsection
            id="subsection"
            heading="Help"
            icon="help"
            subheading=""
            subheadingSize="small"
            style="justify-content: center">
            <mat-list>
              <mat-list-item>
                <button mat-button class="footer-item faq">
                  <a href="https://docs.biosimulations.org/users/faqs/" target="biosimulations-docs">
                    Frequently Asked Qustions
                  </a>
                </button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button class="footer-item contact">
                  <a href="https://docs.biosimulations.org/about/contact/" target="biosimulations-docs"> Contact Us </a>
                </button>
              </mat-list-item>
            </mat-list>
          </biosimulations-home-subsection>

          <!-- Conventions Footer Section -->
          <biosimulations-home-subsection
            id="subsection"
            heading="Conventions"
            subheading=""
            subheadingSize="small"
            icon="info"
            style="justify-content: center">
            <mat-list class="footer-section conventions">
              <mat-list-item>
                <button mat-button class="footer-item standards">
                  <a href="https://docs.biosimulations.org/concepts/conventions/" target="biosimulations-docs">
                    Standards
                  </a>
                </button>
              </mat-list-item>

              <mat-list-item>
                <button mat-button class="footer-item specs">
                  <a
                    href="https://docs.biosimulations.org/concepts/conventions/simulator-capabilities/"
                    target="biosimulations-docs">
                    Simulator Specs
                  </a>
                </button>
              </mat-list-item>

              <mat-list-item>
                <button mat-button class="footer-item interfaces">
                  <a
                    href="https://docs.biosimulations.org/concepts/conventions/simulator-interfaces/"
                    target="biosimulations-docs">
                    Simulator Interfaces
                  </a>
                </button>
              </mat-list-item>

              <mat-list-item>
                <button mat-button class="footer-item images">
                  <a
                    href="https://docs.biosimulations.org/concepts/conventions/simulator-images/"
                    target="biosimulations-docs">
                    Simulator Images
                  </a>
                </button>
              </mat-list-item>

              <mat-list-item>
                <button mat-button class="footer-item experiments">
                  <a
                    href="https://docs.biosimulations.org/concepts/conventions/simulation-experiments/"
                    target="biosimulations-docs">
                    Simulation Experiments
                  </a>
                </button>
              </mat-list-item>

              <mat-list-item>
                <button mat-button class="footer-item reports">
                  <a
                    href="https://docs.biosimulations.org/concepts/conventions/simulation-run-reports/"
                    target="biosimulations-docs">
                    Simulation Reports
                  </a>
                </button>
              </mat-list-item>

              <mat-list-item>
                <button mat-button class="footer-item viz">
                  <a
                    href="https://docs.biosimulations.org/concepts/conventions/simulation-run-visualizations/"
                    target="biosimulations-docs">
                    Data Visualizations
                  </a>
                </button>
              </mat-list-item>

              <mat-list-item>
                <button mat-button class="footer-item metadata">
                  <a
                    href="https://docs.biosimulations.org/concepts/conventions/simulation-project-metadata/"
                    target="biosimulations-docs">
                    Simulation Metadata
                  </a>
                </button>
              </mat-list-item>

              <mat-list-item>
                <button mat-button class="footer-item logs">
                  <a
                    href="https://docs.biosimulations.org/concepts/conventions/simulation-run-logs/"
                    target="biosimulations-docs">
                    Simulation Logs
                  </a>
                </button>
              </mat-list-item>
            </mat-list>
          </biosimulations-home-subsection>

          <!-- About Footer Section -->
          <biosimulations-home-subsection
            id="subsection"
            heading="About"
            subheading=""
            subheadingSize="small"
            icon="info"
            style="justify-content: center">
            <mat-list>
              <mat-list-item>
                <button mat-button class="footer-item about">
                  <a href="https://docs.biosimulations.org/" target="biosimulations-docs"> About </a>
                </button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button class="footer-item terms">
                  <a href="https://docs.biosimulations.org/about/terms/" target="biosimulations-docs">
                    Terms of Service
                  </a>
                </button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button class="footer-item privacy">
                  <a href="https://docs.biosimulations.org/about/privacy/" target="biosimulations-docs">
                    Privacy Policy
                  </a>
                </button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button class="footer-item status">
                  <a href="https://status.biosimulations.org/" target="biosimulations-docs"> Status </a>
                </button>
              </mat-list-item>
              <mat-list-item>
                <button mat-button class="footer-item vivarium">
                  <a href="https://vivarium-collective.github.io/"> @Vivarium </a>
                </button>
              </mat-list-item>
            </mat-list>
          </biosimulations-home-subsection>
        </biosimulations-home-section>
      </div>
    <!-- End Home Footer Section with Buttons -->
  </ng-container>

  <!-- Case: Client screen is mobile -->
  <ng-template #mobileViewSimulationsHome>
    <div class="mobile-parent-container">
      <mat-card class="mobile-parent-card">
        <div class="mobile-content-card-container">
          <mat-card class="mobile-content-card">
            <mat-card-content>
              <!-- Mobile Teaser -->
              <biosimulations-home-teaser
                heading="Easily share and find models, simulations, and visualizations of simulation results"
                style="width: fit-content">
                <ng-container id="buttons">
                  <biosimulations-featured [autoScrollInterval]="9000"></biosimulations-featured>
                </ng-container>
                <ng-container id="description">
                  Introducing BioSimulations, a versatile and comprehensive platform, designed to enable the exchange,
                  utilization, and visualization of biomodels, simulations and their results. Our platform accommodates
                  a broad spectrum of frameworks, including but not limited to logical, Flux-Balance Analysis (FBA),
                  continuous kinetic and discrete kinetic. We are adept at handling a multitude of simulation algorithms
                  such as FBA and SSA, along with a variety of model formats including SBML. Additionally,
                  BioSimulations is fully compatible with eminent tools like COBRApy, COPASI, and Tellurium, reinforcing
                  our commitment to offer a holistic, free platform for your needs.
                </ng-container>
              </biosimulations-home-teaser>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </ng-template>
</div>
