.about-content {
  .text {
    margin-bottom: 0.75rem;
  }
  .logos {
    text-align: center;
  }
  .rotate-biosimulations-arrow {
    transform: rotate(180deg);
    transform-origin: left top;
  }
}

@media screen and (max-width: 959px) {
  .about-content {
    .text {
      text-align: left;
    }
    .logos p {
      display: inline;
    }
  }
}

.footer-item-button {
  border: 1px solid #2196f3;
  background-color: #ff9800;
}

.footer-item-button-text {
  .our-site {
    color: rgb(0, 81, 0);
  }

  .more-information {
    color: #186fb7;
  }
}

.about-biosimulations:hover {
  transition: color 0.5s ease;
}
