.home-container {
  height: fit-content;
  width: auto;

  @media (max-width: 768px) {
    width: fit-content;
  }
}

.about-content {
  .text {
    margin-bottom: 0.75rem;
  }
  .logos {
    text-align: center;
  }
  .rotate-biosimulations-arrow {
    transform: rotate(180deg);
    transform-origin: left top;
  }
}

@media screen and (max-width: 959px) {
  .about-content {
    .text {
      text-align: left;
    }
    .logos p {
      display: inline;
    }
  }
}

.featured-card-mobile-container {
  width: 100%;
  margin-right: 2rem;
}

.featured-card-mobile {
  margin-right: 2rem;
  margin-left: 2rem;
}
