@use '~@angular/material' as mat;
@import 'biosimulations-colors';
@import 'biosimulations-typography';

biosimulations-tab-page ::ng-deep {
  h2,
  h3 {
    margin: 0;
  }

  h3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 4px;
    background: $light-bg-darker-10;
  }
}

.section:not(:last-child) {
  margin-bottom: 0.5rem;
}

.subsection-heading {
  font-weight: bold;
}

.columns-container > *:last-child {
  padding: 0.5rem 0.5rem 0;
}

@media screen and (max-width: 959px) {
  .columns-container > *:last-child {
    margin-top: 1rem;
  }
}

.citations tr:first-child {
  th,
  td {
    padding-top: 0.5rem;
  }
}

.icon-list {
  li {
    margin-left: calc(16px + 0.25rem);
    text-indent: calc(-1 * (16px + 0.25rem));
  }

  a {
    color: $dark-primary-text;
    &:hover {
      color: mat.get-color-from-palette($theme-primary);
    }
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.run-online {
  margin-left: 1rem;
  text-indent: -1rem;
}

.copy-image {
  .icon-list li {
    margin-left: 0;
    text-indent: 0;
  }

  biosimulations-icon,
  .code {
    float: left;
  }

  .code {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 2 * 0.25rem - 14px - 13px);
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .biosimulations-button {
    position: relative;
    top: -0.15rem;
    float: right;
    font-size: 125%;
  }
}

.icon-list.icon-list-format li {
  margin-left: calc(8px + 0.25rem);
  text-indent: calc(-1 * (8px + 0.25rem));

  .comma-separated {
    display: inline;
  }
}

.funding.icon-list {
  li {
    margin-left: calc(6.3px + 0.25rem);
    text-indent: calc(-1 * (6.3px + 0.25rem));
  }
}

.json {
  max-height: calc(
    100vh - 64px - 28px - 0.25rem - 32px - 2 * 2rem - 2 * 0.5rem
  );
}

.half-vertically-spaced > li:not(:first-child) {
  margin-top: 0.25rem;
}

@media screen and (max-width: 959px) {
  .json {
    max-height: calc(100vh - 56px - 32px - 2 * 1rem - 2 * 0.5rem);
  }
}
