<biosimulations-tab-page [loading]="(loading$ | async) || false">
  <biosimulations-tab-page-tab
    heading="Overview"
    icon="overview"
    [partialWidth]="true"
  >
    <biosimulations-columns *ngIf="simulator | async as simulator">
      <biosimulations-text-page-content-section
        [heading]="
          simulator.name + ' (' + simulator.id + ' / ' + simulator.version + ')'
        "
      >
        <p>
          {{ simulator.description }}
        </p>

        <table class="icon-list">
          <tbody>
            <tr *ngIf="simulator.authors?.length">
              <th><biosimulations-icon icon="user"></biosimulations-icon></th>
              <td>
                <ul class="comma-separated ampersand-separator">
                  <li *ngFor="let author of simulator.authors">
                    {{ author.name
                    }}<span *ngIf="author.orcidUrl"
                      >{{ ' '
                      }}<a
                        [href]="author.orcidUrl"
                        target="_blank"
                        title="ORCID profile"
                      >
                        <biosimulations-icon
                          icon="orcid"
                        ></biosimulations-icon></a
                    ></span>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>

          <tbody class="citations" *ngIf="simulator.citations?.length">
            <tr *ngFor="let citation of simulator.citations">
              <th>
                <biosimulations-icon icon="tutorial"></biosimulations-icon>
              </th>
              <td>
                <span [innerHTML]="citation.text"></span
                ><span *ngIf="citation.url"
                  >{{ ' '
                  }}<a [href]="citation.url" target="_blank"
                    ><biosimulations-icon icon="link"></biosimulations-icon></a
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </biosimulations-text-page-content-section>

      <div class="wide-side-bar compact-sections">
        <biosimulations-text-page-side-bar-section
          *ngIf="simulator.image && simulator.validated"
          heading="Run simulations online with runBioSimulations"
        >
          <ul class="icon-list">
            <li>
              <biosimulations-icon icon="simulator"></biosimulations-icon>
              <a [href]="dispatchAppRunUrl" target="_blank" class="text">
                {{ dispatchAppUrl }}
              </a>
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section
          *ngIf="simulator.image && simulator.validated"
          heading="Run simulations with standardized Docker image"
        >
          <ul class="icon-list copy-image">
            <li>
              <biosimulations-icon icon="info"></biosimulations-icon>
              <a
                [href]="
                  'https://github.com/orgs/biosimulators/packages/container/package/' +
                  simulator.id
                "
                target="_blank"
                class="text"
              >
                GHCR:biosimulators/{{ simulator.id }}
              </a>
            </li>
            <li *ngIf="simulator.image.operatingSystemType">
              <biosimulations-icon icon="info"></biosimulations-icon>
              OS: {{ simulator.image.operatingSystemType }}
            </li>
            <li>
              <biosimulations-icon icon="download"></biosimulations-icon>
              <pre><code>docker pull \
{{ simulator.image.url }}</code></pre>
              <button
                mat-icon-button
                class="biosimulations-button"
                title="Copy to clipboard"
                (click)="copyDockerPullCmd(simulator.image.url)"
              >
                <biosimulations-icon icon="copy"></biosimulations-icon>
              </button>
              <div class="clear-float"></div>
            </li>
            <li>
              <biosimulations-icon icon="logs"></biosimulations-icon>
              <pre><code>docker run \
{{ simulator.image.url }} \
-i /path/to/project.omex \
-o /path/to/outputs</code></pre>
              <button
                mat-icon-button
                class="biosimulations-button"
                title="Copy to clipboard"
                (click)="copyDockerRunCmd(simulator.image.url)"
              >
                <biosimulations-icon icon="copy"></biosimulations-icon>
              </button>
              <div class="clear-float"></div>
            </li>
            <li>
              <biosimulations-icon icon="help"></biosimulations-icon>
              <pre><code>docker run \
{{ simulator.image.url }} \
--help</code></pre>
              <button
                mat-icon-button
                class="biosimulations-button"
                title="Copy to clipboard"
                (click)="copyDockerHelpCmd(simulator.image.url)"
              >
                <biosimulations-icon icon="copy"></biosimulations-icon>
              </button>
              <div class="clear-float"></div>
            </li>
            <li>
              <biosimulations-icon icon="help"></biosimulations-icon>
              <div>
                <a [routerLink]="['/help']">Instructions</a>
              </div>
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section
          *ngIf="simulator.image && simulator?.cli && simulator.validated"
          heading="Run simulations with standardized CLI"
        >
          <ul class="icon-list copy-image">
            <li>
              <biosimulations-icon icon="info"></biosimulations-icon>
              <a
                [href]="
                  simulator?.cli?.package?.startsWith('http://') ||
                  simulator?.cli?.package?.startsWith('https://')
                    ? simulator?.cli?.package
                    : 'https://pypi.org/project/' +
                      simulator?.cli?.package +
                      '/'
                "
                target="_blank"
                class="text"
              >
                <span
                  *ngIf="
                    !(
                      simulator?.cli?.package?.startsWith('http://') ||
                      simulator?.cli?.package?.startsWith('https://')
                    )
                  "
                  >{{ simulator?.cli?.packageRepository }}:</span
                >{{ simulator?.cli?.package }}
              </a>
            </li>
            <li>
              <biosimulations-icon icon="download"></biosimulations-icon>
              <pre><code>pip install {{ simulator?.cli?.package }}</code></pre>
              <button
                mat-icon-button
                class="biosimulations-button"
                title="Copy to clipboard"
                (click)="
                  copyCliInstallCmd('pip install ' + simulator?.cli?.package)
                "
              >
                <biosimulations-icon icon="copy"></biosimulations-icon>
              </button>
              <div class="clear-float"></div>
            </li>
            <li>
              <biosimulations-icon icon="logs"></biosimulations-icon>
              <pre><code>{{ simulator?.cli?.command }} \
-i /path/to/project.omex \
-o /path/to/outputs</code></pre>
              <button
                mat-icon-button
                class="biosimulations-button"
                title="Copy to clipboard"
                (click)="copyRunCliCmd(simulator?.cli?.command)"
              >
                <biosimulations-icon icon="copy"></biosimulations-icon>
              </button>
              <div class="clear-float"></div>
            </li>
            <li>
              <biosimulations-icon icon="help"></biosimulations-icon>
              <pre><code>{{ simulator?.cli?.command }} --help</code></pre>
              <button
                mat-icon-button
                class="biosimulations-button"
                title="Copy to clipboard"
                (click)="copyCliHelpCmd(simulator?.cli?.command)"
              >
                <biosimulations-icon icon="copy"></biosimulations-icon>
              </button>
              <div class="clear-float"></div>
            </li>
            <li *ngIf="simulator?.cli?.installationInstructions">
              <biosimulations-icon icon="help"></biosimulations-icon>
              <div>
                <a
                  [href]="simulator?.cli?.installationInstructions"
                  target="_blank"
                  >Installation instructions</a
                >
              </div>
            </li>
            <li>
              <biosimulations-icon icon="help"></biosimulations-icon>
              <div>
                <a [routerLink]="['/help']">Getting started guide</a>
              </div>
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section
          *ngIf="simulator?.pythonApi && simulator.validated"
          heading="Run simulations with standardized Python API"
        >
          <ul class="icon-list copy-image">
            <li>
              <biosimulations-icon icon="info"></biosimulations-icon>
              <a
                [href]="
                  simulator?.pythonApi?.package?.startsWith('http://') ||
                  simulator?.pythonApi?.package?.startsWith('https://')
                    ? simulator?.pythonApi?.package
                    : 'https://pypi.org/project/' +
                      simulator?.pythonApi?.package +
                      '/'
                "
                target="_blank"
                class="text"
              >
                <span
                  *ngIf="
                    !(
                      simulator?.pythonApi?.package?.startsWith('http://') ||
                      simulator?.pythonApi?.package?.startsWith('https://')
                    )
                  "
                  >PyPI:</span
                >{{ simulator?.pythonApi?.package }}
              </a>
            </li>
            <li>
              <biosimulations-icon icon="download"></biosimulations-icon>
              <pre><code>pip install {{ simulator?.pythonApi?.package }}</code></pre>
              <button
                mat-icon-button
                class="biosimulations-button"
                title="Copy to clipboard"
                (click)="copyPythonApiInstallCmd(simulator?.pythonApi?.package)"
              >
                <biosimulations-icon icon="copy"></biosimulations-icon>
              </button>
              <div class="clear-float"></div>
            </li>
            <li>
              <biosimulations-icon icon="logs"></biosimulations-icon>
              <pre><code>import {{ simulator?.pythonApi?.module }} as simulator
simulator.exec_sedml_docs_in_combine_archive(
'/path/to/project.omex', '/path/to/outputs')</code></pre>
              <button
                mat-icon-button
                class="biosimulations-button"
                title="Copy to clipboard"
                (click)="copyRunPythonCmd(simulator?.pythonApi?.module)"
              >
                <biosimulations-icon icon="copy"></biosimulations-icon>
              </button>
              <div class="clear-float"></div>
            </li>
            <li *ngIf="simulator?.pythonApi?.installationInstructions">
              <biosimulations-icon icon="help"></biosimulations-icon>
              <div>
                <a
                  [href]="simulator?.pythonApi?.installationInstructions"
                  target="_blank"
                  >Installation instructions</a
                >
              </div>
            </li>
            <li>
              <biosimulations-icon icon="help"></biosimulations-icon>
              <div>
                <a [routerLink]="['/help']">Getting started guide</a>
              </div>
            </li>
            <li>
              <biosimulations-icon icon="tutorial"></biosimulations-icon>
              <div>
                <a href="https://tutorial.biosimulators.org/" target="_blank"
                  >Tutorials</a
                >
              </div>
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section
          *ngIf="simulator.otherInterfaceTypes?.length"
          heading="Other interfaces"
        >
          <ul class="icon-list">
            <li *ngFor="let interfaceType of simulator.otherInterfaceTypes">
              <biosimulations-icon
                icon="softwareInterface"
              ></biosimulations-icon>
              {{ interfaceType }}
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section
          *ngIf="simulator.supportedOperatingSystemTypes?.length"
          heading="Supported operating systems"
        >
          <ul class="icon-list">
            <li
              *ngFor="
                let supportedOperatingSystemType of simulator.supportedOperatingSystemTypes
              "
            >
              <biosimulations-icon icon="operatingSystem"></biosimulations-icon>
              {{ supportedOperatingSystemType }}
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section
          *ngIf="simulator.supportedProgrammingLanguages?.length"
          heading="Supported programming languages"
        >
          <ul class="icon-list">
            <li
              *ngFor="
                let supportedProgrammingLanguage of simulator.supportedProgrammingLanguages
              "
            >
              <biosimulations-icon icon="code"></biosimulations-icon>
              {{ supportedProgrammingLanguage.id }}
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section heading="Curation status">
          {{ simulator.curationStatus }}
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section
          *ngIf="simulator.licenseName"
          heading="License"
        >
          <ul class="icon-list">
            <li>
              <biosimulations-icon icon="license"></biosimulations-icon>
              <a
                [href]="simulator.licenseUrl | async"
                target="_blank"
                class="text"
              >
                {{ simulator.licenseName | async }}
              </a>
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section
          *ngIf="simulator?.urls?.length"
          heading="More info"
        >
          <ul class="icon-list">
            <li *ngFor="let url of simulator.urls">
              <biosimulations-icon icon="link"></biosimulations-icon>
              <a [href]="url.url" target="_blank" class="text">{{
                url.title || url.type
              }}</a>
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section
          *ngIf="simulator.identifiers?.length"
          heading="Cross references"
        >
          <ul class="identifiers icon-list">
            <li *ngFor="let identifier of simulator.identifiers">
              <biosimulations-icon icon="id"></biosimulations-icon>
              <a [href]="identifier.url" target="_blank">{{
                identifier.text
              }}</a>
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section
          *ngIf="simulator.funding?.length"
          heading="Funding"
        >
          <ul class="funding icon-list">
            <li *ngFor="let funding of simulator.funding">
              <biosimulations-icon icon="funding"></biosimulations-icon>
              <a [href]="funding.funderUrl | async" target="_blank">{{
                funding.funderName | async
              }}</a
              ><span *ngIf="funding.grant"
                >:
                <a
                  [href]="funding.url"
                  target="_blank"
                  *ngIf="funding.url; else noGrantUrl"
                  >{{ funding.grant }}</a
                >
                <ng-template #noGrantUrl>{{ funding.grant }}</ng-template>
              </span>
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>

        <biosimulations-text-page-side-bar-section heading="Registration">
          <ul class="icon-list">
            <li>
              <biosimulations-icon icon="date"></biosimulations-icon>
              Registration: {{ simulator.created }}
            </li>
            <li>
              <biosimulations-icon icon="date"></biosimulations-icon>
              Last updated: {{ simulator.updated }}
            </li>
          </ul>
        </biosimulations-text-page-side-bar-section>
      </div>
    </biosimulations-columns>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    urlHashFragment="algorithms"
    heading="Algorithms"
    icon="simulator"
    class="algorithms"
  >
    <ng-container *ngIf="simulator | async as simulator">
      <ng-container *ngIf="simulator.algorithms | async as algorithms">
        <ng-container *ngIf="algorithms.length > 0; else noAlgorithms">
          <biosimulations-text-page
            contentsHeading="Algorithms"
            [padded]="false"
            alwaysFixed="calc(64px + 32px + 32px + 2rem)"
            [tocSections]="algorithmsTocSections"
            [tocScrollSectionScrollOffset]="64 + 32 + 32"
          >
            <ng-container id="sideBar" *ngIf="simulatorDocumentationUrl">
              <biosimulations-text-page-side-bar-section
                heading="More info"
                fxShow
                fxHide.lt-md
              >
                <div class="hanging-indent">
                  <a [href]="simulatorDocumentationUrl" target="_blank">
                    <biosimulations-icon icon="link"></biosimulations-icon>
                    Documentation
                  </a>
                </div>
              </biosimulations-text-page-side-bar-section>
            </ng-container>

            <ng-container id="content" tocSectionsContainer>
              <biosimulations-text-page-content-section
                *ngFor="let algorithm of algorithms"
                [heading]="algorithm.heading"
                [tocSection]="algorithm.name"
                [scrollToTopOffset]="0"
              >
                <ng-container *ngIf="algorithm.description as description">
                  <p>
                    <ng-template ngFor let-fragment [ngForOf]="description">
                      <span
                        *ngIf="fragment.type === 'text'; else descriptionLink"
                      >
                        {{ fragment.value }}
                      </span>
                      <ng-template #descriptionLink>
                        <a [href]="fragment.value" target="_blank"
                          ><biosimulations-icon
                            icon="link"
                          ></biosimulations-icon
                        ></a>
                      </ng-template>
                    </ng-template>
                  </p>
                </ng-container>

                <ng-container *ngIf="algorithm?.citations?.length">
                  <p class="subsection-heading no-bottom-margin">Citations</p>
                  <ul class="icon-list">
                    <li *ngFor="let citation of algorithm.citations">
                      <biosimulations-icon
                        icon="tutorial"
                      ></biosimulations-icon>
                      <span [innerHTML]="citation.text"></span
                      ><span *ngIf="citation.url"
                        >{{ ' '
                        }}<a [href]="citation.url" target="_blank"
                          ><biosimulations-icon
                            icon="link"
                          ></biosimulations-icon></a
                      ></span>
                    </li>
                  </ul>
                </ng-container>

                <p class="subsection-heading no-bottom-margin">More info</p>
                <ul class="icon-list">
                  <li>
                    <biosimulations-icon icon="link"></biosimulations-icon>
                    <a [href]="algorithm?.kisaoUrl" target="_blank">{{
                      algorithm?.kisaoId
                    }}</a>
                  </li>
                </ul>

                <p class="subsection-heading no-bottom-margin">
                  Modeling frameworks
                </p>
                <ul
                  class="icon-list"
                  *ngIf="
                    algorithm?.modelingFrameworks?.length;
                    else noFrameworksMessage
                  "
                >
                  <li *ngFor="let framework of algorithm.modelingFrameworks">
                    <ng-container *ngIf="framework as framework">
                      <biosimulations-icon
                        icon="simulator"
                      ></biosimulations-icon>
                      <a [href]="framework.url" target="_blank">{{
                        framework.name
                      }}</a>
                    </ng-container>
                  </li>
                </ul>
                <ng-template #noFrameworksMessage>
                  <p class="info-message">
                    This implementation of this algorithm does not support any
                    canonical modeling frameworks.
                  </p>
                </ng-template>

                <p class="subsection-heading no-bottom-margin">Model formats</p>
                <ul
                  class="icon-list icon-list-format"
                  *ngIf="
                    algorithm?.modelFormats?.length;
                    else noModelFormatsMessage
                  "
                >
                  <li *ngFor="let format of algorithm.modelFormats">
                    <ng-container *ngIf="format as format">
                      <biosimulations-icon icon="format"></biosimulations-icon>
                      <a [href]="format.term.url" target="_blank"
                        >{{ format.term.name
                        }}{{ format.version ? ' ' + format.version : '' }}</a
                      >:
                      <ul
                        *ngIf="
                          format.supportedFeatures?.length;
                          else noSuportedModelFormatFeatures
                        "
                        class="comma-separated and-separator"
                      >
                        <li *ngFor="let feature of format.supportedFeatures">
                          {{ feature }}
                        </li>
                      </ul>
                      <ng-template #noSuportedModelFormatFeatures>
                        <span class="info-message"
                          >Information about which features this algorithm
                          supports is not available.</span
                        >
                      </ng-template>
                    </ng-container>
                  </li>
                </ul>
                <ng-template #noModelFormatsMessage>
                  <p class="info-message">
                    This implementation of this algorithm does not support any
                    standard model formats.
                  </p>
                </ng-template>

                <p class="subsection-heading no-bottom-margin">Model changes</p>
                <ul
                  class="icon-list icon-list-format half-vertically-spaced"
                  *ngIf="
                    algorithm?.modelChangePatterns?.length;
                    else noCuratedModelChangePatternsMessage
                  "
                >
                  <li
                    *ngFor="
                      let modelChangePattern of algorithm.modelChangePatterns
                    "
                  >
                    <biosimulations-icon icon="parameter"></biosimulations-icon>
                    {{ modelChangePattern.name }}:
                    <ul>
                      <li *ngFor="let type of modelChangePattern.types">
                        type: {{ type.name }} (<code>{{ type.value }}</code
                        >)
                      </li>
                      <li *ngIf="modelChangePattern.target">
                        target:
                        <code>{{ modelChangePattern.target.grammar }}</code
                        >:
                        <code>{{ modelChangePattern.target.value }}</code>
                      </li>
                      <li *ngIf="modelChangePattern.symbol">
                        symbol:
                        <code>{{ modelChangePattern.symbol.namespace }}</code
                        >:
                        <code>{{ modelChangePattern.symbol.value }}</code>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ng-template #noCuratedModelChangePatternsMessage>
                  <p class="info-message">
                    The implementation of this algorithm does not support any
                    standard model changes.
                  </p>
                </ng-template>

                <p class="subsection-heading no-bottom-margin">
                  Simulation formats
                </p>
                <ul
                  class="icon-list icon-list-format"
                  *ngIf="
                    algorithm?.simulationFormats?.length;
                    else noSimulationFormatsMessage
                  "
                >
                  <li *ngFor="let format of algorithm.simulationFormats">
                    <ng-container *ngIf="format as format">
                      <biosimulations-icon icon="format"></biosimulations-icon>
                      <a [href]="format.term.url" target="_blank"
                        >{{ format.term.name
                        }}{{ format.version ? ' ' + format.version : '' }}</a
                      >:
                      <ul
                        *ngIf="
                          format.supportedFeatures?.length;
                          else noSuportedSimulationFormatFeatures
                        "
                        class="comma-separated and-separator"
                      >
                        <li *ngFor="let feature of format.supportedFeatures">
                          {{ feature }}
                        </li>
                      </ul>
                      <ng-template #noSuportedSimulationFormatFeatures>
                        <span class="info-message"
                          >Information about which features this algorithm
                          supports is not available.</span
                        >
                      </ng-template>
                    </ng-container>
                  </li>
                </ul>
                <ng-template #noSimulationFormatsMessage>
                  <p class="info-message">
                    This implementation of this algorithm does not support any
                    standard simulation formats.
                  </p>
                </ng-template>

                <p class="subsection-heading no-bottom-margin">
                  Simulation types
                </p>
                <ul
                  class="icon-list icon-list-format"
                  *ngIf="
                    algorithm?.simulationTypes?.length;
                    else noSimulationTypesMessage
                  "
                >
                  <li *ngFor="let simulationType of algorithm.simulationTypes">
                    <biosimulations-icon icon="format"></biosimulations-icon>
                    {{ simulationType.name }} (<code>{{
                      simulationType.value
                    }}</code
                    >)
                  </li>
                </ul>
                <ng-template #noSimulationTypesMessage>
                  <p class="info-message">
                    This implementation of this algorithm does not support any
                    standard simulation types.
                  </p>
                </ng-template>

                <p class="subsection-heading no-bottom-margin">Parameters</p>
                <ul
                  *ngIf="
                    algorithm?.parameters?.length;
                    else noCuratedParametersMessage
                  "
                  class="icon-list half-vertically-spaced"
                >
                  <li *ngFor="let parameter of algorithm?.parameters">
                    <div>
                      <biosimulations-icon
                        icon="parameter"
                      ></biosimulations-icon>
                      {{ parameter.name }} (<a
                        [href]="parameter.kisaoUrl"
                        target="_blank"
                        >{{ parameter.kisaoId }}</a
                      >)
                      <ul>
                        <li>Type: {{ parameter.type }}</li>
                        <li>
                          Default:
                          <span
                            *ngIf="
                              parameter.formattedValue !== null;
                              else nullDefaultValue
                            "
                          >
                            {{ parameter.formattedValue }}
                            <span *ngIf="parameter.type === 'kisaoId'"
                              >(<a
                                [href]="parameter.valueUrl"
                                target="_blank"
                                >{{ parameter.rawValue }}</a
                              >)</span
                            >
                          </span>
                          <ng-template #nullDefaultValue>null</ng-template>
                        </li>
                        <li
                          *ngIf="
                            parameter.formattedKisaoRange !== null &&
                              parameter.type === 'kisaoId';
                            else notKisaoEnum
                          "
                        >
                          Supported values:
                          <ul>
                            <li
                              *ngFor="
                                let rangeEl of parameter.formattedKisaoRange
                              "
                            >
                              {{ rangeEl?.name }}
                              (<a [href]="rangeEl?.url" target="_blank">{{
                                rangeEl?.id
                              }}</a
                              >)
                            </li>
                          </ul>
                        </li>
                        <ng-template #notKisaoEnum>
                          <li
                            *ngIf="
                              parameter.formattedRange !== null &&
                                parameter.type === 'string';
                              else notEnum
                            "
                          >
                            Supported values:
                            <ul>
                              <li
                                *ngFor="let rangeEl of parameter.formattedRange"
                              >
                                {{ rangeEl }}
                              </li>
                            </ul>
                          </li>
                          <ng-template #notEnum>
                            <li *ngIf="parameter.formattedRange !== null">
                              Recommended range: [{{
                                parameter.formattedRange?.join(', ')
                              }}]
                            </li>
                          </ng-template>
                        </ng-template>
                      </ul>
                    </div>
                  </li>
                </ul>
                <ng-template #noCuratedParametersMessage>
                  <p
                    class="info-message"
                    *ngIf="
                      algorithm.parameters === null;
                      else zeroParametersMessage
                    "
                  >
                    The parameters for this implementation of
                    {{ algorithm.name }} have not been curated.
                  </p>
                  <ng-template #zeroParametersMessage>
                    <p class="info-message">
                      This implementation of {{ algorithm.name }} does not have
                      any parameters.
                    </p>
                  </ng-template>
                </ng-template>

                <p class="subsection-heading no-bottom-margin">
                  Output dimensions
                </p>
                <ul
                  class="icon-list"
                  *ngIf="
                    algorithm?.outputDimensions?.length;
                    else noOutputDimensionsMessage
                  "
                >
                  <li
                    *ngFor="let outputDimension of algorithm.outputDimensions"
                  >
                    <biosimulations-icon icon="axes"></biosimulations-icon>
                    {{ outputDimension.name }} (<a
                      [href]="outputDimension.url"
                      target="_blank"
                      >{{ outputDimension.id }}</a
                    >)
                  </li>
                </ul>
                <ng-template #noOutputDimensionsMessage>
                  <p
                    class="info-message"
                    *ngIf="
                      algorithm?.outputDimensions?.length === 0;
                      else outputDimensionsNotCurated
                    "
                  >
                    The outputs of {{ algorithm.name }} have no dimensionality.
                  </p>
                  <ng-template #outputDimensionsNotCurated>
                    <p class="info-message">
                      The dimensions of this implementation of
                      {{ algorithm.name }} have not been curated.
                    </p>
                  </ng-template>
                </ng-template>

                <p class="subsection-heading no-bottom-margin">
                  Output variables
                </p>
                <ul
                  class="icon-list half-vertically-spaced"
                  *ngIf="
                    algorithm?.outputVariablePatterns?.length;
                    else noCuratedOutputVariablesMessage
                  "
                >
                  <li
                    *ngFor="let varPattern of algorithm.outputVariablePatterns"
                  >
                    <biosimulations-icon icon="chart"></biosimulations-icon>
                    {{ varPattern.name }}:
                    <ul>
                      <li *ngIf="varPattern.target">
                        target:
                        <code>{{ varPattern.target.grammar }}</code
                        >:
                        <code>{{ varPattern.target.value }}</code>
                      </li>
                      <li *ngIf="varPattern.symbol">
                        symbol:
                        <code>{{ varPattern.symbol.namespace }}</code
                        >:
                        <code>{{ varPattern.symbol.value }}</code>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ng-template #noCuratedOutputVariablesMessage>
                  <p class="info-message">
                    The output variables for this implementation of
                    {{ algorithm.name }} have not been curated.
                  </p>
                </ng-template>

                <p class="subsection-heading no-bottom-margin">
                  Archive formats
                </p>
                <ul
                  class="icon-list icon-list-format"
                  *ngIf="
                    algorithm?.archiveFormats?.length;
                    else noArchiveFormatsMessage
                  "
                >
                  <li *ngFor="let format of algorithm.archiveFormats">
                    <ng-container *ngIf="format as format">
                      <biosimulations-icon icon="format"></biosimulations-icon>
                      <a [href]="format.term.url" target="_blank"
                        >{{ format.term.name
                        }}{{ format.version ? ' ' + format.version : '' }}</a
                      >:
                      <ul
                        *ngIf="
                          format.supportedFeatures?.length;
                          else noSuportedArchiveFormatFeatures
                        "
                        class="comma-separated and-separator"
                      >
                        <li *ngFor="let feature of format.supportedFeatures">
                          {{ feature }}
                        </li>
                      </ul>
                      <ng-template #noSuportedArchiveFormatFeatures>
                        <span class="info-message"
                          >Information about which features this algorithm
                          supports is not available.</span
                        >
                      </ng-template>
                    </ng-container>
                  </li>
                </ul>
                <ng-template #noArchiveFormatsMessage>
                  <p class="info-message">
                    This implementation of this algorithm does not support any
                    standard archive formats.
                  </p>
                </ng-template>

                <p class="subsection-heading no-bottom-margin">Availability</p>
                <ul
                  *ngIf="
                    algorithm?.availableSoftwareInterfaceTypes?.length;
                    else noSupportedInterfaces
                  "
                  class="icon-list"
                >
                  <li
                    *ngFor="
                      let interfaceType of algorithm.availableSoftwareInterfaceTypes
                    "
                  >
                    <biosimulations-icon
                      icon="softwareInterface"
                    ></biosimulations-icon>
                    {{ interfaceType }}
                  </li>
                </ul>
                <ng-template #noSupportedInterfaces>
                  <p class="info-message">
                    Information about which interfaces support the algorithm is
                    not available.
                  </p>
                </ng-template>

                <p class="subsection-heading no-bottom-margin">Dependencies</p>
                <ng-container
                  *ngIf="algorithm.dependencies; else unknownDependencies"
                >
                  <ul
                    *ngIf="
                      algorithm.dependencies.length > 0;
                      else noDependencies
                    "
                    class="icon-list"
                  >
                    <li *ngFor="let dependency of algorithm.dependencies">
                      <biosimulations-icon
                        [icon]="
                          dependency.freeNonCommercialLicense ? 'free' : 'paid'
                        "
                      ></biosimulations-icon>
                      <a
                        [href]="dependency.url"
                        target="_blank"
                        *ngIf="dependency.url; else noDependencyUrl"
                        >{{ dependency.name }}</a
                      ><ng-template #noDependencyUrl>{{
                        dependency.name
                      }}</ng-template
                      >{{ dependency.required ? '*' : ''
                      }}{{ dependency.version ? ' ' + dependency.version : '' }}
                    </li>
                  </ul>
                  <ng-template #noDependencies>
                    <p class="info-message">
                      The implementation of this algorithm does not have any
                      dependencies.
                    </p>
                  </ng-template>
                </ng-container>
                <ng-template #unknownDependencies>
                  <p class="info-message">
                    Information about the dependencies of the implementation of
                    this algorithm is not available.
                  </p>
                </ng-template>
              </biosimulations-text-page-content-section>
            </ng-container>
          </biosimulations-text-page>
        </ng-container>

        <ng-template #noAlgorithms>
          <p class="info-message">
            The algorithms implemented by {{ simulator.id }} have not yet been
            curated.
          </p>
        </ng-template>
      </ng-container>
    </ng-container>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    urlHashFragment="versions"
    heading="Versions"
    icon="version"
    [partialWidth]="true"
  >
    <ng-container *ngIf="simulator | async as simulator">
      <ng-container *ngIf="simulator.versions as versions">
        <biosimulations-responsive-table
          [columns]="versionsColumns"
          [singleLineHeadings]="true"
          [data]="simulator.versions"
          [sortable]="true"
          [controls]="false"
          searchPlaceHolder="Query (e.g., 1.0)"
          searchToolTip="Enter a query such as '2020'. By default, your query will be searched over all columns. This search supports the features of the Lunr search engine. To search over a specific column, prefix your query with the heading of the column (with spaces replaced by dashes) such as 'date: 2020'."
          stackedContentsHeading="Contents"
          [getStackedHeading]="getVersionStackedHeading"
          [getStackedHeadingMoreInfoRouterLink]="getVersionLinkBound"
          [defaultSort]="{ active: 'label', direction: 'desc' }"
          [highlightRow]="highlightVersion"
        >
        </biosimulations-responsive-table>
      </ng-container>
    </ng-container>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    urlHashFragment="validation"
    heading="Validation test results"
    icon="task"
    [partialWidth]="false"
  >
    <ng-container *ngIf="simulator | async as simulator">
      <ng-container
        *ngIf="
          simulator?.validationTests | async as validationTests;
          else noValidationTestResults
        "
      >
        <biosimulations-text-page
          contentsHeading=""
          [padded]="false"
          alwaysFixed="calc(64px + 32px + 32px + 2rem)"
          [tocSections]="testResultsTocSections"
          [tocScrollSectionScrollOffset]="128"
          [compact]="true"
        >
          <ng-container id="sideBar">
            <biosimulations-text-page-side-bar-section
              heading="Summary"
              fxShow
              fxHide.lt-md
            >
              <ul>
                <li>
                  Test suite version:
                  <a
                    [href]="validationTests.testSuiteVersionUrl"
                    target="_blank"
                    >{{ validationTests.testSuiteVersion }}</a
                  >
                </li>
                <li>Tests: {{ validationTests.numTests }}</li>
                <ul>
                  <li>
                    Passed: {{ validationTests.numTestsPassed }}
                    <ul>
                      <li>
                        With warnings:
                        {{ validationTests.numTestPassedWithWarnings }}
                      </li>
                    </ul>
                  </li>
                  <li>Skipped: {{ validationTests.numTestsSkipped }}</li>
                  <li>Failed: {{ validationTests.numTestsFailed }}</li>
                </ul>
              </ul>
            </biosimulations-text-page-side-bar-section>

            <biosimulations-text-page-side-bar-section
              heading="More info"
              fxShow
              fxHide.lt-md
            >
              <div class="hanging-indent">
                <a [href]="validationTests.ghIssueUrl" target="_blank">
                  <biosimulations-icon icon="link"></biosimulations-icon>
                  GitHub issue for validation
                </a>
              </div>
              <div class="hanging-indent">
                <a [href]="validationTests.ghActionRunUrl" target="_blank">
                  <biosimulations-icon icon="link"></biosimulations-icon>
                  GitHub action run for validation
                </a>
              </div>
              <div class="hanging-indent">
                <a
                  href="https://docs.biosimulators.org/Biosimulators_test_suite/"
                  target="_blank"
                >
                  <biosimulations-icon icon="link"></biosimulations-icon>
                  Test suite
                </a>
              </div>
            </biosimulations-text-page-side-bar-section>
          </ng-container>

          <ng-container id="content">
            <biosimulations-text-page-content-section
              *ngFor="let result of validationTests.results; let iCase = index"
              [heading]="result.case.id"
              [class]="[
                'status-section',
                result.resultType === 'Passed' && result.warnings?.length
                  ? 'Warned'
                  : result.resultType
              ]"
              [compact]="true"
              iconActionType="toggle"
              [first]="iCase === 0"
              [last]="iCase === validationTests.results.length - 1"
              [scrollToTopOffset]="0"
            >
              <p class="subsection-heading no-bottom-margin">Description</p>
              <p [innerHTML]="result.case.description"></p>

              <p class="subsection-heading no-bottom-margin">Implementation</p>
              <p>
                <code>{{ result.caseClass }}</code
                >{{ ' ' }}
                <a [href]="result.caseUrl" target="_blank"
                  ><biosimulations-icon icon="link"></biosimulations-icon
                ></a>
              </p>

              <ng-container *ngIf="result.caseArchive">
                <p class="subsection-heading no-bottom-margin">
                  Test COMBINE/OMEX archive
                </p>
                <p>
                  <code>{{ result.caseArchive }}.omex</code>{{ ' ' }}
                  <a [href]="result.caseArchiveUrl" target="_blank"
                    ><biosimulations-icon icon="link"></biosimulations-icon
                  ></a>
                </p>
              </ng-container>

              <p class="subsection-heading no-bottom-margin">Result</p>
              <p>{{ result.resultType }} ({{ result.duration }} s)</p>

              <ng-container *ngIf="result.skipReason as skipReason">
                <p class="subsection-heading no-bottom-margin">
                  Reason why test was skipped
                </p>
                <p>
                  Category: <code>{{ skipReason.category }}</code>
                </p>
                <p class="no-bottom-margin">Message</p>
                <pre><code>{{ skipReason.message }}</code></pre>
              </ng-container>

              <ng-container *ngIf="result.exception as exception">
                <p class="subsection-heading no-bottom-margin">
                  Reason why the test failed
                </p>
                <p>
                  Category: <code>{{ exception.category }}</code>
                </p>
                <p class="no-bottom-margin">Message</p>
                <pre><code>{{ exception.message }}</code></pre>
              </ng-container>

              <ng-container *ngIf="result.warnings?.length">
                <p class="subsection-heading no-bottom-margin">Warnings</p>
                <ul class="vertically-spaced">
                  <li *ngFor="let warning of result.warnings">
                    <p>
                      Category: <code>{{ warning.category }}</code>
                    </p>
                    <p class="no-bottom-margin">Message</p>
                    <pre><code>{{ warning.message }}</code></pre>
                  </li>
                </ul>
              </ng-container>

              <p class="subsection-heading no-bottom-margin">Log</p>
              <pre
                *ngIf="result.log as log; else noLog"
              ><code>{{ log }}</code></pre>
              <ng-template #noLog
                ><p class="info-message">
                  The test did not produce any output.
                </p></ng-template
              >
            </biosimulations-text-page-content-section>
          </ng-container>
        </biosimulations-text-page>
      </ng-container>
      <ng-template #noValidationTestResults>
        <p
          class="info-message"
          *ngIf="!simulator.validated; else testResultsNotAvailable"
        >
          No test results are available because {{ simulator.name }} has not
          been validated.
        </p>
        <ng-template #testResultsNotAvailable>
          <p class="info-message">
            Sorry!. Test results could not be retreived.
          </p>
        </ng-template>
      </ng-template>
    </ng-container>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    urlHashFragment="specifications"
    heading="Specifications (JSON)"
    icon="code"
    [partialWidth]="false"
  >
    <pre
      *ngIf="simulator | async as simulator"
      class="json"
    ><code [languages]="['json']" [highlight]="simulator._json"></code></pre>
  </biosimulations-tab-page-tab>
</biosimulations-tab-page>
