@use '~@angular/material' as mat;
@import 'biosimulations-colors';

.options {
  & > div:not(:first-child) {
    margin-top: 0.25rem;
  }

  ::ng-deep {
    .mat-checkbox-background {
      background: none;
    }
    .mat-checkbox-frame {
      border-width: 1px;
    }
    .mat-checkbox-checkmark-path {
      stroke: rgba(0, 0, 0, 0.54) !important;
    }
  }
}

.button-container {
  text-align: right;
}

.validation-report {
  margin-top: 1rem;

  .validation-report-section:not(:first-child) {
    margin-top: 1rem;
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 30px;
  }
}

.valid {
  color: mat.get-color-from-palette($theme-primary);
}

.errors {
  color: mat.get-color-from-palette($theme-warn);
}

.warnings {
  color: mat.get-color-from-palette($theme-accent);
}
