<biosimulations-page
  heading="Create a simulation project (COMBINE/OMEX archive with a SED-ML file) for a model "
>
  <div class="instructions">
    <p>
      Use the form below to create a COMBINE/OMEX archive for simulating a
      model. This archive will contain your model and a SED-ML file generated
      from the form below. You can then use runBioSimulations to execute your
      archive, or you can download the archive.
    </p>

    <ol>
      <li>Upload a model or enter a URL where a model is located.</li>
      <li>Select the format of the model (e.g., BNGL, SBML).</li>
      <li>
        Select the type of simulation that you'd like to execute (e.g.,
        steady-state, time course).
      </li>
      <li>
        Configure the parameters of your simulation (e.g., start time, end
        time).
      </li>
      <li>
        Select the algorithm that you'd like to use to execute your simulation
        (e.g., CVODE, SSA).
      </li>
      <li>
        Configure the parameters of the selected algorithm (e.g., error
        tolerance, seed).
      </li>
      <li>
        Describe the namespaces needed to specify changes to your model and
        observables of your simulation.
      </li>
      <li>
        Describe any attributes of your model that you'd like to change (e.g.,
        initial conditions).
      </li>
      <li>
        Describe the simulation observables that you'd like to record (e.g.,
        concentrations of species, fluxes of reactions).
      </li>
    </ol>

    <p>
      For models encoded in SBML, SBML-fbc, and SBML-qual, the namespaces,
      changes, and observables sections will be pre-populated from your model.
      Going forward, we aim to extend this to additional model formats.
    </p>
  </div>
  <form [formGroup]="formGroup">
    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="model"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Model *</div>
          <div class="form-section-subtitle">
            Select a local file or enter a URL for file in a model format such
            as BNGL or SBML.
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group">
          <div class="columns three-columns">
            <mat-form-field appearance="fill">
              <biosimulations-icon
                icon="location"
                matPrefix
              ></biosimulations-icon>
              <mat-label>Select a method for providing a model file</mat-label>
              <mat-select
                required
                formControlName="modelLocationType"
                (ngModelChange)="changeModelLocationType()"
              >
                <mat-option value="file">Upload a local file</mat-option>
                <mat-option value="url">Enter a URL for a file</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              *ngIf="formGroup.value.modelLocationType === 'file'"
            >
              <biosimulations-icon icon="file" matPrefix></biosimulations-icon>
              <mat-label>Select a model file</mat-label>
              <ngx-mat-file-input
                formControlName="modelLocationDetails"
                [accept]="modelFileTypeSpecifiers"
                [multiple]="false"
                [required]="true"
                (ngModelChange)="getModelParametersAndVariables()"
              ></ngx-mat-file-input>
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              *ngIf="formGroup.value.modelLocationType === 'url'"
            >
              <biosimulations-icon icon="url" matPrefix></biosimulations-icon>
              <mat-label>Enter a URL for a model file</mat-label>
              <input
                required
                matInput
                formControlName="modelLocationDetails"
                [placeholder]="exampleModelUrl"
                (ngModelChange)="getModelParametersAndVariables()"
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <biosimulations-icon
                icon="format"
                matPrefix
              ></biosimulations-icon>
              <mat-label>Select the format of the model</mat-label>
              <mat-select
                formControlName="modelFormat"
                (ngModelChange)="changeModelFormat()"
                required
              >
                <mat-option
                  *ngFor="let format of modelFormats"
                  [value]="format.id"
                  >{{ format.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <mat-hint>
            <p>
              Select a model file in a format such as the BioNetGen Language
              (BNGL
              <a href="https://bionetgen.org/" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon></a
              >) or the Systems Biology Markup Language (SBML
              <a href="http://sbml.org/" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon></a
              >). Model files can either be uploaded from your local computer or
              loaded from a publicly-accessible URL.
            </p>

            <p>
              Numerous BNGL models are available from RuleHub
              <a href="https://github.com/RuleWorld/RuleHub" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon></a
              >. Numerous SBML models are available from BiGG
              <a href="http://bigg.ucsd.edu/" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon></a
              >, BioModels
              <a href="https://www.ebi.ac.uk/biomodels/" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon></a
              >, the Cell Collective
              <a href="https://cellcollective.org/" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon></a
              >, and JWS Online
              <a href="https://jjj.biochem.sun.ac.za/" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon></a
              >.
            </p>
          </mat-hint>
          <mat-error
            *ngIf="
              (formGroup.get('modelLocationType')?.touched || submitPushed) &&
              formGroup.hasError('required', 'modelLocationType')
            "
            >Please select a method for upload a model file.</mat-error
          >
          <mat-error
            *ngIf="
              (formGroup.get('modelLocationDetails')?.touched ||
                submitPushed) &&
              formGroup.hasError('required', 'modelLocationDetails')
            "
            >Please select a model file.</mat-error
          >
          <mat-error
            *ngIf="
              (formGroup.get('modelLocationDetails')?.touched ||
                submitPushed) &&
              formGroup.hasError('maxSize', 'modelLocationDetails')
            "
            >Currently, model file uploads are limited to 256 MB. Larger models
            must be submitted through URLs.</mat-error
          >
          <mat-error
            *ngIf="
              (formGroup.get('modelLocationDetails')?.touched ||
                submitPushed) &&
              formGroup.hasError('url', 'modelLocationDetails')
            "
            >Please enter a valid URL.</mat-error
          >
          <mat-error
            *ngIf="
              (formGroup.get('modelFormat')?.touched || submitPushed) &&
              formGroup.hasError('required', 'modelFormat')
            "
            >Please select a model format.</mat-error
          >
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="logicalSimulation"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">
            Modeling and simulation methods *
          </div>
          <div class="form-section-subtitle">
            Select a type of model framework, a type of simulation, and an
            algorithm for executing the simulation.
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group">
          <div class="columns three-columns">
            <mat-form-field appearance="fill">
              <biosimulations-icon icon="math" matPrefix></biosimulations-icon>
              <mat-label>Select a modeling framework</mat-label>
              <mat-select
                formControlName="modelingFramework"
                (ngModelChange)="changeModelingFramework()"
                required
              >
                <mat-option
                  *ngFor="let framework of modelingFrameworks"
                  [value]="framework.id"
                  >{{ framework.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <biosimulations-icon
                icon="logicalSimulation"
                matPrefix
              ></biosimulations-icon>
              <mat-label>Select a type of simulation</mat-label>
              <mat-select
                formControlName="simulationType"
                (ngModelChange)="changeSimulationType()"
                required
              >
                <mat-option
                  *ngFor="let simulationType of simulationTypes"
                  [value]="simulationType.id"
                  >{{ simulationType.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <biosimulations-icon
                icon="construction"
                matPrefix
              ></biosimulations-icon>
              <mat-label>Select a simulation algorithm</mat-label>
              <mat-select
                formControlName="simulationAlgorithm"
                (ngModelChange)="changeSimulationAlgorithm()"
                required
              >
                <mat-option
                  *ngFor="let simulationAlgorithm of simulationAlgorithms"
                  [value]="simulationAlgorithm.id"
                  >{{ simulationAlgorithm.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <mat-hint
            >Select a modeling framework, a type of simulation, and an algorithm
            for executing the simulation.</mat-hint
          >
          <mat-error
            *ngIf="
              (formGroup.get('modelingFramework')?.touched || submitPushed) &&
              formGroup.hasError('required', 'modelingFramework')
            "
            >Please select a modeling framework.</mat-error
          >
          <mat-error
            *ngIf="
              (formGroup.get('simulationType')?.touched || submitPushed) &&
              formGroup.hasError('required', 'simulationType')
            "
            >Please select a type of simulation.</mat-error
          >
          <mat-error
            *ngIf="
              (formGroup.get('simulationAlgorithm')?.touched || submitPushed) &&
              formGroup.hasError('required', 'simulationAlgorithm')
            "
            >Please select a simulation algorithm.</mat-error
          >
        </div>
      </div>
    </div>

    <div
      class="form-section"
      *ngIf="
        ['SedOneStepSimulation', 'SedUniformTimeCourseSimulation'].includes(
          formGroup.value.simulationType
        )
      "
    >
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="logicalSimulation"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Simulation *</div>
          <div class="form-section-subtitle">Configure a simulation.</div>
        </div>
      </div>
      <div class="form-section-body">
        <div
          class="form-field-group"
          *ngIf="formGroup.value.simulationType === 'SedOneStepSimulation'"
          formGroupName="oneStepSimulationParameters"
        >
          <mat-form-field appearance="fill">
            <biosimulations-icon
              icon="location"
              matPrefix
            ></biosimulations-icon>
            <mat-label>Enter the step size</mat-label>
            <input
              matInput
              formControlName="step"
              type="number"
              min="0"
              required
            />
          </mat-form-field>
          <mat-hint>Enter a step size.</mat-hint>
          <mat-error
            *ngIf="
              (formGroup.get('oneStepSimulationParameters')?.get('step')
                ?.touched ||
                submitPushed) &&
              formGroup.hasError(
                'positiveFloat',
                'oneStepSimulationParameters.step'
              )
            "
            >The step size must be a positive float.</mat-error
          >
        </div>

        <div
          class="form-field-group"
          *ngIf="
            formGroup.value.simulationType === 'SedUniformTimeCourseSimulation'
          "
          formGroupName="uniformTimeCourseSimulationParameters"
        >
          <div class="columns five-columns">
            <mat-form-field appearance="fill">
              <biosimulations-icon icon="time" matPrefix></biosimulations-icon>
              <mat-label>Enter the initial time</mat-label>
              <input
                matInput
                formControlName="initialTime"
                type="number"
                required
                (ngModelChange)="changeUniformTimeCourseSimulationStep()"
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <biosimulations-icon icon="time" matPrefix></biosimulations-icon>
              <mat-label>Enter the end time</mat-label>
              <input
                matInput
                formControlName="outputEndTime"
                type="number"
                required
                (ngModelChange)="changeUniformTimeCourseSimulationStep()"
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <biosimulations-icon
                icon="duration"
                matPrefix
              ></biosimulations-icon>
              <mat-label
                >Enter the time to start recording the rsults</mat-label
              >
              <input
                matInput
                formControlName="outputStartTime"
                type="number"
                required
                (ngModelChange)="changeUniformTimeCourseSimulationStep()"
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <biosimulations-icon
                icon="duration"
                matPrefix
              ></biosimulations-icon>
              <mat-label>Enter the number of steps to record</mat-label>
              <input
                matInput
                formControlName="numberOfSteps"
                type="number"
                min="0"
                step="1"
                required
                (ngModelChange)="changeUniformTimeCourseSimulationStep()"
              />
            </mat-form-field>

            <mat-form-field appearance="fill" class="mat-form-field-disabled">
              <biosimulations-icon
                icon="duration"
                matPrefix
              ></biosimulations-icon>
              <mat-label>Time step</mat-label>
              <input
                matInput
                formControlName="step"
                type="number"
                min="0"
                required
                [readonly]="true"
              />
            </mat-form-field>
          </div>
          <mat-hint
            >Enter the initial time of the simulation, the time when the
            simulation should terminate, the first time when output should be
            recorded, and the number of steps that should be recorded between
            the output start and termination times. This combination of inputs
            specifies a time step.</mat-hint
          >
          <mat-error
            *ngIf="
              (formGroup
                .get('uniformTimeCourseSimulationParameters')
                ?.get('initialTime')?.touched ||
                submitPushed) &&
              formGroup.hasError(
                'float',
                'uniformTimeCourseSimulationParameters.initialTime'
              )
            "
            >The initial time must be a float.</mat-error
          >
          <mat-error
            *ngIf="
              (formGroup
                .get('uniformTimeCourseSimulationParameters')
                ?.get('outputEndTime')?.touched ||
                submitPushed) &&
              formGroup.hasError(
                'float',
                'uniformTimeCourseSimulationParameters.outputEndTime'
              )
            "
            >The output end time must be a float.</mat-error
          >
          <mat-error
            *ngIf="
              (formGroup
                .get('uniformTimeCourseSimulationParameters')
                ?.get('outputStartTime')?.touched ||
                submitPushed) &&
              formGroup.hasError(
                'float',
                'uniformTimeCourseSimulationParameters.outputStartTime'
              )
            "
            >The output start time must be a float.</mat-error
          >
          <mat-error
            *ngIf="
              (formGroup
                .get('uniformTimeCourseSimulationParameters')
                ?.get('numberOfSteps')?.touched ||
                submitPushed) &&
              formGroup.hasError(
                'nonNegativeInteger',
                'uniformTimeCourseSimulationParameters.numberOfSteps'
              )
            "
            >The number of steps must be a non-negative integer.</mat-error
          >
          <mat-error
            *ngIf="
              ((formGroup
                .get('uniformTimeCourseSimulationParameters')
                ?.get('initialTime')?.touched &&
                formGroup
                  .get('uniformTimeCourseSimulationParameters')
                  ?.get('outputStartTime')?.touched) ||
                submitPushed) &&
              formGroup.hasError(
                'initialTimeGreaterThanOutputStartTime',
                'uniformTimeCourseSimulationParameters'
              )
            "
            >The output start time must be at least the initial time.</mat-error
          >
          <mat-error
            *ngIf="
              ((formGroup
                .get('uniformTimeCourseSimulationParameters')
                ?.get('outputStartTime')?.touched &&
                formGroup
                  .get('uniformTimeCourseSimulationParameters')
                  ?.get('outputEndTime')?.touched) ||
                submitPushed) &&
              formGroup.hasError(
                'outputStartTimeGreaterThanOutputEndTime',
                'uniformTimeCourseSimulationParameters'
              )
            "
            >The output end time must be at least the output start
            time.</mat-error
          >
        </div>
      </div>
    </div>

    <div
      class="form-section"
      [ngClass]="{
        'form-section-closed':
          (formSectionOpen$.simulationAlgorithmParameters | async) === false
      }"
    >
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="construction"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Simulation algorithm parameters</div>
          <div class="form-section-subtitle">
            Configure parameters of the selected algorithm.
          </div>
        </div>
        <div class="mat-form-field-suffix">
          <button
            mat-icon-button
            class="biosimulations-button text"
            [title]="
              (formSectionOpen$.simulationAlgorithmParameters | async)
                ? 'Close'
                : 'Open'
            "
            (click)="toggleFormSection('simulationAlgorithmParameters')"
          >
            <biosimulations-icon
              [icon]="
                (formSectionOpen$.simulationAlgorithmParameters | async)
                  ? 'open'
                  : 'closed'
              "
            ></biosimulations-icon>
          </button>
        </div>
      </div>
      <div class="form-section-body">
        <div
          class="form-field-group"
          formArrayName="simulationAlgorithmParameters"
          *ngIf="formGroup.value.simulationAlgorithm"
        >
          <div class="icon-label-input">
            <biosimulations-icon
              icon="simulators"
              matPrefix
            ></biosimulations-icon>
            <div class="label-input">
              <mat-label
                >Configure the parameters of the selected algorithm</mat-label
              >
              <div class="input algorithm-parameters">
                <div class="input-heading">Name</div>
                <div class="input-heading more-info">More info</div>
                <div class="input-heading">Supporting simulators</div>
                <div class="input-heading">Type</div>
                <div class="input-heading">Default</div>
                <div class="input-heading">Recommended range</div>
                <div class="input-heading">New value</div>

                <ng-container
                  *ngFor="
                    let param of simulationAlgorithmParametersArray.controls;
                    index as iParam
                  "
                  [formGroupName]="iParam"
                >
                  <div class="input-row input-label">
                    {{ param.value.name }}
                  </div>
                  <div class="input-row input-label more-info">
                    <a [href]="param.value.url"
                      ><biosimulations-icon icon="link"></biosimulations-icon
                    ></a>
                  </div>
                  <div class="input-row input-label">
                    {{ param.value.simulatorsStr }}
                  </div>
                  <div class="input-row input-label">
                    {{ param.value.type }}
                  </div>
                  <div class="input-row input-label">
                    {{ param.value.formattedValue }}
                  </div>
                  <div class="input-row input-label">
                    {{ param.value.formattedRecommendedRangeJoined }}
                  </div>
                  <div class="input-row">
                    <input
                      matInput
                      formControlName="newValue"
                      [class.error-border]="
                        (param.get('newValue')?.touched || submitPushed) &&
                        param.hasError('invalid')
                      "
                    />
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <mat-hint
            >Enter new values to override the default values of one or more
            parameters.</mat-hint
          >
          <mat-error *ngIf="simulationAlgorithmParametersArray.invalid"
            >The value of one of or more parameters is invalid.</mat-error
          >
        </div>
      </div>
    </div>

    <div
      class="form-section"
      [ngClass]="{
        'form-section-closed':
          (formSectionOpen$.modelNamespaces | async) === false
      }"
    >
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="location"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Model namespaces</div>
          <div class="form-section-subtitle">
            Describe the namespaces of the parameters and variables of your
            model.
          </div>
        </div>
        <div class="mat-form-field-suffix">
          <button
            mat-icon-button
            class="biosimulations-button text"
            [title]="
              (formSectionOpen$.modelNamespaces | async) ? 'Close' : 'Open'
            "
            (click)="toggleFormSection('modelNamespaces')"
          >
            <biosimulations-icon
              [icon]="
                (formSectionOpen$.modelNamespaces | async) ? 'open' : 'closed'
              "
            ></biosimulations-icon>
          </button>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group" formArrayName="modelNamespaces">
          <div class="icon-label-input">
            <biosimulations-icon
              icon="location"
              matPrefix
            ></biosimulations-icon>
            <div class="label-input">
              <mat-label
                >Enter the prefix and URI for each namespace needed to reference
                the parameters and variables of your model.</mat-label
              >
              <div class="input model-namespaces">
                <div class="input-heading">Prefix</div>
                <div class="input-heading more-info">URI *</div>
                <div class="input-heading">
                  <button
                    mat-icon-button
                    class="biosimulations-button text"
                    title="Add a namespace"
                    (click)="addModelNamespace()"
                  >
                    <biosimulations-icon icon="new"></biosimulations-icon>
                  </button>
                </div>

                <ng-container
                  *ngFor="
                    let ns of modelNamespacesArray.controls;
                    index as iModelNamespace
                  "
                  [formGroupName]="iModelNamespace"
                >
                  <div class="input-row">
                    <input
                      matInput
                      formControlName="prefix"
                      [class.error-border]="
                        (ns.get('prefix')?.touched || submitPushed) &&
                        ns.hasError('validNamespacePrefix', 'prefix')
                      "
                    />
                  </div>
                  <div class="input-row">
                    <input
                      matInput
                      formControlName="uri"
                      [class.error-border]="
                        (ns.get('uri')?.touched || submitPushed) &&
                        ns.hasError('url', 'uri')
                      "
                      required
                    />
                  </div>
                  <div class="input-row">
                    <button
                      mat-icon-button
                      class="biosimulations-button text"
                      title="Delete namespace"
                      (click)="removeModelNamespace(iModelNamespace)"
                    >
                      <biosimulations-icon icon="trash"></biosimulations-icon>
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <mat-hint
            >Describe the namespaces needed to reference the parameters and
            variables of your model (e.g., <code>sbml</code>:
            <code>http://www.sbml.org/sbml/level2/version4</code> for SBML
            L2V4).</mat-hint
          >
          <mat-error
            *ngIf="
              (modelNamespacesArray.touched || submitPushed) &&
              modelNamespacesArray.invalid &&
              !modelNamespacesArray.hasError('prefixUnique')
            "
            >One or more properties of one or more namespaces is
            invalid.</mat-error
          >
          <mat-error
            *ngIf="
              (modelNamespacesArray.touched || submitPushed) &&
              modelNamespacesArray.hasError('prefixUnique')
            "
            >The prefixes of the namespaces must be unique.</mat-error
          >
        </div>
      </div>
    </div>

    <div
      class="form-section"
      [ngClass]="{
        'form-section-closed': (formSectionOpen$.modelChanges | async) === false
      }"
    >
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="location"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Model changes</div>
          <div class="form-section-subtitle">
            Describe changes that should be applied to the attributes of your
            model, such as to its initial conditions or kinetic parameters.
          </div>
        </div>
        <div class="mat-form-field-suffix">
          <button
            mat-icon-button
            class="biosimulations-button text"
            [title]="(formSectionOpen$.modelChanges | async) ? 'Close' : 'Open'"
            (click)="toggleFormSection('modelChanges')"
          >
            <biosimulations-icon
              [icon]="
                (formSectionOpen$.modelChanges | async) ? 'open' : 'closed'
              "
            ></biosimulations-icon>
          </button>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group" formArrayName="modelChanges">
          <div class="icon-label-input">
            <biosimulations-icon
              icon="location"
              matPrefix
            ></biosimulations-icon>
            <div class="label-input">
              <mat-label
                >Enter the target for each change and the value it should be set
                to.</mat-label
              >
              <div class="input model-changes">
                <div class="input-heading">Id *</div>
                <div class="input-heading">Name</div>
                <div class="input-heading">Target *</div>
                <div class="input-heading">Default</div>
                <div class="input-heading">New value</div>
                <div class="input-heading">
                  <button
                    mat-icon-button
                    class="biosimulations-button text"
                    title="Add a change"
                    (click)="addModelChange()"
                  >
                    <biosimulations-icon icon="new"></biosimulations-icon>
                  </button>
                </div>

                <ng-container
                  *ngFor="
                    let change of modelChangesArray.controls;
                    index as iModelChange
                  "
                  [formGroupName]="iModelChange"
                >
                  <div class="input-row">
                    <input
                      matInput
                      formControlName="id"
                      [class.error-border]="
                        (change.get('id')?.touched || submitPushed) &&
                        change.hasError('validSedmlId', 'id')
                      "
                    />
                  </div>
                  <div class="input-row">
                    <input matInput formControlName="name" />
                  </div>
                  <div class="input-row">
                    <input
                      matInput
                      formControlName="target"
                      [class.error-border]="
                        (change.get('target')?.touched || submitPushed) &&
                        change.hasError('required', 'target')
                      "
                    />
                  </div>
                  <div class="input-row">
                    <input matInput formControlName="default" />
                  </div>
                  <div class="input-row">
                    <input matInput formControlName="newValue" />
                  </div>
                  <div class="input-row">
                    <button
                      mat-icon-button
                      class="biosimulations-button text"
                      title="Delete chanage"
                      (click)="removeModelChange(iModelChange)"
                    >
                      <biosimulations-icon icon="trash"></biosimulations-icon>
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <mat-hint>
            <p>
              Describe the changes that should be applied to the attributes of
              your model (e.g., set the value of target
              <code
                >/sbml:sbml/sbml:model/sbml:listOfParameters/sbml:parameter[@id='k1']/@value</code
              >
              to the new value <code>2.1</code>). For XML-based model languages
              such as SBML, targets should be XPaths to XML attributes.
            </p>
            <p class="alert">
              The ids and names data will not be exported to SED-ML because
              these attributes are not supported by SED-ML L1V3. Once simulation
              tools update to SED-ML L1V4, we will export this information to
              SED-ML.
            </p>
            <p class="alert">
              The default value of each attribute is provided as a reference.
              This information will not be encoded into the generated SED-ML
              document.
            </p>
          </mat-hint>
          <mat-error
            *ngIf="
              (modelChangesArray.touched || submitPushed) &&
              modelChangesArray.invalid
            "
            >One or more properties of one or more changes invalid.</mat-error
          >
          <mat-error
            *ngIf="
              (modelChangesArray.touched || submitPushed) &&
              modelChangesArray.hasError('idUnique')
            "
            >The ids of the changes must be unique.</mat-error
          >
        </div>
      </div>
    </div>

    <div
      class="form-section"
      [ngClass]="{
        'form-section-closed':
          (formSectionOpen$.modelVariables | async) === false
      }"
    >
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="report"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Observables *</div>
          <div class="form-section-subtitle">
            Describe the variables that should be recorded from your simulation.
          </div>
        </div>
        <div class="mat-form-field-suffix">
          <button
            mat-icon-button
            class="biosimulations-button text"
            [title]="
              (formSectionOpen$.modelVariables | async) ? 'Close' : 'Open'
            "
            (click)="toggleFormSection('modelVariables')"
          >
            <biosimulations-icon
              [icon]="
                (formSectionOpen$.modelVariables | async) ? 'open' : 'closed'
              "
            ></biosimulations-icon>
          </button>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group" formArrayName="modelVariables">
          <div class="icon-label-input">
            <biosimulations-icon icon="report" matPrefix></biosimulations-icon>
            <div class="label-input">
              <mat-label
                >Enter the id, name, and symbol/target of each variable that
                should be recoded *</mat-label
              >
              <div class="input model-variables">
                <div class="input-heading">Id *</div>
                <div class="input-heading more-info">Name</div>
                <div class="input-heading">Type *</div>
                <div class="input-heading">Address *</div>
                <div class="input-heading">
                  <button
                    mat-icon-button
                    class="biosimulations-button text"
                    title="Add a variable"
                    (click)="addModelVariable()"
                  >
                    <biosimulations-icon icon="new"></biosimulations-icon>
                  </button>
                </div>

                <ng-container
                  *ngFor="
                    let param of modelVariablesArray.controls;
                    index as iModelVariable
                  "
                  [formGroupName]="iModelVariable"
                >
                  <div class="input-row">
                    <input
                      matInput
                      formControlName="id"
                      [class.error-border]="
                        (param.get('id')?.touched || submitPushed) &&
                        param.hasError('validSedmlId', 'id')
                      "
                      required
                    />
                  </div>
                  <div class="input-row">
                    <input matInput formControlName="name" />
                  </div>
                  <div class="input-row">
                    <mat-select
                      formControlName="type"
                      required
                      disableOptionCentering
                    >
                      <mat-option
                        *ngFor="let variableType of modelVariableTypes"
                        [value]="variableType.id"
                      >
                        {{ variableType.name }}
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="input-row">
                    <input matInput formControlName="symbolOrTarget" required />
                  </div>
                  <div class="input-row">
                    <button
                      mat-icon-button
                      class="biosimulations-button text"
                      title="Delete variable"
                      (click)="removeModelVariable(iModelVariable)"
                    >
                      <biosimulations-icon icon="trash"></biosimulations-icon>
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <mat-hint
            >Describe the variables (e.g., time symbol
            <code>urn:sedml:symbol:time</code>, species target
            <code
              >/sbml:sbml/sbml:model/sbml:listOfSpecies/sbml:species[@id='atp']</code
            >) that should be recorded from your simulation and enter an unique
            id and, optionally, a descriptive name for each variable. For
            XML-based model languages such as SBML, targets should be XPaths to
            XML attributes.</mat-hint
          >
          <mat-error
            *ngIf="
              modelVariablesArray.invalid &&
              !modelVariablesArray.hasError('idUnique')
            "
            >One or more properties of one or more variables is
            invalid.</mat-error
          >
          <mat-error
            *ngIf="
              (modelVariablesArray.touched || submitPushed) &&
              modelVariablesArray.hasError('idUnique')
            "
            >The ids of the variables must be unique.</mat-error
          >
        </div>
      </div>
    </div>

    <div class="form-section" *ngIf="formGroup.value.simulationAlgorithm">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="simulator"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Recommended simulation tools</div>
          <div class="form-section-subtitle">
            Tools that likely have the capabilities to execute your simulation.
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group">
          <div class="icon-label-input" *ngIf="compatibleSimulators?.length">
            <biosimulations-icon
              icon="simulator"
              matPrefix
            ></biosimulations-icon>
            <div class="label-input">
              <mat-label
                >Based on the information about, below are simulation tools
                which likely can execute your simulation:</mat-label
              >
              <div class="input simulators">
                <div class="input-heading">Name</div>
                <div class="input-heading">Algorithm compatability</div>
                <div class="input-heading">
                  Algorithm parameter compatability
                </div>
                <div class="input-heading more-info">More info</div>
                <div class="input-heading"></div>

                <ng-container
                  *ngFor="let compatibleSimulator of compatibleSimulators"
                >
                  <div class="input-row input-label">
                    {{ compatibleSimulator.simulator.name }}
                  </div>
                  <div class="input-row input-label">
                    {{ compatibleSimulator.maxPolicy.level }}.
                    {{ compatibleSimulator.maxPolicy.name }}
                  </div>
                  <div class="input-row input-label">
                    {{
                      compatibleSimulator.parametersCompatibility ? 'Yes' : 'No'
                    }}
                  </div>
                  <div class="input-row input-label more-info">
                    <a
                      [href]="compatibleSimulator.simulator.url"
                      target="_blank"
                      ><biosimulations-icon icon="link"></biosimulations-icon
                    ></a>
                  </div>
                  <div class="input-row"></div>
                </ng-container>
              </div>
            </div>
          </div>
          <mat-hint *ngIf="formGroup.valid"
            ><p class="alert">
              Not all simulation tools have the capabilities to execute all
              possible simulations because most simulation tools do not support
              every aspect of modeling standards such as SBML and SED-ML. We are
              working to encourage developers to more fully support these
              standards and to catalog which features each tool supports so that
              we are better able to recommend simulation tools going forward.
            </p></mat-hint
          >
          <mat-error *ngIf="formGroup.hasError('hasCompatibleSimulator')"
            >No single simulation tool supports the selected combination of
            parameters. Please clear the value of one or more
            parameters.</mat-error
          >
        </div>
      </div>
    </div>

    <div class="submit">
      <button
        mat-flat-button
        type="submit"
        (click)="onFormSubmit('download')"
        class="biosimulations-button text"
      >
        Download
      </button>

      <button
        mat-flat-button
        type="submit"
        (click)="onFormSubmit('simulate')"
        class="biosimulations-button text"
      >
        Simulate
      </button>
    </div>
  </form>
</biosimulations-page>
