<p>Filters</p>
<div class="project-filter-container">
  <mat-accordion>
    <div *ngFor="let stat of filterStats$ | async; index as i">
      <div class="project-filter-category" *ngIf="stat.valueHistogram.length>0">
        <mat-expansion-panel>
          <mat-expansion-panel-header collapsedHeight="32px" expandedHeight="32px">
            <mat-panel-title>
              {{stat.target}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list dense>
            <mat-list-option
              [selected]="isSelected(stat.target, valueFrequency.value)"
              (selectedChange)="onSelectedChange($event, stat.target, valueFrequency.value)"
              togglePosition="before"
              class="project-filter-item"
              [value]="valueFrequency.value"
              *ngFor="let valueFrequency of stat.valueHistogram">
              '{{valueFrequency.value}}' ({{valueFrequency.count}})
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-accordion>
</div>

