@import 'biosimulations-colors';
@import 'biosimulations-typography';

::ng-deep .mat-typography {
  h2, h3 {
    margin: 0;
  }

  h3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 4px;
    background: $light-background;
  }
}

.section:not(:last-child) {
  margin-bottom: 0.5rem;
}

.subsection-heading {
  font-weight: bold;
}

.columns-container > *:last-child {
  padding: 0.5rem 0.5rem 0;
}

@media screen and (max-width: 959px) {
  .columns-container > *:last-child {
    margin-top: 1rem;
  }
}

.citations tr:first-child {
  th, td {
    padding-top: 0.5rem;
  }
}

.icon-list {
  a {
    color: $dark-primary-text;
    &:hover {
      color: mat-color($theme-primary);
    }
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.copy-image {
  biosimulations-icon, .code {
    float: left;
  }

  .code {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 2 * 0.25rem - 14px - 13px);
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .biosimulations-icon-button {
    position: relative;
    top: -0.15rem;
    float: left;
    font-size: 125%;
  }
}