<biosimulations-tab-page [loading]="loading$ | async">
  <biosimulations-tab-page-tab
    heading="Overview"
    icon="overview"
    [partialWidth]="true"
  >
    <div
      class="overview columns-container ragged-columns"
      gdColumns.gt-sm="1fr 25rem"
      gdGap.gt-sm="2rem"
      *ngIf="simulator | async as simulator"
    >
      <div class="column">
        <h2>
          {{ simulator.name }} ({{ simulator.id }} / {{ simulator.version }})
        </h2>
        <p>
          {{ simulator.description }}
        </p>

        <table class="icon-list">
          <tbody>
            <tr *ngIf="simulator.authors?.length > 0">
              <th><biosimulations-icon icon="user"></biosimulations-icon></th>
              <td>{{ simulator.authors }}</td>
            </tr>
          </tbody>

          <tbody class="citations" *ngIf="simulator.citations?.length > 0">
            <tr *ngFor="let citation of citations">
              <th>
                <biosimulations-icon icon="tutorial"></biosimulations-icon>
              </th>
              <td>
                <a
                  [href]="citation.url"
                  target="_blank"
                  [innerHTML]="citation.text"
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- TODO Fix repeated code-->
      <div class="column border">
        <div class="section">
          <h3>Docker pull command</h3>
          <div class="section-content copy-image">
            <div class="code">docker pull {{ simulator.image }}</div>
            <button
              mat-icon-button
              class="biosimulations-icon-button primary"
              title="Copy to clipboard"
              (click)="copyDockerPullCmd(simulator.image)"
            >
              <biosimulations-icon icon="copy"></biosimulations-icon>
            </button>
            <div class="clear-float"></div>
          </div>
        </div>

        <div class="section">
          <h3>License</h3>
          <div class="section-content">
            <p>
              {{ simulator.licenseName | async }}
              <a [href]="simulator.licenseUrl | async" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon
              ></a>
            </p>
          </div>
        </div>

        <div class="section">
          <h3>More info</h3>
          <div class="section-content">
            <a [href]="simulator.url" target="_blank" class="text">
              {{ simulator.url }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Algorithms"
    icon="simulator"
    class="algorithms"
  >
    <biosimulations-text-page
      contentsHeading="Algorithms"
      [padded]="false"
      alwaysFixed="calc(64px + 32px + 32px + 2rem)"
      [tocSections]="tocSections"
      [tocScrollSectionScrollOffset]="128"
    >
      <ng-container id="sideBar">
        <biosimulations-text-page-side-bar-section
          heading="More info"
          fxShow
          fxHide.lt-md
        >
          <div class="hanging-indent">
            <a *ngIf="simulator | async as simulator" [href]="simulator.url" target="_blank">
              <biosimulations-icon icon="link"></biosimulations-icon>
              Documentation
            </a>
          </div>
        </biosimulations-text-page-side-bar-section>
      </ng-container>

      <ng-container id="content" tocSectionsContainer>
        <ng-container *ngIf="simulator | async as simulator">
          <ng-container *ngIf="simulator.algorithms as algorithms">
            <biosimulations-text-page-content-section
              *ngFor="let algorithm of algorithms"
              [heading]="algorithm.heading | async"
              [tocSection]="algorithm.name | async"
            >
              <ng-container
                *ngIf="algorithm.description | async as description"
              >
                <p class="subsection-heading no-bottom-margin">Description</p>
                <p>
                  <ng-template ngFor let-fragment [ngForOf]="description">
                    <span *ngIf="fragment.type == 'text'; else descriptionLink">
                      {{ fragment.value }}
                    </span>
                    <ng-template #descriptionLink>
                      <a [href]="fragment.value"
                        ><biosimulations-icon icon="link"></biosimulations-icon
                      ></a>
                    </ng-template>
                  </ng-template>
                </p>
              </ng-container>

              <p class="subsection-heading no-bottom-margin">
                Modeling frameworks
              </p>
              <ul
                class="icon-list"
                *ngIf="algorithm?.frameworks.length > 0; noFrameworksMessage"
              >
                <li *ngFor="let framework of algorithm.frameworks">
                  <ng-container *ngIf="framework | async as framework">
                    <biosimulations-icon icon="simulator"></biosimulations-icon>
                    <a [href]="framework.url" target="_blank">{{
                      framework.name
                    }}</a>
                  </ng-container>
                </li>
              </ul>
              <ng-template #noFrameworksMessage>
                <p>
                  This algorithm does not support any canonical modeling
                  frameworks.
                </p>
              </ng-template>

              <p class="subsection-heading no-bottom-margin">Model formats</p>
              <ul
                class="icon-list"
                *ngIf="algorithm?.formats?.length > 0; noFormatsMessage"
              >
                <li *ngFor="let format of algorithm.formats">
                  <ng-container *ngIf="format | async as format">
                    <biosimulations-icon icon="format"></biosimulations-icon>
                    <a [href]="format.url" target="_blank">{{ format.name }}</a>
                  </ng-container>
                </li>
              </ul>
              <ng-template #noFormatsMessage>
                <p>
                  This algorithm does not support any standard model formats.
                </p>
              </ng-template>

              <p class="subsection-heading no-bottom-margin">Parameters</p>
              <div
                class="table-container"
                *ngIf="
                  (algorithm?.parameters | async)?.length > 0;
                  else noParametersMessage
                "
              >
                <biosimulations-responsive-table
                  [columns]="parametersColumns"
                  [singleLineHeadings]="true"
                  [data]="algorithm.parameters"
                  [sortable]="true"
                  [controls]="false"
                  stackedContentsHeading="Parameters"
                  [getStackedHeading]="getParameterStackedHeading"
                  [getStackedHeadingMoreInfoRouterLink]="
                    getParameterStackedHeadingMoreInfoRouterLink
                  "
                  [defaultSort]="{ active: 'name', direction: 'asc' }"
                >
                </biosimulations-responsive-table>
              </div>
              <ng-template #noParametersMessage>
                <p>This algorithm does not have any parameters.</p>
              </ng-template>

              <ng-container *ngIf="algorithm?.citations?.length > 0">
                <p class="subsection-heading no-bottom-margin">Citations</p>
                <ul class="icon-list">
                  <li *ngFor="let citation of algorithm.citations">
                    <biosimulations-icon icon="tutorial"></biosimulations-icon>
                    <a
                      [href]="citation.url"
                      target="_blank"
                      [innerHTML]="citation.text"
                    ></a>
                  </li>
                </ul>
              </ng-container>

              <p class="subsection-heading no-bottom-margin">More info</p>
              <ul class="icon-list">
                <li>
                  <biosimulations-icon icon="link"></biosimulations-icon>
                  <a [href]="algorithm?.url | async" target="_blank">{{
                    algorithm?.id
                  }}</a>
                </li>
              </ul>
            </biosimulations-text-page-content-section>
          </ng-container>
        </ng-container>
      </ng-container>
    </biosimulations-text-page>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Versions"
    icon="version"
    [partialWidth]="true"
  >
    <ng-container *ngIf="simulator | async as simulator">
      <biosimulations-responsive-table
        [columns]="versionsColumns"
        [singleLineHeadings]="true"
        [data]="simulator.versions"
        [sortable]="true"
        [controls]="false"
        stackedContentsHeading="Contents"
        [getStackedHeading]="getVersionStackedHeading"
        [getStackedHeadingMoreInfoRouterLink]="
          getVersionStackedHeadingMoreInfoRouterLink.bind(this)
        "
        [defaultSort]="{ active: 'label', direction: 'desc' }"
        [highlightRow]="highlightVersion"
      >
      </biosimulations-responsive-table>
    </ng-container>
  </biosimulations-tab-page-tab>
</biosimulations-tab-page>
