<biosimulations-tab-page [loading]="loading$ | async">
  <biosimulations-tab-page-tab
    heading="Overview"
    icon="overview"
    [partialWidth]="true"
  >
    <div
      class="overview columns-container"
      gdColumns.gt-sm="1fr 25rem"
      gdGap.gt-sm="2rem"
    >
      <div>
        <h2>{{ name }} ({{ id }} / {{ version }})</h2>
        <p>
          {{ description }}
        </p>

        <table class="icon-list">
          <tbody>
            <tr *ngIf="authors?.length > 0">
              <th><biosimulations-icon icon="user"></biosimulations-icon></th>
              <td>{{ authors }}</td>
            </tr>
          </tbody>

          <tbody class="citations" *ngIf="citations?.length > 0">
            <tr *ngFor="let citation of citations">
              <th>
                <biosimulations-icon icon="tutorial"></biosimulations-icon>
              </th>
              <td>
                <a
                  [href]="citation.url"
                  target="_blank"
                  [innerHTML]="citation.text"
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- TODO Fix repeated code-->
      <div class="border">
        <div class="section">
          <h3>Docker pull command</h3>
          <div class="section-content">
            <div class="copy-value code">docker pull {{ image }}</div>
            <button
              mat-icon-button
              class="biosimulations-icon-button copy-button"
              title="Copy to clipboard"
              (click)="copyDockerPullCmd(image)"
            >
              <biosimulations-icon icon="copy"></biosimulations-icon>
            </button>
            <div class="clear-float"></div>
          </div>
        </div>

        <div class="section">
          <h3>License</h3>
          <div class="section-content">
            <p>
              {{ licenseName }}
              <a [href]="licenseUrl" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon
              ></a>
            </p>
          </div>
        </div>

        <div class="section">
          <h3>More info</h3>
          <div class="section-content">
            <p>
              {{ url }}
              <a [href]="url" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon
              ></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Algorithms"
    icon="simulator"
    class="algorithms"
  >
    <biosimulations-text-page
      contentsHeading="Algorithms"
      [padded]="false"
      alwaysFixed="calc(64px + 32px + 32px + 2rem)"
      [tocSections]="tocSections"
      [tocScrollSectionScrollOffset]="128"
    >
      <ng-container id="sideBar">
        <biosimulations-text-page-side-bar-section
          heading="More info"
          fxShow
          fxHide.lt-md
        >
          <div class="hanging-indent">
            <a [href]="url" target="_blank">
              <biosimulations-icon icon="link"></biosimulations-icon>
              Documentation
            </a>
          </div>
        </biosimulations-text-page-side-bar-section>
      </ng-container>

      <ng-container id="content" tocSectionsContainer>
        <biosimulations-text-page-content-section
          *ngFor="let algorithm of algorithms"
          [heading]="algorithm.heading"
          [tocSection]="algorithm.name"
        >
          <ng-container *ngIf="algorithm?.description">
            <p class="subsection-heading no-bottom-margin">Description</p>
            <p>
              <ng-template ngFor let-fragment [ngForOf]="algorithm.description">
                <span *ngIf="fragment.type == 'text'; else descriptionLink">
                  {{ fragment.value }}
                </span>
                <ng-template #descriptionLink>
                  <a [href]="fragment.value"
                    ><biosimulations-icon icon="link"></biosimulations-icon
                  ></a>
                </ng-template>
              </ng-template>
            </p>
          </ng-container>

          <p class="subsection-heading no-bottom-margin">Modeling frameworks</p>
          <ul class="icon-list" *ngIf="algorithm?.frameworks?.length > 0; noFrameworksMessage">
            <li *ngFor="let framework of algorithm.frameworks">
              <biosimulations-icon icon="simulator"></biosimulations-icon>
              <a [href]="framework.url" target="_blank">{{ framework.name }}</a>
            </li>
          </ul>
          <ng-template #noFrameworksMessage>
            <p>This algorithm does not support any canonical modeling frameworks.</p>
          </ng-template>

          <p class="subsection-heading no-bottom-margin">Model formats</p>
          <ul class="icon-list" *ngIf="algorithm?.formats?.length > 0; noFormatsMessage">
            <li *ngFor="let format of algorithm.formats">
              <biosimulations-icon icon="format"></biosimulations-icon>
              <a [href]="format.url" target="_blank">{{ format.name }}</a>
            </li>
          </ul>
          <ng-template #noFormatsMessage>
            <p>This algorithm does not support any standard model formats.</p>
          </ng-template>

          <p class="subsection-heading no-bottom-margin">Parameters</p>
          <div class="table-container" *ngIf="(algorithm?.parameters | async)?.length > 0; else noParametersMessage">
            <biosimulations-responsive-table
              [columns]="parametersColumns"
              [singleLineHeadings]="true"
              [data]="algorithm.parameters"
              [sortable]="true"
              [controls]="false"
              stackedContentsHeading="Parameters"
              [getStackedHeading]="getParameterStackedHeading"
              [getStackedHeadingMoreInfoRouterLink]="getParameterStackedHeadingMoreInfoRouterLink"
              [defaultSort]="{ active: 'name', direction: 'asc' }"
            >
            </biosimulations-responsive-table>
          </div>
          <ng-template #noParametersMessage>
            <p>This algorithm does not have any parameters.</p>
          </ng-template>

          <ng-container *ngIf="algorithm?.citations?.length > 0">
            <p class="subsection-heading no-bottom-margin">Citations</p>
            <ul class="icon-list">
              <li *ngFor="let citation of algorithm.citations">
                <biosimulations-icon icon="tutorial"></biosimulations-icon>
                <a
                  [href]="citation.url"
                  target="_blank"
                  [innerHTML]="citation.text"
                ></a>
              </li>
            </ul>
          </ng-container>

          <p class="subsection-heading no-bottom-margin">More info</p>
          <ul class="icon-list">
            <li>
              <biosimulations-icon icon="link"></biosimulations-icon>
              <a [href]="algorithm?.url" target="_blank">{{ algorithm?.id }}</a>
            </li>
          </ul>
        </biosimulations-text-page-content-section>
      </ng-container>
    </biosimulations-text-page>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Versions"
    icon="version"
    [partialWidth]="true"
  >
    <div
      class="columns-container"
      gdColumns.gt-sm="1fr 25rem"
      gdGap.gt-sm="2rem"
    >
      <div class="table-container">
        <biosimulations-responsive-table
          [columns]="versionsColumns"
          [singleLineHeadings]="true"
          [data]="versions"
          [sortable]="true"
          [controls]="false"
          stackedContentsHeading="Contents"
          [getStackedHeading]="getVersionStackedHeading"
          [getStackedHeadingMoreInfoRouterLink]="getVersionStackedHeadingMoreInfoRouterLink.bind(this)"
          [defaultSort]="{ active: 'label', direction: 'desc' }"
        >
        </biosimulations-responsive-table>
      </div>
      <div class="border">
        <div class="section">
          <h3>Docker pull command</h3>
          <div class="section-content">
            <div class="copy-value code">docker pull {{ '{ ' }} image {{ '} ' }}</div>
            <button
              mat-icon-button
              class="biosimulations-icon-button copy-button"
              title="Copy to clipboard"
              (click)="copyDockerPullCmd()"
            >
              <biosimulations-icon icon="copy"></biosimulations-icon>
            </button>
            <div class="clear-float"></div>
          </div>
        </div>

        <div class="section">
          <h3>License</h3>
          <div class="section-content">
            <p>
              {{ licenseName }}
              <a [href]="licenseUrl" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon
              ></a>
            </p>
          </div>
        </div>

        <div class="section">
          <h3>More info</h3>
          <div class="section-content">
            <p>
              {{ url }}
              <a [href]="url" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon
              ></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </biosimulations-tab-page-tab>
</biosimulations-tab-page>
