@import 'biosimulations-colors';
@import 'biosimulations-typography';

::ng-deep .mat-typography {
  h2, h3 {
    margin: 0;
  }

  h3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 4px;
    background: $light-background;
  }
}

.section:not(:last-child) {
  margin-bottom: 0.5rem;
}

.subsection-heading {
  font-weight: bold;
}

.columns-container > *:last-child {
  padding: 0.5rem 0.5rem 0;
}

@media screen and (max-width: 959px) {
  .columns-container > *:last-child {
    margin-top: 1rem;
  }
}

.citations tr:first-child {
  th, td {
    padding-top: 0.5rem;
  }
}

.algorithm-parameters {
  .mat-header-cell {
    white-space: nowrap;
  }

  .mat-header-cell:nth-child(1),
  .mat-header-cell:nth-child(3),
  .mat-header-cell:nth-child(4),
  .mat-header-cell:nth-child(6),
  .mat-cell:nth-child(1),
  .mat-cell:nth-child(3),
  .mat-cell:nth-child(4),
  .mat-cell:nth-child(6) {
    flex: 0.75;
  }
}

.versions {
  .mat-header-cell:nth-child(1),
  .mat-header-cell:nth-child(2),
  .mat-cell:nth-child(1),
  .mat-cell:nth-child(2) {
    flex: 0.3;
  }
}

.icon-list {
  a {
    color: $dark-primary-text;
    &:hover {
      color: mat-color($theme-primary);
    }
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.code {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}