<biosimulations-navigation
  [appName]="config.appName"
  [appNameParts]="config.appNameParts"
  [logo]="config.logo"
  [privacyPolicyVersion]="config.privacyPolicyVersion"
  [newsVersion]="1"
  [showNews]="false"
  [healthy]="healthy$ | async"
>
  <biosimulations-topbar-menu>
    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item
        heading="Projects"
        icon="project"
        id="trigger"
        [routerLink]="['/projects']"
      >
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Browse"
          icon="browse"
          [routerLink]="['/projects']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Submit"
          icon="upload"
          href="https://run.biosimulations.org/run"
        >
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item
        heading="Utilities"
        icon="construction"
        id="trigger"
      >
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Convert a file"
          icon="convert"
          href="https://run.biosimulations.org/utils/convert"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Create a project"
          icon="construction"
          href="https://run.biosimulations.org/create"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a model"
          icon="review"
          href="https://run.biosimulations.org/utils/validate-model"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a simulation"
          icon="review"
          href="https://run.biosimulations.org/utils/validate-simulation"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate metadata"
          icon="review"
          href="https://run.biosimulations.org/utils/validate-metadata"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a project"
          icon="review"
          href="https://run.biosimulations.org/utils/validate-project"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a simulator"
          icon="review"
          href="https://github.com/biosimulators/Biosimulators/issues/new?assignees=&labels=Validate%2Fsubmit+simulator&template=validate-submit-a-simulator.md&title="
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Suggest a simulator"
          icon="idea"
          href="https://run.biosimulations.org/utils/suggest-simulator"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Execute a project"
          icon="simulator"
          href="https://run.biosimulations.org/run"
        >
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item
        heading="Conventions"
        icon="standard"
        id="trigger"
        href="https://biosimulators.org/conventions"
      >
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Simulator specs"
          icon="browse"
          href="https://biosimulators.org/conventions/simulator-specs"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulator interfaces"
          icon="logs"
          href="https://biosimulators.org/conventions/simulator-interfaces"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulator images"
          icon="docker"
          href="https://biosimulators.org/conventions/simulator-images"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulation experiments"
          icon="experiment"
          href="https://biosimulators.org/conventions/simulation-experiments"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulation reports"
          icon="report"
          href="https://biosimulators.org/conventions/simulation-reports"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Data visualizations"
          icon="chart"
          href="https://biosimulators.org/conventions/data-viz"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Metadata"
          icon="tags"
          href="https://biosimulators.org/conventions/metadata"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulation logs"
          icon="progress"
          href="https://biosimulators.org/conventions/simulation-logs"
        >
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item heading="Help" icon="help" id="trigger">
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Tutorial"
          icon="tutorial"
          href="https://docs.biosimulations.org/users/tutorial/"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="FAQ"
          icon="help"
          href="https://docs.biosimulations.org/users/FAQ/"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="About"
          icon="info"
          href="https://docs.biosimulations.org/"
        >
          >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Terms of service"
          icon="legal"
          href="https://docs.biosimulations.org/community/terms/"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Privacy policy"
          icon="policy"
          href="https://docs.biosimulations.org/community/privacy/"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Status"
          icon="status"
          href="https://status.biosimulations.org/"
        >
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>
  </biosimulations-topbar-menu>

  <ng-container id="sidenav-menu">
    <biosimulations-navigation-item heading="Projects" icon="project">
      <biosimulations-navigation-subitem
        heading="Browse"
        icon="browse"
        [route]="['/projects', 'browse']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Submit"
        icon="upload"
        href="https://run.biosimulations.org/run"
      >
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item heading="Utilities" icon="construction">
      <biosimulations-navigation-subitem
        heading="Convert a file"
        icon="convert"
        href="https://run.biosimulations.org/utils/convert"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Create a project"
        icon="construction"
        href="https://run.biosimulations.org/create"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Validate a model"
        icon="review"
        href="https://run.biosimulations.org/utils/validate-model"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Validate a simulation"
        icon="review"
        href="https://run.biosimulations.org/utils/validate-simulation"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Validate metadata"
        icon="review"
        href="https://run.biosimulations.org/utils/validate-metadata"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Validate a project"
        icon="review"
        href="https://run.biosimulations.org/utils/validate-project"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Validate a simulator"
        icon="review"
        href="https://github.com/biosimulators/Biosimulators/issues/new?assignees=&labels=Validate%2Fsubmit+simulator&template=validate-submit-a-simulator.md&title="
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Suggest a simulator"
        icon="idea"
        href="https://run.biosimulations.org/utils/suggest-simulator"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Execute a project"
        icon="simulator"
        href="https://run.biosimulations.org/run"
      >
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item heading="Conventions" icon="standard">
      <biosimulations-navigation-subitem
        heading="Overview"
        icon="standard"
        href="https://biosimulators.org/conventions"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulator specs"
        icon="browse"
        href="https://biosimulators.org/conventions/simulator-specs"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulator interfaces"
        icon="logs"
        href="https://biosimulators.org/conventions/simulator-interfaces"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulator images"
        icon="docker"
        href="https://biosimulators.org/conventions/simulator-images"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulation expts"
        icon="experiment"
        href="https://biosimulators.org/conventions/simulation-experiments"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulation reports"
        icon="report"
        href="https://biosimulators.org/conventions/simulation-reports"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Data visualizations"
        icon="chart"
        href="https://biosimulators.org/conventions/data-viz"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Metadata"
        icon="tags"
        href="https://biosimulators.org/conventions/metadata"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulation logs"
        icon="progress"
        href="https://biosimulators.org/conventions/simulation-logs"
      >
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item
      heading="Help"
      icon="help"
      [aboveDivider]="true"
    >
      <biosimulations-navigation-subitem
        heading="Tutorial"
        icon="tutorial"
        href="https://docs.biosimulations.org/users/tutorial/"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="FAQ"
        icon="help"
        href="https://docs.biosimulations.org/users/FAQ/"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="About"
        icon="info"
        href="https://docs.biosimulations.org/"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Terms of service"
        icon="legal"
        href="https://docs.biosimulations.org/community/terms/"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Privacy policy"
        icon="policy"
        href="https://docs.biosimulations.org/community/privacy/"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Status"
        icon="status"
        href="https://status.biosimulations.org/"
      >
      </biosimulations-navigation-subitem> 
    </biosimulations-navigation-item>
  </ng-container>

  <ng-container id="news"> Under Construction </ng-container>

  <router-outlet></router-outlet>
</biosimulations-navigation>
