@import 'src/theme.scss'

.sidenav-container
  height: 100%

.sidenav
  width: 230px
  border-right: 1px solid #999
  background: #bcdffb

.topbar-container
  position: sticky
  top: 0
  z-index: 1
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25)

.tabs .topbar-container
  box-shadow: none

.fluid-topbar
  .topbar-container
    position: unset
    box-shadow: none

    .topbar.mat-toolbar.mat-primary
      position: unset

    .topbar.mat-toolbar
      background: none
      color: #666
      .logo
        display: none
      .mat-icon-button
        color: #666
  .content
    position: relative
    z-index: -1
    margin-top: -64px

.mat-toolbar
  background: #666
  justify-content: space-between
  padding: 0
  padding-left: calc(1rem - 2px)
  padding-right: 1rem
  font-weight: bold

  .bio
    color: mat-color($theme-accent)
  .simulations
    color: #fff

  .home
    padding: 0
    font-size: 1.25rem
    font-weight: 500

  .mat-icon-button
    color: #fff

.mat-toolbar.mat-primary
  position: static
  top: auto
  z-index: auto

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.mat-nav-list.mat-list-base
  padding-top: 0px
  margin: 0px
  height: calc(100% - 64px)
  overflow: auto

.mat-expansion-panel-content
  .mat-list-base
    .mat-list-item
      height: 36px

.hidden
  display: none

.topbar.mat-toolbar
  background-image: linear-gradient(to bottom, lighten(mat-color($theme-primary), 10%), darken(mat-color($theme-primary), 10%))

.menubutton
  flex: 0 0 auto
  height: 100%
  padding: 0
  padding-right: calc(1rem - 2px)

.logo
  height: calc(100% - 10px)

.icons
  margin-left: auto

.module-toolbar
    height: 28px
    padding-top: 0.25rem
    padding-bottom: 0.25rem
    padding-left: 1rem
    padding-right: 1rem
    background: #bcdffb
    color: mat-color($theme-primary)
    font-size: 16px
    line-height: 100%
    font-weight: 500

    .module-title
        float: left
        height: 100%
        display: flex
        align-items: center
        max-width: 30%
        overflow: hidden

        span:after
            content: "»"
            margin: 0 0.5rem
        span:last-child:after
            content: ""
            margin: 0

    .module-routes
        float: right
        height: 100%
        display: flex
        align-items: center
        max-width: 65%
        overflow: hidden

    a
        text-decoration: none
        color: mat-color($theme-primary)

    .module-routes a
        margin-left: 1rem

    .module-routes .mat-icon
        position: relative
        top: 5px
        margin-top: -11px

.full-content
  height: 100%
.content
  min-height: calc(100vh - 64px - 32px - 0.5rem)
  height: auto
  box-sizing: border-box
  overflow: auto
  background: #fff
