@import 'src/styles.scss'

.sidenav-container
  height: 100%

.sidenav
  width: 200px
  border-right: 1px solid #999
  background: #ccc

  .mat-toolbar
    background: #666
    justify-content: space-between
    padding: 0 10px
    font-weight: bold

    .bio
      color: mat-color($theme-accent)
    .simulations
      color: #fff

    .home
      padding: 0
      font-size: 1.25rem

    .mat-icon-button
      color: #fff

:host::ng-deep .mat-button.home:hover
  .mat-button-focus-overlay
    opacity: 0

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.mat-nav-list.mat-list-base
  padding-top: 0px
  margin: 0px

.mat-expansion-panel-content
  .mat-list-base
    .mat-list-item
      height: 36px

.hidden
  display: none

.topbar.mat-toolbar
  /* border-bottom: 1px solid mat-color($theme-primary, darker) */
  box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.25)
  background-image: linear-gradient(to bottom, lighten(mat-color($theme-primary), 10%), darken(mat-color($theme-primary), 10%))
.menubutton
  flex: 0 0 auto
  height: 100%
  padding-right: 5px

.logo
  height: calc(100% - 10px)
  padding-left: 0.75rem

.icons
  margin-left: auto


.full-content
  height: 100%
.content
  min-height: calc(100vh - 64px)
  height: auto
  box-sizing: border-box
  overflow: auto
  background: #fff
