/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'biosimulations-typography';

.container {
  min-height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-top: 5px;
}
