<mat-accordion multi="true">
  <div *ngFor="let header of NavItems | filter: isTopLevel">
    <mat-expansion-panel class="sidebar-menu-item">
      <mat-expansion-panel-header
        class="sidebar-menu-item-title"
        [collapsedHeight]="'48px'"
        [expandedHeight]="'48px'"
      >
        <div class="sidebar-menu-item-content">
          <mat-icon
            class="sidebar-menu-icon"
            *ngIf="header.icon_type == 'mat'; else faIcon">{{
            header.icon
          }}</mat-icon>
          <ng-template #faIcon>
            <fa-icon
              class="sidebar-menu-icon"
              [icon]="[header.icon_type, header.icon]"
              size="lg"
            ></fa-icon>
          </ng-template>
          <mat-panel-title class="sidebar-menu-item-label">{{
            header.label
          }}</mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <div
        *ngFor="let navItem of NavItems | filter: isChildOf:[header]"
      >
        <mat-list-item
          class="sidebar-menu-subitem"
          *ngIf="navItem.display == 'always' || (auth.loggedIn && navItem.display == 'loggedIn') || (!auth.loggedIn && navItem.display == '!loggedIn')"
          [class.disabled]="navItem.disabled === true"
          [routerLink]="navItem.link"
          (click)="getClick(navItem)"
          [disableRipple]="true">
          <mat-icon class="sidebar-menu-icon" *ngIf="navItem.icon_type == 'mat'; else faIcon">{{ navItem.icon }}</mat-icon>
          {{ navItem.label }}
          <ng-template #faIcon>
            <fa-icon class="sidebar-menu-icon" [icon]="[navItem.icon_type, navItem.icon]" size="lg"></fa-icon>
          </ng-template>
        </mat-list-item>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>
