<div class="container">
  <div class="row">
    <h3>All Files</h3>
  </div>
  <div class="row">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>
  </div>
  <div class="row">
    <div class="mat-elevation-z8" style="width: 100%">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="fileId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.fileId }}</td>
        </ng-container>

        <!-- Author Column -->
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
          <td mat-cell *matCellDef="let row">{{ row.createdBy }}</td>
        </ng-container>

        <!-- File Name Column -->
        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>File Name</th>
          <td mat-cell *matCellDef="let row">
            <a href="{{ serverUrl }}/file/view/{{ row.fileId }}">{{
              row.filename
            }}</a>
          </td>
        </ng-container>

        <!-- Access Type Column -->
        <ng-container matColumnDef="accessType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Access Type</th>
          <td mat-cell *matCellDef="let row">
            {{ row.accessType }}
            <span *ngIf="row.createdBy === currentUser.email" class="edit">
              <a [routerLink]="['edit',row.fileId]"><mat-icon>edit</mat-icon></a>
            </span>
            <span *ngIf="row.createdBy === currentUser.email" class="delete">
              <a (click)="onFileDelete(row.fileId)"><mat-icon>delete</mat-icon></a>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <div class="row">
    <hr />
  </div>
</div>
