@import 'biosimulations-colors';

.spinner-container {
  align-items: center;
}

.view-viz {
  margin-top: 5rem !important;
}

biosimulations-tab-page ::ng-deep .icon-list {
  &:not(.overview-container),
  & > li:not(:first-child) {
    margin-top: 0.125rem;
  }

  a {
    color: $dark-primary-text;
    &:hover {
      color: $dark-primary-text;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 959px) {
  .files {
    margin-top: -1rem;
  }
}

.spec-container,
.spinner-container {
  display: flex;
  justify-content: center;
}

.spec-container {
  align-items: flex-start;
  max-width: 100%;
}

.project-metadata-container {
  width: fit-content;
}

.simulation-run-view-parent-container {
  min-height: 1550px;
  height: fit-content !important;
  margin-left: 6rem;
  margin-right: 6rem;
  padding-bottom: 3rem;
}

.files {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
  width: fit-content;
}

.overview-container {
  margin-right: 5rem;
  padding-right: 3rem !important;
  max-width: 800px;
}

.files,
.spec-container,
.info-message {
  margin-top: 3rem;
}

.thumbnail-container {
  margin-top: 1rem;
}
