[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
requests = "*"
biosimulators-utils = "*"
werkzeug = "*"

[dev-packages]
openapi-core = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
