@import 'biosimulations-colors';

.instructions {
  padding-bottom: 1.5rem;

  ol {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

.form-field-group {
  .icon-label-input {
    .input.model-namespaces {
      grid-template-columns: 1fr 3fr auto;
    }
    .input.model-changes {
      grid-template-columns: 0.75fr 1fr 3fr 0.5fr 0.5fr auto;
    }
    .input.algorithm-parameters {
      grid-template-columns: auto auto auto auto auto auto minmax(200px, auto);
    }
    .input.model-variables {
      grid-template-columns: 0.75fr 1fr 0.35fr 3fr auto;
    }
    .input.simulators {
      grid-template-columns: auto auto 1fr;
    }

    .input-label {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.6);
    }

    .more-info {
      text-align: center;
    }

    .mat-icon-button {
      height: auto;
      width: auto;
      line-height: 100%;
      position: relative;
      top: -4px;
    }
  }
}

.submit {
  button {
    float: right;
    margin-left: 0.5rem;
  }
}

.message {
  margin-top: 1rem;

  &.success {
    color: mat-color($theme-primary);
    a {
      text-decoration: underline;
    }
  }
}
