<ag-grid-angular
  class="ag-theme-balham grid"
  [class.tool-panel-open]="isToolPanelOpen"
  [class.icon-grid]="view === View.icons"
  [icons]="icons"
  [frameworkComponents]="frameworkComponents"
  [defaultColDef]="defaultColDef"
  [columnDefs]="columnDefs"
  [sideBar]="sideBar"
  [statusBar]="statusBar"
  [rowData]="rowData"
  (gridReady)="onGridReady($event)"
  (firstDataRendered)="sizeColumnsToFit($event)"
  (columnVisible)="sizeColumnsToFit($event)"
  (rowDataChanged)="updateFilteredRowData($event)"
  (filterChanged)="updateFilteredRowData($event)"
  (gridSizeChanged)="sizeColumnsToFit($event)"
  (toolPanelVisibleChanged)="toggleToolPanel($event)"
  [suppressMovableColumns]="true"
  [suppressHorizontalScroll]="suppressHorizontalScroll"
  [suppressCellSelection]="true"
  [suppressContextMenu]="true"
  [suppressAutoSize]="true"
  [headerHeight]="40"
  [rowHeight]="35"
></ag-grid-angular>
<div
  class="view-toggle-container"
  [class.tool-panel-open]="isToolPanelOpen"
  >
  <span class="label">View:</span>
  <fa-icon
    aria-hidden="false"
    aria-label="Icons view icon"
    [icon]="['fas', 'th-large']"
    matTooltip="Icons view"
    [class.selected]="view === View.icons"
    (click)="toggleView()"
  ></fa-icon>
  <fa-icon
    aria-hidden="false"
    aria-label="Details view icon"
    [icon]="['fas', 'th-list']"
    matTooltip="Details view"
    [class.selected]="view === View.details"
    (click)="toggleView()"
  ></fa-icon>
</div>
<div
  *ngIf="view === View.icons"
  class="icons-container"
  [class.tool-panel-open]="isToolPanelOpen"
>
  <div class="row-icon" *ngFor="let row of filteredRowData">
    <div class="row-icon-inner" [routerLink]="row.getRoute()">
      <img
        class="image"
        *ngIf="row.image; else defaultImage"
        [src]="row.image['url']" />
      <ng-template #defaultImage>
        <div class="image default-image" *ngIf="row.getIcon() as icon">
          <mat-icon
            *ngIf="icon.type === 'mat'; else faFontImage"
            aria-hidden="false"
            aria-label="Icon"
          >{{
            icon.icon
          }}</mat-icon>
          <ng-template #faFontImage>
            <fa-icon
              aria-hidden="false"
              aria-label="Icon"
              [icon]="[icon.type, icon.icon]">
            </fa-icon>
          </ng-template>
        </div>
      </ng-template>
      <div class="details">
        <div class="details-inner">
          <div class="title">{{ row.id + ': ' + row.name }}</div>
          <app-authors
               class="authors"
               [authors]="row.authors"
               [owner]="row.owner">
           </app-authors>
          <div
            *ngIf="row.description"
            class="description"
          >{{
            row.description
          }}</div>
        </div>
      </div>
    </div>
  </div>
</div>