<ag-grid-angular
  class="ag-theme-balham grid"
  [class.tool-panel-open]="isToolPanelOpen"
  [class.icon-grid]="view === View.icons"
  [icons]="icons"
  [frameworkComponents]="frameworkComponents"
  [defaultColDef]="defaultColDef"
  [columnDefs]="columnDefs"
  [sideBar]="sideBar"
  [statusBar]="statusBar"
  [rowData]="rowData"
  (gridReady)="onGridReady($event)"
  (firstDataRendered)="sizeColumnsToFit($event)"
  (columnVisible)="sizeColumnsToFit($event)"
  (rowDataChanged)="updateFilteredRowData($event)"
  (filterChanged)="updateFilteredRowData($event)"
  (sortChanged)="updateFilteredRowData($event)"
  (gridSizeChanged)="sizeColumnsToFit($event)"
  (toolPanelVisibleChanged)="toggleToolPanel($event)"
  [suppressMovableColumns]="true"
  [suppressHorizontalScroll]="suppressHorizontalScroll"
  [suppressCellSelection]="true"
  [suppressContextMenu]="true"
  [suppressAutoSize]="true"
  [headerHeight]="40"
  [rowHeight]="35"
  [rowSelection]="selectable"
  rowDeselection="true"
  (rowSelected)="rowSelected($event)"
  [getRowNodeId]="getRowNodeId"
></ag-grid-angular>
<div
  class="view-toggle-container"
  [class.in-tab]="inTab"
  [class.tool-panel-open]="isToolPanelOpen"
  >
  <span class="label">View:</span>
  <fa-icon
    aria-hidden="false"
    aria-label="Icons view icon"
    [icon]="['fas', 'th-large']"
    matTooltip="Icons view"
    [class.selected]="view === View.icons"
    (click)="toggleView()"
  ></fa-icon>
  <fa-icon
    aria-hidden="false"
    aria-label="Details view icon"
    [icon]="['fas', 'th-list']"
    matTooltip="Details view"
    [class.selected]="view === View.details"
    (click)="toggleView()"
  ></fa-icon>
</div>
<div
  *ngIf="view === View.icons"
  class="icons-container"
  [class.in-tab]="inTab"
  [class.tool-panel-open]="isToolPanelOpen"
>
  <div
    *ngFor="let row of filteredRowData"
    (click)="toggleSelection(row)"
    class="row-icon"
    [class.selected]="row['_selected']"
    >
      <div class="row-icon-inner" [routerLink]="selectable ? null : row.getRoute()">
        <app-grid-card [data]="row"></app-grid-card>
      </div>
  </div>
</div>