<ag-grid-angular
  class="ag-theme-balham grid"
  [class.tool-panel-open]="isToolPanelOpen"
  [icons]="icons"
  [frameworkComponents]="frameworkComponents"
  [defaultColDef]="defaultColDef"
  [columnDefs]="columnDefs"
  [sideBar]="sideBar"
  [statusBar]="statusBar"
  [rowData]="rowData"
  (gridReady)="onGridReady($event)"
  (firstDataRendered)="sizeColumnsToFit($event)"
  (columnVisible)="sizeColumnsToFit($event)"
  (gridSizeChanged)="sizeColumnsToFit($event)"
  (toolPanelVisibleChanged)="toggleToolPanel($event)"
  [suppressMovableColumns]="true"
  [suppressHorizontalScroll]="suppressHorizontalScroll"
  [suppressCellSelection]="true"
  [suppressContextMenu]="true"
  [suppressAutoSize]="true"
  [headerHeight]="40"
  [rowHeight]="35"
></ag-grid-angular>