<div class="grid-card-container" *ngIf="data">
  <div class="image resource-image"
    *ngIf="data.image; else defaultImage"
    >
    <img
      [src]="data.image['url']"
      class="custom-image"
      />
  </div>
  <ng-template #defaultImage>
    <div
      *ngIf="data.getIcon() as icon"
      class="image default-image"
      >
      <img
        *ngIf="icon.type === 'mat'; else faFontImage"
        aria-hidden="false"
        aria-label="Icon"
        [src]="'assets/icons/' + icon.icon + '.svg'"
        class="mat-icon"/>
      <ng-template #faFontImage>
        <fa-icon
          aria-hidden="false"
          aria-label="Icon"
          [icon]="[icon.type, icon.icon]"
          class="full-width full-height">
        </fa-icon>
      </ng-template>
    </div>
  </ng-template>
  <div class="details">
    <div class="details-inner">
      <div class="title">{{ data.id + ': ' + data.name }}</div>
      <app-authors
           class="authors"
           [authors]="data.authors"
           [owner]="data.owner"
           [route]="false">
       </app-authors>
      <div
        *ngIf="data.description"
        class="description"
      >{{
        data.description
      }}</div>
    </div>
  </div>
</div>
