<biosimulations-navigation
  [appName]="config.appName"
  [appNameParts]="config.appNameParts"
  [logo]="config.logo"
  [privacyPolicyVersion]="config.privacyPolicyVersion"
  [newsVersion]="1"
  [showNews]="false"
  [healthy]="healthy$ | async">
  <!-- Start Hero Banner -->
  <biosimulations-topbar-menu>
    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item heading="runBioSimulations" icon="simulation" id="trigger">
      </biosimulations-topbar-menu-item>
      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Browse Simulation Runs"
          icon="browse"
          id="trigger"
          [routerLink]="['/runs']">
        </biosimulations-dropdown-menu-item>
        <biosimulations-dropdown-menu-item
          heading="Run a Simulation"
          icon="simulation"
          id="trigger"
          [routerLink]="['/runs', 'new']">
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu [disabled]="true">
      <biosimulations-topbar-menu-item
        heading="BioSimDB"
        icon="browse"
        id="trigger"
        [href]="config.platformAppUrl">
      </biosimulations-topbar-menu-item>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item heading="Utilities" icon="construction" id="trigger">
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Convert a file"
          [routerLink]="['/utils', 'convert-file']">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Create a project"
          [routerLink]="['/utils', 'create-project']">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a model"
          [routerLink]="['/utils', 'validate-model']">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a simulation"
          [routerLink]="['/utils', 'validate-simulation']">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate metadata"
          [routerLink]="['/utils', 'validate-metadata']">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a project"
          [routerLink]="['/utils', 'validate-project']">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a simulator"
          href="https://github.com/biosimulators/Biosimulators/issues/new?assignees=&labels=Validate%2Fsubmit+simulator&template=ValidateOrSubmitASimulator.yml&title=%5BSimulation+capabilities%5D%3A+"
          target="githubissues">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Suggest a simulator"
          [routerLink]="['/utils', 'suggest-simulator']">
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item
        heading="Conventions"
        icon="standard"
        href="https://docs.biosimulations.org/concepts/conventions/"
        target="biosimulations-docs">
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Simulator specs"
          href="https://docs.biosimulations.org/concepts/conventions/simulator-capabilities/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulator interfaces"
          href="https://docs.biosimulations.org/concepts/conventions/simulator-interfaces/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulator images"
          href="https://docs.biosimulations.org/concepts/conventions/simulator-images/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulation experiments"
          href="https://docs.biosimulations.org/concepts/conventions/simulation-experiments/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulation reports"
          href="https://docs.biosimulations.org/concepts/conventions/simulation-run-reports/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Data visualizations"
          href="https://docs.biosimulations.org/concepts/conventions/simulation-run-visualizations/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Metadata"
          href="https://docs.biosimulations.org/concepts/conventions/simulation-project-metadata/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulation logs"
          href="https://docs.biosimulations.org/concepts/conventions/simulation-run-logs/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item
        heading="Help"
        icon="help"
        id="trigger">
      </biosimulations-topbar-menu-item>
      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Tutorial"
          href="https://docs.biosimulations.org/users/simulating-projects/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="FAQ"
          href="https://docs.biosimulations.org/users/faqs/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="About"
          href="https://docs.biosimulations.org/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Terms of service"
          href="https://docs.biosimulations.org/about/terms/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Privacy policy"
          href="https://docs.biosimulations.org/about/privacy/"
          target="biosimulations-docs">
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Status"
          href="https://status.biosimulations.org/"
          target="status">
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu
      [disabled]="true"
      matToolTip="Brose simulator tools"
      style="position: fixed; right: 45px; top: 1; overflow-y: show; -webkit-overflow-scrolling: touch; padding-top: 2.3px">
      <biosimulations-topbar-menu-item
        heading="BioSimulators"
        id="trigger"
        icon="simulators"
        [href]="config.simulatorsAppBrowseSimulatorsUrl">
      </biosimulations-topbar-menu-item>
    </biosimulations-hover-open-menu>
  </biosimulations-topbar-menu>

  <ng-container id="news"></ng-container>

  <router-outlet></router-outlet>
</biosimulations-navigation>
