<mat-tab-group
  class="page-content full-width tab-page"
  *ngIf="model"
  disableRipple="true"
  >
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Overview icon" [icon]="['fas', 'list']"></fa-icon> Overview
    </ng-template>
    <ng-template matTabContent>
      <div class="tab overview" [class.overview-image]="model.image">
        <div class="image" *ngIf="model.image">
          <img [src]="model.image['url']" />
        </div>
        <div class="section">
          <h1>{{ model.name }}</h1>
          <div class="section-content">
            <div class="sub-section">
              <app-authors
                class="authors"
                [authors]="model.authors"
                [owner]="model.owner">
              </app-authors>
            </div>

            <div class="sub-section light">{{ model.description }}</div>

            <div class="sub-section tags">
              <ul class="icon-text inline no-wrap">
                <li>
                  <fa-icon
                    aria-hidden="true"
                    aria-label="Taxon icon"
                    [icon]="['fas', 'dna']"
                  ></fa-icon>
                  <app-hyperlink [href]="model.taxon.getUrl()"
                  >{{ model.taxon.getShortName() }}</app-hyperlink>
                </li>

                <li>
                  <fa-icon
                    aria-hidden="true"
                    aria-label="Tags icon"
                    [icon]="['fas', 'tags']"
                  ></fa-icon>{{
                  model.tags.join(', ') | ucfirst
                }}</li>
              </ul>

              <ul class="icon-text inline no-wrap">
                <li>
                  <fa-icon aria-hidden="true" aria-label="Model framework icon" [icon]="['fas', 'calculator']"></fa-icon>
                  <app-hyperlink [href]="model.framework.getUrl()">{{ model.framework.name | ucfirst }}</app-hyperlink>
                </li>

                <li>
                  <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
                  <app-hyperlink [href]="model.format.url">{{ model.format.name }}</app-hyperlink>
                </li>
              </ul>

              <ul class="icon-text inline no-wrap">
                <li *ngFor="let identifier of model.identifiers">
                  <fa-icon aria-hidden="true" aria-label="Identifier icon" [icon]="['fas', 'star']"></fa-icon>
                  <app-hyperlink [href]="identifier.getUrl()"
                  >{{ identifier.getNamespaceName() + ': ' + identifier.id }}</app-hyperlink>
                </li>

                <li>
                  <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
                  <app-hyperlink [href]="getLicenseInfo(model.license)['url']"
                  >{{ getLicenseInfo(model.license)['name'] }}</app-hyperlink>
                </li>
              </ul>
            </div>

            <div class="sub-section" *ngIf="model.refs.length > 0">
              <ul class="icon-text">
                <li *ngFor="let ref of model.refs">
                  <fa-icon aria-hidden="true" aria-label="File icon" [icon]="['far', 'file-alt']">
                  </fa-icon>
                  <app-hyperlink [href]="ref.getUrl()"
                  >{{ ref.getAuthorsStr() }}{{ '. ' }}{{ ref.title }}{{ '. ' }}<i>{{ ref.journal }}</i>{{ ' ' }}<b>{{ ref.volume }}</b>{{ ', ' + ref.pages + ' (' + ref.year + ').' }}</app-hyperlink>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Projects icon" [icon]="['fas', 'folder-open']"></fa-icon> Projects ({{ model.projects.length }})
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <div class="section-title float-container">
            <h1>Projects</h1>
            <a
              class="routes"
              [routerLink]="['/projects', 'new']"
              >
              <fa-icon
                aria-hidden="true"
                aria-label="New project icon"
                [icon]="['fas', 'plus']"
              ></fa-icon>
                New
            </a>
          </div>
          <div class="section-content">
            <app-project-cards
              [projects]="model.projects"
              [cols]="4"
            ></app-project-cards>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon aria-hidden="true" aria-label="Simulations icon">timeline</mat-icon> Simulations ({{ model.simulations.length }})
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <div class="section-title float-container">
            <h1>Simulations</h1>
            <a
              class="routes"
              [routerLink]="['/simulations', 'new', model.id]"
              >
              <fa-icon
                aria-hidden="true"
                aria-label="New simulation icon"
                [icon]="['fas', 'plus']"
              ></fa-icon>
                New
            </a>
          </div>
          <div class="section-content">
            <app-simulation-cards
              [simulations]="model.simulations"
              [cols]="4"
            ></app-simulation-cards>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <div class="tab-button" (click)="download()">
        <fa-icon aria-hidden="true" aria-label="Download icon" [icon]="['fas', 'download']"></fa-icon> Download
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="History icon" [icon]="['fas', 'history']"></fa-icon> History
    </ng-template>
    <ng-template matTabContent>
      <div class="tab history">
        <div class="section">
          <table cellpadding="0" cellspacing="0" class="icon-key-vals section-content">
            <tbody>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                </th>
                <th>Created</th>
                <td>{{ model.created | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                </th>
                <th>Updated</th>
                <td>{{ model.updated | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'unlock-alt']"></fa-icon> Access
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <table cellpadding="0" cellspacing="0" class="icon-key-vals section-content">
            <tbody>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'unlock-alt']"></fa-icon>
                </th>
                <th>Access</th>
                <td>{{ model.access | ucfirst }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Token icon" [icon]="['fas', 'key']"></fa-icon>
                </th>
                <th>Access token</th>
                <td>{{ model.accessToken }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
                </th>
                <th>License</th>
                <td>
                  <app-hyperlink [href]="getLicenseInfo(model.license)['url']"
                  >{{ getLicenseInfo(model.license)['name'] }}</app-hyperlink>
                </td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'user']"></fa-icon>
                </th>
                <th>Owner</th>
                <td>
                  <a [routerLink]="['/user', model.owner.id]"
                  >{{ model.owner.getFullName() }}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
