<div class="full-width-container">
  <h1>Simulations</h1>
  <div class="content-container">
    <ag-grid-angular
      class="ag-theme-balham ag-grid-faceted-toolbar"
      [frameworkComponents]="frameworkComponents"
      [defaultColDef]="defaultColDef"
      [columnDefs]="columnDefs"
      [sideBar]="sideBar"
      [statusBar]="statusBar"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
      (onFirstDataRendered)="onFirstDataRendered($event)"
      [suppressHorizontalScroll]="false"
      [suppressCellSelection]="true"
      [suppressContextMenu]="true"
    >
    </ag-grid-angular>
  </div>
</div>
