<biosimulations-navigation
  [appName]="config.appName"
  [appNameParts]="config.appNameParts"
  [logo]="config.logo"
  [privacyPolicyVersion]="config.privacyPolicyVersion"
  [newsVersion]="1"
  [showNews]="false"
>
  <biosimulations-topbar-menu>
    <biosimulations-topbar-menu-item heading="Projects" icon="project" disabled>
    </biosimulations-topbar-menu-item>

    <biosimulations-topbar-menu-item
      heading="Models"
      icon="model"
      [route]="['/models']"
    >
    </biosimulations-topbar-menu-item>

    <biosimulations-topbar-menu-item
      heading="Simulations"
      icon="simulation"
      disabled
    >
    </biosimulations-topbar-menu-item>

    <biosimulations-topbar-menu-item heading="Charts" icon="chart" disabled>
    </biosimulations-topbar-menu-item>

    <biosimulations-topbar-menu-item
      heading="Visualizations"
      icon="visualization"
      disabled
    >
    </biosimulations-topbar-menu-item>

    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item heading="Help" icon="help" id="trigger">
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Tutorial"
          icon="tutorial"
          [routerLink]="['/help']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="FAQ"
          icon="help"
          [routerLink]="['/help', 'faq']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="About"
          icon="info"
          [routerLink]="['/help', 'about']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Terms of service"
          icon="legal"
          [routerLink]="['/help', 'terms']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Privacy policy"
          icon="policy"
          [routerLink]="['/help', 'privacy']"
        >
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-topbar-menu-item
      heading="Login"
      icon="login"
      *ngIf="(isAuthenticated() | async) !== true"
      (click)="login()"
    >
    </biosimulations-topbar-menu-item>

    <biosimulations-hover-open-menu
      *ngIf="(isAuthenticated() | async) === true"
    >
      <biosimulations-topbar-menu-item
        heading="Account"
        icon="user"
        id="trigger"
      >
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Projects"
          icon="project"
          disabled
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Models"
          icon="model"
          disabled
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulations"
          icon="simulation"
          disabled
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Charts"
          icon="chart"
          disabled
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Visualizations"
          icon="visualization"
          disabled
        >
        </biosimulations-dropdown-menu-item>

        <mat-divider></mat-divider>

        <biosimulations-dropdown-menu-item
          heading="Profile"
          icon="user"
          disabled
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Logout"
          icon="logout"
          (click)="logout()"
        >
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>
  </biosimulations-topbar-menu>

  <ng-container id="sidenav-menu">
    <biosimulations-navigation-item heading="Projects" icon="project" disabled>
      <biosimulations-navigation-subitem heading="Home" icon="home" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Browse"
        icon="browse"
        disabled
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem heading="Submit" icon="new" disabled>
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item heading="Models" icon="model">
      <biosimulations-navigation-subitem
        heading="Home"
        icon="home"
        [route]="['/models']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Browse"
        icon="browse"
        [route]="['/models', 'browse']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem heading="Submit" icon="new" disabled>
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item
      heading="Simulations"
      icon="simulation"
      disabled
    >
      <biosimulations-navigation-subitem heading="Home" icon="home" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Browse"
        icon="browse"
        disabled
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem heading="Submit" icon="new" disabled>
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item heading="Charts" icon="chart" disabled>
      <biosimulations-navigation-subitem heading="Home" icon="home" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Browse"
        icon="browse"
        disabled
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem heading="Submit" icon="new" disabled>
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item
      heading="Visualizations"
      icon="visualization"
      [aboveDivider]="true"
      disabled
    >
      <biosimulations-navigation-subitem heading="Home" icon="home" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Browse"
        icon="browse"
        disabled
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem heading="Submit" icon="new" disabled>
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item
      heading="Help"
      icon="help"
      [aboveDivider]="true"
    >
      <biosimulations-navigation-subitem
        heading="Tutorial"
        icon="tutorial"
        [route]="['/help']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="FAQ"
        icon="help"
        [route]="['/help', 'faq']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="About"
        icon="info"
        [route]="['/help', 'about']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Terms of service"
        icon="legal"
        [route]="['/help', 'terms']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Privacy policy"
        icon="policy"
        [route]="['/help', 'privacy']"
      >
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item
      heading="Login"
      icon="login"
      *ngIf="(isAuthenticated() | async) !== true"
      (click)="login()"
    >
    </biosimulations-navigation-item>

    <biosimulations-navigation-item
      heading="Account"
      icon="user"
      *ngIf="isAuthenticated() | async"
    >
      <biosimulations-navigation-subitem
        heading="Projects"
        icon="project"
        disabled
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem heading="Models" icon="model" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Simulation"
        icon="simulation"
        disabled
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem heading="Charts" icon="chart" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Visualization"
        icon="visualization"
        disabled
      >
      </biosimulations-navigation-subitem>
      <mat-divider></mat-divider>
      <biosimulations-navigation-subitem heading="Profile" icon="user" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Logout"
        icon="logout"
        (click)="logout()"
      >
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>
  </ng-container>

  <ng-container id="news"> </ng-container>

  <router-outlet></router-outlet>
</biosimulations-navigation>
