<form class="form-container">
  <mat-form-field class="filter-chip-list">
    <mat-label>Project Filters</mat-label>
    <mat-chip-grid #chipGrid aria-label="Filters">
      <mat-chip-row
        class="chip-row-container"
        *ngFor="let filterQuery of filterQueries$ | async"
        (removed)="remove(filterQuery)"
        style="background-color: green">
        <div class="chip-content">
          {{ filterQuery.target + ': ' + filterQuery.allowable_values.join(' or ') }}
          <button matChipRemove [attr.aria-label]="'remove ' + filterQuery">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </mat-chip-row>
    </mat-chip-grid>
    <div class="separator"></div>
    <input
      #filterInput
      placeholder="New Filter..."
      [formControl]="filterCtrl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <!-- <mat-optgroup *ngFor="let filteredQueryStatItem of filteredQueryStats$ | async" [label]="filteredQueryStatItem.target"> -->
      <mat-option
        style="height: 10px"
        appearance="hello"
        *ngFor="let filterChoiceOption of filteredChoiceOptions$ | async"
        [value]="filterChoiceOption">
        {{ filterChoiceOption.target + ': ' + filterChoiceOption.value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

