{
  "branches": [
    "dev"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i 's/${lastRelease.version}/${nextRelease.version}/g' libs/shared/environments/src/lib/version.ts"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md",
        "changelogTitle": "# Changelog"
      }
    ],
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "package-lock.json",
          "docs/CHANGELOG.md",
          "libs/shared/environments/src/lib/version.ts"
        ]
      }
    ],
    "@semantic-release/github"
  ]
}