[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {version = "<2"}
connexion = {extras = ["swagger-ui"],version = ">=2.7.0"}
requests = "*"
biosimulators-utils = {version = ">=0.1.103", extras = ["bngl", "cellml", "lems", "logging", "neuroml", "sbml", "smoldyn"]}
python-dateutil = "*"
gunicorn = "*"
flask-cors = "*"
python-dotenv = "*"
boto3 = "*"
kisao = ">=2.23"
stringcase = "*"
natsort = "*"
rdflib = "*"
numpy = "*"
requests-cache = "<0.8" # to resolve conflict in required version of itsdangerous dependency with flask

[dev-packages]
openapi-core = "*"
pyyaml = "*"
pytest = "*"
pytest-cov = "*"
openapi-spec-validator = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
