[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {version = "<2"}
connexion = {extras = ["swagger-ui"],version = ">=2.7.0"}
requests = "*"
biosimulators-utils = {version = ">=0.1.125", extras = ["bngl", "cellml", "lems", "logging", "neuroml", "sbml", "smoldyn"]}
python-dateutil = "*"
gunicorn = "*"
flask-cors = "*"
python-dotenv = "*"
boto3 = "*"
kisao = ">=2.29"
stringcase = "*"
natsort = "*"
rdflib = "*"
numpy = "*"
requests-cache = "<0.7" # to resolve conflict in required version of itsdangerous dependency with flask
# AMICI
biosimulators-amici = ">=0.1.19"
# BioNetGen
biosimulators-bionetgen = ">=0.1.16"
# BoolNet
biosimulators-boolnet = ">=0.1.17"
# CBMPy
sympy = "<1.9" # avoid versions without microversion numbers because CBMPy can't handle versions with only major and minor numbers
biosimulators-cbmpy = ">=0.1.13"
# COBRApy
biosimulators-cobrapy = ">=0.1.18"
# COPASI
biosimulators-copasi = ">=0.1.31"
# GillesPy2
biosimulators-gillespy2 = ">=0.1.33"
# GINsim
biosimulators-ginsim = ">=0.0.8"
# LibSBMLSim
biosimulators-libsbmlsim = ">=0.0.4"
# MASSpy
biosimulators-masspy = ">=0.0.4"
# PySCeS
cython = "<3" # to avoid prelease
# assimulo = {version = ">=3.2.5", ref = "Assimulo-3.2.5", git = "https://github.com/modelon-community/Assimulo.git"}
biosimulators-pysces = ">=0.1.23"
# pyNeuroML
biosimulators-pyneuroml = {version = ">=0.0.10", extras = ["netpyne", "neuron"]}
# RBApy
"rbapy" = {version = ">=1.0.2", git = "https://github.com/biosimulators/RBApy.git"}
biosimulators-rbapy = ">=0.0.3"
# Smoldyn
smoldyn = ">=2.67.dev202109232145"
# tellurium
biosimulators-tellurium = ">=0.1.21"
# XPP
biosimulators-xpp = ">=0.0.8"

[dev-packages]
openapi-core = "*"
pyyaml = "*"
pytest = "*"
pytest-cov = "*"
openapi-spec-validator = "*"
parameterized = "*"
requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true # to allow Smoldyn prerelease
