MONGODB_URI=mongodb+srv:/USERNAME:PASSWORD@datanator.9dv6u.mongodb.net/runBiosimulations-dev?retryWrites=true&w=majority


#Auth information, mostly static
AUTH0_DOMAIN=https://auth.biosimulations.org/
AUTH0_ISSUER=https://auth.biosimulations.org/
MANAGEMENT_DOMAIN=crbm.auth0.com
MANAGEMENT_ID=##################################
MANAGEMENT_SECRET=##############################

#API_AUDIENCE=api.biosimulations.org
API_AUDIENCE=dispatch.biosimulations.org
#API_AUDIENCE=api.biosimulators.org

CLIENT_ID=###################################
CLIENT_SECRET=####################################

APP=platform-api
ENV=local
LIMIT=1gb
NATS_HOST="nats://localhost:4222"
HPC_BASE_DIR=/home/FCAM/crbmapi/nfs/biosimulations/dev/simulations
HPC_HOME_DIR=/home/FCAM/crbmapi
FILE_STORAGE=/home/FCAM/crbmapi/nfs/biosimulations/dev/
HPC_SSH_PRIVATE_KEY=##########################################
HPC_SSH_HOST=biosim-submit-ext.cam.uchc.edu
HPC_SSH_PORT=22
HPC_SSH_USERNAME=crbmapi
DISPATCH_URL=http://localhost:3333/


# EMAIL SENDGRID INFORMATION
SENDGRID_TOKEN=#####################################################
SUCCESS_TEMPLATE=d-3624caeca95d4f4d90c2643f4f9e3f7a
FAILURE_TEMPLATE=d-d1bd92cf61754d02aa89de981c304872


#UCONN storage bucket
STORAGE_ENDPOINT=https://s3low.scality.uchc.edu
STORAGE_ACCESS_KEY=#######################
STORAGE_SECRET=#############################
STORAGE_BUCKET_DEV=biosimdev
STORAGE_BUCKET_PROD=biosimprod
STORAGE_BUCKET=biosimdev
STORAGE_PUBLIC_ENDPOINT=http://biosimdevbucket.cam.uchc.edu/s3/


#REDIS (for QUEUE)
REDIS_HOST=localhost
REDIS_PORT=6379