<ng-container *ngIf="this.placeholder as placeholder">
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label> {{ placeholder }}</mat-label>
      <ngx-mat-file-input [disabled]="disabled" #removableInput formControlName="file" [accept]="this.accept">
      </ngx-mat-file-input>
      <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
  </form>
</ng-container>
