$font-family: Raleway, Arial, Helvetica, sans-serif;

@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss';
@import 'src/theme.scss';

$primary: mat-palette($theme-primary);
$accent: mat-palette($theme-accent);
$warn: mat-palette($theme-warn);

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
}


h1, .h1 {
    @include mat-typography-level-to-styles($fontConfig, headline);
    line-height: 1.6rem;
    margin-top: 0;
    color: mat-color($theme-primary);
    border-bottom: 1px solid mat-color($theme-primary);


    a {
        color: mat-color($theme-primary);
        text-decoration: none;
    }
}


h2, .h2 {
    @include mat-typography-level-to-styles($fontConfig, title);
    color: mat-color($theme-primary);

}

body,
.body {
    @include mat-typography-level-to-styles($fontConfig, body-1);
}

p:last-child {
    margin-block-end: 0;
}

a {
    color: unset;
    text-decoration: unset;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
}
sup {
    top: -0.4em;
}
sub {
    top: 0.4em;
}

input, textarea.mat-input-element, mat-select {
    @include mat-typography-level-to-styles($fontConfig, body-1);
}
input, textarea.mat-input-element, mat-select, button {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    letter-spacing: normal;
}

.ng-fa-icon.full-width .svg-inline--fa {
    width: 100%
}
.ng-fa-icon.full-height .svg-inline--fa {
    height: 100%
}

/* Disabling */
.disabled {
    cursor: default;
    pointer-events: none;
}

.mat-input-element:disabled {
    color: #666;
}

/* Animation */
@keyframes flashAlert {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* navigation */
.sidenav {
    .mat-expansion-panel-body {
        padding: 0 12px 12px;
    }

    .mat-nav-list .mat-list-item:focus:not(:hover) {
        background: unset;
    }

    .sidebar-menu-item-title:hover {
        .mat-expansion-indicator::after {
            color: #fff;
        }
    }
}

/* Page content */
.page-content.partial-width {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    overflow: auto;
}

/* Home page, models, simulate, visualize pages */
.page-content.full-width {
    height: calc(100vh - 64px - 28px - 0.5rem);
    box-sizing: border-box;

    ag-grid-angular {
        width: 100%;
        height: 100%;
    }
}

.page-content.padded {
    padding: 2rem;
}

/* AG Grid */
.ag-theme-balham {
    .ag-header {
        background: #e4f2fe;
    }

    .ag-header-group-cell {
        background: mat-color($theme-primary, lighter);
    }

    .ag-header-row:last-child {
        background: #e4f2fe;
    }

    .ag-header-group-cell.ag-header-group-cell-no-group {
        background: #f6f6f6;
    }

    .ag-side-bar {
        margin-top: calc(1.5rem + 2px + 2rem);
        background: #fefbf7;

        .ag-side-buttons {
            background: #fff3e0;

            .ag-selected button {
                background: mat-color($theme-accent, lighter);
            }
        }
    }

    .ag-header-group-cell, .ag-cell {
        padding-left: 4px;
        padding-right: 4px;
    }

    .ag-cell {
        ng-component {
            width: 100%;
        }
    }

    .ag-tool-panel-wrapper {
        .ag-filter-panel {
            width: 100%;
            color: #000;
            font-weight: normal;

            .ag-group-component {
                background: none;

                .ag-group-component-title-bar {
                    background: none;
                }
            }

            .ag-group-component-container {
                .ag-group-item {
                    margin: 0;

                    .ag-filter-toolpanel-body .ag-filter-air {
                        border: none;
                    }

                    .ag-filter-toolpanel-body:not(:empty) {
                        margin: 0;
                    }
                }
            }
        }
    }

    .ag-filter-toolpanel-body {
        background: none;
    }
    .ag-filter-filter {
        width: 100%;
    }
}

/* Search grid */
.grid {
    .ag-root-wrapper-body {
        direction: rtl;
    }

    .ag-root, .ag-tool-panel-wrapper {
        direction: ltr;
    }

    .ag-header {
        background: mat-color($theme-primary, lighter);
    }

    .ag-side-bar {
        margin-right: 2rem;
        margin-bottom: calc(-2rem - 22px - 2px);

        .ag-side-buttons .ag-side-button button {
            width: 100%;
        }
    }

    .ag-ltr .ag-side-bar.ag-side-bar-right {
        border-left: 1px solid #BDC3C7;
    }
    .ag-ltr .ag-side-bar.ag-side-bar-right .ag-tool-panel-wrapper {
        border-right: none;
        border-left: 1px solid #BDC3C7;
    }

    .ag-tool-panel-wrapper {
        border-left: 1px solid #BDC3C7;
        border-right-color: #BDC3C700;
        width: 150px;
        .ag-column-select-panel {
            border-bottom: none;
        }
    }

    .ag-column-select-panel {
        .ag-primary-cols-list-panel {
            border-top: none;
        }
        .ag-column-drag {
            display: none;
        }
    }

    .ag-status-bar {
        border-color: #BDC3C700;
        background: #fefbf7;
        border: 1px solid #BDC3C7;
        padding-left: 0.25rem;
        margin-top: 2rem;
        margin-left: calc(20px + 2px + 2rem);
    }

    .ag-name-value {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .tool-panel-grid-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        color: #7F8C8D;
    }

    .ag-header-cell, .ag-cell {
        display: flex;
        align-items: center;
    }

    .ag-header-cell::after {
        height: calc(100% - 16px);
        margin-bottom: 8px;
    }
}

.grid.tool-panel-open .ag-status-bar {
    margin-left: calc(20px + 150px + 2px + 2rem);
}

/* Icon grid */
.icon-grid .ag-root {
    visibility: hidden;
}

/* Tabs */
.page-content.mat-tab-group {
    .mat-tab-header {
        background: #ddeffd;
        border-bottom: none;
        padding-top: 8px;
        padding-left: 1rem;
        overflow: visible;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    }

    .mat-tab-label-container {
        overflow: visible;
    }

    .mat-tab-label {
        height: 28px;
        padding: 0 1rem;
        min-width: unset;
    }

    .mat-tab-label:hover {
        color: #000;
        opacity: 1;
    }

    .mat-tab-label-active {
        border-top: 2px solid mat-color($theme-primary);
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background: #fff;
        opacity: 1;
        color: mat-color($theme-primary);
    }

    .mat-tab-label .mat-icon,
    .mat-tab-label .ng-fa-icon {
        margin-right: 0.25rem;
    }

    .mat-ink-bar {
        top: 28px;
        background-color: #fff;
        height: 6px;
    }

    .mat-tab-body-wrapper {
        height: 100%;
    }

    .tab-button {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.87);
    }

    .tab {
        padding: 2rem;

        .section {
            margin-bottom: 1.5rem;
        }
        .section:last-child {
            margin-bottom: 0;
        }

        .sub-section {
            margin-bottom: 0.5rem;
        }
        .sub-section:last-child {
            margin-bottom: 0;
        }

        h1 {
            border-bottom: none;
            @include mat-typography-level-to-styles($fontConfig, body-2);
            font-weight: bold;
            line-height: 100%;
            color: mat-color($theme-primary);
            margin-bottom: 0.25rem;
        }
    }
    .tab.full-height {
        height: calc(100% - 2 * 2rem);
        min-height: calc(100% - 2 * 2rem);
        overflow: hidden;
    }
}

/* Properties tables */
table.icon-key-vals {
    max-width: 100%;

    tr {
        th {
            font-weight: bold;
            white-space: nowrap;
        }

        th:first-child {
            text-align: center;
            padding-right: 0.25rem;
        }

        th:nth-child(2) {
            text-align: left;
        }

        th:nth-child(2):after {
            content: ':';
            padding-right: 0.5rem;
        }

        th, td {
            vertical-align: top;
        }
    }
}

table.col-headings {
    max-width: 100%;

    th, td {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-right: 2px solid #fff;
        padding-top: 0.1rem;
        vertical-align: top;
    }

    th:last-child, td:last-child {
        border-right: none;
    }

    thead th {
        background: #ddd;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    tbody tr:hover {
        background: #f6f6f6;
    }
}

/* Inline list */
ul.inline {
    li {
        display: inline;
        margin-right: 0.5rem;
    }

    li:last-child {
        margin-right: 0;
    }
}

ul.no-wrap li {
    white-space: nowrap;
}

/* Icon list: list which uses Font Awesome icons instead of bullets */
ul.icon-text {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .mat-icon, .ng-fa-icon {
        width: auto;
        margin-right: 0.25rem;
    }

    .mat-icon {
        font-size: 20px;
        height: auto;
        line-height: 0;
        position: relative;
        top: 5px;
    }
}

/* Forms */
.form-field {
    margin-top: 2.0rem;
}
.form-field:first-child {
    margin-top: 0;
}

.form-field-title {
    @include mat-typography-level-to-styles($fontConfig, subheading-2);
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0.25rem;

    .form-field-title-text {
        display: inline-block;
        float: left;
    }

    .form-field-title-buttons {
        display: inline-block;
        float: right;
        @include mat-typography-level-to-styles($fontConfig, body-1);
        font-weight: normal;
        color: #666;

        a {
            cursor: pointer;
        }
    }
}

.form-field-subtitle, .form-field-input {
    margin-top: 0.25rem;
}

.form-field:focus-within {
    .form-field-title, .form-field-subtitle {
        color: mat-color($theme-primary);
    }
}

.form-array-el {
    margin-top: 0.5rem;
}
.form-array-el:first-child {
    margin-top: 0;
}

.form-group {
    display: grid;
    grid-gap: 0.5rem 0.25rem;
}

.form-field-label {
     display: flex;
     align-items: center;
}
.form-field-label:after {
    content: ":";
}

.form-group-buttons {
    display: flex;
    align-items: center;
    color: #666;

    .ng-fa-icon {
        cursor: pointer;
        margin-left: 0.25rem;
    }
    .ng-fa-icon:first-child {
        margin-left: 0rem;
    }
}

.form-input {
    background: #f6f6f6;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding: calc(0.25rem + 1px);
    width: calc(100% - 0.5rem - 4px);
    margin: 0;
    letter-spacing: normal;
}

.form-input:focus, .form-input:focus-within {
    outline: none;
    background: #e2f1fd;
    border-bottom: 1px solid mat-color($theme-primary);
}

.form-input-disabled {
    background-image: linear-gradient(45deg,
        #f6f6f6 44.4444%,
        #e6e6e6 44.4444%,
        #e6e6e6 50%,
        #f6f6f6 50%,
        #f6f6f6 94.4444%,
        #e6e6e6 94.4444%,
        #e6e6e6 100%);
    background-size: 9.00px 9.00px;
}

.form-select-input-panel {
    .mat-optgroup .mat-optgroup-label {
        height: calc(2rem - 1px);
        line-height: normal;
        display: flex;
        align-items: center;
        padding-top: 1rem;
        color: mat-color($theme-primary);
    }
    .mat-optgroup:first-child .mat-optgroup-label {
        padding-top: 0.5rem;
    }
    .mat-option {
        padding-left: 0.25rem;
        line-height: normal;
        height: calc(2rem - 1px);
    }
    .mat-option-text {
        line-height: normal;
    }
    .mat-option.mat-selected:not(.mat-option-multiple) {
        background: #f6f6f6;
    }
}

.form-select-input-panel.mat-select-panel .mat-option {
    padding-left: 0.25rem;
    line-height: normal;
    height: calc(2rem - 1px);
}

.form-chip-input.cdk-drop-list-dragging {
    border: none;
    padding: 0;
    margin: 0 !important;
}

.form-chip-input {
    .mat-chip-list-wrapper {
        margin: 0;
        padding-left: calc(0.25rem + 1px);
        padding-top: 1px;
        padding-bottom: 1px;
        background: #f6f6f6;
        border-bottom: 1px solid #d9d9d9;
    }

    .mat-chip-input {
        background: none;
        border: none;
        padding: 0;
    }

    .mat-chip-input:focus {
        outline: none;
    }

    .mat-chip-list-wrapper:focus-within {
        background: #e2f1fd;
        border-bottom: 1px solid mat-color($theme-primary);

        .form-chip {
            background: #8fcaf9;
        }
    }

    .form-chip:focus::after,
    .form-chip:hover::after {
        opacity: 0;
    }
}

.form-chip.mat-standard-chip {
    @include mat-typography-level-to-styles($fontConfig, body-1);
    font-weight: normal;
    line-height: normal;
    min-height: auto;
    height: auto;
    background: #d9d9d9;
    border-radius: 4px;
    white-space: nowrap;
    cursor: move;
    cursor: grab;
}

.form-chip.mat-standard-chip.mat-chip-with-trailing-icon {
    margin: 0 0.25rem 0 0;
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 2px;
}

.form-chip.mat-standard-chip .form-chip-icon.mat-chip-remove.mat-icon {
    font-size: inherit;
    height: auto;
    width: auto;
    margin-left: 2px;
}

.form-file-input {
    height: 0;
    width: 0;
    overflow: hidden;
    display: block;
}

.form-file-input-label {
    background: #d9d9d9;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}
.form-file-input-label:focus{
    outline: none;
}
.form-input:focus-within .form-file-input-label {
    background: #8fcaf9;
}

.form-file-input-name {
    margin-left: 0.25rem;
}

.form-submit-button {
    background: mat-color($theme-primary);
    color: #fff;
    font-weight: bold;
}

/* Snack bar */
.mat-snack-bar-container {
    background: mat-color($theme-accent);
    color: #333;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

.centered-snack-bar .mat-simple-snackbar {
    justify-content: center;
}

.mat-simple-snackbar-action {
    color: #fff;

    .mat-button-ripple, .mat-button-focus-overlay {
        display: none;
    }
}

/* Vega */
app-vega-viewer.block {
    height: 100%;
    .vega-embed {
        display: block;
        line-height: 0;
        height: 100%;
    }
}

app-vega-viewer.no-actions .vega-embed.has-actions {
    padding-right: 0;
}
app-vega-viewer.no-actions .vega-embed.has-actions > details {
    display: none;
}

/* Style text */
.light {
    color: #666;
}

/* Highlighting */
.hover-light-background:hover {
    background: #f6f6f6;
}

/* Dragging to order list */
.draggable {
    cursor: move;
    cursor: grab;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .draggable:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
    border: solid 1px #ccc;
    padding: 0.25rem;
    margin:
        -1px
        calc(-0.25rem - 1px)
        calc(-0.25rem - 1px)
        calc(-0.25rem - 1px)
        !important;
    overflow: hidden;
}

/* Clear float */
.float-container:after {
    content: " ";
    display: table;
    clear: both;
}
