/* You can add global styles to this file, and also import other style files */
@import '~ag-grid-community/dist/styles/ag-grid.css'
@import '~@angular/material/theming'
@include  mat-core()
$primary: mat-palette($mat-indigo)
$accent: mat-palette($mat-pink)
$warn: mat-palette($mat-yellow)
$error: mat-palette($mat-red)
$primary-color: mat-color($primary)
$accent-color: mat-color($accent)
@import '~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material'
html
    height: 100%
body
    margin: 0
    height: 100%
