$font-family: Raleway, Arial, Helvetica, sans-serif;

@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss';
@import 'src/theme.scss';

$primary: mat-palette($theme-primary);
$accent: mat-palette($theme-accent);
$warn: mat-palette($theme-warn);

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
}


h1, .h1 {
    @include mat-typography-level-to-styles($fontConfig, headline);
    line-height: 1.6rem;
    margin-top: 0;
    color: mat-color($theme-primary);
    border-bottom: 1px solid mat-color($theme-primary);


    a {
        color: mat-color($theme-primary);
        text-decoration: none;
    }
}


h2, .h2 {
    @include mat-typography-level-to-styles($fontConfig, title);
    color: mat-color($theme-primary);

}

body,
.body {
    @include mat-typography-level-to-styles($fontConfig, body-1);
}

p:last-child {
    margin-block-end: 0;
}

a {
    color: unset;
    text-decoration: unset;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
}
sup {
    top: -0.4em;
}
sub {
    top: 0.4em;
}

input, mat-select, button {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    letter-spacing: normal;
}

/* Animation */
@keyframes flashAlert {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* navigation */
.sidenav {
    .mat-expansion-panel-body {
        padding: 0 12px 12px;
    }

    .mat-nav-list .mat-list-item:focus:not(:hover) {
        background: unset;
    }

    .sidebar-menu-item-title:hover {
        .mat-expansion-indicator::after {
            color: #fff;
        }
    }
}

/* Page content */
.page-content.partial-width {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    overflow: auto;
}

/* Home page, models, simulate, visualize pages */
.page-content.full-width {
    height: calc(100vh - 64px - 28px - 0.5rem);
    box-sizing: border-box;

    ag-grid-angular {
        width: 100%;
        height: 100%;
    }
}

.page-content.padded {
    padding: 2rem;
}

/* AG Grid */
.ag-theme-balham {
    .ag-header {
        background: #e4f2fe;
    }

    .ag-header-group-cell {
        background: mat-color($theme-primary, lighter);
    }

    .ag-header-row:last-child {
        background: #e4f2fe;
    }

    .ag-header-group-cell.ag-header-group-cell-no-group {
        background: #f9f9f9;
    }

    .ag-side-bar {
        background: #fefbf7;

        .ag-side-buttons {
            background: #fff3e0;

            .ag-selected button {
                background: mat-color($theme-accent, lighter);
            }
        }
    }

    .ag-header-group-cell, .ag-cell {
        padding-left: 4px;
        padding-right: 4px;
    }

    .ag-tool-panel-wrapper {
        .ag-filter-panel {
            width: 100%;
            color: #000;
            font-weight: normal;

            .ag-group-component {
                background: none;

                .ag-group-component-title-bar {
                    background: none;
                }
            }

            .ag-group-component-container {
                .ag-group-item {
                    margin: 0;

                    .ag-filter-toolpanel-body .ag-filter-air {
                        border: none;
                    }

                    .ag-filter-toolpanel-body:not(:empty) {
                        margin: 0;
                    }
                }
            }
        }
    }

    .ag-filter-toolpanel-body {
        background: none;
    }
    .ag-filter-filter {
        width: 100%;
    }
}

/* Search grid */
.grid {
    .ag-root-wrapper-body {
        direction: rtl;
    }

    .ag-root, .ag-tool-panel-wrapper {
        direction: ltr;
    }

    .ag-header {
        background: mat-color($theme-primary, lighter);
    }

    .ag-side-bar {
        margin-right: 2rem;
        margin-bottom: calc(-2rem - 22px - 2px);

        .ag-side-buttons .ag-side-button button {
            width: 100%;
        }
    }

    .ag-ltr .ag-side-bar.ag-side-bar-right {
        border-left: 1px solid #BDC3C7;
    }
    .ag-ltr .ag-side-bar.ag-side-bar-right .ag-tool-panel-wrapper {
        border-right: none;
        border-left: 1px solid #BDC3C7;
    }

    .ag-tool-panel-wrapper {
        border-left: 1px solid #BDC3C7;
        border-right-color: #BDC3C700;
        width: 150px;
        .ag-column-select-panel {
            border-bottom: none;
        }
    }

    .ag-column-select-panel {
        .ag-primary-cols-list-panel {
            border-top: none;
        }
        .ag-column-drag {
            display: none;
        }
    }

    .ag-status-bar {
        border-color: #BDC3C700;
        background: #fefbf7;
        border: 1px solid #BDC3C7;
        padding-left: 0.25rem;
        margin-top: 2rem;
        margin-left: calc(20px + 2px + 2rem);
    }

    .ag-name-value {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .search-tool-panel-grid-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        color: #7F8C8D;
    }

    .ag-header-cell, .ag-cell {
        display: flex;
        align-items: center;
    }

    .ag-header-cell::after {
        height: calc(100% - 16px);
        margin-bottom: 8px;
    }
}

.grid.tool-panel-open .ag-status-bar {
    margin-left: calc(20px + 150px + 3px + 2rem);
}

/* Tabs */
.page-content.mat-tab-group {
    .mat-tab-header {
        background: #ddeffd;
        border-bottom: none;
        padding-top: 8px;
        padding-left: 1rem;
        overflow: visible;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    }

    .mat-tab-label-container {
        overflow: visible;
    }

    .mat-tab-label {
        height: 28px;
        padding: 0 1rem;
        min-width: unset;
    }

    .mat-tab-label:hover {
        color: #000;
        opacity: 1;
    }

    .mat-tab-label-active {
        border-top: 2px solid mat-color($theme-primary);
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background: #fff;
        opacity: 1;
        color: mat-color($theme-primary);
    }

    .mat-tab-label .ng-fa-icon {
        margin-right: 0.25rem;
    }

    .mat-ink-bar {
        top: 28px;
        background-color: #fff;
        height: 6px;
    }

    .mat-tab-body-wrapper {
        height: 100%;
    }
}

/* Forms */
.form {
    mat-form-field {
        display: block;
    }

    input, textarea.mat-input-element, mat-select {
        background: #f9f9f9;
        border-bottom: 1px solid #efefef;
        padding: 0.25rem;
        width: calc(100% - 0.5rem - 2px);
        margin: 0;
        letter-spacing: normal;
    }

    .mat-form-field.mat-focused {
        input, textarea {
            border-bottom: 1px solid mat-color($theme-primary);
        }
    }

    .mat-form-field-underline {
        display: none;
    }

    .mat-button {
        background: mat-color($theme-primary);
        color: #fff;
        font-weight: bold;
    }
}
