@import 'src/theme.scss';
@import '~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material';
@import "~ag-grid-community/dist/styles/ag-grid.css";

$primary: mat-palette($theme-primary);
$accent: mat-palette($theme-accent);
$warn: mat-palette($theme-warn);

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

h1, .h1 {
    @include mat-typography-level-to-styles($fontConfig, display-1);
    line-height: 1rem;
    margin-top: 0;
    color: mat-color($theme-primary);
}

h2, .h2 {
    @include mat-typography-level-to-styles($fontConfig, headline);
    color: mat-color($theme-accent);
}

body, .body {
    @include mat-typography-level-to-styles($fontConfig, body-1);
}

p:last-child {
    margin-block-end: 0;
}

.topbar-submenu {
    .mat-menu-item {
        .mat-icon, fa-icon {
            margin-right: 2px;
        }
    }
}
