h3 {
  color: var(--primary-color);
  line-height: normal;
  margin-bottom: 0;
  font-weight: bold;
}

.name {
  margin-bottom: 0.5rem;
}

.run-overview-parent-container {
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.simulation-run-card {
  width: 600px;
}

.simulation-run-card-header {
  background-color: var(--accent-darker-color);
  border-radius: 4px 4px 0 0;
}

mat-card-content {
  margin-top: 2rem;
}

mat-card-title,
mat-card-subtitle {
  color: white;
  font-weight: 700;
}

.status-container {
  font-size: 18px;
  color: var(--quaternary-darker-color);
}
