<ng-container *ngIf="simulation">
  <h3>Simulation #{{ simulation.id }}</h3>
  <div class="name">{{ simulation.name }}</div>

  <table class="icon-list">
    <tr>
      <th>
        <biosimulations-icon icon="simulator"></biosimulations-icon>
      </th>
      <td>
        <span class="heading">Simulator:</span>{{ ' '
        }}<a [href]="simulation.simulatorUrl" target="_blank"
          >{{ simulation.simulator }} {{ simulation.simulatorVersion }}</a
        >
      </td>
    </tr>
    <tr>
      <th>
        <biosimulations-icon icon="processor"></biosimulations-icon>
      </th>
      <td>
        <span class="heading">CPU cores:</span>{{ ' ' }}{{ simulation.cpus }}
      </td>
    </tr>
    <tr>
      <th>
        <biosimulations-icon icon="memory"></biosimulations-icon>
      </th>
      <td><span class="heading">RAM:</span>{{ ' ' }}{{ simulation.memory }}</td>
    </tr>
    <tr>
      <th>
        <biosimulations-icon icon="duration"></biosimulations-icon>
      </th>
      <td>
        <span class="heading">Max time:</span>{{ ' ' }}{{ simulation.maxTime }}
      </td>
    </tr>
  </table>

  <table class="icon-list">
    <tr>
      <th>
        <biosimulations-icon icon="status"></biosimulations-icon>
      </th>
      <td>
        <span class="heading">Status:</span> {{ simulation.statusLabel }}
        <biosimulations-icon
          icon="spinner"
          *ngIf="simulation.statusRunning"
        ></biosimulations-icon>
      </td>
    </tr>
    <!--
    <tr>
      <th>
        <biosimulations-icon icon="duration"></biosimulations-icon>
      </th>
      <td><span class="heading">Runtime:</span> {{ simulation.runTime }}</td>
    </tr>
     -->
    <tr>
      <th>
        <biosimulations-icon icon="date"></biosimulations-icon>
      </th>
      <td>
        <span class="heading">Submitted</span>: {{ simulation.submitted }}
      </td>
    </tr>
    <tr>
      <th>
        <biosimulations-icon icon="date"></biosimulations-icon>
      </th>
      <td><span class="heading">Updated:</span> {{ simulation.updated }}</td>
    </tr>
  </table>
</ng-container>
