h3 {
  color: var(--primary-color);
  line-height: normal;
  margin-bottom: 0;
  font-weight: bold;
}

.name {
  margin-bottom: 0.5rem;
}

.simulation-run-card {
  width: 100%;
  height: fit-content;
  margin-right: 3rem !important;
}

.simulation-run-card-header {
  background-color: var(--accent-darker-color);
  border-radius: 4px 4px 0 0;
}

mat-card-content {
  margin-top: 2rem;
}

mat-card-title,
mat-card-subtitle {
  color: white;
  font-weight: 700;
}

.status-container {
  font-size: 18px;
  color: var(--quaternary-darker-color);
}

.rerun-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rerun-project-button {
  margin-top: 2rem;
  background-color: var(--accent-darker-color);
  color: white;
  font-weight: 700;

  &:hover {
    background-color: var(--tertiary-darker-color);
    transition: background-color 0.3s ease-in-out;
  }
}
