<biosimulations-tab-page
  [selectedTabIndex]="selectedTabIndex"
  (selectedTabChange)="selectedTabChange($event)"
>
  <biosimulations-tab-page-tab heading="Simulation run" icon="overview">
    <div
      class="tab-spinner-container"
      *ngIf="(formattedSimulation$ | async) === null"
    >
      <biosimulations-spinner></biosimulations-spinner>
    </div>
    <ng-container *ngIf="formattedSimulation$ | async as simulation">
      <p>
        <b class="highlight-primary">Simulation #{{ simulation.id }}</b
        ><br />
        {{ simulation.name }}
      </p>

      <table class="icon-list">
        <tr>
          <th>
            <biosimulations-icon icon="download"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Project:</span>{{ ' '
            }}<a [href]="simulation.projectUrl"
              >COMBINE/OMEX archive<ng-container *ngIf="simulation.projectSize">
                ({{ simulation.projectSize }})</ng-container
              ></a
            >
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="simulator"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Simulator:</span>{{ ' '
            }}<a [href]="simulation.simulatorUrl" target="_blank"
              >{{ simulation.simulator }} {{ simulation.simulatorVersion }}</a
            >
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="processor"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">CPU cores:</span>{{ ' '
            }}{{ simulation.cpus }}
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="memory"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">RAM:</span>{{ ' ' }}{{ simulation.memory
            }}{{ ' ' }}GB
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="duration"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Max time:</span>{{ ' '
            }}{{ simulation.maxTime }}{{ ' ' }}min
          </td>
        </tr>
      </table>

      <table class="icon-list">
        <tr>
          <th>
            <biosimulations-icon icon="download"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Outputs:</span>{{ ' ' }}
            <a
              [href]="simulation.resultsUrl"
              *ngIf="
                simulation.statusSucceeded && simulation.resultsSize !== 'N/A';
                else noResults
              "
              >Zip archive ({{ simulation.resultsSize }})</a
            >
            <ng-template #noResults>N/A</ng-template>
          </td>
        </tr>
      </table>

      <table class="icon-list">
        <tr>
          <th>
            <biosimulations-icon icon="status"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Status:</span> {{ simulation.statusLabel }}
            <biosimulations-icon
              icon="spinner"
              *ngIf="simulation.statusRunning"
            ></biosimulations-icon>
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="duration"></biosimulations-icon>
          </th>
          <td><span class="heading">Runtime:</span> {{ runTime$ | async }}</td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="date"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Submitted</span>: {{ simulation.submitted }}
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="date"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Updated:</span> {{ simulation.updated }}
          </td>
        </tr>
      </table>
    </ng-container>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Simulation project"
    icon="code"
    urlHashFragment="project"
  >
    <ng-container *ngIf="metadataLoaded$ | async; else loading">
      <ng-container *ngIf="metadata$ | async as metadata; else error">
        <ng-container
          *ngIf="
            metadata?.validationReport?.status !== 'invalid';
            else validationReport
          "
        >
          <ng-container
            *ngIf="metadata.archive as archiveMetadata; else noMetadata"
          >
            <div
              class="metadata"
              fxLayout="row"
              fxLayout.lt-md="column"
              fxLayoutAlign="space-between"
              fxLayoutGap="2rem"
              fxLayoutGap.lt-md="1rem"
            >
              <div
                class="thumbnails-outer-container"
                *ngIf="archiveMetadata.thumbnails.length"
                fxLayout="column"
                fxLayout.lt-md="row"
                fxLayoutGap="1rem"
                fxLayoutAlign="start"
                fxLayoutAlign.lt-md="center"
              >
                <div
                  class="thumbnails-inner-container"
                  *ngFor="let thumbnail of archiveMetadata.thumbnails"
                >
                  <img class="thumbnail zoom" [src]="thumbnail" />
                </div>
              </div>

              <div>
                <p class="no-bottom-margin">
                  <b class="highlight-primary">{{ archiveMetadata.title }}</b
                  ><br />
                  {{ archiveMetadata.abstract }}
                </p>
                <ul class="comma-separated and-separator creators">
                  <li *ngFor="let creator of archiveMetadata.creators">{{ creator.label }}{{ creator.uri ? ' ' : ''
                    }}<a
                      [href]="creator.uri"
                      target="_blank"
                      *ngIf="creator.uri"
                    ><biosimulations-icon icon="orcid"></biosimulations-icon></a></li>
                </ul>

                <p *ngIf="archiveMetadata.description">
                  {{ archiveMetadata.description }}
                </p>

                <div class="section">
                  <b>Metadata</b>
                  <table class="icon-list metadata">
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'Taxa',
                          icon: 'cell',
                          els: archiveMetadata.taxa
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'Biology',
                          icon: 'taxon',
                          els: archiveMetadata.encodes
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        inlineList;
                        context: {
                          heading: 'Tags',
                          icon: 'tags',
                          els: archiveMetadata.keywords
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        customList;
                        context: { icon: 'info', els: archiveMetadata.other }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'Source',
                          icon: 'code',
                          els: archiveMetadata.sources
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'Predecessor',
                          icon: 'backward',
                          els: archiveMetadata.predecessors
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'Successor',
                          icon: 'forward',
                          els: archiveMetadata.successors
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'Citation',
                          icon: 'file',
                          els: archiveMetadata.citations
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'Cross ref',
                          icon: 'id',
                          els: archiveMetadata.identifiers
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'More information',
                          icon: 'info',
                          els: archiveMetadata.seeAlso
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'License',
                          icon: 'license',
                          els: [archiveMetadata.license]
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'Funding',
                          icon: 'funding',
                          els: archiveMetadata.funders
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'Curator',
                          icon: 'author',
                          els: archiveMetadata.contributors
                        }
                      "
                    ></ng-container>
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: {
                          heading: 'Created',
                          icon: 'date',
                          els: archiveMetadata.created
                            ? [{ label: archiveMetadata.created }]
                            : []
                        }
                      "
                    ></ng-container>
                    <ng-container *ngIf="archiveMetadata.modified.length">
                      <ng-container
                        *ngTemplateOutlet="
                          list;
                          context: {
                            heading: 'Last modified',
                            icon: 'date',
                            els: [{ label: archiveMetadata.modified[0] }]
                          }
                        "
                      ></ng-container>
                    </ng-container>

                    <ng-template
                      #list
                      let-heading="heading"
                      let-icon="icon"
                      let-els="els"
                    >
                      <tr *ngFor="let el of els">
                        <th>
                          <biosimulations-icon
                            [icon]="icon"
                          ></biosimulations-icon>
                        </th>
                        <td>
                          <span class="heading">{{ heading }}:</span>{{ ' ' }}
                          <a
                            [href]="el.uri"
                            target="_blank"
                            *ngIf="el.uri; else noUri"
                            >{{ el.label || el.uri }}</a
                          >
                          <ng-template #noUri>{{ el.label }}</ng-template>
                        </td>
                      </tr>
                    </ng-template>

                    <ng-template #customList let-icon="icon" let-els="els">
                      <tr *ngFor="let el of els">
                        <th>
                          <biosimulations-icon
                            [icon]="icon"
                          ></biosimulations-icon>
                        </th>
                        <td>
                          <span class="heading">{{ els.attribute.label }}:</span
                          >{{ ' ' }}
                          <a
                            [href]="el.value.uri"
                            target="_blank"
                            *ngIf="el.value.uri; else noUri"
                            >{{ el.value.label || el.value.uri }}</a
                          >
                          <ng-template #noUri>{{ el.value.label }}</ng-template>
                        </td>
                      </tr>
                    </ng-template>

                    <ng-template
                      #inlineList
                      let-heading="heading"
                      let-icon="icon"
                      let-els="els"
                    >
                      <tr *ngIf="els.length">
                        <th>
                          <biosimulations-icon
                            [icon]="icon"
                          ></biosimulations-icon>
                        </th>
                        <td>
                          <span class="heading">{{ heading }}:</span>{{ ' ' }}
                          <ul class="comma-separated">
                            <li *ngFor="let el of els">{{ el }}</li>
                          </ul>
                        </td>
                      </tr>
                    </ng-template>
                  </table>
                </div>

                <div
                  class="section"
                  *ngIf="(figuresTablesMetadata$ | async)?.length"
                >
                  <b>Figures and tables</b>
                  <table class="icon-list">
                    <ng-container
                      *ngFor="let figureTable of figuresTablesMetadata$ | async"
                    >
                      <tr>
                        <th>
                          <biosimulations-icon
                            icon="chart"
                          ></biosimulations-icon>
                        </th>
                        <td>
                          <span class="heading">
                            <a
                              [href]="figureTable.identifier.uri"
                              target="_blank"
                              >{{ figureTable.identifier.label }}</a
                            >: </span
                          >{{ ' ' }}
                          <button
                            *ngIf="figureTable.click; else noButton"
                            type="button"
                            mat-icon-button
                            (click)="figureTable.click()"
                            class="biosimulations-button text"
                          >
                            {{ figureTable.uri }}
                          </button>
                          <ng-template #noButton>
                            {{ figureTable.uri }}
                          </ng-template>
                        </td>
                      </tr>
                    </ng-container>
                  </table>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #noMetadata>
            <span class="error"
              >No metadata about the simulation project is available.</span
            >
          </ng-template>
        </ng-container>

        <ng-template #validationReport>
          <div
            class="metadata-validation-report error"
            *ngIf="metadata.validationReport as validationReport"
          >
            <p>The metadata about the simulation project is not valid.</p>

            <div
              class="metadata-validation-report-section"
              *ngIf="validationReport.errors"
            >
              Errors:
              <ul [innerHTML]="validationReport.errors"></ul>
            </div>

            <div
              class="metadata-validation-report-section"
              *ngIf="validationReport.warnings"
            >
              Warnings:
              <ul [innerHTML]="validationReport.warnings"></ul>
            </div>
          </div>
        </ng-template>
      </ng-container>

      <ng-template #error>
        <span class="info-message"
          >Metadata about the simulation project could not be loaded.</span
        >
      </ng-template>
    </ng-container>

    <ng-template #loading>
      <div class="tab-spinner-container">
        <biosimulations-spinner></biosimulations-spinner>
      </div>
    </ng-template>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Select chart"
    icon="write"
    urlHashFragment="design-viz"
    [disabled]="(statusSucceeded$ | async) === false"
  >
    <form
      [formGroup]="visualizationFormGroup"
      class="partial-width design-visualization"
      *ngIf="(visualizations$ | async)?.length; else noVisualizations"
    >
      <div class="form-section">
        <div class="form-section-body">
          <div class="form-field-group">
            <mat-form-field appearance="fill">
              <mat-label>Select a chart</mat-label>
              <mat-select
                formControlName="visualization"
                required
                (ngModelChange)="selectVisualization()"
                disableOptionCentering
              >
                <mat-option
                  *ngFor="let visualization of visualizations$ | async"
                  [value]="visualization.id"
                >
                  {{ visualization.label }}
                </mat-option>
              </mat-select>
              <biosimulations-icon icon="write" matPrefix></biosimulations-icon>
            </mat-form-field>
            <mat-hint>
              <p>
                Select a plot defined in a SED-ML or Vega
                <a href="https://vega.github.io/vega/" target="_blank"
                  ><biosimulations-icon icon="link"></biosimulations-icon
                ></a>
                document in the simulation project, or design a custom grid of
                plots.
              </p>

              <p>
                SED-ML L1V3 provides basic capabilities for 2D line plots.
                SED-ML L1V4 will provide capabilities for several additional
                types of plots. We aim to support L1V4 once it is approved.
              </p>

              <p>
                Vega is a powerful format for describing data visualizations. By
                capturing how data should be used to paint visual elements, Vega
                enables reusable visualizations that can be re-painted with data
                from multiple simulations. Vega can also capture interactive and
                publication-quality graphics.
              </p>
            </mat-hint>
          </div>
        </div>
      </div>

      <ng-container
        *ngIf="
          selectedVisualization &&
          selectedVisualization.type === 'user1DHistogram'
        "
        formGroupName="user1DHistogram"
      >
        <div class="form-section">
          <div class="form-section-head">
            <div class="mat-form-field-prefix">
              <biosimulations-icon icon="report"></biosimulations-icon>
            </div>
            <div class="form-section-head-title-subtitle">
              <div class="form-section-title">Configure chart *</div>
              <div class="form-section-subtitle">
                Configure the data to plot.
              </div>
            </div>
          </div>
          <div class="form-section-body">
            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label>Select the data sets to plot</mat-label>

                <mat-select
                  formControlName="dataSets"
                  required
                  disableOptionCentering
                  multiple
                >
                  <ng-container
                    *ngFor="
                      let sedDocument of sedDocumentReportsConfiguration$
                        | async
                    "
                  >
                    <mat-option
                      [value]="sedDocument.location.path"
                      (click)="
                        setSelectedDataSets(
                          user1DHistogramDataSetsFormControl,
                          'SedDocument',
                          sedDocument,
                          sedDocument.location.path
                        )
                      "
                    >
                      {{ sedDocument.location.path }}
                    </mat-option>

                    <div
                      *ngFor="let output of sedDocument.location.value.outputs"
                      class="multi-select-opt-group"
                    >
                      <mat-option
                        [value]="sedDocument.location.path + '/' + output.id"
                        (click)="
                          setSelectedDataSets(
                            user1DHistogramDataSetsFormControl,
                            'SedReport',
                            sedDocument,
                            sedDocument.location.path,
                            output,
                            output.id
                          )
                        "
                      >
                        {{ output.id }}
                      </mat-option>

                      <div class="multi-select-opt-group">
                        <mat-option
                          *ngFor="let dataset of output.dataSets"
                          [value]="
                            sedDocument.location.path +
                            '/' +
                            output.id +
                            '/' +
                            dataset.id
                          "
                          (click)="
                            setSelectedDataSets(
                              user1DHistogramDataSetsFormControl,
                              'SedDataSet',
                              sedDocument,
                              sedDocument.location.path,
                              output,
                              output.id,
                              dataset,
                              dataset.id
                            )
                          "
                        >
                          {{ dataset.label }}
                        </mat-option>
                      </div>
                    </div>
                  </ng-container>
                </mat-select>

                <biosimulations-icon
                  icon="report"
                  matPrefix
                ></biosimulations-icon>
              </mat-form-field>
              <mat-hint>Select the SED-ML data sets to plot.</mat-hint>
            </div>
          </div>
        </div>

        <div class="export-viz-button-container">
          <button
            type="button"
            mat-flat-button
            class="biosimulations-button text"
            (click)="exportUserViz('vega')"
            [disabled]="
              !userSimulationResultsLoaded || !visualizationFormGroup.valid
            "
          >
            Export to Vega
          </button>
          <button
            type="button"
            mat-flat-button
            class="biosimulations-button text"
            (click)="exportUserViz('combine')"
            [disabled]="
              !userSimulationResultsLoaded || !visualizationFormGroup.valid
            "
          >
            Export in archive
          </button>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          selectedVisualization &&
          selectedVisualization.type === 'user2DHeatmap'
        "
        formGroupName="user2DHeatmap"
      >
        <div class="form-section">
          <div class="form-section-head">
            <div class="mat-form-field-prefix">
              <biosimulations-icon icon="report"></biosimulations-icon>
            </div>
            <div class="form-section-head-title-subtitle">
              <div class="form-section-title">Configure chart *</div>
              <div class="form-section-subtitle">
                Configure the data to plot.
              </div>
            </div>
          </div>
          <div class="form-section-body">
            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label>Select the data sets to plot</mat-label>

                <mat-select
                  formControlName="yDataSets"
                  required
                  disableOptionCentering
                  multiple
                >
                  <ng-container
                    *ngFor="
                      let sedDocument of sedDocumentReportsConfiguration$
                        | async
                    "
                  >
                    <mat-option
                      [value]="sedDocument.location.path"
                      (click)="
                        setSelectedDataSets(
                          user2DHeatmapYDataSetsFormControl,
                          'SedDocument',
                          sedDocument,
                          sedDocument.location.path
                        )
                      "
                    >
                      {{ sedDocument.location.path }}
                    </mat-option>

                    <div
                      *ngFor="let output of sedDocument.location.value.outputs"
                      class="multi-select-opt-group"
                    >
                      <mat-option
                        [value]="sedDocument.location.path + '/' + output.id"
                        (click)="
                          setSelectedDataSets(
                            user2DHeatmapYDataSetsFormControl,
                            'SedReport',
                            sedDocument,
                            sedDocument.location.path,
                            output,
                            output.id
                          )
                        "
                      >
                        {{ output.id }}
                      </mat-option>

                      <div class="multi-select-opt-group">
                        <mat-option
                          *ngFor="let dataset of output.dataSets"
                          [value]="
                            sedDocument.location.path +
                            '/' +
                            output.id +
                            '/' +
                            dataset.id
                          "
                          (click)="
                            setSelectedDataSets(
                              user2DHeatmapYDataSetsFormControl,
                              'SedDataSet',
                              sedDocument,
                              sedDocument.location.path,
                              output,
                              output.id,
                              dataset,
                              dataset.id
                            )
                          "
                        >
                          {{ dataset.label }}
                        </mat-option>
                      </div>
                    </div>
                  </ng-container>
                </mat-select>

                <biosimulations-icon
                  icon="report"
                  matPrefix
                ></biosimulations-icon>
              </mat-form-field>
              <mat-hint>Select the SED-ML data sets to plot.</mat-hint>
            </div>

            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label
                  >Select the x labels for the selected data sets</mat-label
                >

                <mat-select
                  formControlName="xDataSet"
                  disableOptionCentering
                  (ngModelChange)="displayUserViz()"
                >
                  <ng-container
                    *ngFor="
                      let sedDocument of sedDocumentReportsConfiguration$
                        | async
                    "
                  >
                    <mat-option
                      [value]="sedDocument.location.path"
                      [disabled]="true"
                    >
                      {{ sedDocument.location.path }}
                    </mat-option>

                    <div
                      *ngFor="let output of sedDocument.location.value.outputs"
                      class="multi-select-opt-group"
                    >
                      <mat-option
                        [value]="sedDocument.location.path + '/' + output.id"
                        [disabled]="true"
                      >
                        {{ output.id }}
                      </mat-option>

                      <div class="multi-select-opt-group">
                        <mat-option
                          *ngFor="let dataset of output.dataSets"
                          [value]="
                            sedDocument.location.path +
                            '/' +
                            output.id +
                            '/' +
                            dataset.id
                          "
                        >
                          {{ dataset.label }}
                        </mat-option>
                      </div>
                    </div>
                  </ng-container>
                </mat-select>

                <biosimulations-icon
                  icon="report"
                  matPrefix
                ></biosimulations-icon>
              </mat-form-field>
              <mat-hint
                >Select the SED-ML data set that contains the labels for each
                element of the selected data sets.</mat-hint
              >
            </div>
          </div>
        </div>

        <div class="export-viz-button-container">
          <button
            type="button"
            mat-flat-button
            class="biosimulations-button text"
            (click)="exportUserViz('vega')"
            [disabled]="
              !userSimulationResultsLoaded || !visualizationFormGroup.valid
            "
          >
            Export to Vega
          </button>
          <button
            type="button"
            mat-flat-button
            class="biosimulations-button text"
            (click)="exportUserViz('combine')"
            [disabled]="
              !userSimulationResultsLoaded || !visualizationFormGroup.valid
            "
          >
            Export in archive
          </button>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          selectedVisualization &&
          selectedVisualization.type === 'user2DLineScatter'
        "
        formGroupName="user2DLineScatter"
      >
        <div class="form-section">
          <div class="form-section-head">
            <div class="mat-form-field-prefix">
              <biosimulations-icon icon="report"></biosimulations-icon>
            </div>
            <div class="form-section-head-title-subtitle">
              <div class="form-section-title">Configure chart *</div>
              <div class="form-section-subtitle">
                Configure the data to plot, the axes, and visual style of the
                plot.
              </div>
            </div>
          </div>
          <div class="form-section-body">
            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label>Select the number of curves to display</mat-label>
                <input
                  matInput
                  formControlName="numCurves"
                  type="number"
                  min="1"
                  step="1"
                  required
                  (ngModelChange)="setNum2DLineScatterCurves()"
                />
                <biosimulations-icon
                  icon="report"
                  matPrefix
                ></biosimulations-icon>
              </mat-form-field>
              <mat-hint
                >runBioSimulations can display one or more curves per subplots.
                Select the number of curves that you would like to
                display.</mat-hint
              >
            </div>

            <div
              class="form-field-group user-2d-line-scatter-curves"
              formArrayName="curves"
            >
              <div class="icon-label-input">
                <biosimulations-icon
                  icon="report"
                  matPrefix
                ></biosimulations-icon>
                <div class="label-input">
                  <mat-label>Select the data for each curve *</mat-label>
                  <div class="input">
                    <div class="input-heading">X data set *</div>
                    <div class="input-heading">Y data set *</div>
                    <div class="input-heading">Name</div>
                    <ng-container
                      *ngFor="
                        let curve of user2DLineScatterCurvesFormGroups;
                        index as iCurve
                      "
                      [formGroupName]="iCurve"
                    >
                      <div class="input-row">
                        <mat-select
                          formControlName="xData"
                          required
                          (ngModelChange)="displayUserViz()"
                          disableOptionCentering
                          multiple
                        >
                          <mat-optgroup
                            *ngFor="
                              let sedDocument of sedDocumentReportsConfiguration$
                                | async
                            "
                            [label]="sedDocument.location.path"
                          >
                            <mat-optgroup
                              *ngFor="
                                let output of sedDocument.location.value.outputs
                              "
                              [label]="output.name || output.id"
                            >
                              <mat-option
                                *ngFor="let dataset of output.dataSets"
                                [value]="
                                  sedDocument.location.path +
                                  '/' +
                                  output.id +
                                  '/' +
                                  dataset.id
                                "
                              >
                                {{ dataset.label }}
                              </mat-option>
                            </mat-optgroup>
                          </mat-optgroup>
                        </mat-select>
                      </div>
                      <div class="input-row">
                        <mat-select
                          formControlName="yData"
                          required
                          (ngModelChange)="displayUserViz()"
                          disableOptionCentering
                          multiple
                        >
                          <mat-optgroup
                            *ngFor="
                              let sedDocument of sedDocumentReportsConfiguration$
                                | async
                            "
                            [label]="sedDocument.location.path"
                          >
                            <mat-optgroup
                              *ngFor="
                                let output of sedDocument.location.value.outputs
                              "
                              [label]="output.name || output.id"
                            >
                              <mat-option
                                *ngFor="let dataset of output.dataSets"
                                [value]="
                                  sedDocument.location.path +
                                  '/' +
                                  output.id +
                                  '/' +
                                  dataset.id
                                "
                              >
                                {{ dataset.label }}
                              </mat-option>
                            </mat-optgroup>
                          </mat-optgroup>
                        </mat-select>
                      </div>
                      <div class="input-row">
                        <input
                          matInput
                          formControlName="name"
                          (ngModelChange)="displayUserViz()"
                        />
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <mat-hint
                >Select the SED data sets for the X and Y data of each
                curve.</mat-hint
              >
            </div>

            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label>Select a scale for the x-axis</mat-label>
                <mat-select
                  formControlName="xAxisType"
                  required
                  (ngModelChange)="displayUserViz()"
                  disableOptionCentering
                >
                  <mat-option
                    *ngFor="let axisLabelType of axisLabelTypes"
                    [value]="axisLabelType.type"
                  >
                    {{ axisLabelType.label }}
                  </mat-option>
                </mat-select>
                <biosimulations-icon
                  icon="visualization"
                  matPrefix
                ></biosimulations-icon>
              </mat-form-field>
              <mat-hint
                >Select a scale such as "linear" or "logarithmic".</mat-hint
              >
            </div>

            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label>Select a scale for the y-axis</mat-label>
                <mat-select
                  formControlName="yAxisType"
                  required
                  (ngModelChange)="displayUserViz()"
                  disableOptionCentering
                >
                  <mat-option
                    *ngFor="let axisLabelType of axisLabelTypes"
                    [value]="axisLabelType.type"
                  >
                    {{ axisLabelType.label }}
                  </mat-option>
                </mat-select>
                <biosimulations-icon
                  icon="visualization"
                  matPrefix
                ></biosimulations-icon>
              </mat-form-field>
              <mat-hint
                >Select a scale such as "linear" or "logarithmic".</mat-hint
              >
            </div>

            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label>Select a type of plot</mat-label>
                <mat-select
                  formControlName="traceMode"
                  required
                  (ngModelChange)="displayUserViz()"
                  disableOptionCentering
                >
                  <mat-option
                    *ngFor="let traceModeLabel of traceModeLabels"
                    [value]="traceModeLabel.mode"
                  >
                    {{ traceModeLabel.label }}
                  </mat-option>
                </mat-select>
                <biosimulations-icon
                  icon="visualization"
                  matPrefix
                ></biosimulations-icon>
              </mat-form-field>
              <mat-hint
                >Select a type of plot such as "line" or "scatter".</mat-hint
              >
            </div>
          </div>
        </div>

        <div class="export-viz-button-container">
          <button
            type="button"
            mat-flat-button
            class="biosimulations-button text"
            (click)="exportUserViz('vega')"
            [disabled]="
              !userSimulationResultsLoaded || !visualizationFormGroup.valid
            "
          >
            Export to Vega
          </button>
          <button
            type="button"
            mat-flat-button
            class="biosimulations-button text"
            (click)="exportUserViz('combine')"
            [disabled]="
              !userSimulationResultsLoaded || !visualizationFormGroup.valid
            "
          >
            Export in archive
          </button>
        </div>
      </ng-container>
    </form>

    <ng-template #noVisualizations>
      <div
        class="tab-spinner-container"
        *ngIf="(visualizations$ | async) === null; else error"
      >
        <biosimulations-spinner></biosimulations-spinner>
      </div>
      <ng-template #error>
        <span class="info-message"
          >Sorry! The visualizations for the project could not be
          retrieved.</span
        >
      </ng-template>
    </ng-template>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Visualize chart"
    icon="chart"
    urlHashFragment="viz"
    [fullHeight]="true"
    [disabled]="!selectedVisualization || !visualizationFormGroup.valid"
  >
    <biosimulations-vega-visualization
      *ngIf="selectedVisualization && selectedVisualization.renderer === 'vega'"
      [spec]="selectedVisualization.vegaSpec"
    >
    </biosimulations-vega-visualization>

    <biosimulations-plotly-visualization
      *ngIf="
        selectedVisualization && selectedVisualization.renderer === 'plotly'
      "
      [dataLayout]="plotlyVizDataLayout$ | async"
    >
    </biosimulations-plotly-visualization>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Log"
    icon="logs"
    urlHashFragment="log"
    [disabled]="(statusRunning$ | async) !== false"
  >
    <ng-container *ngIf="logs$ | async as logs; else noLogs">
      <ng-container *ngIf="formattedSimulation$ | async as sim">
        <biosimulations-simulation-log
          [status]="sim.status"
          [rawLog]="logs.raw"
          [structuredLog]="logs.structured"
        >
        </biosimulations-simulation-log>
      </ng-container>
    </ng-container>
    <ng-template #noLogs>
      <span class="info-message"
        >Sorry! The logs for your simulation could not be retrieved.</span
      >
    </ng-template>
  </biosimulations-tab-page-tab>
</biosimulations-tab-page>
