@import 'biosimulations-colors';

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

biosimulations-tab-page ::ng-deep .icon-list {
  & > li:not(:first-child) {
    margin-top: 0.125rem;
  }

  a {
    color: $dark-primary-text;
    &:hover {
      color: $dark-primary-text;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 959px) {
  .files {
    margin-top: -1rem;
  }
}

.overview-container {
  padding-bottom: 5rem;
}

.spec-container {
  margin-top: 3rem;
}

.simulation-run-view-parent-container {
  min-height: 1550px;
  margin-left: 6rem;
  margin-right: 6rem;
  padding-bottom: 3rem;
}

.files {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  height: fit-content;
  font-weight: 600;
  width: 1000px;
  margin-top: 3rem;
}
