@use '~@angular/material' as mat;
@import 'biosimulations-colors';

.metadata {
  .thumbnails-inner-container {
    width: 250px;
    height: min-content;
    border: 1px solid darken($dark-dividers, 50%);
    border-radius: 4px;
    overflow: hidden;
  }
  .thumbnail {
    width: 100%;
  }

  .creators {
    font-style: italic;
  }

  .section:not(:first-child) {
    margin-top: 1rem;
  }

  table.icon-list {
    .comma-separated {
      display: inline;
    }

    a,
    .biosimulations-button {
      text-decoration: underline;
    }
  }
}

.design-visualization {
  margin: 0 auto;
  overflow-y: hidden;

  .user-2d-line-scatter-curves {
    .input {
      grid-template-columns: 1fr 1fr 1fr;
    }

    mat-hint {
      padding-top: 0.4rem;
      border-top: 1px solid rgba(0, 0, 0, 0.42);
      font-size: 93.75%;
      display: block;
    }
  }

  .export-viz-button-container {
    text-align: right;
    button:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

biosimulations-vega-visualization {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.error {
  color: mat.get-color-from-palette($theme-warn);
}
