<biosimulations-tab-page (selectedTabChange)="selectedTabChange($event)">
  <biosimulations-tab-page-tab heading="Overview" icon="overview">
    <div
      class="tab-spinner-container"
      *ngIf="(formattedSimulation$ | async) === null"
    >
      <biosimulations-spinner> </biosimulations-spinner>
    </div>
    <ng-container *ngIf="formattedSimulation$ | async as simulation">
      <p>
        <b class="highlight-primary">Simulation #{{ simulation.id }}</b
        ><br />
        {{ simulation.name }}
      </p>

      <table class="icon-list">
        <tr>
          <th>
            <biosimulations-icon icon="download"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Project:</span>{{ ' '
            }}<a [href]="simulation.projectUrl"
              >COMBINE/OMEX archive<ng-container *ngIf="simulation.projectSize">
                ({{ simulation.projectSize }})</ng-container
              ></a
            >
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="simulator"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Simulator:</span>{{ ' '
            }}<a [href]="simulation.simulatorUrl" target="_blank"
              >{{ simulation.simulator }} {{ simulation.simulatorVersion }}</a
            >
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="processor"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">CPU cores:</span>{{ ' '
            }}{{ simulation.cpus }}
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="memory"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">RAM:</span>{{ ' ' }}{{ simulation.memory
            }}{{ ' ' }}GB
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="duration"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Max time:</span>{{ ' '
            }}{{ simulation.maxTime }}{{ ' ' }}min
          </td>
        </tr>
      </table>

      <table class="icon-list">
        <tr>
          <th>
            <biosimulations-icon icon="download"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Outputs:</span>{{ ' ' }}
            <a
              [href]="simulation.resultsUrl"
              *ngIf="
                simulation.statusSucceeded && simulation.resultsSize !== 'N/A';
                else noResults
              "
              >Zip archive ({{ simulation.resultsSize }})</a
            >
            <ng-template #noResults>N/A</ng-template>
          </td>
        </tr>
      </table>

      <table class="icon-list">
        <tr>
          <th>
            <biosimulations-icon icon="status"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Status:</span> {{ simulation.statusLabel }}
            <biosimulations-icon
              icon="spinner"
              *ngIf="simulation.statusRunning"
            ></biosimulations-icon>
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="duration"></biosimulations-icon>
          </th>
          <td><span class="heading">Runtime:</span> {{ runTime$ | async }}</td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="date"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Submitted</span>: {{ simulation.submitted }}
          </td>
        </tr>
        <tr>
          <th>
            <biosimulations-icon icon="date"></biosimulations-icon>
          </th>
          <td>
            <span class="heading">Updated:</span> {{ simulation.updated }}
          </td>
        </tr>
      </table>
    </ng-container>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Simulation project"
    icon="code"
    urlHashFragment="project"
  >
    <ng-container *ngIf="metadataLoaded$; else loading">
      <ng-container *ngIf="(metadata$ | async) as metadata; else error">
        <ng-container *ngIf="metadata.archive as archiveMetadata; else noMetadata">
          <div class="metadata"
            fxLayout="row"
            fxLayout.lt-md="column"
            fxLayoutAlign="space-between"
            fxLayoutGap="2rem"
            fxLayoutGap.lt-md="1rem"
          >
            <div class="thumbnails-outer-container" *ngIf="archiveMetadata.thumbnails.length"
              fxLayout="column"
              fxLayout.lt-md="row"
              fxLayoutGap="1rem"
              fxLayoutAlign="start"
              fxLayoutAlign.lt-md="center"
            >
              <div
                class="thumbnails-inner-container"
                *ngFor="let thumbnail of archiveMetadata.thumbnails"
              >
                <img class="thumbnail zoom" [src]="thumbnail"/>
              </div>
              <div
                class="thumbnails-inner-container"
                *ngFor="let thumbnail of archiveMetadata.thumbnails"
              >
                <img class="thumbnail zoom" [src]="thumbnail"/>
              </div>
            </div>

            <div>
              <p class="no-bottom-margin">
                <b class="highlight-primary">{{ archiveMetadata.title }}</b
                ><br />
                {{ archiveMetadata.abstract }}
              </p>
              <ul class="comma-separated and-separator creators">
                <li *ngFor="let creator of archiveMetadata.creators">
                  {{ creator.label }}{{ creator.uri ? ' ' : ''}}<a [href]="creator.uri" target="_blank" *ngIf="creator.uri">
                    <biosimulations-icon icon="orcid"></biosimulations-icon>
                  </a>
                </li>
              </ul>

              <p *ngIf="archiveMetadata.description">
                {{ archiveMetadata.description }}
              </p>

              <div class="section">
                <b>Metadata</b>
                <table class="icon-list metadata">
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'Taxa', icon: 'cell', els: archiveMetadata.taxa }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'Biology', icon: 'taxon', els: archiveMetadata.encodes }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      inlineList;
                      context: { heading: 'Tags', icon: 'tags', els: archiveMetadata.keywords }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      customList;
                      context: { icon: 'info', els: archiveMetadata.other }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'Source', icon: 'code', els: archiveMetadata.sources }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'Predecessor', icon: 'backward', els: archiveMetadata.predecessors }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'Successor', icon: 'forward', els: archiveMetadata.successors }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'Citation', icon: 'file', els: archiveMetadata.citations }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'Cross ref', icon: 'id', els: archiveMetadata.identifiers }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'More information', icon: 'info', els: archiveMetadata.seeAlso }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'License', icon: 'license', els: [archiveMetadata.license] }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'Funding', icon: 'funding', els: archiveMetadata.funders }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'Curator', icon: 'author', els: archiveMetadata.contributors }
                    "
                  ></ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                      list;
                      context: { heading: 'Created', icon: 'date', els: [{label: archiveMetadata.created}] }
                    "
                  ></ng-container>
                  <ng-container *ngIf="archiveMetadata.modified.length">
                    <ng-container
                      *ngTemplateOutlet="
                        list;
                        context: { heading: 'Last modified', icon: 'date', els: [{label: archiveMetadata.modified[0]}] }
                      "
                    ></ng-container>
                  </ng-container>

                  <ng-template #list let-heading="heading" let-icon="icon" let-els="els">
                    <tr *ngFor="let el of els">
                      <th>
                        <biosimulations-icon [icon]="icon"></biosimulations-icon>
                      </th>
                      <td>
                        <span class="heading">{{ heading }}:</span>{{' '}}
                        <a [href]="el.uri" target="_blank" *ngIf="el.uri; else noUri">{{ el.label || el.uri }}</a>
                        <ng-template #noUri>{{ el.label }}</ng-template>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template #customList let-icon="icon" let-els="els">
                    <tr *ngFor="let el of els">
                      <th>
                        <biosimulations-icon [icon]="icon"></biosimulations-icon>
                      </th>
                      <td>
                        <span class="heading">{{ els.attribute.label }}:</span>{{' '}}
                        <a [href]="el.value.uri" target="_blank" *ngIf="el.value.uri; else noUri">{{ el.value.label || el.value.uri }}</a>
                        <ng-template #noUri>{{ el.value.label }}</ng-template>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template #inlineList let-heading="heading" let-icon="icon" let-els="els">
                    <tr *ngIf="els.length">
                      <th>
                        <biosimulations-icon [icon]="icon"></biosimulations-icon>
                      </th>
                      <td>
                        <span class="heading">{{ heading }}:</span>{{' '}}
                        <ul class="comma-separated">
                          <li *ngFor="let el of els">{{ el }}</li>
                        </ul>
                      </td>
                    </tr>
                  </ng-template>
                </table>
              </div>

              <div class="section">
                <b>Figures and tables</b>
                <table class="icon-list">
                  <ng-container *ngFor="let other of metadata.other">
                    <ng-container *ngFor="let identifier of other.identifiers">
                      <tr>
                        <th>
                          <biosimulations-icon icon="chart"></biosimulations-icon>
                        </th>
                        <td>
                          <span class="heading">
                            <a [href]="identifier.uri" target="_blank">{{ identifier.label }}</a>:
                          </span>{{ ' ' }}{{ other.uri }}
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template #noMetadata>
          <span class="info-message">No metadata is available about the simulation project is avaiable.</span>
        </ng-template>
      </ng-container>

      <ng-template #error>
        <span class="info-message">Metadata about the simulation project could not be loaded.</span>
      </ng-template>
    </ng-container>

    <ng-template #loading>
      <div class="tab-spinner-container">
        <biosimulations-spinner></biosimulations-spinner>
      </div>
    </ng-template>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Design chart"
    icon="write"
    urlHashFragment="design-viz"
  >
    <form
      [formGroup]="formGroup"
      class="partial-width design-visualization"
      *ngIf="hasData; else noSedDatasets"
    >
      <div class="form-section">
        <div class="form-section-body">
          <div class="form-field-group">
            <mat-form-field appearance="fill">
              <mat-label
                >How would you like to visualize the results of your
                simulation?</mat-label
              >
              <mat-select
                formControlName="visualizationType"
                required
                (ngModelChange)="selectVisualizationType()"
                disableOptionCentering
              >
                <mat-option
                  *ngFor="let visualizationType of visualizationTypes"
                  [value]="visualizationType"
                >
                  {{ visualizationType }}
                </mat-option>
              </mat-select>
              <biosimulations-icon icon="write" matPrefix></biosimulations-icon>
            </mat-form-field>
            <mat-hint>
              <p>
                Choose to either use a simple form to design a two-dimensional
                line or scatter plot, or upload any visualization in Vega format
                <a href="https://vega.github.io/vega/" target="_blank"
                  ><biosimulations-icon icon="link"></biosimulations-icon></a
                >.
              </p>

              <p>
                Vega is a powerful format for describing data visualizations. By
                capturing how data should be used to paint visual elements, Vega
                enables reusable visualizations that can be re-painted with data
                from multiple simulations. Vega can also capture interactive and
                publication-quality graphics.
              </p>
            </mat-hint>
          </div>
        </div>
      </div>

      <ng-container
        *ngIf="selectedVisualizationType === VisualizationType.lineScatter2d"
        formGroupName="lineScatter2d"
      >
        <div class="form-section">
          <div class="form-section-head">
            <div class="mat-form-field-prefix">
              <biosimulations-icon icon="report"></biosimulations-icon>
            </div>
            <div class="form-section-head-title-subtitle">
              <div class="form-section-title">Subplot grid *</div>
              <div class="form-section-subtitle">
                Select the numbers of rows and columns of sublots to display
              </div>
            </div>
          </div>
          <div class="form-section-body">
            <div class="form-field-group">
              <div class="columns two-columns">
                <mat-form-field appearance="fill">
                  <mat-label>Rows</mat-label>
                  <input
                    matInput
                    formControlName="rows"
                    type="number"
                    min="1"
                    step="1"
                    required
                    (ngModelChange)="setVizGrid()"
                  />
                  <biosimulations-icon
                    icon="report"
                    matPrefix
                  ></biosimulations-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Columns</mat-label>
                  <input
                    matInput
                    formControlName="cols"
                    type="number"
                    min="1"
                    step="1"
                    required
                    (ngModelChange)="setVizGrid()"
                  />
                  <biosimulations-icon
                    icon="report"
                    matPrefix
                  ></biosimulations-icon>
                </mat-form-field>
              </div>
              <mat-hint
                >runBioSimulations can display a grid of subplots. Select the
                numbers of rows and columns of subplots that you would like to
                display.</mat-hint
              >
            </div>
          </div>
        </div>

        <mat-tab-group
          mat-align-tabs="start"
          formArrayName="subplots"
          class="subplots"
        >
          <mat-tab
            *ngFor="
              let subplot of lineScatter2dSubplotsFormArray.controls;
              index as iSubplot
            "
          >
            <ng-template matTabLabel>{{
              subplot.get('label')?.value
            }}</ng-template>
            <ng-template matTabContent [formGroupName]="iSubplot">
              <mat-form-field appearance="fill">
                <mat-label
                  >Choose whether to enable or disable the subplot</mat-label
                >
                <mat-select
                  formControlName="enabled"
                  required
                  (ngModelChange)="build2dViz()"
                  disableOptionCentering
                >
                  <mat-option
                    *ngFor="let subplotEnabledType of subplotEnabledTypes"
                    [value]="subplotEnabledType"
                  >
                    {{ subplotEnabledType }}
                  </mat-option>
                </mat-select>
                <biosimulations-icon
                  icon="visible"
                  matPrefix
                ></biosimulations-icon>
                <mat-hint
                  >Choose whether to enable or disable the subplot.</mat-hint
                >
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Select the number of curves to display</mat-label>
                <input
                  matInput
                  formControlName="numCurves"
                  type="number"
                  min="0"
                  step="1"
                  required
                  (ngModelChange)="setNumCurves(iSubplot)"
                />
                <biosimulations-icon
                  icon="report"
                  matPrefix
                ></biosimulations-icon>
                <mat-hint
                  >runBioSimulations can display one or more curves per
                  subplots. Select the number of curves that you would like to
                  display.</mat-hint
                >
              </mat-form-field>

              <div class="form-field-group curves" formArrayName="curves">
                <div class="icon-label-input">
                  <biosimulations-icon
                    icon="report"
                    matPrefix
                  ></biosimulations-icon>
                  <div class="label-input">
                    <mat-label>Select the data for each curve *</mat-label>
                    <div class="input">
                      <div class="input-heading">Id</div>
                      <div class="input-heading">Name</div>
                      <div class="input-heading">X data set *</div>
                      <div class="input-heading">Y data set *</div>
                      <ng-container
                        *ngFor="
                          let curve of subplotCurves[iSubplot];
                          index as iCurve
                        "
                        [formGroupName]="iCurve"
                      >
                        <div class="input-row">
                          <input
                            matInput
                            formControlName="id"
                            (ngModelChange)="build2dViz()"
                          />
                        </div>
                        <div class="input-row">
                          <input
                            matInput
                            formControlName="name"
                            (ngModelChange)="build2dViz()"
                          />
                        </div>
                        <div class="input-row">
                          <mat-select
                            formControlName="xData"
                            required
                            (ngModelChange)="build2dViz()"
                            disableOptionCentering
                          >
                            <mat-optgroup
                              *ngFor="
                                let sedDocument of combineResultsStructure
                              "
                              [label]="sedDocument.location"
                            >
                              <mat-optgroup
                                *ngFor="let report of sedDocument.reports"
                                [label]="report.id"
                              >
                                <mat-option
                                  *ngFor="let dataset of report.datasets"
                                  [value]="dataset.uri"
                                >
                                  {{ dataset.label }}
                                </mat-option>
                              </mat-optgroup>
                            </mat-optgroup>
                          </mat-select>
                        </div>
                        <div class="input-row">
                          <mat-select
                            formControlName="yData"
                            required
                            (ngModelChange)="build2dViz()"
                            disableOptionCentering
                          >
                            <mat-optgroup
                              *ngFor="
                                let sedDocument of combineResultsStructure$
                                  | async
                              "
                              [label]="sedDocument.location"
                            >
                              <mat-optgroup
                                *ngFor="let report of sedDocument.reports"
                                [label]="report.id"
                              >
                                <mat-option
                                  *ngFor="let dataset of report.datasets"
                                  [value]="dataset.uri"
                                >
                                  {{ dataset.label }}
                                </mat-option>
                              </mat-optgroup>
                            </mat-optgroup>
                          </mat-select>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <mat-hint
                  >Select the SED data sets for the X and Y data of each
                  curve.</mat-hint
                >
              </div>

              <mat-form-field appearance="fill">
                <mat-label>Select a scale for the x-axis</mat-label>
                <mat-select
                  formControlName="xAxisType"
                  required
                  (ngModelChange)="build2dViz()"
                  disableOptionCentering
                >
                  <mat-option
                    *ngFor="let axisLabelType of axisLabelTypes"
                    [value]="axisLabelType.type"
                  >
                    {{ axisLabelType.label }}
                  </mat-option>
                </mat-select>
                <biosimulations-icon
                  icon="visualization"
                  matPrefix
                ></biosimulations-icon>
                <mat-hint
                  >Select a scale such as "linear" or "logarithmic".</mat-hint
                >
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Select a scale for the y-axis</mat-label>
                <mat-select
                  formControlName="yAxisType"
                  required
                  (ngModelChange)="build2dViz()"
                  disableOptionCentering
                >
                  <mat-option
                    *ngFor="let axisLabelType of axisLabelTypes"
                    [value]="axisLabelType.type"
                  >
                    {{ axisLabelType.label }}
                  </mat-option>
                </mat-select>
                <biosimulations-icon
                  icon="visualization"
                  matPrefix
                ></biosimulations-icon>
                <mat-hint
                  >Select a scale such as "linear" or "logarithmic".</mat-hint
                >
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Select a type of plot</mat-label>
                <mat-select
                  formControlName="scatterTraceMode"
                  required
                  (ngModelChange)="build2dViz()"
                  disableOptionCentering
                >
                  <mat-option
                    *ngFor="let scatterTraceModeLabel of scatterTraceModeLabels"
                    [value]="scatterTraceModeLabel.mode"
                  >
                    {{ scatterTraceModeLabel.label }}
                  </mat-option>
                </mat-select>
                <biosimulations-icon
                  icon="visualization"
                  matPrefix
                ></biosimulations-icon>
                <mat-hint
                  >Select a type of plot such as "line" or "scatter".</mat-hint
                >
              </mat-form-field>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </ng-container>

      <ng-container
        *ngIf="selectedVisualizationType === VisualizationType.vega"
        formGroupName="vega"
      >
        <div class="form-section">
          <div class="form-section-body">
            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <biosimulations-icon
                  icon="project"
                  matPrefix
                ></biosimulations-icon>
                <mat-label>Select a Vega file</mat-label>
                <ngx-mat-file-input
                  formControlName="vegaFile"
                  accept=".json"
                  [multiple]="false"
                  [required]="true"
                  placeholder="Vega file"
                ></ngx-mat-file-input>
              </mat-form-field>
              <mat-hint>
                Select a Vega file. Information about the Vega format is here
                <a href="https://vega.github.io/vega/" target="_blank"
                  ><biosimulations-icon icon="link"></biosimulations-icon></a
                >. Guidelines for using Vega to visualize simulation results are
                available here
                <a
                  href="https://biosimulators.org/conventions/data-viz"
                  target="_blank"
                  ><biosimulations-icon icon="link"></biosimulations-icon></a
                >. Example visualizations for simulation predictions are
                available here
                <a
                  href="https://github.com/biosimulators/Biosimulators_test_suite/tree/dev/examples"
                  target="_blank"
                  ><biosimulations-icon icon="link"></biosimulations-icon></a
                >.
              </mat-hint>
              <mat-error
                *ngIf="
                  vegaFileFormControl.touched && !vegaFileFormControl.valid
                "
              >
                The selected file is not a syntactically valid Vega document.
              </mat-error>
            </div>
          </div>
        </div>

        <div
          *ngIf="vegaDataSetSedmlLocationReportIdsFormArray.controls.length"
          class="form-section"
        >
          <div class="form-section-head">
            <div class="mat-form-field-prefix">
              <biosimulations-icon icon="report"></biosimulations-icon>
            </div>
            <div class="form-section-head-title-subtitle">
              <div class="form-section-title">
                Map the results of the simulation to the visualization *
              </div>
              <div class="form-section-subtitle">
                Map SED reports to the data sets of the Vega visualization
              </div>
            </div>
          </div>
          <div class="form-section-body vega-map">
            <div
              formArrayName="vegaDataSetSedmlLocationReportIds"
              class="form-field-group"
            >
              <ng-container>
                <div class="vega-map-head">SED report</div>
                <biosimulations-icon
                  icon="longRightArrow"
                  class="vega-map-head sed-to-vega-arrow"
                ></biosimulations-icon>
                <div class="vega-map-head">Vega data set</div>
              </ng-container>

              <ng-container
                *ngFor="
                  let vegaDataSetSedmlLocationReportId of vegaDataSetSedmlLocationReportIdsFormArray.controls;
                  index as iVegaDataSetSedReport;
                  last as isLast
                "
              >
                <mat-form-field appearance="fill" class="vega-map-item-content">
                  <mat-select
                    [formControlName]="iVegaDataSetSedReport"
                    required
                    (ngModelChange)="buildVegaVizData()"
                    disableOptionCentering
                  >
                    <mat-option
                      *ngFor="
                        let sedmlLocationsReportId of sedmlLocationsReportIds$
                          | async
                      "
                      [value]="sedmlLocationsReportId.uri"
                    >
                      {{ sedmlLocationsReportId.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <biosimulations-icon
                  icon="longRightArrow"
                  class="sed-to-vega-arrow"
                ></biosimulations-icon>

                <div
                  class="vega-map-item-label"
                  [title]="vegaDataSets[iVegaDataSetSedReport].name"
                >
                  {{ vegaDataSets[iVegaDataSetSedReport].name }}
                </div>
              </ng-container>
            </div>
            <mat-hint>
              To paint Vega diagrams with simulation results, select the
              simulation output (SED-ML report) that should be mapped to each
              input of the diagram (Vega data set).
            </mat-hint>
          </div>
        </div>
      </ng-container>
    </form>

    <ng-template #noSedDatasets>
      <div
        class="tab-spinner-container"
        *ngIf="gettingResultsStructure; else noDataOrError"
      >
        <biosimulations-spinner></biosimulations-spinner>
      </div>
      <ng-template #noDataOrError>
        <span
          class="info-message"
          *ngIf="
            (this.combineResultsStructure$ | async) !== undefined;
            else resultsError
          "
          >The execution of the COMBINE/OMEX archive did not generate any data.
          runBioSimulations visualizes simulation results outputted via data
          sets of SED reports.</span
        >
        <ng-template #resultsError>
          <span class="info-message"
            >Sorry! The results of your simulation could not be retrieved.</span
          >
        </ng-template>
      </ng-template>
    </ng-template>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Visualize chart"
    icon="chart"
    urlHashFragment="viz"
    [fullHeight]="true"
    [disabled]="
      !gettingResults &&
      ((selectedVisualizationType === VisualizationType.lineScatter2d &&
        !lineScatter2dValid) ||
        (selectedVisualizationType === VisualizationType.vega &&
          (vegaSpec$ | async) === null))
    "
  >
    <div
      class="tab-spinner-container"
      *ngIf="
        gettingResults &&
        ((selectedVisualizationType === VisualizationType.lineScatter2d &&
          !lineScatter2dValid) ||
          (selectedVisualizationType === VisualizationType.vega &&
            (vegaSpec$ | async) === null))
      "
    >
      <biosimulations-spinner> </biosimulations-spinner>
    </div>

    <biosimulations-plotly-visualization
      [dataLayout]="vizDataLayout$ | async"
      *ngIf="
        !gettingResults &&
        selectedVisualizationType === VisualizationType.lineScatter2d
      "
    >
    </biosimulations-plotly-visualization>

    <biosimulations-vega-visualization
      *ngIf="
        !gettingResults && selectedVisualizationType === VisualizationType.vega
      "
      [spec]="vegaSpec$"
      (error)="vegaErrorHandler()"
    >
    </biosimulations-vega-visualization>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab
    heading="Log"
    icon="logs"
    urlHashFragment="log"
    [disabled]="(statusRunning$ | async) !== false"
  >
    <ng-container *ngIf="logs$ | async as logs; else noLogs">
      <ng-container *ngIf="formattedSimulation$ | async as sim">
        <biosimulations-simulation-log
          [status]="sim.status"
          [rawLog]="logs.raw"
          [structuredLog]="logs.structured"
        >
        </biosimulations-simulation-log>
      </ng-container>
    </ng-container>
    <ng-template #noLogs>
      <span class="info-message"
        >Sorry! The logs for your simulation could not be retrieved.</span
      >
    </ng-template>
  </biosimulations-tab-page-tab>
</biosimulations-tab-page>
