@use '@angular/material' as mat;
@import 'biosimulations-colors';

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.display-data {
  display: flex;
  flex-direction: row;
  height: auto;
  overflow-x: hidden;
}

.display-data > * {
  flex: 1;
  margin: 40px;
}

.mat-expansion-panel {
  height: auto;
}

.plotparent {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}

.mat-grid-list {
  padding-top: 5rem;
  display: grid;
}

.mat-grid-tile {
  height: auto;
  width: 100%;
  padding-top: 0rem;
  justify-content: center;
  display: flex;
}

.mat-grid-tile-header {
  justify-content: center;
}

biosimulations-tab-page ::ng-deep .icon-list {
  & > li:not(:first-child) {
    margin-top: 0.125rem;
  }

  a {
    color: $dark-primary-text;
    &:hover {
      color: $dark-primary-text;
      text-decoration: underline;
    }
  }
}

.files {
  margin-top: -2rem;
  ::ng-deep {
    h3 .icon-container {
      display: none;
    }
  }
}

@media screen and (max-width: 959px) {
  .files {
    margin-top: -1rem;
  }
}

.metadata-card {
  background-color: none;
}

.viz-card {
  background-color: none;
  overflow: hidden;
  display: flex;
  height: inherit;
}

.viz-card-header {
  background-color: rgba(145, 18, 191, 0.859); //#087008;
  font-weight: 600;
  color: white;
  padding-bottom: 1rem;
}

.figure-card {
  display: flex;
  width: auto;
  overflow: hidden;
}

.figure-card-header {
  background-color: #ff9800; //rgba(145, 18, 191, 0.859);//#ffa500;
  font-weight: 300;
  color: white;
  align-items: center;
  border: 1px solid;
  border-radius: inherit;
  height: auto;
  padding-bottom: 0.5rem;
}
