<div class="spinner-container full-height has-breadcrumbs" *ngIf="(loaded$ | async) !== true">
  <biosimulations-spinner></biosimulations-spinner>
</div>

<ng-container *ngIf="jsonLdData$ | async as jsonLdData">
  <biosimulations-json-ld [json]="jsonLdData"></biosimulations-json-ld>
</ng-container>

<ng-container *ngIf="projectMetadata$ | async as projectMetadata">
  <ng-container *ngIf="simulationRun$ | async as simulationRun">
    <div class="display-data">
      <!-- Start Left Column-->
      <div class="metadata-container">
        <biosimulations-project-metadata
          [project]="projectMetadata"
          [simulationRun]="simulationRun"
          [projectSummary]="projectSummary$ | async">
        </biosimulations-project-metadata>
      </div>
      <!-- End Left Column -->

      <!-- Start Right Column -->
      <mat-card class="viz-card">
        <mat-card-content class="viz-card-content">
          <!-- Start ReRun Simulation Button -->
          <mat-card-header class="viz-card-header"> </mat-card-header>
          <!-- End ReRun Simulation Button -->

          <mat-tab-group #tabGroup preserveContent="true" [dynamicHeight]="true" [selectedIndex]="selectedTabIndex">
            <!-- Start Visualizations Tab -->
            <!-- FOR FUTURE IMPLEMENTATIONS: cdkdrag of plot position
            <mat-tab class="right-col-tab figures">
              <ng-template mat-tab-label>
                <biosimulations-icon icon="write"></biosimulations-icon>
                <div style="width: 5px"></div>
                Figures
              </ng-template>
              <mat-card class="plots-card">
                <mat-grid-list
                  *ngFor="let plotVisualization of plotVisualizations$ | async"
                  cols="1"
                  rowHeight="525px"
                  gutterSize="20"
                  cdkDropList
                  (cdkDropListDropped)="drop($event)">
                  <mat-grid-tile class="figure-card" cdkDrag>
                    <mat-grid-tile-header
                      class="figure-card-header"
                      style="background-color: #2196f3; height: 6%"
                      cdkDragHandle>
                      {{ plotVisualization.name }}
                    </mat-grid-tile-header>
                    <div class="plotparent">
                      <div class="figure-card-placeholder" *cdkDragPlaceholder></div>
                      <biosimulations-project-visualization
                        [visualization]="plotVisualization"
                        [plotTitle]="plotVisualization.name"
                        [projectTitle]="projectMetadata.title">
                      </biosimulations-project-visualization>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card>
            </mat-tab> -->
            <mat-tab class="right-col-tab figures">
              <ng-template mat-tab-label>
                <biosimulations-icon icon="write"></biosimulations-icon>
                <div style="width: 5px"></div>
                Figures
              </ng-template>
              <mat-card class="plots-card">
                <mat-grid-list
                  *ngFor="let plotVisualization of plotVisualizations$ | async"
                  cols="1"
                  rowHeight="525px"
                  gutterSize="20">
                  <mat-grid-tile class="figure-card">
                    <mat-grid-tile-header
                      class="figure-card-header"
                      style="background-color: #2196f3; height: 6%">
                      {{ plotVisualization.name }}
                    </mat-grid-tile-header>
                    <div class="plotparent">
                      <biosimulations-project-visualization
                        [visualization]="plotVisualization"
                        [plotTitle]="plotVisualization.name"
                        [projectTitle]="projectMetadata.title">
                      </biosimulations-project-visualization>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card>
            </mat-tab>
            <!-- End Visualizations Tab -->

            <!-- Begin Project files Tab -->
            <mat-tab class="right-col-tab files">
              <ng-template mat-tab-label>
                <biosimulations-icon icon="project"></biosimulations-icon>
                <div style="width: 5px"></div>
                Download
              </ng-template>
              <mat-card class="files-card">
                <mat-card-content>
                  <!-- OMEX File -->
                  <mat-expansion-panel class="files-item omex" expanded="true">
                    <mat-expansion-panel-header class="item-expansion-header files-omex"
                      >Simulation specification (COMBINE/OMEX archive)</mat-expansion-panel-header
                    >
                    <mat-card-content>
                      <div *ngIf="projectFiles$ | async as files">
                        <biosimulations-project-files
                          id="content"
                          [files]="files"
                          [usesMaster]="false"
                          [usesMetadata]="false">
                        </biosimulations-project-files>
                      </div>
                    </mat-card-content>
                  </mat-expansion-panel>

                  <div class="divider files-item-0"></div>

                  <!-- Spec Files (sbml, manifest, etc) -->
                  <mat-expansion-panel class="files-item specContent">
                    <mat-expansion-panel-header class="item-expansion-header files-sim-spec"
                      >Contents of simulation specification (Model and Metadata files)</mat-expansion-panel-header
                    >
                    <mat-card-content>
                      <div *ngIf="files$ | async as files">
                        <biosimulations-project-files
                          id="content"
                          [files]="files"
                          [usesMaster]="true"
                          [usesMetadata]="true">
                        </biosimulations-project-files>
                      </div>
                    </mat-card-content>
                  </mat-expansion-panel>

                  <div class="divider files-item-1"></div>

                  <!-- Output Data Files -->
                  <mat-expansion-panel class="files-item outputs">
                    <mat-expansion-panel-header class="item-expansion-header files-sim-outputs"
                      >Simulation outputs (Results, Plots, Logs)</mat-expansion-panel-header
                    >
                    <mat-card-content>
                      <div *ngIf="outputs$ | async as files">
                        <biosimulations-project-files
                          id="content"
                          [files]="files"
                          [usesMaster]="false"
                          [usesMetadata]="false">
                        </biosimulations-project-files>
                      </div>
                    </mat-card-content>
                  </mat-expansion-panel>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <!-- End Project Files Tab -->

            <!-- Begin Project Details Tab -->
            <mat-tab class="right-col-tab details">
              <ng-template mat-tab-label>
                <biosimulations-icon icon="simulation"></biosimulations-icon>
                <div style="width: 5px"></div>
                Details
              </ng-template>
              <mat-card class="details-card">
                <mat-card-content>
                  <!-- Start Details Display -->
                  <div *ngIf="projectMetadata$" fxGrid>
                    <!-- Biology, simulation, provenance, & identifiers information -->
                    <div
                      *ngIf="
                        projectMetadata?.modelSimulation?.length ||
                        simulationRun?.length ||
                        projectMetadata?.provenance?.length ||
                        projectMetadata?.identifiers?.length
                      "
                      class="attributes-column ragged-column"
                      fxLayout="column"
                      fxInlineBlock
                      fxFlex.lt-lg="100%">
                      <!-- Start NG Containers -->
                      <ng-container
                        *ngTemplateOutlet="
                          sectionsTemplate;
                          context: {
                            sections: projectMetadata?.modelSimulation || [],
                            expanded: panelExpandedStatus['modelSimulation']
                          }
                        ">
                      </ng-container>
                      <ng-container
                        *ngTemplateOutlet="sectionsTemplate; context: { sections: simulationRun || [] }"></ng-container>
                      <ng-container
                        *ngTemplateOutlet="
                          sectionsTemplate;
                          context: {
                            sections: projectMetadata?.provenance || [],
                            expanded: panelExpandedStatus['provenance']
                          }
                        ">
                      </ng-container>
                      <ng-container
                        *ngTemplateOutlet="
                          sectionsTemplate;
                          context: { sections: projectMetadata?.identifiers || [] }
                        "></ng-container>
                      <!-- End NG Containers -->
                      <!-- Start template for containers -->
                      <ng-template #sectionsTemplate let-sections="sections" let-expanded="expanded">
                        <!-- Start Individual Detail Container -->
                        <div class="details-expansion-item-container" *ngFor="let section of sections">
                          <mat-expansion-panel [expanded]="expanded">
                            <mat-expansion-panel-header class="item-expansion-header details-title-expand">
                              {{ section.title }}
                            </mat-expansion-panel-header>
                            <!-- Start Detail with Table Layout -->
                            <table class="icon-list" aria-label="metadata table">
                              <tr *ngFor="let item of section.items" fxLayout="row">
                                <th>
                                  <biosimulations-icon [icon]="item.icon"></biosimulations-icon>
                                </th>
                                <td>
                                  <b>{{ item.title }}:</b>{{ ' ' }}
                                  <a
                                    [matTooltip]="item.value"
                                    [href]="item.url"
                                    rel="noopener"
                                    target="_blank"
                                    *ngIf="item.url; else noHref">
                                    {{ item.value }}
                                  </a>
                                  <ng-template #noHref>{{ item.value }} </ng-template>
                                </td>
                              </tr>
                            </table>
                            <!-- End Detail with table layout -->
                          </mat-expansion-panel>
                          <!-- Divider -->
                          <div class="divider details-item"></div>
                        </div>
                        <!-- End Individual Detail Container -->
                      </ng-template>
                      <!-- End Template -->
                    </div>
                  </div>
                  <!-- End Details Display -->
                </mat-card-content>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
          <!--<div class="rerun-sim-button-container">
            <button
              mat-raised-button
              class="multipurpose-flat-button rerun"
              (click)="promptReRun()"
              matTooltip="This feature is currently being developed!">
              <div style="display: inline-block">
                <span>Customize & ReRun Simulation</span>
                <biosimulations-icon class="rerun-icon" icon="redo"></biosimulations-icon>
              </div>
            </button>
          </div>-->
        </mat-card-content>
      </mat-card>
      <!-- End Right Column -->
    </div>
    <!-- End simulation information -->
  </ng-container>
</ng-container>
