@import 'biosimulations-colors';

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-data {
  display: flex;
  flex-direction: row;
}
.display-data > * {
  flex: 1;
  margin: 40px;
}
.plotparent {
  width: 600px;
  height: 600px;
}
.mat-grid-list {
  padding-top: 0rem;
}
.mat-grid-tile {
  height: 100%;
  padding-top: 2rem;
  justify-content: center;
}
.mat-grid-tile-header {
  justify-content: center;
}

biosimulations-tab-page ::ng-deep .icon-list {
  & > li:not(:first-child) {
    margin-top: 0.125rem;
  }

  a {
    color: $dark-primary-text;
    &:hover {
      color: $dark-primary-text;
      text-decoration: underline;
    }
  }
}

.files {
  margin-top: -2rem;
  ::ng-deep {
    h3 .icon-container {
      display: none;
    }
  }
}

@media screen and (max-width: 959px) {
  .files {
    margin-top: -1rem;
  }
}
