<biosimulations-page heading="Run a simulation project">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onFormSubmit()"
    *ngIf="simulators.length; else simulatorsLoading"
  >
    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="project"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">COMBINE/OMEX archive*</div>
          <div class="form-section-subtitle">
            Select a local file or enter a URL for a COMBINE/OMEX archive that
            contains SED-ML files
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group">
          <div class="columns two-columns">
            <mat-form-field appearance="fill">
              <biosimulations-icon
                icon="location"
                matPrefix
              ></biosimulations-icon>
              <mat-label
                >Select a method for providing a simulation project
                (COMBINE/OMEX file)</mat-label
              >
              <mat-select
                required
                formControlName="submitMethod"
                (ngModelChange)="changeSubmitMethod()"
              >
                <mat-option value="file">Upload a local file</mat-option>
                <mat-option value="url">Enter a URL for a file</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              *ngIf="formGroup.value.submitMethod === 'file'"
            >
              <biosimulations-icon
                icon="project"
                matPrefix
              ></biosimulations-icon>
              <mat-label
                >Select a simulation project (COMBINE/OMEX file)</mat-label
              >
              <ngx-mat-file-input
                formControlName="projectFile"
                accept=".omex,.sedx,.zip,application/zip"
                [multiple]="false"
                [required]="true"
                (ngModelChange)="changeProject()"
              ></ngx-mat-file-input>
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              *ngIf="formGroup.value.submitMethod === 'url'"
            >
              <biosimulations-icon icon="url" matPrefix></biosimulations-icon>
              <mat-label>Enter a URL for a COMBINE/OMEX archive</mat-label>
              <input
                [required]="true"
                matInput
                formControlName="projectUrl"
                [placeholder]="exampleCombineArchiveUrl"
                (ngModelChange)="changeProject()"
              />
            </mat-form-field>
          </div>

          <mat-hint>
            <p>
              Select a method for providing a COMBINE/OMEX archive which
              describes one or more simulations (in SED-ML format) of one or
              more models (e.g., in BNGL, SBML formats). COMBINE/OMEX files can
              either be uploaded from your local computer or loaded from a
              publicly-accessible URL.
            </p>

            <p>
              A form for creating COMBINE/OMEX archives and SED-ML files from
              model files is available <a [routerLink]="['/create']">here</a>.
              COMBINE/OMEX archives can also be created with simulation tools
              such as COPASI
              <a href="http://copasi.org/" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon
              ></a>
              and VCell
              <a href="https://vcell.org/" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon></a
              >. Additional information about obtaining and creating
              COMBINE/OMEX archives is available in the
              <a [routerLink]="['/help']">help</a> and
              <a [routerLink]="['/help']">FAQ</a>. The help includes
              recommendations for additional software tools for authoring
              COMBINE/OMEX archives and SED-ML files. The FAQ includes
              information about known incompatibilities among COMBINE/OMEX
              archives and SED-ML files created with different tools.
            </p>

            <p>
              Click
              <a [routerLink]="['/simulations']" [queryParams]="{ try: '1' }"
                >here</a
              >
              to load several example simulation projects from the BioSimulators
              test suite
              <a [href]="exampleCombineArchivesUrl" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon></a
              >.
            </p>
          </mat-hint>
          <mat-error
            *ngIf="
              (submitPushed || projectFileControl.touched) &&
              formGroup.hasError('noProjectFile')
            "
            >Please select a COMBINE/OMEX file.</mat-error
          >
          <mat-error
            *ngIf="
              (submitPushed || projectFileControl.touched) &&
              formGroup.hasError('maxSize', 'projectFile')
            "
            >Currently, COMBINE/OMEX archives are limited to 16 MB.</mat-error
          >
          <mat-error
            *ngIf="
              (submitPushed || projectUrlControl.touched) &&
              formGroup.hasError('noProjectUrl')
            "
            >Please enter a URL for a COMBINE/OMEX file.</mat-error
          >
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="review"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">
            Required capabilities to execute your COMBINE/OMEX archive
          </div>
          <div class="form-section-subtitle">
            Optionally, describe the capabilities required to execute your
            COMBINE/OMEX archive
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group">
          <div class="columns three-columns">
            <mat-form-field appearance="fill">
              <biosimulations-icon icon="file" matPrefix></biosimulations-icon>
              <mat-label>Model formats involved in the archive</mat-label>
              <mat-select
                formControlName="modelFormats"
                (ngModelChange)="filterSimulators()"
                multiple
              >
                <mat-option
                  *ngFor="let format of modelFormats"
                  [value]="format.id"
                  [disabled]="format.disabled"
                  >{{ format.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <biosimulations-icon icon="file" matPrefix></biosimulations-icon>
              <mat-label>Algorithms involved in the archive</mat-label>
              <mat-select
                formControlName="simulationAlgorithms"
                (ngModelChange)="filterSimulators()"
                multiple
              >
                <mat-option
                  *ngFor="let algorithm of simulationAlgorithms"
                  [value]="algorithm.id"
                  [disabled]="algorithm.disabled"
                  >{{ algorithm.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <biosimulations-icon icon="file" matPrefix></biosimulations-icon>
              <mat-label
                >Degree to which similar algorithms can be executed</mat-label
              >
              <mat-select
                formControlName="simulationAlgorithmSubstitutionPolicy"
                (ngModelChange)="filterSimulators()"
              >
                <mat-option
                  *ngFor="let policy of ALGORITHM_SUBSTITUTION_POLICIES"
                  [value]="policy.level"
                  >{{ policy.level }}. {{ policy.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <mat-hint
            >Use the above menus to narrow the list of simulation tools below to
            those tools which have the capabilities to execute your COMBINE/OMEX
            archive (tools which support the model formats and simulation
            algorithms of the models and simulations described by your
            COMBINE/OMEX archive).</mat-hint
          >
          <mat-error
            *ngIf="
              (submitPushed || modelFormatsControl.touched) &&
              formGroup.hasError('unsupportedFormats', 'modelFormats')
            "
            >Your COMBINE/OMEX archive involves model formats that are not
            supported by any simulation tool available through
            runBioSimulations.</mat-error
          >
          <mat-error
            *ngIf="
              (submitPushed || simulationAlgorithmsControl.touched) &&
              formGroup.hasError(
                'unsupportedAlgorithms',
                'simulationAlgorithms'
              )
            "
            >Your COMBINE/OMEX archive involves simulation algorithms that are
            not supported by any simulation tool available through
            runBioSimulations.</mat-error
          >
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="simulator"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Simulation tool *</div>
          <div class="form-section-subtitle">
            Select a tool that has the capabilities to execute your COMBINE/OMEX
            archive
          </div>
        </div>
      </div>

      <div class="form-section-body">
        <div class="form-field-group">
          <div class="columns two-columns">
            <mat-form-field appearance="fill">
              <mat-label>Simulation tool</mat-label>
              <mat-select
                formControlName="simulator"
                disableOptionCentering
                placeholder="COPASI"
                (ngModelChange)="changeSimulator()"
                required
              >
                <mat-option
                  *ngFor="let simulator of simulators"
                  [value]="simulator.id"
                  [disabled]="simulator.disabled"
                >
                  {{ simulator.name }}
                </mat-option>
              </mat-select>
              <biosimulations-icon
                icon="simulator"
                matPrefix
              ></biosimulations-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Version of the simulation tool</mat-label>
              <mat-select
                formControlName="simulatorVersion"
                disableOptionCentering
                placeholder="latest"
                required
              >
                <mat-option
                  *ngFor="let simulatorVersion of simulatorVersions"
                  [value]="simulatorVersion"
                >
                  {{ simulatorVersion }}
                </mat-option>
              </mat-select>
              <biosimulations-icon
                icon="version"
                matPrefix
              ></biosimulations-icon>
            </mat-form-field>
          </div>

          <mat-hint>
            <p>
              Select a simulation tool which is capable of executing your
              archive and a version of that tool. This tool must support all of
              the model formats (e.g., BNGL, SED-ML) and simulation algorithms
              (e.g., ODE, SSA) involved in your archive.
            </p>

            <p class="alert">
              Because each tool supports a different set of formats and
              algorithms, your archive is likely only compatible with a subset
              of the available simulation tools.
            </p>

            <p>
              The README for the BioSimulators test suite
              <a [href]="exampleCombineArchivesUrl" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon
              ></a>
              outlines the simulator compatibility of several of the example
              archives in the test suite.
            </p>

            <p>
              BioSimulators
              <a href="https://biosimulators.org" target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon
              ></a>
              describes the modeling formats (e.g., COMBINE/OMEX, SBML, SED-ML),
              modeling frameworks (e.g., logical, FBA, kinetic), and simulation
              algorithms (e.g., ODE, SSA) that each simulation tool supports. We
              recommend using BioSimulators to determine which tools are capable
              of executing your archive.
            </p>
          </mat-hint>
          <mat-error
            *ngIf="submitPushed && formGroup.hasError('required', 'simulator')"
            >Please select a simulator.</mat-error
          >
          <mat-error
            *ngIf="
              submitPushed && formGroup.hasError('required', 'simulatorVersion')
            "
            >Please select a version of the simulator.</mat-error
          >
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="simulator"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Commercial solvers</div>
          <div class="form-section-subtitle">
            Optional: To execute the simulation with a commercial solver,
            confirm the purpose of the simulation is academic research or
            education.
          </div>
        </div>
      </div>

      <div class="form-section-body">
        <div class="form-field-group">
          <mat-checkbox
            formControlName="academicPurpose"
            [disableRipple]="true"
            color="primary"
          >
            The purpose of this simulation is academic research or education.
          </mat-checkbox>
          <mat-hint>
            <p>
              Some simulation tools, such as COBRApy and RBApy, can optionally
              execute simulations using commercial solvers such as Gurobi
              <a
                href="https://www.gurobi.com/products/gurobi-optimizer/"
                target="_blank"
                ><biosimulations-icon icon="link"></biosimulations-icon></a
              >. These commercial solvers are often more accurate and more
              performant. However, these commercial solvers are not required to
              execute any of the available simulation tools. All of the
              available simulation tools can be run with freely available
              solvers.
            </p>

            <p>
              Optionally, users can use these commercial solvers for academic
              research and education. To use these commercial solvers, check the
              box above to confirm that you are using runBioSimulations for
              academic research or education.
            </p>

            <p>
              Non-academic users can execute simulations with commercial solvers
              by (a) running simulations through runBioSimulations' API and
              providing license keys through environment variables or (b) using
              the Docker images, command-line programs, or Python APIs for
              simulation tools on their own machines with their own license key
              environment variables or license files.
            </p>
          </mat-hint>
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="server"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Computational resources *</div>
          <div class="form-section-subtitle">
            Configure the CPUs, memory, and time needed to execute your
            COMBINE/OMEX archive
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group">
          <div class="columns three-columns">
            <mat-form-field appearance="fill">
              <mat-label>CPUs</mat-label>
              <input
                matInput
                formControlName="cpus"
                type="number"
                min="1"
                max="24"
                step="1"
                required
              />
              <span matSuffix>cores</span>
              <biosimulations-icon
                icon="processor"
                matPrefix
              ></biosimulations-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Memory</mat-label>
              <input
                matInput
                formControlName="memory"
                type="number"
                min="1"
                max="192"
                step="0.01"
                required
              />
              <span matSuffix>GB</span>
              <biosimulations-icon
                icon="memory"
                matPrefix
              ></biosimulations-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Time</mat-label>
              <input
                matInput
                formControlName="maxTime"
                type="number"
                min="1"
                max="28800"
                step="1"
                required
              />
              <span matSuffix>min</span>
              <biosimulations-icon
                icon="duration"
                matPrefix
              ></biosimulations-icon>
            </mat-form-field>
          </div>

          <mat-hint
            >Configure the amount of resources needed to execute your project.
            Currently, users can request up to 24 CPU cores, 192 GB RAM, and 20
            days. if additional resources are needed, please contact the
            runBioSimulations Team
            <a [href]="emailUrl"
              ><biosimulations-icon icon="email"></biosimulations-icon
            ></a>
            to discuss additional options.
          </mat-hint>

          <mat-error *ngIf="formGroup.hasError('min', 'cpus')"
            >Jobs must request at least 1 core.</mat-error
          >
          <mat-error *ngIf="formGroup.hasError('max', 'cpus')"
            >Jobs are limited to 24 CPU cores.</mat-error
          >
          <mat-error *ngIf="formGroup.hasError('integer', 'cpus')"
            >Jobs must request an integer number of CPU cores.</mat-error
          >
          <mat-error *ngIf="formGroup.hasError('min', 'memory')"
            >Jobs must request at least 1 GB RAM.</mat-error
          >
          <mat-error *ngIf="formGroup.hasError('max', 'memory')"
            >Jobs are limited to 192 GB RAM.</mat-error
          >
          <mat-error *ngIf="formGroup.hasError('min', 'maxTime')"
            >Jobs must request at least 1 minute.</mat-error
          >
          <mat-error *ngIf="formGroup.hasError('max', 'maxTime')"
            >Jobs are limited to 20 days.</mat-error
          >
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="tags"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Meta data *</div>
          <div class="form-section-subtitle">
            Enter a descriptive name to help you recall this archive
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <mat-form-field appearance="fill">
          <mat-label>Descriptive name</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Knockout of gene A"
            required
          />
          <biosimulations-icon icon="tag" matPrefix></biosimulations-icon>
          <mat-hint>
            Provide a name for your modeling project. If you execute multiple
            projects, this name will help you identify this project among all of
            your projects.
          </mat-hint>
          <mat-error
            *ngIf="submitPushed && formGroup.hasError('required', 'name')"
            >Please enter a name for your project.</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="email"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Notifications</div>
          <div class="form-section-subtitle">
            Optionally, enter an email address to recieve notifications of the
            completion of your archive
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <mat-form-field appearance="fill">
          <mat-label>Email address</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="investigator@uni.edu"
          />
          <biosimulations-icon icon="email" matPrefix></biosimulations-icon>
          <mat-hint
            ><p>
              Optionally, enter your email address to receive notification of
              the completion of your simulation. After submitting your
              simulation, you will also receive a URL where you will be able to
              check the status of your simulation and retrieve its results.
            </p>
          </mat-hint>
          <mat-error *ngIf="formGroup.hasError('email', 'email')"
            >Please enter a valid email address.</mat-error
          >
        </mat-form-field>

        <div
          *ngIf="formGroup.value.email && !formGroup.hasError('email', 'email')"
        >
          <mat-checkbox
            formControlName="emailConsent"
            [disableRipple]="true"
            color="primary"
          >
            I consent to receiving an email notification about the completion of
            my simulation.
          </mat-checkbox>
          <mat-error *ngIf="formGroup.hasError('emailNotConsented')"
            >You must consent to receiving email notifications.</mat-error
          >
        </div>
      </div>
    </div>

    <button mat-flat-button type="submit" class="biosimulations-button text">
      Run
    </button>
    <div class="clear-float"></div>
  </form>

  <ng-template #simulatorsLoading>
    <div class="headed-page-spinner-container">
      <biosimulations-spinner></biosimulations-spinner>
    </div>
  </ng-template>
</biosimulations-page>
