@use '@angular/material' as mat;
@import 'biosimulations-colors';

.message {
  margin-top: 1rem;

  &.success {
    color: mat.get-color-from-palette($theme-primary);
    a {
      text-decoration: underline;
    }
  }
}

mat-checkbox {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 125%;
}
