button {
  float: right;
}

.card-form-section {
  height: 100%;
  padding-bottom: 1rem;
  padding-right: 1rem;
  background-color: white;
  overflow-x: hidden;
}

.card-form-section-title {
  background-color: #ff9800;
  color: white;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  font-weight: 700;

  &:hover {
    color: var(--quaternary-darker-color);
    transition: color 0.3s ease;
  }
}

.input-group {
  height: 100%;
  padding-top: 3rem;
}

.resources {
  input {
    padding-top: 3rem;
  }
}

.card-form-field {
  justify-content: center;
  display: flex;

  &:active {
    height: fit-content;
  }
}

mat-select {
  background-color: white !important;
}

mat-option {
  background-color: white !important;

  &:hover {
    background-color: var(--accent-lighter-color) !important;
    color: var(--primary-color);
  }
}

.alert {
  width: fit-content;
  background-color: var(--warn-lighter-color);
  color: var(--warn-color);
  padding: 6px;

  &:hover {
    color: var(--primary-darker-color);
    transition: color 0.5s ease;
  }
}

.message {
  margin-top: 1rem;

  &.success {
    color: var(--primary-color);
    a {
      text-decoration: underline;
    }
  }
}
