.form-array-el
    margin-top: 0.5rem
.form-array-el:first-child
    margin-top: 0

.form-group
    display: grid
    grid-gap: 0.25rem

    .ng-fa-icon
        display: flex
        align-items: center
        cursor: pointer

.form-group.taxon
    grid-template-columns: 1fr 1fr

.form-group.authors
    grid-template-columns: auto 1fr 5rem 1fr auto

.form-group.identifiers
    grid-template-columns: auto 1fr 1fr auto

.form-group.refs
    grid-template-columns: auto 1fr 1fr 5rem 5rem 5rem 5rem 1fr auto
