<ng-container *ngIf="model$ | async as model; else notPresent">
  <biosimulations-resource-overview
    [name]="model.name"
    [authors]="model.authors"
    [owner]="model.owner"
    [tags]="model.tags"
    [description]="model.description"
    [summary]="model.summary"
    [imageUrl]="model.imageUrl"
    [attributes]="[model.taxon, model.framework, model.format]"
  >
  </biosimulations-resource-overview>
</ng-container>

<ng-template #notPresent>
  <ng-container *ngIf="isLoading; else notFound">
    <biosimulations-spinner></biosimulations-spinner>
  </ng-container>
  <ng-template #notFound>
    The model with id {{ id$ | async }} was not found
  </ng-template>
  <biosimulations-debug-viewer>
    {{ id$ | async }}
    {{ model$ | async | json }}
  </biosimulations-debug-viewer>
</ng-template>
