<biosimulations-tab-page>
  <div class="tab-spinner-container" *ngIf="loading$ | async">
    <biosimulations-spinner> </biosimulations-spinner>
  </div>

  <biosimulations-tab-page-tab heading="Overview" icon="overview">
    <ng-container *ngIf="metadata | async as metadata ">
      <biosimulations-project-overview [metadata]="metadata">
      </biosimulations-project-overview>
    </ng-container>
  </biosimulations-tab-page-tab>

  <biosimulations-tab-page-tab heading="Visualizations" icon="chart">
    <ng-container *ngIf="metadata | async as metadata ">
      <biosimulations-project-overview [metadata]="metadata">
      </biosimulations-project-overview>
    </ng-container>
  </biosimulations-tab-page-tab>
</biosimulations-tab-page>
