@import 'biosimulations-colors';

.wide-side-bar {
    width: 17rem;
}

biosimulations-tab-page ::ng-deep .icon-list {
  & > li:not(:first-child) {
    margin-top: 0.125rem; 
  }

  a {
    color: $dark-primary-text;
    &:hover {
      color: $dark-primary-text;
      text-decoration: underline;
    }
  }
}