@media screen and (max-width: 959px) {
  .parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-form-section {
    overflow-x: visible;
  }
}

button:not(.add-change) {
  float: right;
}

.card-form-section-title {
  display: flex !important;
  align-items: center !important;
}

.email-hint,
.checkbox-group {
  padding-left: 4rem !important;
}

.email-hint {
  color: var(--quaternary-darker-color);
  padding-bottom: 1rem;
}

.update {
  font-size: small;
}

.edit-params-form {
  margin-top: 3rem;
}

.advanced {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;

  &:active {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.advanced-title {
  background-color: var(--accent-darker-color) !important;
  font-weight: bold !important;
  font-size: 12.75px !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.advanced-content {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.advanced-panel:active {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.advanced-container {
  padding-bottom: 3rem !important;
  font-size: 8px !important;
}

.card-form-section {
  height: 100%;
  padding-bottom: 1rem;
  padding-right: 1rem;
  background-color: white;
  overflow: hidden;
  //width: 1000px;
}

.input-group {
  height: 100%;
  padding-top: 3rem;
  //margin-left: 3rem !important;

  &.field-title {
    padding-right: 1rem !important;
  }
}

.resources {
  input {
    padding-top: 3rem;
  }
}

.card-form-field {
  justify-content: center;
  display: flex;
  align-items: center;

  &:first-child {
    margin-left: 1rem;
  }

  &:active {
    height: fit-content;
  }
}

.card-form-section,
mat-option {
  background-color: white !important;
}

mat-option:hover {
  background-color: var(--accent-darker-color) !important;
  color: white !important;
}

.message {
  margin-top: 1rem;

  &.success {
    color: var(--primary-color);
    a {
      text-decoration: underline;
    }
  }
}

.header {
  display: flex;
  margin-bottom: 5px;
}

.row input {
  flex-grow: 2; /* Inputs might be slightly wider */
}

.grid-label {
  font-size: 140%;
  color: rgb(0, 0, 0, 0.75);
  text-align: center;
  white-space: nowrap;
  display: flex;
  padding-right: 3rem;
}

.grid-input {
  font-size: 125%;
  color: rgb(0, 0, 0, 0.6);
  background-color: rgb(0, 0, 0, 0.04);
  padding: 3pt;
  box-sizing: border-box;

  margin-right: 2rem;

  &:not(.name) {
    width: 300px !important;
  }

  &.name {
    width: 500px !important;
  }
}

.model-changes-grid {
  grid-template-columns: repeat(5, auto) 3rem;
  gap: 0.6rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;

  button:not(.add-change) {
    margin: 0;
  }
}

.change-view {
  display: flex;
  margin-left: auto;
  align-items: center;
  color: white !important;
}

.toggle-view-button {
  background-color: var(--accent-darker-color);
  margin-top: -0.12rem !important;

  &.introspect {
    margin-right: 1rem !important;
  }

  &:hover {
    color: var(--primary-darker-color) !important;
    transition: 0.5s color ease-in-out;
  }
}

.change-view-text {
  font-weight: 500;
  color: white !important;
  display: flex;
  align-items: center;
  font-size: 10px !important;
}

.sim-variables {
  display: flex;
  align-items: center;
}

.existing-viz {
  max-width: 1000px !important;
}

.parameter-selection {
  padding-top: 1rem;
  height: fit-content;
}

.biosimulations-button {
  &.add-change {
    background-color: var(--accent-darker-color) !important;
  }

  &.run,
  &.add-change {
    color: white !important;
    margin-right: auto !important;
    font-size: small !important;
    font-weight: bold !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

.param-button {
  color: white !important;
}

.remove-change {
  margin-left: 2rem !important;
  background-color: var(--warn-darker-color);
  color: white !important;
}

.selection-control {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.remove-override {
  margin-left: 3rem !important;
}

.params {
  margin-top: 1rem !important;
  &.select-parameters {
    width: 400px !important;
  }
}

.aster {
  color: var(--warn-lighter-color) !important;
  padding-right: 0.25rem !important;
}

.version {
  margin-left: 0.93rem !important;
}

.param-option {
  padding-bottom: 1rem !important;
}

.rtl-card {
  direction: rtl;
  text-align: right;
}

.ltr-card {
  direction: ltr;
  text-align: left;
}

.header-button-content {
  color: white !important;
  display: flex !important;
  align-items: center;
}
