<div class="form-parent-container platform-run">
  <biosimulations-page heading="Customize Simulation" *ngIf="simulators.length; else loading">
    <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">

      <!-- SIMULATION SETTINGS -->
      <mat-card class="card-form-section mat-elevation-z3">
        <mat-card-header class="card-form-section-title solvers">1. Adjust Simulation Settings*</mat-card-header>

        <!-- simulation name -->
        <div class="input-group">
          <mat-form-field class="card-form-field" appearance="fill">
            <mat-label>Descriptive simulation name</mat-label>
            <input matInput formControlName="name" placeholder="Knockout of gene A" required />
          </mat-form-field>
        </div>

        <!-- simulator -->
        <div class="input-group">
          <mat-form-field class="card-form-field" appearance="fill">
            <mat-label>Simulation tool</mat-label>
            <mat-select
              formControlName="simulator"
              disableOptionCentering
              placeholder="COPASI"
              (ngModelChange)="simulatorControlUpdated()"
              required>
              <mat-option *ngFor="let simulator of simulators" [value]="simulator.id" [disabled]="simulator.disabled">
                {{ simulator.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="card-form-field" appearance="fill">
            <mat-label>Version of the simulation tool</mat-label>
            <mat-select formControlName="simulatorVersion" disableOptionCentering placeholder="latest" required>
              <mat-option *ngFor="let simulatorVersion of simulatorVersions" [value]="simulatorVersion">
                {{ simulatorVersion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- get notifications -->
        <ng-container *ngIf="emailEnabled">
          <div class="input-group">
            <mat-form-field class="card-form-field" appearance="fill">
              <mat-label>Email address</mat-label>
              <input matInput formControlName="email" placeholder="investigator@uni.edu" />
            </mat-form-field>
          </div>
          <mat-card-content class="card-hints 6">
            <mat-hint>
              Optionally, enter your email address to receive notification of the completion of your simulation.
              After submitting your simulation, you will also receive a URL where you will be able to check the
              status of your simulation and retrieve its results.
            </mat-hint>
          </mat-card-content>
          <mat-error *ngIf="formGroup.hasError('email', 'email')">Please enter a valid email address.</mat-error>
          <mat-error *ngIf="formGroup.hasError('emailNotConsented')">
            You must consent to receiving email notifications.
          </mat-error>
        </ng-container>

        <mat-checkbox
          formControlName="emailConsent"
          color="primary"
          (change)="enableEmail($event.checked)">
          I consent to receiving an email notification about the completion of my simulation.
        </mat-checkbox>
      </mat-card>

      <!-- simulation params -->
      <mat-card class="card-form-section mat-elevation-z3">
        <mat-card-header class="card-form-section-title sim-variables">2. Adjust Simulation Parameters*</mat-card-header>
        <mat-card-content class="sim-variables-container">
          <form [formGroup]="variablesFormGroup" (ngSubmit)="onFormSubmit()">

            <!--<mat-checkbox
              color="primary"
              (change)="clearOverrides($event.checked)">
              Clear existing overrides
            </mat-checkbox>-->

            <!-- A. dropdown style implementation -->
            <div class="parameter-dropdown" *ngIf="useDropdown; else changesGrid">
              <div formArrayName="parameterSelections" class="selection-fields">
                <div
                  *ngFor="let selection of parameterSelections.controls; let i = index"
                  [formGroupName]="i"
                  class="parameter-selection">
                  <mat-form-field appearance="fill" class="select-parameters params">
                    <mat-label>Select a parameter to adjust</mat-label>
                    <mat-select formControlName="selectedRowIndex">
                      <mat-option
                        *ngFor="let row of rows.controls; index as idx"
                        [value]="idx"
                        [disabled]="isOptionSelected(idx, i)">
                        {{ row.get('name')?.value }} - {{ row.get('default')?.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <ng-container *ngIf="selection.get('selectedRowIndex')?.value !== null">
                    <mat-form-field appearance="fill" class="parameter-default-value params">
                      <mat-label>Default Value</mat-label>
                      <input matInput [value]="getDefault(i)" disabled>
                    </mat-form-field>

                    <mat-form-field
                      appearance="fill"
                      class="parameter-new-value params">
                      <mat-label>New Value</mat-label>
                      <input matInput [formControl]="getNewValueControl(i)">
                    </mat-form-field>
                    <button
                      mat-flat-button
                      type="button"
                      (click)="removeModelChangeField(i)"
                      matTooltip="Remove parameter change"
                      class="biosimulations-button remove-change params">
                      <biosimulations-icon icon="trash"></biosimulations-icon>
                    </button>
                  </ng-container>
                </div>
                <div class="selection-control">
                  <button
                    mat-flat-button
                    type="button"
                    class="biosimulations-button add-change"
                    matTooltip="Add a new parameter change"
                    (click)="addNewParameterSelection()"
                  >+
                  </button>
                </div>
              </div>
            </div>


            <!-- B. form style implementation -->
            <ng-template #changesGrid>
              <div formArrayName="rows" class="model-changes-grid">
                <div class="row header">
                  <h3 class="grid-label">Name</h3>
                  <h3 class="grid-label">Default Value</h3>
                  <h3 class="grid-label">New Value</h3>
                </div>
                <div *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
                  <input type="text" formControlName="name" class="grid-input">
                  <input type="text" formControlName="default" class="grid-input">
                  <input matInput type="text" formControlName="newValue" class="grid-input">
                </div>
              </div>
            </ng-template>
          </form>
        </mat-card-content>
      </mat-card>

      <!-- commercial solver -->
      <mat-card class="card-form-section mat-elevation-z3" *ngIf="needsLicense">
        <mat-card-header class="card-form-section-title solvers"
        >Commercial solvers</mat-card-header
        >

        <mat-checkbox formControlName="academicPurpose" color="primary">
          The purpose of this simulation is academic research or education.
        </mat-checkbox>

        <mat-card-content class="card-hints 3">
          <mat-hint>
            <p>
              Some simulation tools, such as COBRApy and RBApy, can optionally execute simulations using
              commercial solvers such as Gurobi
              <a href="https://www.gurobi.com/products/gurobi-optimizer/" rel="noopener" target="_blank">
                <biosimulations-icon icon="link"></biosimulations-icon>
              </a>
              . These commercial solvers are often more accurate and more performant. However, these commercial
              solvers are not required to execute any of the available simulation tools. All of the available
              simulation tools can be run with freely available solvers.
            </p>

            <p>
              Optionally, users can use these commercial solvers for academic research and education. To use these
              commercial solvers, check the box above to confirm that you are using runBioSimulations for academic
              research or education.
            </p>

            <p>
              Non-academic users can execute simulations with commercial solvers by (a) running simulations
              through runBioSimulations' API and providing license keys through environment variables or (b) using
              the Docker images, command-line programs, or Python APIs for simulation tools on their own machines
              with their own license key environment variables or license files.
            </p>
          </mat-hint>
        </mat-card-content>
      </mat-card>

      <!-- BEGIN ADVANCED -->
      <div class="advanced-container">
        <mat-expansion-panel [expanded]="false" [disabled]="false" class="advanced-panel">
          <mat-expansion-panel-header class="card-form-section-title advanced">
            <biosimulations-icon icon="columns" style="padding-right: 1rem"></biosimulations-icon>
            3. View Advanced Settings*
          </mat-expansion-panel-header>
          <div class="advanced-content">

            <!-- get notifications -->
            <mat-card class="card-form-section mat-elevation-z3">
              <mat-card-header class="card-form-section-title noti advanced-title">Notifications</mat-card-header>

              <div class="input-group">
                <mat-form-field class="card-form-field" appearance="fill">
                  <mat-label>Email address</mat-label>
                  <input matInput formControlName="email" placeholder="investigator@uni.edu" />
                </mat-form-field>
              </div>
              <mat-card-content class="card-hints 6">
                <mat-hint>
                  Optionally, enter your email address to receive notification of the completion of your simulation.
                  After submitting your simulation, you will also receive a URL where you will be able to check the
                  status of your simulation and retrieve its results.
                </mat-hint>
              </mat-card-content>
              <mat-error *ngIf="formGroup.hasError('email', 'email')">Please enter a valid email address.</mat-error>

              <mat-checkbox formControlName="emailConsent" color="primary" [checked]="formGroup.value.email !== ''">
                I consent to receiving an email notification about the completion of my simulation.
              </mat-checkbox>

              <mat-error *ngIf="formGroup.hasError('emailNotConsented')">
                You must consent to receiving email notifications.
              </mat-error>
            </mat-card>
          </div>
        </mat-expansion-panel>
      </div>
      <!-- END ADVANCED -->

      <!-- SUBMIT FORM BUTTON -->
      <button mat-flat-button type="submit" class="biosimulations-button run">Run Simulation</button>
    </form>
  </biosimulations-page>

  <ng-template #loading>
    <biosimulations-full-page-spinner></biosimulations-full-page-spinner>
  </ng-template>
</div>

