<biosimulations-page heading="Run a simulation project">
  <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
    <div class="form-field-group">
      <div class="columns two-columns">
        <mat-form-field appearance="fill">
          <biosimulations-icon icon="location" matPrefix></biosimulations-icon>
          <mat-label>Select a method for providing a simulation project (COMBINE/OMEX file)</mat-label>
          <mat-select
            [value]="submitMethod"
            (selectionChange)="toggleSubmitMethod($event.value)"
            required
            formControlName="submitMethod"
          >
            <mat-option value="file">Upload a local file</mat-option>
            <mat-option value="url">Enter a URL for a file</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="submitMethod === 'file'">
          <biosimulations-icon icon="project" matPrefix></biosimulations-icon>
          <mat-label>Select a simulation project (COMBINE/OMEX file)</mat-label>
          <ngx-mat-file-input
            formControlName="projectFile"
            accept=".omex"
            [multiple]="false"
            [required]="submitMethod === 'file'"
            placeholder="COMBINE/OMEX file"
          ></ngx-mat-file-input>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="submitMethod === 'url'">
          <biosimulations-icon icon="url" matPrefix></biosimulations-icon>
          <mat-label>Enter a URL for a COMBINE/OMEX archive</mat-label>
          <input
            [required]="submitMethod === 'url'"
            matInput
            formControlName="projectUrl"
            [placeholder]="exampleCombineArchiveUrl"
          />
        </mat-form-field>
      </div>

      <mat-hint>
        <p>
          Select a method for providing a COMBINE/OMEX archive which describes one or more
          simulations (e.g., in SED-ML format) of one or more models (e.g., in
          BNGL, SBML formats). COMBINE/OMEX files can either be uploaded
          for your local computer or loaded from a publicly-accessible URL.
        </p>

        <p>
          Click <a [routerLink]="['/simulations']" [queryParams]="{try: '1'}">here</a> to load several example simulation projects from the BioSimulators test suite <a [href]="exampleCombineArchivesUrl" target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >.
        </p>

        <p>
          Information about obtaining or creating SED-ML files and COMBINE/OMEX archives is available in the <a [routerLink]="['/help']">help</a>. This includes recommendations for software tools.
        </p>
      </mat-hint>
      <mat-error *ngIf="formGroup.hasError('noProjectFile')">Please select a file.</mat-error>
      <mat-error *ngIf="formGroup.hasError('noProjectUrl')">Please enter a URL.</mat-error>
    </div>

    <div class="form-field-group">
      <div class="columns two-columns">
        <mat-form-field appearance="fill">
          <mat-label>Select a simulation tool</mat-label>
          <mat-select
            formControlName="simulator"
            disableOptionCentering
            placeholder="COPASI"
            (selectionChange)="onSimulatorChange($event)"
            required
          >
            <mat-option
              *ngFor="let simulator of simulators"
              [value]="simulator.id"
              [disabled]="simulator.disabled"
            >
              {{ simulator.id }}
            </mat-option>
          </mat-select>
          <biosimulations-icon icon="simulator" matPrefix></biosimulations-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select a version of the simulation tool</mat-label>
          <mat-select
            formControlName="simulatorVersion"
            disableOptionCentering
            placeholder="latest"
            required
          >
            <mat-option
              *ngFor="let simulatorVersion of simulatorVersions"
              [value]="simulatorVersion"
            >
              {{ simulatorVersion }}
            </mat-option>
          </mat-select>
          <biosimulations-icon icon="version" matPrefix></biosimulations-icon>
        </mat-form-field>
      </div>

      <mat-hint>
        <p>
          Select a simulation tool which is capable of executing your archive and a version of that tool.
          This tool must support all of the modeling frameworks (e.g., logical,
          FBA, kinetic), simulation algorithms (e.g., ODE, SSA), and model
          formats (e.g., BNGL, SED-ML) involved in your archive.
        </p>

        <p>
          Note, because each tool supports a different set of frameworks,
          algorithms, and formats, your archive is likely only compatible with a
          subset of the available simulation tools.
        </p>

        <p>
          The README for the BioSimulators test suite
          <a [href]="exampleCombineArchivesUrl" target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          outlines the simulator compatibility of several of the example
          archives in the test suite.
        </p>

        <p>
          BioSimulators
          <a href="https://biosimulators.org" target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          describes the modeling frameworks (e.g., logical, FBA, kinetic),
          simulation algorithms (e.g., ODE, SSA), and modeling formats (e.g.,
          COMBINE/OMEX, SBML, SED-ML) that each simulation tool supports. We
          recommend using BioSimulators to determine which tools are capable of
          executing your archive.
        </p>
      </mat-hint>
      <mat-error *ngIf="simulatorControl.hasError('required')">Please select a simulator.</mat-error>
      <mat-error *ngIf="simulatorVersionControl.hasError('required')">Please select a version.</mat-error>
    </div>

    <div class="form-field-group">
      <div class="columns three-columns">
        <mat-form-field appearance="fill">
          <mat-label>Enter the cores needed for your project</mat-label>
            <input
              matInput
              formControlName="cores"
              type="number"
              min="1"
              max="24"
              step="1"
              required
            />
            <span matSuffix>cores</span>
          <biosimulations-icon icon="simulator" matPrefix></biosimulations-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter the RAM needed for your project</mat-label>
           <input
              matInput
              formControlName="ramGb"
              type="number"
              min="1"
              max="192"
              step="1"
              required
            />
            <span matSuffix>GB</span>
          <biosimulations-icon icon="processor" matPrefix></biosimulations-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter the walltime needed for your project</mat-label>
           <input
              matInput
              formControlName="walltimeMin"
              type="number"
              min="1"
              max="28800"
              step="1"
              required
            />
            <span matSuffix>min</span>
          <biosimulations-icon icon="duration" matPrefix></biosimulations-icon>
        </mat-form-field>
      </div>

      <mat-hint>Configure the amount of resources needed to execute your project. Currently, users can request up to 24 cores, 192 GB RAM, and 20 days. if additional resources are needed, please contact the runBioSimulations Team <a [href]="emailUrl"><biosimulations-icon icon="email"></biosimulations-icon></a> to discuss additional options.
      </mat-hint>

      <mat-error *ngIf="coresControl.hasError('min')">Jobs must request at least 1 core.</mat-error>
      <mat-error *ngIf="coresControl.hasError('max')">Jobs are limited to 24 cores.</mat-error>
      <mat-error *ngIf="ramControlGb.hasError('min')">Jobs must request at least 1 GB RAM.</mat-error>
      <mat-error *ngIf="ramControlGb.hasError('max')">Jobs are limited to 192 GB RAM.</mat-error>
      <mat-error *ngIf="walltimeMinControl.hasError('min')">Jobs must request at least 1 minute.</mat-error>
      <mat-error *ngIf="walltimeMinControl.hasError('max')">Jobs are limited to 20 days.</mat-error>
    </div>

    <mat-form-field appearance="fill">
      <mat-label
        >Enter a descriptive name to help you recall this project</mat-label
      >
      <input
        matInput
        formControlName="name"
        placeholder="Knockout of gene A"
        required
      />
      <biosimulations-icon icon="tag" matPrefix></biosimulations-icon>
      <mat-hint>
        Provide a name for your modeling project. If you execute multiple
        projects, this name will help you identify this project among all of
        your projects.
      </mat-hint>
      <mat-error *ngIf="nameControl.hasError('required')">Please enter a name for your project.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your email address</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="investigator@uni.edu"
      />
      <biosimulations-icon icon="email" matPrefix></biosimulations-icon>
      <mat-hint
        ><p>Optionally, enter your email address to receive notification of the
        completion of your simulation. After submitting your simulation, you
        will also receive a URL where you will be able to check the status of
        your simulation and retrieve its results.</p>
      </mat-hint>
       <mat-error *ngIf="emailControl.hasError('email')">Please enter a valid email address.</mat-error>
    </mat-form-field>

    <div>
      <mat-checkbox
        formControlName="emailConsent" *ngIf="emailControl.value && !emailControl.hasError('email')"
        [disableRipple]="true"
        color="primary"
      >
        I consent to receiving an email notification about the completion of my simulation.
      </mat-checkbox>
      <mat-error *ngIf="formGroup.hasError('emailNotConsented')">You must consent to receiving email notifications.</mat-error>
    </div>

    <button
      mat-flat-button
      type="submit"
      [disabled]="!formGroup.valid"
    >
      Run
    </button>
    <div class="clear-float"></div>
  </form>
</biosimulations-page>
