@import 'biosimulations-colors';

mat-form-field {
  min-width: 50%;
  max-width: 600px;
  margin: auto;
}

.project {
  width: 100%;
  div {
    min-width: 45%;
    mat-form-field {
      margin: auto;
      margin-top: 0;
      padding: 0;
      width: 100%;
    }
  }
}

.message {
  margin-top: 1rem;

  &.success {
    color: mat-color($theme-primary);
    a {
      text-decoration: underline;
    }
  }
}

.sub-button {
  float: right;
}
