@import 'biosimulations-colors';

biosimulations-text-page-side-bar-section ::ng-deep {
  .mat-icon-button {
    white-space: normal;
    font-weight: normal;
    text-align: left;
    text-indent: -1.25rem;
    margin-left: 1.25rem;

    biosimulations-icon {
      position: relative;
      top: -3px;
    }

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      color: var(--primary-darker-color);
    }

    &.mat-button-disabled {
      pointer-events: none;
    }
  }
}

h3 {
  color: black;
  width: fit-content;
  padding: 0.25rem;
  font-size: 16px;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0.5rem;
  border-radius: 4px;

  &:not(:first-child),
  &.top-margin {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 959px) {
  h3 {
    &:not(:first-child) {
      margin-top: 1rem;
    }
    &.top-margin {
      margin-top: 0;
    }
  }
}

ul.icon-list {
  a {
    color: $dark-primary-text;
    &:hover {
      color: var(--primary-color);
    }
  }
}

.icon-list li {
  align-items: center;
}

.simulation-log-parent-container {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  margin-top: 1rem;
}

.biosimulations-button {
  font-size: 14px !important;
}

li button {
  margin-top: 1rem !important;
}
