<div
  class="container"
  *ngIf="projects$ | async as projects; else statusIndicator"
  gdGap="1rem"
  gdColumns.xl="repeat(5, 1fr)"
  gdColumns.lg="repeat(4, 1fr)"
  gdColumns.md="repeat(3, 1fr)"
  gdColumns.sm="repeat(2, 1fr)"
  gdColumns.xs="repeat(1, 1fr)"
>
  <biosimulations-project-card
    *ngFor="let project of projects"
    [project]="project"
  ></biosimulations-project-card>
</div>

<ng-template #statusIndicator>
  <biosimulations-full-page-spinner></biosimulations-full-page-spinner>
</ng-template>
