<mat-toolbar color="primary" class="navbar">
  <div class="logo">
    <app-logo></app-logo>
  </div>
  <app-search-bar></app-search-bar>
  <div>
    <span
      ><a [routerLink]="['']"
        ><button mat-flat-button color="primary">Home</button></a
      ></span
    >
    <span
      ><a [routerLink]="['/about']"
        ><button mat-flat-button color="primary">About</button></a
      ></span
    >
    <span
      ><a [routerLink]="['/visualize']"
        ><button mat-flat-button color="primary">Visualize</button></a
      ></span
    >
    <span
      ><a [routerLink]="['/simulate']"
        ><button mat-flat-button color="primary">Simulate</button></a
      ></span
    >
    <span *ngIf="!crbmAuthService.loggedInState"
      ><button
        mat-flat-button
        color="primary"
        (click)="crbmAuthService.login()"
      >
        Login
      </button>
    </span>
    <span *ngIf="crbmAuthService.loggedInState"
      ><button
        mat-flat-button
        color="primary"
        (click)="crbmAuthService.logout()"
      >
        Logout
      </button>
    </span>
  </div>
</mat-toolbar>
