<div class="navbar">
  <div class="logo">
    <app-logo></app-logo>
  </div>
  <div class="searchbar">
    <app-search-bar></app-search-bar>
  </div>
  <div class="links">
    <button mat-flat-button color="primary" [routerLink]="['']">Home</button>

    <button mat-flat-button color="primary" [routerLink]="['/about']">
      About
    </button>

    <button mat-flat-button color="primary" [routerLink]="['/visualize']">
      Visualize
    </button>

    <button mat-flat-button color="primary" [routerLink]="['/simulate']">
      Simulate
    </button>

    <button
      mat-flat-button
      *ngIf="!crbmAuthService.loggedInState"
      color="primary"
      (click)="crbmAuthService.login()"
    >
      Login
    </button>

    <button
      mat-flat-button
      *ngIf="crbmAuthService.loggedInState"
      color="primary"
      (click)="crbmAuthService.logout()"
    >
      Logout
    </button>
  </div>
</div>
