<biosimulations-text-page
  contentsHeading=""
  [padded]="false"
  alwaysFixed="calc(64px + 32px + 32px + 2rem)"
  [tocScrollSectionScrollOffset]="128"
>
  <ng-container id="sideBar" [ngSwitch]="structuredLogLevel">
    <ng-container *ngSwitchCase="StructuredLogLevel.None">
      <biosimulations-text-page-side-bar-section heading="Summary" fxShow fxHide.lt-md>
        <ul>
          <li>Status: <span [class]="['status-label', status]">{{ status | titlecase }}</span></li>
        </ul>
      </biosimulations-text-page-side-bar-section>

      <biosimulations-text-page-side-bar-section heading="Raw Log" fxShow fxHide.lt-md>
        <ul class="vertically-spaced">
          <li>Raw standard output and error for the entire job</li>
        </ul>
      </biosimulations-text-page-side-bar-section>
    </ng-container>

    <ng-container *ngSwitchCase="StructuredLogLevel.CombineArchive">
      <biosimulations-text-page-side-bar-section heading="Summary" fxShow fxHide.lt-md>
        <ul>
          <li>Status: <span [class]="['status-label', status]">{{ status | titlecase }}</span></li>
        </ul>
      </biosimulations-text-page-side-bar-section>

      <biosimulations-text-page-side-bar-section heading="Combined log" fxShow fxHide.lt-md>
        <ul>
          <li>Combined log of the entire job</li>
        </ul>
      </biosimulations-text-page-side-bar-section>
    </ng-container>

    <ng-container *ngSwitchCase="StructuredLogLevel.SedDocument">
      <biosimulations-text-page-side-bar-section heading="Summary" fxShow fxHide.lt-md>
        <ul class="vertically-spaced">
          <li>Status: <span [class]="['status-label', status]">{{ status | titlecase }}</span></li>
          <li>Simulation experiments ({{ numSedDocuments }})
            <ul>
              <li *ngFor="let statusCount of sedDocumentStatusCounts">
                <span [class]="['status-label', statusCount.color ]">{{ statusCount.label }}: {{  statusCount.count }}</span>
              </li>
            </ul>
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>

      <biosimulations-text-page-side-bar-section heading="Experiments" fxShow fxHide.lt-md>
        <ul>
          <li *ngFor="let docIdLog of structuredLog.sedDocuments | keyvalue : naturalComparator">
            <span [class]="['status-label', docIdLog.value.status]">{{ docIdLog.key }} ({{ docIdLog.value.status | slice : 0 : 1 }})</span>
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <biosimulations-text-page-side-bar-section heading="Summary" fxShow fxHide.lt-md>
        <ul class="vertically-spaced">
          <li>Status: <span [class]="['status-label', status]">{{ status | titlecase }}</span></li>

          <li>Simulation experiments ({{ numSedDocuments }})
            <ul>
              <li *ngFor="let statusCount of sedDocumentStatusCounts">
                <span [class]="['status-label', statusCount.color ]">{{ statusCount.label }}: {{  statusCount.count }}</span>
              </li>
            </ul>
          </li>

          <li>Tasks<ng-container
            *ngIf="logHasTasks; else logNotAvailable"
            >
              ({{ numTasks }})
              <ul>
                <li *ngFor="let statusCount of taskStatusCounts">
                  <span [class]="['status-label', statusCount.color ]">{{ statusCount.label }}: {{  statusCount.count }}</span>
                </li>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">: N/A</span>
            </ng-template>
          </li>

          <li>Reports<ng-container
            *ngIf="logHasReports; else logNotAvailable"
            >
              ({{ numReports }})
              <ul>
                <li *ngFor="let statusCount of reportStatusCounts">
                  <span [class]="['status-label', statusCount.color ]">{{ statusCount.label }}: {{  statusCount.count }}</span>
                </li>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">: N/A</span>
            </ng-template>
          </li>

          <li>Plots<ng-container
            *ngIf="logHasPlots; else logNotAvailable"
            >
              ({{ numPlots }})
              <ul>
                <li *ngFor="let statusCount of plotStatusCounts">
                  <span [class]="['status-label', statusCount.color ]">{{ statusCount.label }}: {{  statusCount.count }}</span>
                </li>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">: N/A</span>
            </ng-template>
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>

      <biosimulations-text-page-side-bar-section heading="Tasks, reports &amp; plots" fxShow fxHide.lt-md>
        <ul class="vertically-spaced">
          <li>Tasks<ng-container
            *ngIf="logHasTasks; else logNotAvailable"
            >
              ({{ numTasks }})
              <ul>
                <ng-container *ngFor="let docIdLog of structuredLog.sedDocuments | keyvalue : naturalComparator">
                  <li *ngFor="let taskIdLog of docIdLog.value.tasks | keyvalue : naturalComparator">
                    <span [class]="['status-label', taskIdLog.value.status]">
                      {{ docIdLog.key }} :: {{ taskIdLog.key }} ({{ taskIdLog.value.status | slice : 0 : 1 }})
                    </span>
                  </li>
                </ng-container>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">: N/A</span>
            </ng-template>
          </li>
          <li>Reports<ng-container
              *ngIf="logHasReports; else logNotAvailable"
            >
              ({{ numReports }})
              <ul>
                <ng-container *ngFor="let docIdLog of structuredLog.sedDocuments | keyvalue : naturalComparator">
                  <ng-container *ngFor="let outputIdLog of docIdLog.value.outputs | keyvalue : naturalComparator">
                    <li *ngIf="outputIdLog.value?.dataSets">
                      <span [class]="['status-label', outputIdLog.value.status]">
                        {{ docIdLog.key }} :: {{ outputIdLog.key }} ({{ outputIdLog.value.status | slice : 0 : 1 }})
                      </span>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">: N/A</span>
            </ng-template>
          </li>
          <li>Plots<ng-container
            *ngIf="logHasPlots; else logNotAvailable"
            >
              ({{ numPlots }})
              <ul>
                <ng-container *ngFor="let docIdLog of structuredLog.sedDocuments | keyvalue : naturalComparator">
                  <ng-container *ngFor="let outputIdLog of docIdLog.value.outputs | keyvalue : naturalComparator">
                    <li *ngIf="!outputIdLog.value?.dataSets">
                      <span [class]="['status-label', outputIdLog.value.status]">
                        {{ docIdLog.key }} :: {{ outputIdLog.key }} ({{ outputIdLog.value.status | slice : 0 : 1 }})
                      </span>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">: N/A</span>
            </ng-template>
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>
    </ng-container>

    <biosimulations-text-page-side-bar-section heading="Download logs" fxShow fxHide.lt-md>
      <ul class="icon-list">
        <li>
          <button
            mat-icon-button
            class="biosimulations-icon-button"
            title="Download raw log"
            (click)="downloadStructuredLog()"
            [disabled]="structuredLog === undefined"
          >
            <biosimulations-icon icon="download"></biosimulations-icon>
            Structured log of the entire run
          </button>
        </li>
        <li>
          <button
            mat-icon-button
            class="biosimulations-icon-button"
            title="Download raw log"
            (click)="downloadRawLog()"
          >
            <biosimulations-icon icon="download"></biosimulations-icon>
            Raw standard output and error log of the entire run
          </button>
        </li>
      </ul>
    </biosimulations-text-page-side-bar-section>
  </ng-container>

  <ng-container id="content" [ngSwitch]="structuredLogLevel">
    <ng-container *ngSwitchCase="StructuredLogLevel.None">
      <biosimulations-raw-simulation-log
        [status]="status"
        [log]="rawLog"
      >
      </biosimulations-raw-simulation-log>
    </ng-container>

    <ng-container *ngSwitchCase="StructuredLogLevel.CombineArchive">
      <biosimulations-structured-simulation-log-element
        [log]="structuredLog"
        elementId="entire job"
        elementType="Combined log of the"
      >
      </biosimulations-structured-simulation-log-element>
    </ng-container>

    <ng-container *ngSwitchCase="StructuredLogLevel.SedDocument">
      <biosimulations-structured-simulation-log-element
        *ngFor="let docIdLog of structuredLog.sedDocuments | keyvalue : naturalComparator"
        [elementId]="docIdLog.key"
        elementType="Simulation experiment"
        [log]="docIdLog.value"
      >
      </biosimulations-structured-simulation-log-element>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ng-container *ngFor="let docIdLog of structuredLog.sedDocuments | keyvalue : naturalComparator">
        <biosimulations-structured-simulation-log-element
          *ngFor="let taskIdLog of docIdLog.value.tasks | keyvalue : naturalComparator"
          [elementId]="docIdLog.key + ' :: ' + taskIdLog.key"
          elementType="Task"
          [log]="taskIdLog.value"
        >
        </biosimulations-structured-simulation-log-element>
      </ng-container>

      <ng-container *ngFor="let docIdLog of structuredLog.sedDocuments | keyvalue : naturalComparator">
        <ng-container *ngFor="let outputIdLog of docIdLog.value.outputs | keyvalue : naturalComparator">
          <biosimulations-structured-simulation-log-element
            *ngIf="outputIdLog.value?.dataSets"
            [elementId]="docIdLog.key + ' :: ' + outputIdLog.key"
            elementType="Report"
            [log]="outputIdLog.value"
          >
          </biosimulations-structured-simulation-log-element>
        </ng-container>
      </ng-container>

      <ng-container *ngFor="let docIdLog of structuredLog.sedDocuments | keyvalue : naturalComparator">
        <ng-container *ngFor="let outputIdLog of docIdLog.value.outputs | keyvalue : naturalComparator">
          <biosimulations-structured-simulation-log-element
            *ngIf="!outputIdLog.value?.dataSets"
            [elementId]="docIdLog.key + ' :: ' + outputIdLog.key"
            elementType="Plot"
            [log]="outputIdLog.value"
          >
          </biosimulations-structured-simulation-log-element>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</biosimulations-text-page>
