<biosimulations-text-page
  contentsHeading=""
  [padded]="false"
  alwaysFixed="calc(64px + 32px + 32px + 2rem)"
  [tocScrollSectionScrollOffset]="128"
  *ngIf="structuredLogLevel !== undefined"
  [compact]="structuredLogLevel >= StructuredLogLevel.SedDocument"
>
  <ng-container id="sideBar" [ngSwitch]="structuredLogLevel">
    <ng-container *ngSwitchCase="StructuredLogLevel.None">
      <biosimulations-text-page-side-bar-section
        heading="Summary"
        fxShow
        fxHide.lt-md
      >
        <ul>
          <li>
            Status:
            <span [class]="['status-label', status]">{{
              status | titlecase
            }}</span>
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>

      <biosimulations-text-page-side-bar-section
        heading="Log"
        fxShow
        fxHide.lt-md
      >
        <ul class="vertically-spaced">
          <li>
            <a (click)="scrollToElement('log')"
              >Combined standard output and error for the COMBINE/OMEX
              archive</a
            >
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>
    </ng-container>

    <ng-container *ngSwitchCase="StructuredLogLevel.CombineArchive">
      <biosimulations-text-page-side-bar-section
        heading="Summary"
        fxShow
        fxHide.lt-md
      >
        <ul>
          <li>
            Status:
            <span [class]="['status-label', status]">{{
              status | titlecase
            }}</span>
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>

      <biosimulations-text-page-side-bar-section
        heading="Log"
        fxShow
        fxHide.lt-md
      >
        <ul>
          <li>
            <a (click)="scrollToElement('log')"
              >Combined log for the COMBINE/OMEX archive</a
            >
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>
    </ng-container>

    <ng-container *ngSwitchCase="StructuredLogLevel.SedDocument">
      <biosimulations-text-page-side-bar-section
        heading="Summary"
        fxShow
        fxHide.lt-md
      >
        <ul class="vertically-spaced">
          <li>
            Status:
            <span [class]="['status-label', status]">{{
              status | titlecase
            }}</span>
          </li>
          <li>
            Simulation experiments ({{ numSedDocuments }})
            <ul>
              <li *ngFor="let statusCount of sedDocumentStatusCounts">
                <span [class]="['status-label', statusCount.color]"
                  >{{ statusCount.label }}: {{ statusCount.count }}</span
                >
              </li>
            </ul>
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>

      <biosimulations-text-page-side-bar-section
        heading="Experiments"
        fxShow
        fxHide.lt-md
      >
        <ul>
          <li *ngFor="let docLog of _structuredLog.sedDocuments">
            <a
              [class]="['status-label', docLog.status]"
              (click)="scrollToElement('log=' + docLog.location)"
            >
              {{ docLog.location }} ({{ docLog.status | slice: 0:1 }})
            </a>
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <biosimulations-text-page-side-bar-section
        heading="Summary"
        fxShow
        fxHide.lt-md
      >
        <ul class="vertically-spaced">
          <li>
            Status:
            <span [class]="['status-label', status]">{{
              status | titlecase
            }}</span>
          </li>

          <li>
            Simulation experiments ({{ numSedDocuments }})
            <ul>
              <li *ngFor="let statusCount of sedDocumentStatusCounts">
                <span [class]="['status-label', statusCount.color]"
                  >{{ statusCount.label }}: {{ statusCount.count }}</span
                >
              </li>
            </ul>
          </li>

          <li>
            Tasks<ng-container *ngIf="logHasTasks; else logNotAvailable">
              ({{ numTasks }})
              <ul>
                <li *ngFor="let statusCount of taskStatusCounts">
                  <span [class]="['status-label', statusCount.color]"
                    >{{ statusCount.label }}: {{ statusCount.count }}</span
                  >
                </li>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">: N/A</span>
            </ng-template>
          </li>

          <li>
            Reports<ng-container *ngIf="logHasReports; else logNotAvailable">
              ({{ numReports }})
              <ul>
                <li *ngFor="let statusCount of reportStatusCounts">
                  <span [class]="['status-label', statusCount.color]"
                    >{{ statusCount.label }}: {{ statusCount.count }}</span
                  >
                </li>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">: N/A</span>
            </ng-template>
          </li>

          <li>
            Plots<ng-container *ngIf="logHasPlots; else logNotAvailable">
              ({{ numPlots }})
              <ul>
                <li *ngFor="let statusCount of plotStatusCounts">
                  <span [class]="['status-label', statusCount.color]"
                    >{{ statusCount.label }}: {{ statusCount.count }}</span
                  >
                </li>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">: N/A</span>
            </ng-template>
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>

      <biosimulations-text-page-side-bar-section
        heading="Tasks, reports &amp; plots"
        fxShow
        fxHide.lt-md
      >
        <ul class="vertically-spaced">
          <li *ngIf="numTasks > 0 || !logHasTasks">
            <ng-container *ngIf="logHasTasks; else logNotAvailable">
              <a (click)="scrollToElement('section=tasks')"
                >Tasks ({{ numTasks }})</a
              >
              <ul>
                <ng-container
                  *ngFor="let docLog of _structuredLog.sedDocuments"
                >
                  <li *ngFor="let taskLog of docLog.tasks">
                    <a
                      [class]="['status-label', taskLog.status]"
                      (click)="
                        scrollToElement(
                          'log=task-' + docLog.location + '/' + taskLog.id
                        )
                      "
                    >
                      {{ docLog.location }} :: {{ taskLog.id }} ({{
                        taskLog.status | slice: 0:1
                      }})
                    </a>
                  </li>
                </ng-container>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">Tasks: N/A</span>
            </ng-template>
          </li>
          <li *ngIf="numReports > 0 || !logHasReports">
            <ng-container *ngIf="logHasReports; else logNotAvailable">
              <a (click)="scrollToElement('section=reports')"
                >Reports ({{ numReports }})</a
              >
              <ul>
                <ng-container
                  *ngFor="let docLog of _structuredLog.sedDocuments"
                >
                  <ng-container *ngFor="let outputLog of docLog.outputs">
                    <li *ngIf="$any(outputLog)?.dataSets">
                      <a
                        [class]="['status-label', outputLog.status]"
                        (click)="
                          scrollToElement(
                            'log=output-' + docLog.location + '/' + outputLog.id
                          )
                        "
                      >
                        {{ docLog.location }} :: {{ outputLog.id }} ({{
                          outputLog.status | slice: 0:1
                        }})
                      </a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">Reports: N/A</span>
            </ng-template>
          </li>
          <li *ngIf="numPlots > 0 || !logHasPlots">
            <ng-container *ngIf="logHasPlots; else logNotAvailable">
              <a (click)="scrollToElement('section=plots')"
                >Plots ({{ numPlots }})</a
              >
              <ul>
                <ng-container
                  *ngFor="let docLog of structuredLog?.sedDocuments || []"
                >
                  <ng-container *ngFor="let outputLog of docLog.outputs">
                    <li *ngIf="!$any(outputLog)?.dataSets">
                      <a
                        [class]="['status-label', outputLog.status]"
                        (click)="
                          scrollToElement(
                            'log=output-' + docLog.location + '/' + outputLog.id
                          )
                        "
                      >
                        {{ docLog.location }} :: {{ outputLog.id }} ({{
                          outputLog.status | slice: 0:1
                        }})
                      </a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </ng-container>
            <ng-template #logNotAvailable>
              <span class="info-message">Plots: N/A</span>
            </ng-template>
          </li>
        </ul>
      </biosimulations-text-page-side-bar-section>
    </ng-container>

    <biosimulations-text-page-side-bar-section
      heading="Download logs"
      fxShow
      fxHide.lt-md
    >
      <ul class="icon-list">
        <li>
          <button
            mat-icon-button
            class="biosimulations-icon-button"
            title="Download log"
            (click)="downloadStructuredLog()"
            [disabled]="structuredLog === undefined"
          >
            <biosimulations-icon icon="download"></biosimulations-icon>
            Structured log
          </button>
        </li>
        <li>
          <button
            mat-icon-button
            class="biosimulations-icon-button"
            title="Download log"
            (click)="downloadRawLog()"
          >
            <biosimulations-icon icon="download"></biosimulations-icon>
            Combined standard output and error
          </button>
        </li>
      </ul>
    </biosimulations-text-page-side-bar-section>
  </ng-container>

  <ng-container id="content" [ngSwitch]="structuredLogLevel">
    <ng-container *ngSwitchCase="StructuredLogLevel.None">
      <biosimulations-raw-simulation-log
        [status]="status"
        [log]="rawLog"
        id="log"
      >
      </biosimulations-raw-simulation-log>
    </ng-container>

    <ng-container *ngSwitchCase="StructuredLogLevel.CombineArchive">
      <biosimulations-structured-simulation-log-element
        [log]="structuredLog"
        elementId="COMBINE/OMEX archive"
        elementType="Combined log of the"
        id="log"
      >
      </biosimulations-structured-simulation-log-element>
    </ng-container>

    <ng-container *ngSwitchCase="StructuredLogLevel.SedDocument">
      <h2 id="section=sed-documents">Simulation experiments (SED documents)</h2>
      <biosimulations-structured-simulation-log-element
        *ngFor="let docLog of _structuredLog.sedDocuments; let iDoc = index"
        [elementId]="docLog.location"
        elementType="Simulation experiment"
        [log]="docLog"
        [id]="'log=' + docLog.location"
        [compact]="true"
        iconActionType="toggle"
        [first]="iDoc === 0"
        [last]="iDoc === _structuredLog.sedDocuments.length - 1"
      >
      </biosimulations-structured-simulation-log-element>

      <h2 id="section=combined-stdout-stderr">
        Combined standard output and error for the COMBINE/OMEX archive
      </h2>
      <biosimulations-structured-simulation-log-element
        [isStructuredLog]="false"
        elementType="COMBINE/OMEX archive"
        [log]="{
          output: structuredLog?.output || null,
          status: status,
          location: 'output',
          exception: null,
          skipReason: null,
          duration: null,
          tasks: null,
          outputs: null
        }"
        id="log=combined-stdout-stderr"
        [compact]="true"
        iconActionType="toggle"
        [first]="true"
        [last]="true"
      >
      </biosimulations-structured-simulation-log-element>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="numTasks > 0">
        <h2 id="section=tasks">Tasks</h2>
        <biosimulations-structured-simulation-log-element
          *ngFor="let docTaskLog of taskLogs; let iTask = index"
          [elementId]="docTaskLog.doc.location + ' :: ' + docTaskLog.task.id"
          elementType="Task"
          [log]="docTaskLog.task"
          [id]="
            'log=task-' + docTaskLog.doc.location + '/' + docTaskLog.task.id
          "
          [compact]="true"
          iconActionType="toggle"
          [first]="iTask === 0"
          [last]="iTask === taskLogs.length - 1"
        >
        </biosimulations-structured-simulation-log-element>
      </ng-container>

      <ng-container *ngIf="numReports > 0">
        <h2 id="section=reports">Reports</h2>
        <biosimulations-structured-simulation-log-element
          *ngFor="let docOutputLog of reportLogs; let iReport = index"
          [elementId]="
            docOutputLog.doc.location + ' :: ' + docOutputLog.report.id
          "
          elementType="Report"
          [log]="docOutputLog.report"
          [id]="
            'log=output-' +
            docOutputLog.doc.location +
            '/' +
            docOutputLog.report.id
          "
          [compact]="true"
          iconActionType="toggle"
          [first]="iReport === 0"
          [last]="iReport === reportLogs.length - 1"
        >
        </biosimulations-structured-simulation-log-element>
      </ng-container>

      <ng-container *ngIf="numPlots > 0">
        <h2 id="section=plots">Plots</h2>
        <biosimulations-structured-simulation-log-element
          *ngFor="let docOutputLog of plotLogs; let iPlot = index"
          [elementId]="
            docOutputLog.doc.location + ' :: ' + docOutputLog.plot.id
          "
          elementType="Plot"
          [log]="docOutputLog.plot"
          [id]="
            'log=output-' +
            docOutputLog.doc.location +
            '/' +
            docOutputLog.plot.id
          "
          [compact]="true"
          iconActionType="toggle"
          [first]="iPlot === 0"
          [last]="iPlot === plotLogs.length - 1"
        >
        </biosimulations-structured-simulation-log-element>
      </ng-container>

      <h2 id="section=combined-stdout-stderr">
        Combined standard output and error for the COMBINE/OMEX archive
      </h2>
      <biosimulations-structured-simulation-log-element
        [isStructuredLog]="false"
        elementType="COMBINE/OMEX archive"
        [log]="{
          output: structuredLog?.output || null,
          status: status,
          location: 'output',
          exception: null,
          skipReason: null,
          duration: null,
          tasks: null,
          outputs: null
        }"
        id="log=combined-stdout-stderr"
        [compact]="true"
        iconActionType="toggle"
        [first]="true"
        [last]="true"
      >
      </biosimulations-structured-simulation-log-element>
    </ng-container>
  </ng-container>
</biosimulations-text-page>
