<div class="subsection">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- Left Button -->
    <button
      class="nav-button left"
      fxFlexAlign="center"
      (click)="previous()"
      mat-fab>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>


    <ng-container *ngFor="let project of projects; let i = index">
      <!-- Start Parent of Feature Card -->
      <mat-card
        [@slideInOut]="'in'"
        class="feature-card mat-elevation-z8"
        *ngIf="i >= startIndex && i <= endIndex"
        [fxFlex]="70 / numCards"
        [style.background-image]="'url(' + project.image + ')'">
        <!-- Start Feature Card Header -->
        <mat-card-header
          class="text-header card"
          [style.color]="project.textColor"
          [style.background-color]="project.color">
          <mat-card-title>
            {{ project.title }}
          </mat-card-title>
        </mat-card-header>
        <!-- End Feature Card Header -->
        <!-- Start Feature Card Content -->
        <mat-card-footer>
          <a class="click-image-eventspace" href="project.routingLink" target="_blank">
            <mat-card-actions>
              <div class="description-container">
                <button
                  class="description-content text-header"
                  mat-button
                  [style.color]="project.textColor"
                  [style.background-color]="project.color">
                  {{ project.descriptionTeaser }}
                </button>
              </div>
            </mat-card-actions>
          </a>
        </mat-card-footer>

        <!-- End Feature Card Content -->
      </mat-card>
      <!-- End Parent of Feature Card -->
    </ng-container>

    <!-- Right Button -->
    <button
      mat-fab
      fxFlexAlign="center"
      class="nav-button right"
      (click)="next()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="pagination-dots">
    <span
      class="dot"
      *ngFor="let project of projects; let i = index"
      [class.active]="i >= startIndex && i <= endIndex"
      (click)="jumpTo(i)">
    </span>
  </div>
</div>

<!--[color]="getButtonColor(i)""space-around stretch"-->
