<div class="subsection">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- Left Button -->
    <button
      mat-fab
      fxFlexAlign="center"
      class="nav-button left"
      (click)="previous()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>


    <ng-container *ngFor="let project of projects; let i = index">
      <!-- Start Parent of Feature Card -->
      <mat-card class="feature-card" [fxFlex]="70 / numCards" *ngIf="i >= startIndex && i <= endIndex">
        <!-- Start Feature Card Header -->
        <mat-card-header>
          <mat-card-title>
            {{ project.title }}
          </mat-card-title>
        </mat-card-header>
        <!-- End Feature Card Header -->

        <!-- Start Feature Card Content -->
        <mat-card-content>
          <mat-card class="feature-card-content"> <!-- Have THIS element's background as the respective image -->
            <mat-card-content class="feature-card-content">
              <!--<a class="click-image-eventspace" href="project.routingLink" target="_blank">

              </a>-->
              <a class="click-image-eventspace" href="project.routingLink" target="_blank">
                <div class="image-container">
                  <!--<img src="{{ project.image }}" alt="{{ alternateImage }}" />-->
                </div>
              </a>
              <div class="description-teaser">
                {{ project.descriptionTeaser }}
              </div>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
        <!-- End Feature Card Content -->
      </mat-card>
      <!-- End Parent of Feature Card -->
    </ng-container>

    <!-- Right Button -->
    <button
      mat-fab
      fxFlexAlign="center"
      class="nav-button right"
      (click)="next()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="pagination-dots">
    <span
      class="dot"
      *ngFor="let project of projects; let i = index"
      [class.active]="i >= startIndex && i <= endIndex"
      (click)="jumpTo(i)">
    </span>
  </div>
</div>

<!--[color]="getButtonColor(i)""space-around stretch"-->
