<div class="form-parent-container platform-run">
  <biosimulations-page heading="Run a simulation" *ngIf="simulators.length; else loading">
    <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
      <mat-card class="card-form-section mat-elevation-z3">
        <mat-card-header class="card-form-section-title omex">COMBINE/OMEX archive*</mat-card-header>

        <div class="input-group">
          <mat-form-field class="card-form-field" appearance="fill">
            <mat-label>Choose COMBINE/OMEX archive file</mat-label>
            <biosimulations-ngx-mat-file-input
              formControlName="projectFile"
              accept=".omex,.sedx,.zip,application/zip"
              (ngModelChange)="projectControlUpdated()">
            </biosimulations-ngx-mat-file-input>
          </mat-form-field>

          <mat-hint>Or</mat-hint>

          <mat-form-field class="card-form-field" appearance="fill">
            <mat-label>Enter URL for COMBINE/OMEX archive</mat-label>
            <input matInput formControlName="projectUrl" (ngModelChange)="projectControlUpdated()" />
          </mat-form-field>
        </div>

        <mat-card-content class="card-hints 0">
          <mat-hint>
            <p>
              Select a method for providing a COMBINE/OMEX archive which describes one or more simulations (in SED-ML
              format) of one or more models (e.g., in BNGL, SBML formats). COMBINE/OMEX files can either be uploaded
              from your local computer or loaded from a publicly-accessible URL.
            </p>

            <p class="alert">Uploaded archives are limited to 64 MB. Archives up to 1 GB can be submitted via URLs.</p>

            <p>
              A form for creating COMBINE/OMEX archives and SED-ML files from model files is available
              <a [routerLink]="['/utils', 'create-project']">here</a>
              . COMBINE/OMEX archives can also be created with simulation tools such as COPASI
              <a href="http://copasi.org/" rel="noopener" target="_blank">
                <biosimulations-icon icon="link"></biosimulations-icon>
              </a>
              and VCell
              <a href="https://vcell.org/" rel="noopener" target="_blank">
                <biosimulations-icon icon="link"></biosimulations-icon>
              </a>
              . Additional information about obtaining and creating COMBINE/OMEX archives is available in the
              <a
                href="https://docs.biosimulations.org/users/creating-projects/"
                rel="noopener"
                target="biosimulations-docs">
                help
              </a>
              and
              <a href="https://docs.biosimulations.org/users/faqs/" rel="noopener" target="biosimulations-docs">
                FAQ
              </a>
              . The help includes recommendations for additional software tools for authoring COMBINE/OMEX archives and
              SED-ML files. The FAQ includes information about known incompatibilities among COMBINE/OMEX archives and
              SED-ML files created with different tools.
            </p>

            <p>
              Click <a [routerLink]="['/runs']" [queryParams]="{ try: '1' }">here</a>
              to load several example simulation projects from the BioSimulators test suite
              <a [href]="exampleCombineArchivesUrl" rel="noopener" target="example-projects">
                <biosimulations-icon icon="link"></biosimulations-icon>
              </a>
              .
            </p>
          </mat-hint>

          <mat-error *ngIf="shouldShowNoProjectError()">
            Please select a COMBINE/OMEX file or enter a URL for a COMBINE/OMEX file.
          </mat-error>
          <mat-error *ngIf="formGroup.hasError('maxSize', 'projectFile')">
            Currently, COMBINE/OMEX archive uploads are limited to 1 GB.
          </mat-error>
          <mat-error *ngIf="formGroup.hasError('multipleProjects')">
            Please select only one COMBINE/OMEX file or URL.
          </mat-error>
        </mat-card-content>
      </mat-card>

      <!--<ng-container *ngIf="fileUploaded" class="file-upload">
        <mat-card class="card-form-section mat-elevation-z3">
          <mat-card-header class="card-form-section-title cap">Simulation Parameters</mat-card-header>
          <mat-card-content>
            <biosimulations-create-project></biosimulations-create-project>
          </mat-card-content>
        </mat-card>
      </ng-container>-->

      <!-- EDIT PARAMS CARD
      Solution1: Simple form, manual data
      <mat-card *ngIf="fileUploaded" class="card-form-section mat-elevation-z3">
        <mat-card-header class="card-form-section-title cap">Simulation Parameters</mat-card-header>
        <mat-card-content style="margin-top: 3rem">
          <form (ngSubmit)="onParameterChangeSubmit()">
            <label for="name">Param1:</label>
            <input type="text" id="name" name="name" [(ngModel)]="parametersFormData.param1" required>

            <label for="email">Param2:</label>
            <input type="email" id="email" name="email" [(ngModel)]="parametersFormData.param2" required>

            <label for="email">Param3:</label>
            <input type="email" id="param3" name="email" [(ngModel)]="parametersFormData.param3" required>

            <button mat-flat-button type="submit" class="biosimulations-button run update">Update Simulation</button>
          </form>
        </mat-card-content>
      </mat-card>

      Solution2: reuse model changes (problematic because api and common datamodels are incompatible.
      <ng-container *ngIf="fileUploaded" class="params-form-container">
        <mat-card class="card-form-section mat-elevation-z3">
          <mat-card-header class="card-form-section-title cap">Simulation Parameters</mat-card-header>
          <mat-card-content>
            <create-project-model-changes [sharedFormBuilder]="formBuilder"></create-project-model-changes>
          </mat-card-content>
        </mat-card>
      </ng-container>-->

      <!--<ng-container *ngIf="fileUploaded" class="params-form-container">
        <mat-card class="card-form-section mat-elevation-z3">
          <mat-card-header class="card-form-section-title cap">Simulation Parameters</mat-card-header>
          <mat-card-content>
            <biosimulations-create-project></biosimulations-create-project>
          </mat-card-content>
        </mat-card>
      </ng-container>-->


      <!-- Solution3: Resuse logic and library service to recreate model-changes step -->
      <ng-container *ngIf="fileUploaded" class="params-form-container">
        <mat-card class="card-form-section mat-elevation-z3">
          <mat-card-header class="card-form-title model"
          >Describe the changes to apply to your model's attributes</mat-card-header
          >
          <mat-card-content class="changes-card-content">
            <div class="model-changes-grid">
              <div class="grid-label">Id *</div>
              <div class="grid-label">Name</div>
              <div class="grid-label">Target *</div>
              <div class="grid-label">Default</div>
              <div class="grid-label">New value</div>
              <div></div>

              <ng-container *ngFor="let formGroup of modelChangesGroup; index as iModelChange" [formGroup]="formGroup">
                <input class="grid-input" formControlName="id" />
                <input class="grid-input" formControlName="name" />
                <input class="grid-input" formControlName="target" />
                <input class="grid-input" formControlName="default" />
                <input class="grid-input" formControlName="newValue" />
                <button mat-icon-button title="Delete change" (click)="removeModelChangeField(iModelChange)">
                  <biosimulations-icon icon="trash"></biosimulations-icon>
                </button>
              </ng-container>

              <button
                mat-flat-button
                class="biosimulations-button text"
                style="grid-column: 1 / 6"
                (click)="addModelChangeField()">
                Additional change
              </button>
            </div>

            <mat-hint>
              <p>
                Describe the changes that should be applied to the attributes of your model (e.g., set the value of target
                <code>/sbml:sbml/sbml:model/sbml:listOfParameters/sbml:parameter[@id='k1']/@value</code>
                to the new value <code>2.1</code>). For XML-based model languages such as SBML, targets should be XPaths to XML
                attributes.
              </p>
              <p class="alert">
                The ids and names data will not be exported to SED-ML because these attributes are not supported by SED-ML L1V3.
                Once simulation tools update to SED-ML L1V4, we will export this information to SED-ML.
              </p>
              <p class="alert">
                The default value of each attribute is provided as a reference. This information will not be encoded into the
                generated SED-ML document.
              </p>
            </mat-hint>
          </mat-card-content>
        </mat-card>
      </ng-container>
      
      <!-- TODO: Dynamically prompt for this -->
      <mat-card class="card-form-section mat-elevation-z3">
        <mat-card-header class="card-form-section-title solvers">Metadata *</mat-card-header>

        <div class="input-group">
          <mat-form-field class="card-form-field" appearance="fill">
            <mat-label>Descriptive name</mat-label>
            <input matInput formControlName="name" placeholder="Knockout of gene A" required />
          </mat-form-field>
        </div>
        <mat-card-content class="card-hints 5">
          <mat-hint>
            Provide a name for your modeling project. If you execute multiple projects, this name will help you identify
            this project among all of your projects.
          </mat-hint>
        </mat-card-content>
        <mat-error *ngIf="shouldShowNameRequiredError()">Please enter a name for your project.</mat-error>
      </mat-card>

      <mat-card class="card-form-section mat-elevation-z3 sim-tool">
        <mat-card-header class="card-form-section-title tool">Simulation tool *</mat-card-header>
        <div class="input-group">
          <mat-form-field class="card-form-field" appearance="fill">
            <mat-label>Simulation tool</mat-label>
            <mat-select
              formControlName="simulator"
              disableOptionCentering
              placeholder="COPASI"
              (ngModelChange)="simulatorControlUpdated()"
              required>
              <mat-option *ngFor="let simulator of simulators" [value]="simulator.id" [disabled]="simulator.disabled">
                {{ simulator.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="card-form-field" appearance="fill">
            <mat-label>Version of the simulation tool</mat-label>
            <mat-select formControlName="simulatorVersion" disableOptionCentering placeholder="latest" required>
              <mat-option *ngFor="let simulatorVersion of simulatorVersions" [value]="simulatorVersion">
                {{ simulatorVersion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-card-content class="card-hints 2">
          <mat-hint>
            <p>
              Select a simulation tool which is capable of executing your archive and a version of that tool. This tool
              must support all of the model formats (e.g., BNGL, SED-ML) and simulation algorithms (e.g., ODE, SSA)
              involved in your archive.
            </p>
            <p class="alert">
              Because each tool supports a different set of formats and algorithms, your archive is likely only
              compatible with a subset of the available simulation tools.
            </p>
            <p>
              The README for the BioSimulators test suite
              <a [href]="exampleCombineArchivesUrl" rel="noopener" target="example-projects">
                <biosimulations-icon icon="link"></biosimulations-icon>
              </a>
              outlines the simulator compatibility of several of the example archives in the test suite.
            </p>
            <p>
              BioSimulators
              <a href="https://biosimulators.org" rel="noopener" target="biosimulators">
                <biosimulations-icon icon="link"></biosimulations-icon>
              </a>
              describes the modeling formats (e.g., COMBINE/OMEX, SBML, SED-ML), modeling frameworks (e.g., logical,
              FBA, kinetic), and simulation algorithms (e.g., ODE, SSA) that each simulation tool supports. We recommend
              using BioSimulators to determine which tools are capable of executing your archive.
            </p>
          </mat-hint>
        </mat-card-content>
        <mat-error *ngIf="shouldShowSimulatorRequiredError()">Please select a simulator.</mat-error>
        <mat-error *ngIf="shouldShowSimulatorVersionRequiredError()"
        >Please select a version of the simulator.</mat-error
        >
      </mat-card>

      <!-- BEGIN ADVANCED -->
      <div class="advanced-container">
        <mat-expansion-panel
          [expanded]="false"
          [disabled]="false"
          class="advanced-panel">
          <mat-expansion-panel-header class="card-form-section-title advanced">
            <biosimulations-icon icon="columns" style="padding-right: 1rem"></biosimulations-icon>
            Advanced Settings*
          </mat-expansion-panel-header>
          <div class="advanced-content">
          <!-- CAPABILITIES CARD -->
          <mat-card class="card-form-section mat-elevation-z3">
            <mat-card-header class="card-form-section-title cap advanced-title"
              >Capabilities required to execute your COMBINE/OMEX archive</mat-card-header
            >

            <div class="input-group">
              <mat-form-field class="card-form-field" appearance="fill">
                <mat-label>Model formats involved in the archive</mat-label>
                <mat-select
                  formControlName="modelFormats"
                  (ngModelChange)="controlImpactingEligibleSimulatorsUpdated()"
                  multiple>
                  <mat-option *ngFor="let format of modelFormats" [value]="format.id" [disabled]="format.disabled">
                    {{ format.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="card-form-field" appearance="fill">
                <mat-label>Algorithms involved in the archive</mat-label>
                <mat-select
                  formControlName="simulationAlgorithms"
                  (ngModelChange)="controlImpactingEligibleSimulatorsUpdated()"
                  multiple>
                  <mat-option
                    *ngFor="let algorithm of simulationAlgorithms"
                    [value]="algorithm.id"
                    [disabled]="algorithm.disabled">
                    {{ algorithm.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="card-form-field" appearance="fill">
                <mat-select
                  formControlName="simulationAlgorithmSubstitutionPolicy"
                  (ngModelChange)="controlImpactingEligibleSimulatorsUpdated()">
                  <mat-option *ngFor="let policy of algorithmSubstitutionPolicies" [value]="policy.level">
                    {{ policy.level }}. {{ policy.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <mat-card-content class="card-hints 1">
              <mat-hint>
                Use the above menus to narrow the list of simulation tools below to those tools which have the capabilities
                to execute your COMBINE/OMEX archive (tools which support the model formats and simulation algorithms of the
                models and simulations described by your COMBINE/OMEX archive).
              </mat-hint>

              <mat-error *ngIf="shouldShowUnsupportedModelError()">
                Your COMBINE/OMEX archive involves model formats that are not supported by any simulation tool available
                through runBioSimulations.
              </mat-error>
              <mat-error *ngIf="shouldShowUnsupportedAlgorithmError()">
                Your COMBINE/OMEX archive involves simulation algorithms that are not supported by any simulation tool
                available through runBioSimulations.
              </mat-error>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-form-section mat-elevation-z3">
            <mat-card-header class="card-form-section-title solvers advanced-title">Commercial solvers</mat-card-header>

            <mat-checkbox formControlName="academicPurpose" color="primary">
              The purpose of this simulation is academic research or education.
            </mat-checkbox>

            <mat-card-content class="card-hints 3">
              <mat-hint>
                <p>
                  Some simulation tools, such as COBRApy and RBApy, can optionally execute simulations using commercial
                  solvers such as Gurobi
                  <a href="https://www.gurobi.com/products/gurobi-optimizer/" rel="noopener" target="_blank">
                    <biosimulations-icon icon="link"></biosimulations-icon>
                  </a>
                  . These commercial solvers are often more accurate and more performant. However, these commercial solvers
                  are not required to execute any of the available simulation tools. All of the available simulation tools
                  can be run with freely available solvers.
                </p>

                <p>
                  Optionally, users can use these commercial solvers for academic research and education. To use these
                  commercial solvers, check the box above to confirm that you are using runBioSimulations for academic
                  research or education.
                </p>

                <p>
                  Non-academic users can execute simulations with commercial solvers by (a) running simulations through
                  runBioSimulations' API and providing license keys through environment variables or (b) using the Docker
                  images, command-line programs, or Python APIs for simulation tools on their own machines with their own
                  license key environment variables or license files.
                </p>
              </mat-hint>
            </mat-card-content>
          </mat-card>

          <mat-card class="card-form-section mat-elevation-z3">
            <mat-card-header class="card-form-section-title resources advanced-title">Computational resources *</mat-card-header>

            <div class="input-group resources">
              <mat-form-field class="card-form-field" appearance="fill">
                <mat-label>CPUs</mat-label>
                <input matInput formControlName="cpus" type="number" min="1" max="24" step="1" required />
                <span matSuffix>cores</span>
              </mat-form-field>

              <mat-form-field class="card-form-field" appearance="fill">
                <mat-label>Memory</mat-label>
                <input matInput formControlName="memory" type="number" min="1" max="192" step="0.01" required />
                <span matSuffix>GB</span>
              </mat-form-field>

              <mat-form-field class="card-form-field" appearance="fill">
                <mat-label>Time</mat-label>
                <input matInput formControlName="maxTime" type="number" min="1" max="28800" step="1" required />
                <span matSuffix>min</span>
              </mat-form-field>
            </div>
            <mat-card-content class="card-hints 4">
              <mat-hint>
                Configure the amount of resources needed to execute your project. Currently, users can request up to 24 CPU
                cores, 192 GB RAM, and 20 days. if additional resources are needed, please contact the runBioSimulations
                Team
                <a [href]="emailUrl"><biosimulations-icon icon="email"></biosimulations-icon></a>
                to discuss additional options.
              </mat-hint>
            </mat-card-content>
            <mat-error *ngIf="formGroup.hasError('min', 'cpus')">Jobs must request at least 1 core.</mat-error>
            <mat-error *ngIf="formGroup.hasError('max', 'cpus')">Jobs are limited to 24 CPU cores.</mat-error>
            <mat-error *ngIf="formGroup.hasError('integer', 'cpus')">
              Jobs must request an integer number of CPU cores.
            </mat-error>
            <mat-error *ngIf="formGroup.hasError('min', 'memory')">Jobs must request at least 1 GB RAM.</mat-error>
            <mat-error *ngIf="formGroup.hasError('max', 'memory')">Jobs are limited to 192 GB RAM.</mat-error>
            <mat-error *ngIf="formGroup.hasError('min', 'maxTime')">Jobs must request at least 1 minute.</mat-error>
            <mat-error *ngIf="formGroup.hasError('max', 'maxTime')">Jobs are limited to 20 days.</mat-error>
          </mat-card>

          <mat-card class="card-form-section mat-elevation-z3">
            <mat-card-header class="card-form-section-title noti advanced-title">Notifications</mat-card-header>

            <div class="input-group">
              <mat-form-field class="card-form-field" appearance="fill">
                <mat-label>Email address</mat-label>
                <input matInput formControlName="email" placeholder="investigator@uni.edu" />
              </mat-form-field>
            </div>
            <mat-card-content class="card-hints 6">
              <mat-hint>
                Optionally, enter your email address to receive notification of the completion of your simulation. After
                submitting your simulation, you will also receive a URL where you will be able to check the status of your
                simulation and retrieve its results.
              </mat-hint>
            </mat-card-content>
            <mat-error *ngIf="formGroup.hasError('email', 'email')">Please enter a valid email address.</mat-error>

            <mat-checkbox formControlName="emailConsent" color="primary" [checked]="formGroup.value.email !== ''">
              I consent to receiving an email notification about the completion of my simulation.
            </mat-checkbox>

            <mat-error *ngIf="formGroup.hasError('emailNotConsented')">
              You must consent to receiving email notifications.
            </mat-error>
          </mat-card>
          </div>
        </mat-expansion-panel>
      </div>
      <!-- END ADVANCED -->

      <!-- SUBMIT FORM BUTTON -->
      <button mat-flat-button type="submit" class="biosimulations-button run">Run Simulation</button>
    </form>
  </biosimulations-page>

  <ng-template #loading>
    <biosimulations-full-page-spinner></biosimulations-full-page-spinner>
  </ng-template>
</div>
