@media screen and (max-width: 959px) {
  .parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-form-section {
    overflow-x: visible;
  }
}

button {
  float: right;
}

.card-form-section {
  height: 100%;
  padding-bottom: 1rem;
  padding-right: 1rem;
  background-color: white;
  overflow: hidden;
}

.card-form-section-title {
  background-color: var(--primary-color);
  color: white;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  font-weight: 700;
}

.input-group {
  height: 100%;
  padding-top: 3rem;
}

.resources {
  input {
    padding-top: 3rem;
  }
}

.card-form-field {
  justify-content: center;
  display: flex;
  align-items: center;

  &:first-child {
    margin-left: 1rem;
  }

  &:active {
    height: fit-content;
  }
}

.card-form-section,
mat-option {
  background-color: white !important;
}

mat-option:hover {
  background-color: var(--accent-darker-color) !important;
  color: white;
}

.message {
  margin-top: 1rem;

  &.success {
    color: var(--primary-color);
    a {
      text-decoration: underline;
    }
  }
}
