.striped-row {
  background-color: #ececec;
}

.parent {
  flex-flow: row wrap;
  justify-content: space-around;
}

.projects-chip-container {
  border: 2px transparent;
}

.parent,
.below-filters {
  display: flex;
}

a {
  color: var(--primary-darker-color);

  &:hover {
    color: var(--accent-darker-color);
    transition: color 0.3s ease;
  }
}
