.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.striped-row {
  background-color: #ececec;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.projects-table-container {
  min-height: 200px;
  /*max-height: 800px; */
  overflow: auto;
}

.below-filters {
  display: flex;
}

.projects-chip-container {
  border: 2px transparent;
}
