<!-- <biosimulations-dispatch-navbar></biosimulations-dispatch-navbar>
<router-outlet></router-outlet>
<biosimulations-dispatch-footer></biosimulations-dispatch-footer> -->
<biosimulations-navigation class="mat-typography">
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/']"> Home</a>
        <a mat-list-item [routerLink]="['/dispatch']">Dispatch</a>
        <a mat-list-item *ngFor="let uuid of uuids" [routerLink]="['/result',uuid]">{{uuid}}</a>
      </mat-nav-list>
      <router-outlet></router-outlet>
</biosimulations-navigation>