<div class="container">
    <div>
        <div class="title">
            <h1>BioSimulations</h1>
            <p>Welcome!</p>
        </div>

        <div class="logos-container">
            <div class="logos creators">
                <a 
                    href="https://reproduciblebiomodels.org" 
                    target="_blank" 
                    alt="Center for Reproducible Biomedical Modeling">
                    <img src="assets/home/cbrm.png"/>
                </a>
                <a 
                    href="https://icahn.mssm.edu/" 
                    target="_blank" 
                    alt="Icahn School of Medicine at Mount Sinai"
                    class="sinai">
                    <img src="assets/home/sinai.svg"/>        
                </a>
                <a 
                    href="https://health.uconn.edu/" 
                    target="_blank"
                    alt="University of Connecticut Health Center">
                    <img src="assets/home/uconn.png"/>
                </a>
                <a 
                    href="https://www.washington.edu/" 
                    target="_blank"
                    alt="University of Washington">
                    <img src="assets/home/uw.svg"/>
                </a>
            </div>

            <div class="logos partners">
                <a 
                    href="https://www.ebi.ac.uk/biomodels/"
                    target="_blank"
                    alt="BioModels">
                    <img src="assets/home/biomodels.png"/>
                </a>
                <a 
                    href="https://models.physiomeproject.org/welcome"
                    target="_blank"
                    alt="Physiome Repository">
                    <img src="assets/home/physiome.png"/>
                </a>
                <a 
                    href="https://jjj.mib.ac.uk/"
                    target="_blank"
                    alt="JWS Online">
                    <img src="assets/home/jws.svg"/>
                </a>

                <a 
                    href="https://www.nih.gov/"
                    target="_blank"
                    alt="NIH">
                    <img src="assets/home/nih.svg"/>
                </a>
                <a 
                    href="https://www.nibib.nih.gov/"
                    target="_blank"
                    alt="NIBIB">
                    <img src="assets/home/nibib.svg"/>
                </a>
                <a 
                    href="https://www.nigms.nih.gov/"
                    target="_blank"
                    alt="NIGMS">
                    <img src="assets/home/nigms.png"/>
                </a>
            </div>

            <div class="logos tech">    
                <a 
                    href="http://co.mbine.org/standards/omex"
                    target="_blank"
                    alt="OMEX">
                    <img src="assets/home/omex.png"/>
                </a>    
                <a 
                    href="https://www.cellml.org/"
                    target="_blank"
                    alt="CellML">
                    <img src="assets/home/cellml.svg"/>
                </a>  
                <a 
                    href="http://sbml.org"
                    target="_blank"
                    alt="SBML">
                    <img src="assets/home/sbml.svg"/>
                </a>    
                <a 
                    href="https://sed-ml.org/"
                    target="_blank"
                    alt="SED-ML">
                    <img src="assets/home/sedml.svg"/>
                </a>    
                <a 
                    href="https://vega.github.io/vega/"
                    target="_blank"
                    alt="Vega">
                    <img src="assets/home/vega.svg"/>
                </a>
                <a 
                    href="https://angular.io/"
                    target="_blank"
                    alt="Angular">
                    <img src="assets/home/angular.svg"/>
                </a>
                <a 
                    href="https://auth0.com"
                    target="_blank"
                    alt="Auth0">
                    <img src="assets/home/auth0.svg"/>
                </a>
            </div>
        </div>
    </div>
</div>