#amp {
  color: var(--tertiary-color);
}

#bio {
  color: var(--primary-color);
}

#simulators {
  color: var(--accent-color);
}

.about-content {
  .text {
    margin-bottom: 0.75rem;
  }
  .logos {
    text-align: center;
  }
}

@media screen and (max-width: 959px) {
  .about-content {
    .text {
      text-align: left;
    }
    .logos p {
      display: inline;
    }
  }
}

.footer-item-button {
  border: 1px solid var(--primary-color);
}

.footer-item-button-text {
  .our-site {
    color: rgb(0, 81, 0);
  }

  .more-information {
    color: #186fb7;
  }
}

.example-card {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: fit-content;
  max-width: 1090px;
}

@media (max-width: 768px) {
  .example-container,
  .example-card,
  .example-header,
  .logo {
    display: none;
  }
}

.example-header {
  border-radius: 4px 4px 0 0;
  border-bottom: none !important;
  font-weight: 700;
  font-size: 30px;
}

.code-window {
  margin-top: 3rem;
  height: fit-content;
}

.code-window span {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 2rem;
}

.code-window p {
  margin-top: 1rem;
}

.code-window code,
.code-window pre {
  font-size: 18px;
  font-weight: 500;
  background-color: black;
}

.logo {
  height: 200px;
  width: fit-content;
  padding: 2rem;
  margin-bottom: 2rem;
}

.logo-container {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card,
.logo {
  border-radius: 4px;
}

.example-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  font-size: 20px;
  width: 100%;
}

.code-window code,
.example-header {
  color: white;
}

.footer-item-button,
.example-header,
.logo {
  background-color: var(--accent-color);
}

.card-intro {
  width: 100%;
  height: fit-content;
  padding-left: 1rem;
  & h2 {
    color: black;
    font-size: 25px;

    @media (max-width: 768px) {
      font-size: 18px;
      display: block;
    }
  }
}
