<biosimulations-resource-home
  name="Computational model"
  pluralName="Computational models"
  shortName="model"
  pluralShortName="models"
  imageUrl="/assets/images/resource-banners/models.svg"
>
  <ng-container id="description">
    Models are powerful tools for understanding and predicting the behavior of
    complex systems. More comprehensive and more predictive models could help
    biologists understand the physical basis of behavior, help physicians
    understand disease, and help bioengineers design biology. One promising way
    to build more comprehensive models is to combine multiple models of
    individual subsystems. Toward more comprehensive models, BioSimulations
    makes it easy for researchers to share and reuse models.
  </ng-container>

  <biosimulations-resource-home-features id="features" [cols]="3">
    <ng-container id="content">
      <biosimulations-resource-home-feature heading="Modeling frameworks">
        <div id="description">
          BioSimulations accepts all modeling frameworks. Currently,
          BioSimulations can execute the Flux Balance
          <a
            target="_blank"
            href="https://www.ebi.ac.uk/ols/ontologies/sbo/terms?iri=http%3A%2F%2Fbiomodels.net%2FSBO%2FSBO_0000624"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          (e.g., FBA), non-spatial continuous kinetic
          <a
            target="_blank"
            href="https://www.ebi.ac.uk/ols/ontologies/sbo/terms?iri=http%3A%2F%2Fbiomodels.net%2FSBO%2FSBO_0000293"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          (e.g., ODE), and non-spatial discrete kinetic
          <a
            target="_blank"
            href="https://www.ebi.ac.uk/ols/ontologies/sbo/terms?iri=http%3A%2F%2Fbiomodels.net%2FSBO%2FSBO_0000295"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          (e.g., SSA) frameworks.
        </div>
      </biosimulations-resource-home-feature>

      <biosimulations-resource-home-feature heading="Model formats">
        <div id="description">
          BioSimulations accepts all model formats. However, we recommend using
          standards such as the Systems Biology Markup Language (SBML)
          <a target="_blank" href="http://sbml.org"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >. Currently, BioSimulations can execute the BioNetGen Language (BNGL)
          <a target="_blank" href="https://bionetgen.org"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          and SBML.
        </div>
      </biosimulations-resource-home-feature>

      <biosimulations-resource-home-feature heading="Simulation tools">
        <div id="description">
          BioSimulations accepts models that require any simulation tool.
          Currently, BioSimulations can execute models using
          <!--
          AMICI <a target="_blank" href="http://amici-dev.github.io/AMICI/"><biosimulations-icon icon="link"></biosimulations-icon></a>, 
          Cayenne <a target="_blank" href="https://cayenne.readthedocs.io/"><biosimulations-icon icon="link"></biosimulations-icon></a>, 
          -->
          CBMPy
          <a target="_blank" href="http://cbmpy.sourceforge.net/"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >, COBRApy
          <a target="_blank" href="https://opencobra.github.io/cobrapy/"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >, COPASI
          <a target="_blank" href="http://copasi.org/"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >, iBioSim
          <a
            target="_blank"
            href="https://github.com/MyersResearchGroup/iBioSim"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >, GillesPy2
          <a target="_blank" href="https://gillespy2.github.io/GillesPy2/"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >, NFSim
          <a target="_blank" href="http://michaelsneddon.net/nfsim/"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >, PySCeS
          <a target="_blank" href="http://pysces.sourceforge.net/"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >, tellurium/libRoadRunner
          <a target="_blank" href="http://tellurium.analogmachine.org/"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >, and VCell
          <a target="_blank" href="https://vcell.org/"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >.
        </div>
      </biosimulations-resource-home-feature>

      <biosimulations-resource-home-feature heading="Metadata">
        <div id="description">
          Authors can provide an image, description, tags, taxon, parent models,
          and references. For each variable and parameter, authors can provide a
          description, ontology terms, value, recommended range, and units.
        </div>
      </biosimulations-resource-home-feature>

      <biosimulations-resource-home-feature heading="Access controls">
        <div id="description">
          Authors can keep their models private or share them with the world.
          Authors can help others reuse their models by also publishing
          simulations and visualizations of their results.
        </div>
      </biosimulations-resource-home-feature>

      <biosimulations-resource-home-feature heading="Licenses">
        <div id="description">
          Authors can choose to share models under any of the Creative Commons
          licenses
          <a target="_blank" href="https://creativecommons.org/licenses/"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >. Please submit an issue
          <a target="_blank" [href]="config.newIssueUrl"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          to request support for additional licenses.
        </div>
      </biosimulations-resource-home-feature>
    </ng-container>
  </biosimulations-resource-home-features>
</biosimulations-resource-home>
