<biosimulations-page heading="Simulators">
  <biosimulations-responsive-table
    [columns]="columns"
    stackedContentsHeading="Simulators"
    [getStackedHeading]="getStackedHeading"
    [getStackedHeadingMoreInfoRouterLink]="getStackedHeadingMoreInfoRouterLink"
    searchPlaceHolder="Query (e.g., COPASI)"
    searchToolTip="Enter a query such as 'CVODE'. Your query will be searched over all columns."
    [linesPerRow]="3"
    [defaultSort]="{ active: 'name', direction: 'asc' }"
    [data]="data"
  ></biosimulations-responsive-table>
</biosimulations-page>
