<biosimulations-page heading="Simulators">
  <biosimulations-responsive-table
    [columns]="columns"
    stackedContentsHeading="Simulators"
    [getStackedHeading]="getStackedHeading"
    [getStackedHeadingMoreInfoRouterLink]="getStackedHeadingMoreInfoRouterLink"
    searchPlaceHolder="Query (e.g., COPASI)"
    searchToolTip="Enter a query such as 'CVODE'. By default, your query will be searched over all columns. This search supports the features of the Lunr search engine. To search over a specific column, prefix your query with the heading of the column (with spaces replaced by dashes) such as 'model-formats: SBML'."
    [linesPerRow]="3"
    [defaultSort]="{ active: 'name', direction: 'asc' }"
    [data]="data"
  ></biosimulations-responsive-table>
</biosimulations-page>
