<div class="container">
  <div class="logo">
    <div class="logo-inner">
      <img src="assets/logo/logo-white.svg" />
      <div class="title">
        Reusable biomodeling, simulation, and visualization
      </div>
      <div class="text">
        BioSimulations is a tool for sharing, re-using, and composing <br />
        models, simulations, and visualizations. BioSimulations supports a<br />
        variety of modeling frameworks, model formats, and simulation tools.
      </div>
    </div>
  </div>

  <div class="partial-width">
    <div class="section features">
      <div class="feature">
        <div class="title">
          <fa-icon
            aria-hidden="false"
            aria-label="User icon"
            [icon]="['fas', 'user']"
          ></fa-icon>
          Users
        </div>
        <div class="subtitle">Reuse published models and simulations</div>
        <ul class="text">
          <li>‣ Find published models, simulations, and visualizations</li>
          <li>‣ Simulate models under new conditions</li>
          <li>‣ Paint visualizations with new simulation results</li>
          <li>‣ Compose visualizations into dashboards</li>
        </ul>
      </div>

      <div class="feature">
        <div class="title">
          <fa-icon
            aria-hidden="false"
            aria-label="Author icon"
            [icon]="['fas', 'pencil-alt']"
          ></fa-icon>
          Authors
        </div>
        <div class="subtitle">
          Publish models, simulations and visualizations
        </div>
        <ul class="text">
          <li>‣ Publish models, simulations and visualizations</li>
          <li>‣ Obtain DOIs for models, simulations and visualizations</li>
          <li>‣ Verify the reproducibility of projects</li>
          <li>‣ Share projects with reviewers and editors</li>
        </ul>
      </div>

      <div class="feature">
        <div class="title">
          <fa-icon
            aria-hidden="false"
            aria-label="Reviewer icon"
            [icon]="['fas', 'tasks']"
          ></fa-icon>
          Reviewers
        </div>
        <div class="subtitle">Check reported models</div>
        <ul class="text">
          <li>‣ Interactively explore reported projects</li>
          <li>‣ Verify the reusability of reported models</li>
          <li>‣ Verify the reproducibility of reported figures and tables</li>
          <li>‣ Test models under alternative simulation conditions</li>
        </ul>
      </div>
    </div>

    <div class="spacer">
      <hr />
    </div>

    <div class="section partners">
      <div class="partner-group">
        <div class="title">
          <fa-icon
            aria-hidden="false"
            aria-label="Model repository icon"
            [icon]="['fas', 'database']"
          ></fa-icon>
          Model repositories
        </div>
        <div class="subtitle">
          BioSimulations is integrated with several model repositories
        </div>
        <div class="content">
          <div class="row">
            <img
              class="partner"
              title="BioModels"
              src="assets/about/partners/biomodels.svg"
            />
            <img
              class="partner"
              title="Physiome Model Repository"
              src="assets/about/partners/physiome.svg"
            />
            <img
              class="partner"
              title="Open Source Brain"
              src="assets/about/partners/open-source-brain.svg"
            />
            <img
              class="partner"
              title="JWS Online"
              src="assets/about/partners/jws.svg"
            />
          </div>
        </div>
      </div>

      <div class="partner-group">
        <div class="title">
          <fa-icon
            aria-hidden="false"
            aria-label="Model format icon"
            [icon]="['far', 'file-alt']"
          ></fa-icon>
          Model formats
        </div>
        <div class="subtitle">
          BioSimulations supports several standard model formats
        </div>
        <div class="content">
          <div class="row">
            <img
              class="partner"
              title="CellML"
              src="assets/about/partners/cellml.svg"
            />
            <img
              class="partner"
              title="NeuroML"
              src="assets/about/partners/neuroml.svg"
            />
            <img
              class="partner"
              title="pharmML"
              src="assets/about/partners/pharmml.svg"
            />
            <img
              class="partner"
              title="SBML"
              src="assets/about/partners/sbml.svg"
            />
          </div>
        </div>
      </div>

      <div class="partner-group">
        <div class="title">
          <fa-icon
            aria-hidden="false"
            aria-label="Simulator icon"
            [icon]="['fas', 'cogs']"
          ></fa-icon>
          Simulators
        </div>
        <div class="subtitle">
          BioSimulations provides a common interface to numerous simulation
          tools
        </div>
        <div class="content">
          <div class="row">
            <img
              class="partner"
              title="COBRApy"
              src="assets/about/partners/cobrapy.svg"
            />
            <img
              class="partner"
              title="COPASI"
              src="assets/about/partners/copasi.svg"
            />
            <img
              class="partner"
              title="libRoadRunner"
              src="assets/about/partners/libroadrunner.svg"
            />
          </div>
          <div class="row">
            <img
              class="partner"
              title="NFsim"
              src="assets/about/partners/nfsim.svg"
            />
            <img
              class="partner"
              title="OpenCOR"
              src="assets/about/partners/opencor.svg"
            />
            <img
              class="partner"
              title="VCell"
              src="assets/about/partners/vcell.svg"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="spacer">
      <hr />
    </div>

    <div class="stats">
      <div class="section" *ngFor="let row of statGraphs">
        <div class="graph-container" *ngFor="let graph of row">
          <ng-container *ngIf="graph">
            <div class="title">
              <fa-icon
                aria-hidden="false"
                aria-label="Icon"
                [icon]="graph.icon"
              ></fa-icon>
              {{ graph.title }}
            </div>
            <div class="subtitle">{{ graph.subtitle }}</div>
            <div class="graph">
              <app-vega-viewer
                [spec]="graph.spec"
                [data]="graph.data"
                [options]="vegaOptions"
                class="vega block no-actions"
              ></app-vega-viewer>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="spacer">
      <hr />
    </div>
    <div class="sponsors">
      <div class="partner-group">
        <div class="title">
          <fa-icon
            aria-hidden="false"
            aria-label="Simulator icon"
            [icon]="['fab', 'osi']"
          ></fa-icon>
          Open Source
        </div>
        <div class="subtitle">
          BioSimulations utilizes platforms that provide free open source plans
        </div>
        <a href="https://www.netlify.com">
          <img
            class="partner"
            title="Netlify"
            src="https://www.netlify.com/img/global/badges/netlify-dark.svg"
          />
        </a>
        <a
          href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss"
        >
          <img
            class="partner"
            title=" Auth0"
            src="https://cdn.auth0.com/oss/badges/a0-badge-dark.png"
        /></a>
        <a href="https://github.com/open-source">
          <img class="partner" title="Github" src="assets/about/tech/github.svg"
        /></a>
      </div>
    </div>
  </div>
</div>
