<div class="icons">
  <!-- Models -->
  <button
    mat-icon-button
    [routerLink]="['/files']"
    matTooltip="Models"
    matTooltipPosition="below"
  >
    <fa-icon aria-hidden="false" aria-label="Files icon" [icon]="['fas', 'project-diagram']" size="lg"></fa-icon>
  </button>

  <!-- Simulations -->
  <button
    mat-icon-button
    [routerLink]="['/data']"
    matTooltip="Simulations"
    matTooltipPosition="below"
  >
    <mat-icon aria-hidden="false" aria-label="Simulations icon"
      >timeline</mat-icon>
  </button>

  <!-- Visualizations -->
  <button
    mat-icon-button
    [routerLink]="['/visualize']"
    matTooltip="Visualizations"
    matTooltipPosition="below"
  >
    <fa-icon aria-hidden="false" aria-label="Files icon" [icon]="['fas', 'chart-area']" size="lg"></fa-icon>
  </button>

  <!-- Help -->
  <button
    mat-icon-button
    [routerLink]="['/about']"
    matTooltip="About"
    matTooltipPosition="below"
  >
    <mat-icon aria-hidden="false" aria-label="About icon">help</mat-icon>
  </button>


  <!-- User acount -->
  <button
    mat-icon-button
    matTooltip="Account"
    matTooltipPosition="below"
    [matMenuTriggerFor]="accountMenu?.profileMenu"
  >
    <mat-icon aria-hidden="false" aria-label="Account icon"
      >account_circle</mat-icon>
  </button>
  <app-account-menu></app-account-menu>
</div>
