<div class="icons">
  <!-- Models -->
  <button
    mat-icon-button
    [routerLink]="['/models']"
    disableRipple="true"
    class="main"
  >
    <fa-icon
      class="icon"
      aria-hidden="false"
      aria-label="Models icon"
      [icon]="['fas', 'project-diagram']"
      size="2x"
    ></fa-icon>
    <span class="label">Models</span>
  </button>

  <!-- Simulations -->
  <button
    mat-icon-button
    [routerLink]="['/simulate']"
    disableRipple="true"
    class="main"
  >
    <mat-icon class="icon" aria-hidden="false" aria-label="Simulate icon"
      >timeline</mat-icon
    >
    <span class="label">Simulate</span>
  </button>

  <!-- Visualizations -->
  <button
    mat-icon-button
    [routerLink]="['/visualize']"
    disableRipple="true"
    class="main"
  >
    <fa-icon
      class="icon"
      aria-hidden="false"
      aria-label="Visualize icon"
      [icon]="['fas', 'chart-area']"
      size="2x"
    ></fa-icon>
    <span class="label">Visualize</span>
  </button>

  <!-- User account and help -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="accountMenu?.profileMenu"
    disableRipple="true"
    class="meta"
  >
    <mat-icon class="icon" aria-hidden="false" aria-label="Account icon"
      >account_circle</mat-icon
    >
  </button>
  <app-account-menu></app-account-menu>
</div>
