<div class="container">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Upload file</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                    <input mat-raised-button type="file" id="file" (change)="fileChange($event.target.files)">
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Access Type</mat-label>
                <mat-select [(ngModel)]="selectedValue">
                    <mat-option *ngFor="let accessType of accessTypes" [value]="accessType.value">
                    {{accessType.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button mat-raised-button color="primary" (click)="submit()">Submit</button>
        </div>
    </div>
</div>