<div class="container">
<br>
<br>
<form>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-6">
            <div class="card text-white bg-secondary mb-3" style="max-width: 100%;">
                <div class="card-header">Upload file</div>
                <div class="card-body">
                    <div class="form-group">
                        <!-- <label for="exampleFormControlFile1">OMEX</label> -->
                        <input type="file" 
                                id="file" 
                                class="form-control-file"
                                (change)="handleFileInput($event.target.files)">
                    </div>
                </div>
              </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="card text-white bg-secondary mb-3" style="max-width: 100%;">
                <div class="card-header">Select simulator</div>
                <div class="card-body">
                    <select [(ngModel)]="selectedSimulator" [ngModelOptions]="{standalone: true}" class="form-control">
                        <option *ngFor="let simulator of simulators" [value]="simulator">{{simulator}}</option>
                    </select>
                </div>
              </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6" style="text-align: center;">
            <button class="btn btn-dark" type="button" (click)="onClickSubmit()">Submit</button>
        </div>
        <div class="col"></div>
    </div>
</form>
</div>