{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.*?.json"
  },
  "ignorePatterns": ["**/*"],
  "plugins": [
    "@typescript-eslint",
    "@nrwl/nx",
    "@angular-eslint/eslint-plugin"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "warn",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/no-parameter-properties": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-inferrable-types": "warn",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@nrwl/nx/enforce-module-boundaries": [
      "error",
      {
        "enforceBuildableLibDependency": true,
        "allow": [],
        "depConstraints": [
          {
            "sourceTag": "platform:web",
            "onlyDependOnLibsWithTags": ["platform:web", "platform:any"]
          },
          {
            "sourceTag": "platform:server",
            "onlyDependOnLibsWithTags": ["platform:server", "platform:any"]
          },
          {
            "sourceTag": "scope:shared",
            "onlyDependOnLibsWithTags": ["scope:shared"]
          },
          {
            "sourceTag": "scope:config",
            "onlyDependOnLibsWithTags": ["scope:config", "type:environments"]
          },
          {
            "sourceTag": "scope:auth",
            "onlyDependOnLibsWithTags": ["scope:auth", "type:environments"]
          },
          {
            "sourceTag": "scope:simulators",
            "onlyDependOnLibsWithTags": [
              "scope:simulators",
              "scope:shared",
              "shared:true"
            ]
          },
          {
            "sourceTag": "scope:accounts",
            "onlyDependOnLibsWithTags": [
              "scope:accounts",
              "scope:shared",
              "shared:true"
            ]
          },
          {
            "sourceTag": "scope:platform",
            "onlyDependOnLibsWithTags": [
              "scope:platform",
              "scope:shared",
              "shared:true"
            ]
          },
          {
            "sourceTag": "scope:dispatch",
            "onlyDependOnLibsWithTags": [
              "scope:dispatch",
              "scope:shared",
              "shared:true"

            ]
          },
          {
            "sourceTag": "*",
            "onlyDependOnLibsWithTags": ["*"]
          }
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.component.html"],
      "parser": "@angular-eslint/template-parser",
      "plugins": ["@angular-eslint/template"],
      "rules": {
        "@angular-eslint/template/banana-in-a-box": "error",
        "@angular-eslint/template/cyclomatic-complexity": "error",
        "@angular-eslint/template/no-call-expression": "error",
        "@angular-eslint/template/no-negated-async": "error"
      }
    }
  ]
}
