[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"],version = ">=2.7.0"}
requests = "*"
biosimulators-utils = {extras = ["sbml"],version = ">=0.1.53"}
python-dateutil = "*"
gunicorn = "*"
flask-cors = "*"
python-dotenv = "*"
boto3 = "*"

[dev-packages]
openapi-core = "*"
pyyaml = "*"
pytest = "*"
pytest-cov = "*"
openapi-spec-validator = "*"

[requires]
python_version = "3.7"
