[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"],version = ">=2.7.0"}
requests = "*"
biosimulators-utils = ">=0.1.48"
python-dateutil = "*"
gunicorn = "*"

[dev-packages]
openapi-core = "*"
pyyaml = "*"
pytest = "*"

[requires]
python_version = "3.7"
