@use '@angular/material' as mat;
@import 'apps/platform/src/styles.scss';
@import 'biosimulations-colors';
@import 'biosimulations-typography';

.container {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (max-width: 768px) {
    height: 280px;
  }
}

.pagination-dots {
  display: flex;
  justify-content: center;
  padding-bottom: 0rem;
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--accent-lighter-color);
  margin: 0 5px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;

  &.active {
    background-color: var(--tertiary-color);
  }
}

.text-header {
  border-top: 0.5px solid inherit;
  border-radius: 3px;
  width: auto;
  font-weight: 700;
  font-size: x-large;
}

.feature-card {
  width: 100%;
  height: 615px;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  background-size: cover; //500px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 0;
  padding-bottom: 4rem;
  font-weight: bold;
  font-size: large;
  transition-property: all;
  display: flex, -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  &:hover {
    opacity: 0.33;
    transition: opacity 0.3s ease-in;
  }

  @media (max-width: 768px) {
    height: fit-content;
    width: 300px;
  }
}

.feature-card-header {
  border-radius: 4px 4px 0.5px 0.5px;
  padding-bottom: 10px;
}

.description-teaser-container-parent {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;

  @media (max-width: 768px) {
    font-size: 12;
  }
}

.description-teaser-container {
  height: 100%;
  padding-top: 2rem;
  color: white;

  @media (max-width: 768px) {
    font-size: 9px;
    padding-top: none;
  }
}

.description-teaser-content {
  font-size: large;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    border: 4px solid #2196f3;
    border-radius: 4px;
    background-color: #2196f3;
    color: white;
    transition: background-color 0.3s ease;
    justify-content: space-around center;
  }
}

.verbose-description-card-container {
  height: 300px;
  overflow: visible;

  &:hover {
    transition: background-color 0.3s ease-in-out;
  }
}

.verbose-description-card-content {
  height: 100%;
  width: 100%;
  padding-top: 6rem;
  background-color: inherit;

  &:hover {
    transition: background-color 0.2s ease-in-out;
  }
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  background-color: rgba(20, 121, 237, 0.75);
  color: white;
  font-size: large;
  border-radius: 2px;
  font-weight: 500;

  &:hover {
    color: mat.get-color-from-palette($theme-accent);
  }

  @media (max-width: 768px) {
    font: x-small;
  }
}

.click-image-eventspace {
}

.mobile {
  height: 100%;
  width: 100%;
}

.mobile-button-content {
  height: 100%;
  font-size: small;
  display: inline;
}

.mobile-description-container {
  margin-top: 40px;
}

mat-card-header {
  color: white !important;

  strong {
    font-size: 30px;
  }
}

button:not(.nav-button) {
  width: 100%;
  height: fit-content;
  border: 3px solid inherit;
  border-radius: 0.5px 0.5px 4px 4px;
  font-weight: 700;
  font-size: 18px;
  color: white !important;

  &:hover {
    background-color: var(--accent-darker-color) !important;
    transition: background-color 0.4s ease-out;
  }
}
