<div class="container">
  <!-- Case: Start Not Mobile -->
  <div *ngIf="!isMobile; else mobileView" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- Left Button -->
    <button class="nav-button left" fxFlexAlign="center" (click)="previous()" mat-fab>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <ng-container *ngFor="let project of projects; let i = index">
      <mat-card
        [@slideInOut]="'in'"
        class="feature-card"
        *ngIf="i >= startIndex && i <= endIndex"
        [fxFlex]="70 / numCards"
        [style.background-color]="project.headerColor"
        [style.background-image]="'url(' + project.image + ')'"
        (mouseenter)="showNewElement()"
        (mouseleave)="hideNewElement()">
        <mat-card-header [style.background-color]="project.headerColor" class="feature-card-header">
          <mat-card-title>
            <strong>
              {{ project.title }}
            </strong>
          </mat-card-title>
        </mat-card-header>

        <div class="description-teaser-container-parent">
          <mat-card-footer
            class="description-teaser-container"
            [style.background-color]="project.headerColor"
            align="end">
            <!-- Case: Using internal routing -->
            <div *ngIf="project.useInternalRouting; else useExternalRouting">
              <a class="click-image-eventspace internal" target="_blank" [routerLink]="project.routingLink">
                <button mat-button [style.background-color]="project.headerColor" class="description-teaser-content">
                  {{ project.descriptionTeaser }}
                </button>
              </a>
            </div>
            <!-- Case: Using external routing -->
            <ng-template #useExternalRouting>
              <a
                class="click-image-eventspace external"
                target="_blank"
                [href]="project.routingLink"
                style="font-family: Roboto, sans-serif">
                <button
                  class="description-teaser-content text-header"
                  mat-button
                  [style.background-color]="project.headerColor">
                  {{ project.descriptionTeaser }}
                </button>
              </a>
            </ng-template>
          </mat-card-footer>
        </div>
        <!-- Case: User Hovers over the featured card and a verbose description is displayed -->
        <div id="new-element" class="verbose-description-card-container" [hidden]="!showNew">
          <div
            class="verbose-description-card-content"
            [style.background-color]="project.headerColor"
            [style.color]="project.textColor">
            <mat-card-content>
              {{ project.descriptionVerbose }}
            </mat-card-content>
          </div>
        </div>
        <!-- End Feature Card Content -->
      </mat-card>
    </ng-container>

    <!-- Right Button -->
    <button mat-fab fxFlexAlign="center" class="nav-button right" (click)="next()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <!-- End Not Mobile -->

  <!-- Pagination Dots -->
  <div class="pagination-dots">
    <span
      class="dot"
      *ngFor="let project of projects; let i = index"
      [class.active]="i >= startIndex && i <= endIndex"
      (click)="jumpTo(i)">
    </span>
  </div>

  <!-- Case: Start Mobile View -->
  <ng-template #mobileView>
    <ng-container *ngFor="let project of projects; let i = index">
      <mat-card
        [@slideInOut]="'in'"
        class="feature-card mobile"
        *ngIf="i >= startIndex && i <= endIndex"
        [fxFlex]="70 / numCards"
        style="background-color: #ff9800">
        <a [href]="project.routingLink" target="_blank" class="description-teaser-container mobile">
          <mat-card-header class="mobile-heading-container">
            <button mat-flat-button class="description-teaser-content mobile">
              <span class="mobile-button-content">
                {{ project.mobileTitle || project.title }}
              </span>
            </button>
          </mat-card-header>
          <mat-card-content class="mobile-description-container">
            <span class="mobile-description">
              {{ project.descriptionTeaser }}
            </span>
          </mat-card-content>
        </a>
      </mat-card>
    </ng-container>
  </ng-template>
  <!-- End Mobile View -->
</div>
