<div class="container" #carousel>
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <!-- Left Button -->
    <button class="nav-button left" fxFlexAlign="center" (click)="previous()" mat-fab>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <!-- Start feature card handling -->
    <ng-container *ngFor="let project of projects; let i = index">
      <!-- Start Parent of Feature Card Regular Viewport Size -->
      <mat-card
        [@slideInOut]="'in'"
        class="feature-card"
        *ngIf="i >= startIndex && i <= endIndex"
        [fxFlex]="70 / numCards"
        [style.background-color]="project.headerColor"
        [style.background-image]="'url(' + project.image + ')'"
        (mouseenter)="showNewElement()"
        (mouseleave)="hideNewElement()">
        <!-- Start Feature Card Header -->
        <mat-card-header [style.background-color]="project.headerColor" style="color: white">
          <mat-card-title>
            {{ project.title }}
          </mat-card-title>
        </mat-card-header>
        <!-- End Feature Card Header -->
        <!-- Start Feature Card Content -->
        <div class="description-teaser-container-parent">
          <!-- Start Teaser Description Button -->
          <mat-card-footer class="description-teaser-container" [style.background-color]="project.headerColor" align="end">
            <!-- Case: Using internal routing -->
            <div *ngIf="project.useInternalRouting; else useExternalRouting">
              <a class="click-image-eventspace internal" target="_blank" [routerLink]="project.routingLink" style="font-family: Roboto, sans-serif">
                <button class="description-teaser-content text-header" mat-button style="color: white">
                  {{ project.descriptionTeaser }}
                </button>
              </a>
            </div>
            <!-- Case: Using external routing -->
            <ng-template #useExternalRouting>
              <a class="click-image-eventspace external" target="_blank" [href]="project.routingLink" style="font-family: Roboto, sans-serif">
                <button class="description-teaser-content text-header" mat-button style="color: white">
                  {{ project.descriptionTeaser }}
                </button>
              </a>
            </ng-template>
          </mat-card-footer>
          <!-- End Teaser Description Button -->
        </div>
        <!-- Case: User Hovers over the featured card and a verbose description is displayed -->
        <div id="new-element" class="verbose-description-card-container" [hidden]="!showNew">
          <div class="verbose-description-card-content" [style.background-color]="project.headerColor" [style.color]="project.textColor">
            <mat-card-content>
              {{ project.descriptionVerbose }}
            </mat-card-content>
          </div>
        </div>
        <!-- End Feature Card Content -->
      </mat-card>
    </ng-container>

    <!-- Right Button -->
    <button mat-fab fxFlexAlign="center" class="nav-button right" (click)="next()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <!-- Pagination Dots -->
  <div class="pagination-dots">
    <span
      class="dot"
      *ngFor="let project of projects; let i = index"
      [class.active]="i >= startIndex && i <= endIndex"
      (click)="jumpTo(i)">
    </span>
  </div>
</div>
