@import 'biosimulations-colors';

$primary: var(--primary-color);
$text: white !important;
$trans: 0.3s ease-in-out;

.container {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (max-width: 768px) {
    height: 280px;
  }
}

.pagination-dots {
  display: flex;
  justify-content: center;
  padding-bottom: 0rem;
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--accent-lighter-color);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color $trans;

  &.active {
    background-color: var(--tertiary-color);
  }
}

.text-header {
  border-top: 0.5px solid inherit;
  border-radius: 3px;
  width: auto;
  font-weight: 700;
  font-size: x-large;
}

.feature-card {
  width: 100%;
  height: 615px;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 0;
  padding-bottom: 4rem;
  font-weight: bold;
  font-size: large;
  transition-property: all;
  display: flex, -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  &:hover {
    opacity: 0.33;
    transition: opacity $trans;
  }

  @media (max-width: 768px) {
    height: fit-content;
    width: 300px;
  }
}

.feature-card-header {
  border-radius: 4px 4px 0.5px 0.5px;
  padding-bottom: 10px;
}

.description-teaser-container-parent {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;

  @media (max-width: 768px) {
    font-size: 12;
  }
}

.description-teaser-container {
  height: 100%;
  padding-top: 2rem;
  color: $text;

  @media (max-width: 768px) {
    font-size: 9px;
    padding-top: none;
  }
}

.description-teaser-content {
  font-size: large;
  align-items: center;
  justify-content: center;
  padding: 30px;

  @media (max-width: 768px) {
    border: 4px solid $primary;
    border-radius: 4px;
    background-color: $primary;
    color: $text;
    transition: background-color $trans;
    justify-content: space-around center;
  }
}

.feature-card:hover button {
  background-color: var(--accent-darker-color) !important;
  transition: background-color $trans;
}

.verbose-description-card-container {
  height: 80%;
  overflow: visible;
}

.verbose-description-card-content {
  height: 100%;
  width: 100%;
  padding-top: 6rem;
  background-color: inherit;

  &:hover {
    transition: background-color $trans;
  }
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  background-color: $primary;
  color: $text;
  font-size: large;
  border-radius: 2px;
  font-weight: 500;

  &:hover {
    color: var(--accent-color);
  }

  @media (max-width: 768px) {
    font: x-small;
  }
}

.mobile {
  height: 100%;
  width: 100%;
}

.mobile-button-content {
  height: 100%;
  font-size: small;
  display: inline;
}

mat-card-header {
  color: $text;

  strong {
    font-size: 30px;
  }
}

button:not(.nav-button) {
  width: 100%;
  height: fit-content;
  border: 3px solid inherit;
  border-radius: 0.5px 0.5px 4px 4px;
  font-weight: 700;
  font-size: 18px;
  color: $text;
}

.feature-card-header-mobile {
  border-radius: 4px 4px 0.5px 0.5px;
  padding-bottom: 5px;
  border: 0.5px solid inherit;
  border-bottom: none;
  width: auto;
  font-weight: 700;
  font-size: 20px;
}

.inner {
  height: fit-content;
  width: fit-content;
  border: 3px solid inherit;
  border-radius: 4px;
}

.checkit {
  color: $text;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
