@use '@angular/material' as mat;
@import 'apps/platform/src/styles.scss';
@import 'biosimulations-colors';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;700:wght@700&display=swap');

.container {
  height: 100%;
  width: 110%;
  text-align: center;
  overflow: hidden;
  padding: 0rem;
  padding-bottom: 0rem;
  position: relative;
}

.subsection {
  padding-top: 3rem;
}

.heading {
  width: 100%;
  padding-top: 10rem;
  text-align: center;
  font-size: 28px;
  line-height: normal;
}

.heading-separator {
  border-bottom: 2px solid var(--primary-color);
  height: 0;
  width: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.pagination-dots {
  display: flex;
  justify-content: center;
  padding-bottom: 0rem;
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin: 0 5px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.dot.active {
  background-color: mat.get-color-from-palette($theme-primary);
}

.mat-mdc-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 1rem;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  border-radius: 4px;
}
img {
  height: 300px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
}
.mat-mdc-card-header {
  color: var(--text-primary-darker-color);
  background-color: var(--accent-color);
  width: 99%;
  padding: 1rem;
  font-weight: bold;
  justify-content: center;
  margin-top: 0;
  border-radius: 4px;
  //border-top-left-radius: 4px;
  //border-top-right-radius: 4px;
}
.mat-mdc-card-subtitle {
  color: var(--text-primary-color);
}
.mat-mdc-card-actions {
  margin: 0;
  margin-top: auto;
}
.mat-mdc-card-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 1rem;
  height: 60px;
}
.mat-mdc-raised-button {
  box-shadow: none;
  background-color: #347121;
  color: white;
  border-radius: 2px;
}
