.container {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 2rem;
}

.heading {
  text-align: center;
  font-size: 28px;
  line-height: normal;
  font-weight: bold;
}

.heading-separator {
  border-bottom: 2px solid var(--primary-color);
  height: 0;
  width: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.nextButton {
  box-shadow: none;
  margin-right: 3rem;
}
.previousButton {
  box-shadow: none;
  //margin-left: 3rem;
}

.mat-mdc-card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 1rem;
}
img {
  height: 250px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.mat-mdc-card-header {
  color: var(--text-primary-darker-color);
  background-color: var(--primary-color);
  width: 100%;
  padding: 1rem;
  justify-content: center;
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.mat-mdc-card-subtitle {
  color: var(--text-primary-darker-color);
}
.mat-mdc-card-actions {
  margin: 0;
  margin-top: auto;
}
.mat-mdc-card-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 60px;
}
.mat-mdc-raised-button {
  box-shadow: none;
}
