@import 'biosimulations-colors';

.home-container-run {
  height: fit-content;
  width: auto;
  padding-top: 3rem;

  @media (max-width: 768px) {
    height: 100%;
    width: 100%;
  }
}

.about-content {
  .text {
    margin-bottom: 0.75rem;
  }
  .logos {
    text-align: center;
  }
}

@media screen and (max-width: 959px) {
  .about-content {
    .text {
      text-align: left;
    }
    .logos p {
      display: inline;
    }
  }
}

.footer-item-button {
  border: 1px solid #2196f3;
  background-color: #ff9800;
}

.footer-item-button-text {
  .our-site {
    color: rgb(0, 81, 0);
  }

  .more-information {
    color: #186fb7;
  }
}

strong {
  color: var(--tertiary-darker-color);
}

.description-dispatch {
  width: 50%;
  font-weight: bold;
  font-size: 32px;
}

.description-dispatch-mobile {
  font-size: 22px;
  border: 3px solid inherit;
  border-radius: 4px;
}

.description-dispatch,
.description-dispatch-mobile {
  font-family: 'Roboto', sans-serif;
  background-image: url('/assets/images/backgrounds/grey-3.png') !important;
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;
}

strong {
  color: var(--accent-color);
}

.subsection-mobile {
  justify-content: center;
}

.mobile-parent-container {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (max-width: 768px) {
    height: 280px;
  }
}
