.about-content {
  .text {
    margin-bottom: 0.75rem;
  }
  .logos {
    text-align: center;
  }
}

@media screen and (max-width: 959px) {
  .about-content {
    .text {
      text-align: left;
    }
    .logos p {
      display: inline;
    }
  }
}

.footer-item-button {
  border: 1px solid #2196f3;
  background-color: #ff9800;
}

.footer-item-button-text {
  .our-site {
    color: rgb(0, 81, 0);
  }

  .more-information {
    color: #186fb7;
  }
}

.logo {
  height: 200px;
  width: fit-content;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 4px;
  background-color: var(--tertiary-darker-color);
}

.logo-container {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
