@import 'biosimulations-colors';

.home-container-run {
  height: fit-content;
  width: auto;
  padding-top: 3rem;

  @media (max-width: 768px) {
    height: 100%;
    width: 100%;
  }
}

.about-content {
  .text {
    margin-bottom: 0.75rem;
  }
  .logos {
    text-align: center;
  }
}

@media screen and (max-width: 959px) {
  .about-content {
    .text {
      text-align: left;
    }
    .logos p {
      display: inline;
    }
  }
}

.footer-item-button {
  border: 1px solid #2196f3;
  background-color: #ff9800;
}

.footer-item-button-text {
  .our-site {
    color: rgb(0, 81, 0);
  }

  .more-information {
    color: #186fb7;
  }
}

strong {
  color: var(--accent-color);
}
