.sidenav-container
  height: 100%

.sidenav
  width: 200px
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24)

.sidenav .mat-toolbar
  background: primary

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.hidden
  display: none

.topbar
  flex: 1, 1, auto
  width: 100%

.content
  padding-left: 1.5%
  padding-top: 5px
