<mat-sidenav-container class="sidenav-container">
  <!-- [ngClass]="{ hidden: (isHandset | async) === false }" -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      Menu
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="drawer.opened"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <app-links></app-links>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="topbar" color="primary">
      <button
        class="menubutton"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!drawer.opened"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo"><app-logo></app-logo></div>
      <div class="searchbar" *ngIf="!(isHandset$ | async)">
        <app-search-bar></app-search-bar>
      </div>
      <div class="links" *ngIf="!(isHandset$ | async)">
        <app-links></app-links>
      </div>
    </mat-toolbar>
    <div class="content"><ng-content></ng-content></div>
  </mat-sidenav-content>
</mat-sidenav-container>
