<ng-container *ngIf="model$ | async as model; else notPresent">
  <biosimulations-resource-view
    [name]="model.name"
    [authors]="model.authors"
    [owner]="model.owner"
    [tags]="model.tags"
    [description]="model.description"
    [summary]="model.summary"
    [imageUrl]="model.imageUrl"
    [attributes]="[
      model.taxon,
      model.framework,
      model.format,
      model.license,
      model.owner
    ]"
    [variables]="model.variables"
    [parameters]="model.parameters"
  >
  </biosimulations-resource-view>
</ng-container>

<ng-template #notPresent>
  <ng-container *ngIf="!!!error; else errorTemplate">
    <biosimulations-spinner></biosimulations-spinner>
  </ng-container>
</ng-template>
<ng-template #errorTemplate>
  <h2>Error Loading Model {{ id$ | async }}</h2>
  <h3>{{ error }}</h3>
</ng-template>
<biosimulations-debug-viewer>
  >
  {{ id$ | async }}
  {{ error | json }}
  {{ model$ | async | json }}
</biosimulations-debug-viewer>
