<h2 class="page-title">Profile 
    <a href="#"><mat-icon class="unverified" aria-hidden="false" aria-label="Edit profile">edit</mat-icon></a>
</h2>

<div *ngIf="auth.userProfile$ | async as profile">
    <img class="photo" src="{{ profile.picture }}"/>
    <div class="name">{{ profile.name }}</div>
    <div class="username">{{ profile.nickname }}</div>
    <div class="description" *ngIf="auth.extendedProfile.description">{{ auth.extendedProfile.description }}</div>

    <table class="details">
        <tr *ngIf="auth.extendedProfile.organization">
            <th><mat-icon aria-hidden="false" aria-label="Organization">people</mat-icon></th>
            <td>{{ auth.extendedProfile.organization }}</td>
        </tr>

        <tr *ngIf="auth.extendedProfile.website">
            <th><mat-icon aria-hidden="false" aria-label="Website">link</mat-icon></th>
            <td><a href="{{ auth.extendedProfile.website }}">{{ auth.extendedProfile.website }}</a></td>
        </tr>

        <tr *ngIf="profile.email" class="email">
            <th><mat-icon aria-hidden="false" aria-label="Email">email</mat-icon></th>
            <td><a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
                <span *ngIf="profile.email_verified; else emailUnverified">
                    <mat-icon class="verified" aria-hidden="false" aria-label="Email verified">check</mat-icon>
                </span>
                <ng-template #emailUnverified>x
                    <mat-icon class="unverified" aria-hidden="false" aria-label="Email not verified">close</mat-icon>
                </ng-template>
            </td>
        </tr>

        <tr *ngIf="auth.extendedProfile.github">
            <th><fa-icon [icon]="['fab', 'github']" size="lg" aria-hidden="false" aria-label="GitHub"></fa-icon></th>
            <td><a href="https://github.com/{{ auth.extendedProfile.github }}">{{ auth.extendedProfile.github }}</a></td>
        </tr>
        
        <tr *ngIf="auth.extendedProfile.google_scholar">
            <th><fa-icon [icon]="['fab', 'google']" size="lg" aria-hidden="false" aria-label="Google Scholar"></fa-icon></th>
            <td><a href="https://scholar.google.com/citations?user={{ auth.extendedProfile.google_scholar }}">{{ auth.extendedProfile.google_scholar }}</a></td>
        </tr>
        
        <tr *ngIf="auth.extendedProfile.orcid">
            <th><fa-icon [icon]="['fab', 'orcid']" size="lg" aria-hidden="false" aria-label="ORCID"></fa-icon></th>
            <td><a href="https://orcid.org/{{ auth.extendedProfile.orcid }}">{{ auth.extendedProfile.orcid }}</a></td>
        </tr>
    </table>
</div>