<div class="partial-width">
  <h1>Privacy policy</h1>
  <div class="page-content grid grid-2">
    <div class="toc">
      <div class="toc-inner">
        <div class="section">
          <h2>Contents</h2>
          <div class="section-content">
            <ul>
              <li><a (click)="scrollToElement(data)">Personal data that we collect</a></li>
              <li><a (click)="scrollToElement(usage)">How we use personal data</a></li>
              <li><a (click)="scrollToElement(collection)">How we collect personal data</a></li>
              <li><a (click)="scrollToElement(storage)">How we store data</a></li>
              <li><a (click)="scrollToElement(time)">How long we keep data</a></li>
              <li><a (click)="scrollToElement(access)">Who has access to this data</a></li>
              <li><a (click)="scrollToElement(rights)">Your rights regarding this data</a></li>
              <li><a (click)="scrollToElement(contact)">Contact information</a></li>
            </ul>
          </div>
        </div>

        <div class="section">
          <h2>Contact us</h2>
          <div class="section-content">
            <div>
              <a href="mailto:info@biosimulations.org">
                <biosimulations-icon icon="email"></biosimulations-icon>
                Contact us
              </a>
            </div>
            <div>
              <a href="https://github.com/reproducible-biomedical-modeling/biosimulations" target="_blank">
                <biosimulations-icon icon="github"></biosimulations-icon>
                Submit an issue
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div #top>
      <div class="section">
        <h2 #data>
          Personal data that we collect
          <a class="back-to-top" (click)="scrollToTop(top)">
            <biosimulations-icon icon="toTop"></biosimulations-icon>
          </a>
        </h2>
        <div class="section-content">
          We collect profiles of the authors of each model, simulation, and visualization. This includes their name, institution, website, email, ORCID, and a brief biography. In addition, we collect standard information about user behavior such as the IP addresses, operating systems, and browsers used to access our website and the dates and times that users visit our website.
        </div>
      </div>

       <div class="section">
        <h2 #usage>
          How we use personal data
          <a class="back-to-top" (click)="scrollToTop(top)">
            <biosimulations-icon icon="toTop"></biosimulations-icon>
          </a>
        </h2>
        <div class="section-content">
          We use the author profiles to publicly credit authors for their models, simulations, and visualizations. We use the use behavior data to help improve the functionality of BioSimulations for the scientific community. This includes helping us better understand the needs of users.
        </div>
      </div>

      <div class="section">
        <h2 #collection>
          How we collect personal data
          <a class="back-to-top" (click)="scrollToTop(top)">
            <biosimulations-icon icon="toTop"></biosimulations-icon>
          </a>
        </h2>
        <div class="section-content">
          After logging in, authors can edit their profile using our online form. We use Google Analytics to collect the user behavior data. Google Analytics uses cookies.
        </div>
      </div>

      <div class="section">
        <h2 #storage>
          How we store personal data
          <a class="back-to-top" (click)="scrollToTop(top)">
            <biosimulations-icon icon="toTop"></biosimulations-icon>
          </a>
        </h2>
        <div class="section-content">
          The author profiles are stored in our MongoDB database. We use Google Analytics to store the user behavior data. Personal data will not be transferred to international organisations.
        </div>
      </div>

      <div class="section">
        <h2 #time>
          How long we keep personal data
          <a class="back-to-top" (click)="scrollToTop(top)">
            <biosimulations-icon icon="toTop"></biosimulations-icon>
          </a>
        </h2>
        <div class="section-content">
          This personal data will be stored as long as BioSimulations is live.
        </div>
      </div>

      <div class="section">
        <h2 #access>
          Who has access to this personal data
          <a class="back-to-top" (click)="scrollToTop(top)">
            <biosimulations-icon icon="toTop"></biosimulations-icon>
          </a>
        </h2>
        <div class="section-content">
          The author profiles are publicly accessible. The user behavior data is only accessible to the leader developers.
        </div>
      </div>

      <div class="section">
        <h2 #rights>
          Your rights regarding your personal data
          <a class="back-to-top" (click)="scrollToTop(top)">
            <biosimulations-icon icon="toTop"></biosimulations-icon>
          </a>
        </h2>
        <div class="section-content">
          You have the right to view, edit, or delete your author profile at any time. You also have the right to request at reasonable intervals and without excessive delay or expense, information about the user behavior data processed about you.
        </div>
      </div>

      <div class="section">
        <h2 #contact>
          How to contact us
          <a class="back-to-top" (click)="scrollToTop(top)">
            <biosimulations-icon icon="toTop"></biosimulations-icon>
          </a>
        </h2>
        <div class="section-content">
          If you have any questions about this policy, please contact us <a href="mailto:info@biosimulations.org"><biosimulations-icon icon="email"></biosimulations-icon></a>.
        </div>
      </div>
    </div>
  </div>
</div>