<biosimulations-text-page heading="Format for the specifications of biosimulation tools" [tocSections]="tocSections">
  <ng-container id="sideBar">
    <biosimulations-text-page-side-bar-section heading="Related resources" fxShow fxHide.lt-md>
      <div class="hanging-indent">
        <a [routerLink]="['/help']">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Tutorial
        </a>
      </div>
      <div class="hanging-indent">
        <a [href]="validatorUrl" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Online validator
        </a>
      </div>
      <div class="hanging-indent">
        <a [href]="config.apiUrl" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          REST API documentation
        </a>
      </div>
    </biosimulations-text-page-side-bar-section>

    <biosimulations-text-page-help-side-bar-section fxShow fxHide.lt-md>
    </biosimulations-text-page-help-side-bar-section>

    <biosimulations-text-page-feedback-side-bar-section fxShow fxHide.lt-md>
    </biosimulations-text-page-feedback-side-bar-section>
  </ng-container>

  <ng-container id="content" tocSectionsContainer>
    <biosimulations-text-page-content-section
      heading="Overview"
      tocSection="Overview"
    >
      <p>The BioSimulators format for the specifications of a simulation tool is a JSON schema for describing the modeling frameworks (e.g., logical, constraint-based), simulation algorithms (e.g., CVODE, SSA), and modeling formats (e.g., CellML, COMBINE/OMEX, SBML, SED-ML) that a simulation tool supports, as well as the parameters of each algorithm (e.g., random number generator seed), their data types, and their allowed and default values.</p>

      <p>The format can also capture a metadata about each simulation tool including its</p>
      <ul>
        <li>Name;</li>
        <li>Version;</li>
        <li>Description;</li>
        <li>URL for a standardized Docker image for the tool;</li>
        <li>URL for documentation about about the tool;</li>
        <li>Citations for the tool;</li>
        <li>Citations for each algorithm supported by the tool;</li>
        <li>Other identifiers for the tool such as for bio.tools, CRAN, or PyPI;</li>
        <li>License for the tool;</li>
        <li>The authors of the tool; and</li>
        <li>Dates when the tool was submitted to the BioSimulators registry and last updated.</li>
      </ul>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Schema"
      tocSection="Schema"
    >
      <p>The schema for the format is available in JSON Schema <a [href]="jsonSchemaUrl" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> and Open API <a [href]="openApiSpecsUrl" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> formats. Documentation for the schema is available at <a [href]="config.apiUrl" target="_blank">{{ config.dispatchApiUrl }}</a>.</p>

      <p>The schema utilizes several ontologies:</p>
      <ul>
        <li>Funding agencies: Funder Registry <a href="https://www.crossref.org/services/funder-registry/" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> terms such as the National Science Foundation (http://dx.doi.org/10.13039/100000001), the National Institutes of Health (http://dx.doi.org/10.13039/100000002)</li>
        <li>Licenses: SPDX <a href="https://spdx.org/" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> terms such as GNU General Public License v3.0 or later (GPL-3.0-or-later)</li>
        <li>Modeling formats: EDAM <a href="https://edamontology.org/" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> terms such as BNGL (format_3972), CellML (format_3240), SBML (format_2585), SED-ML (format_3685)</li>
        <li>Modeling frameworks: SBO <a href="https://www.ebi.ac.uk/sbo/" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> terms such as flux balance analysis framework (SBO:0000624), non-spatial continuous kinetic framework (SBO:0000293)</li>
        <li>Programming languages: Linguist <a href="https://github.com/github/linguist" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> terms such as C++, Java, JavaScript, Python, R</li>
        <li>Simulation algorithms: KiSAO <a href="http://co.mbine.org/standards/kisao" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> terms such as CVODE (KISAO_0000019), FBA (KISAO_0000029), SSA (KISAO_0000029)</li>
      </ul>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Example specifications of a simulator"
      tocSection="Example specs"
    >
      <p>An an example, below is the specifications for tellurium <a href="http://tellurium.analogmachine.org" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a>.</p>
      <pre><code [languages]="['json']" [highlight]="exampleSpecs"></code></pre>
    </biosimulations-text-page-content-section>
  </ng-container>
</biosimulations-text-page>