<!--<biosimulations-bread-crumbs-position>-->
<!--  <biosimulations-bread-crumbs-button-->
<!--    icon="search"-->
<!--    label="Search & filter"-->
<!--    [onClick]="openControls"></biosimulations-bread-crumbs-button>-->
<!--</biosimulations-bread-crumbs-position>-->


<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!--  <mat-paginator #paginator-->
<!--                 [length]="dataSource.data.length"-->
<!--                 [pageIndex]="0"-->
<!--                 [pageSize]="10"-->
<!--                 [pageSizeOptions]="[5, 10, 20]"-->
<!--                 aria-label="Select page">-->
<!--  </mat-paginator>-->
  <mat-paginator #paginator
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 20, 50]"
                 aria-label="Select page">
  </mat-paginator>
</div>



<biosimulations-table
  #table
  [data]="projects$"
  [columns]="columns"
  [defaultSort]="{ active: 'title', direction: 'asc' }">
  <div gdAuto="row" gdColumns.gt-sm="1fr auto" gdGap="0" gdRows.lt-md="1fr" class="container">
    <div
      class="projects ragged-column"
      [ngClass]="{ visible: !controlsOpen }"
      gdGap="1rem"
      gdColumns.xl="repeat(5, 1fr)"
      gdColumns.lg="repeat(4, 1fr)"
      gdColumns.md="repeat(3, 1fr)"
      gdColumns.sm="repeat(2, 1fr)"
      gdColumns.xs="repeat(1, 1fr)">
      <biosimulations-project-card
        *ngFor="let project of table.dataSource.filteredData"
        [project]="project"
        [columns]="columns"></biosimulations-project-card>
    </div>

<!--    <div class="controls-container enter-from-right" [ngClass]="{ visible: controlsOpen }">-->
<!--      <biosimulations-table-controls-->
<!--        [table]="table"-->
<!--        attributesHeading="Attributes"-->
<!--        searchPlaceHolder="Query (e.g., metabolism)"-->
<!--        searchToolTip="Enter a query such as 'metabolism'. By default, your query will be searched over all attributes. To search over a specific attribute, prefix your query with the heading of the attribute (with spaces replaced by dashes) such as 'last-updated: 2020'."-->
<!--        [closeable]="false"-->
<!--        class="controls"></biosimulations-table-controls>-->
<!--    </div>-->
  </div>
</biosimulations-table>
