<h1>{{ simulationRun?.name }}</h1>

<div
  class="simulation"
  fxLayout="row"
  fxLayoutAlign="space-between start"
  fxLayout.lt-md="column"
  fxLayoutAlign.lt-md=" center space-between"
>
  <!--    TODO abstract component -->
  <mat-list role="list">
    <mat-list-item role="listitem" *ngIf="simulationRun?.id">
      <biosimulations-icon icon="id" matListIcon> </biosimulations-icon>
      <h2 matLine>Simulation Id</h2>
      <p matLine>{{ simulationRun.id }}</p>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="simulationRun?.simulator">
      <biosimulations-icon icon="simulator" matListIcon> </biosimulations-icon>
      <h2 matLine>Simulator</h2>
      <p matLine>
        {{ simulationRun.simulator }} : {{ simulationRun.simulatorVersion }}
      </p>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="simulationRun?.cpus">
      <biosimulations-icon icon="processor" matListIcon> </biosimulations-icon>
      <h2 matLine>CPU</h2>
      <p matLine>{{ simulationRun.cpus }}</p>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="simulationRun?.memory">
      <biosimulations-icon icon="memory" matListIcon> </biosimulations-icon>
      <h2 matLine>Memory</h2>
      <p matLine>{{ simulationRun.memory }} GB</p>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="simulationRun?.status">
      <biosimulations-icon icon="status" matListIcon> </biosimulations-icon>
      <h2 matLine>Status</h2>
      <p matLine>{{ simulationRun.status }}</p>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="simulationRun?.submitted">
      <biosimulations-icon icon="date" matListIcon> </biosimulations-icon>
      <h2 matLine>Created</h2>
      <p matLine>{{ simulationRun.submitted | date: 'MMM d, y, h:mm a' }}</p>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="simulationRun?.updated">
      <biosimulations-icon icon="date" matListIcon> </biosimulations-icon>
      <h2 matLine>Updated</h2>
      <p matLine>{{ simulationRun.updated | date: 'MMM d, y, h:mm a' }}</p>
    </mat-list-item>
  </mat-list>

  <div>
    <h2>Logs</h2>
    <biosimulations-under-construction> </biosimulations-under-construction>
  </div>
</div>
