<ng-container *ngFor="let section of simulationRun">
  <div *ngIf="section.items.length" class="section">
    <div class="title">{{ section.title }}</div>
    <ul class="icon-list">
      <li *ngFor="let item of section.items">
        <biosimulations-icon [icon]="item.icon"></biosimulations-icon>
        <b>{{ item.title }}:</b>{{ ' ' }}
        <a [href]="item.href" target="_blank" *ngIf="item.href; else noHref">{{ item.value | async }}</a>
        <ng-template #noHref>{{ item.value | async }}</ng-template>
      </li>
    </ul>
  </div>
</ng-container>
