.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-expansion-panel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.mat-expansion-panel.above-divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.mat-expansion-panel-header {
    padding: 0 1rem;
}

.mat-expansion-panel-header-title biosimulations-icon {
    font-size: 150%;
    width: 29px;
    text-align: center;
    margin-right: 0.5rem;
}

.mat-expansion-panel.no-content ::ng-deep .mat-expansion-panel-content {
    height: 0px !important;
    visibility: hidden !important;
}

.mat-list-item {
    white-space: nowrap;
}

.mat-list-item biosimulations-icon {
    width: 21px;
    text-align: center;
    margin-right: 0.25rem;
}