<biosimulations-navigation 
  appName="BioSimulations"
  logo="/assets/images/biosimulations-logo/logo.svg"
  >
  <biosimulations-logo-text id="sidenav-title" left="Bio" right="Simulations">
  </biosimulations-logo-text>

  <ng-container id="sidenav-menu">
    <biosimulations-navigation-item title="Projects" icon="project">
      <biosimulations-navigation-subitem title="Home" icon="home" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Browse" icon="browse" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Submit" icon="new" disabled>
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item title="Models" icon="model">
      <biosimulations-navigation-subitem title="Home" icon="home" [route]="['/models']">
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Browse" icon="browse" [route]="['/models', 'browse']">
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Submit" icon="new" disabled>
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item title="Simulations" icon="simulation">
      <biosimulations-navigation-subitem title="Home" icon="home" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Browse" icon="browse" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Submit" icon="new" disabled>
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item title="Charts" icon="chart">
      <biosimulations-navigation-subitem title="Home" icon="home" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Browse" icon="browse" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Submit" icon="new" disabled>
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item title="Visualizations" icon="visualization" [aboveDivider]="true">
      <biosimulations-navigation-subitem title="Home" icon="home" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Browse" icon="browse" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Submit" icon="new" disabled>
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item title="Help" icon="help" [aboveDivider]="true">
      <biosimulations-navigation-subitem title="Tutorial" icon="tutorial" [route]="['/help']">
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="FAQ" icon="help" [route]="['/help', 'faq']">
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="About" icon="info" [route]="['/help', 'about']">
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Privacy policy" icon="policy" [route]="['/help', 'privacy']">
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item title="Login" icon="login"
      *ngIf="(isAuthenticated() | async) !== true"
      (click)="login()"
    >
    </biosimulations-navigation-item>

    <biosimulations-navigation-item title="Account" icon="user" *ngIf="isAuthenticated() | async">
      <biosimulations-navigation-subitem title="Projects" icon="project" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Models" icon="model" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Simulation" icon="simulation" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Charts" icon="chart" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Visualization" icon="visualization" disabled>
      </biosimulations-navigation-subitem>
      <mat-divider></mat-divider>
      <biosimulations-navigation-subitem title="Profile" icon="about" disabled>
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem title="Logout" icon="logout" (click)="logout()">
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>
  </ng-container>
  <router-outlet></router-outlet>
</biosimulations-navigation>