<biosimulations-navigation class="mat-typography">
  <mat-nav-list>
    <a mat-list-item>Projects</a>
    <a mat-list-item [routerLink]="['/models']">Models</a>
    <a mat-list-item>Simulations</a>
    <a mat-list-item>Charts</a>
    <a mat-list-item>Visualizations</a>
    <mat-divider></mat-divider>
    <a mat-list-item [routerLink]="['/help']">Help</a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="login()" *ngIf="(isAuthenticated() | async) !== true">Login</a>
    <a mat-list-item (click)="logout()" *ngIf="isAuthenticated() | async">Logout</a>    
  </mat-nav-list>

  <router-outlet></router-outlet>
</biosimulations-navigation>