<div *ngIf="visualizations && visualizations.length > 0; else noVisualizations" class="card-grid">
  <div *ngFor="let viz of visualizations.slice(0, maxVisualizations)" class="card hover-light-background">
    <div class="title">
      <a [routerLink]="viz.getRoute()">
        <fa-icon
          class="icon"
          aria-hidden="false"
          aria-label="Visualization icon"
          [icon]="['fas', 'chart-area']"
          ></fa-icon>
        {{ viz.id }}: {{ viz.name }}
      </a>
    </div>
    <div class="description">{{ viz.description | shorten: 130: '...' }}</div>
    <ul class="icon-text inline tags">
      <li>
        <fa-icon
          class="icon"
          aria-hidden="false"
          aria-label="Format icon"
          [icon]="['far', 'file-alt']"
        ></fa-icon> {{ viz.format.name }}
      </li>
      <li>
        <fa-icon
          class="icon"
          aria-hidden="false"
          aria-label="Tags icon"
          [icon]="['fas', 'tags']"
        ></fa-icon> {{ viz.tags.join(', ') | shorten: 30: '...' }}
      </li>
    </ul>
  </div>
</div>
<ng-template #noVisualizations>
  <i>None.</i>
</ng-template>