.design-visualization {
  max-width: 600px;
}

::ng-deep #mat-tab-content-0-3 {
  .mat-tab-body-content {
    width: calc(100vw - 2 * 2rem);
    height: calc(100vh - 64px - 32px - 32px - 2 * 2rem);
    min-width: calc(100vw - 2 * 2rem);
    min-height: calc(100vh - 64px - 32px - 32px - 2 * 2rem);
    max-width: calc(100vw - 2 * 2rem);
    max-height: calc(100vh - 64px - 32px - 32px - 2 * 2rem);
    overflow: visible;
  }
}