<biosimulations-page
  [title]="'Results for simulation &#34;' + uuid + '&#34;'"
  [columns]="2"
>
  <div class="container spinner" *ngIf="sedmls === undefined">
    <mat-spinner> </mat-spinner>
  </div>

  <div class="container grid grid-2" *ngIf="sedmls !== undefined">
    <form [formGroup]="formGroup">
      <mat-form-field appearance="fill">
        <mat-label>Select a simulation experiment</mat-label>
        <mat-select
          formControlName="sedml"
          disableOptionCentering
          disableRipple
          (selectionChange)="setSedml()"
          required
        >
          <mat-option *ngFor="let sedml of sedmls" [value]="sedml">
            {{ sedml }}
          </mat-option>
        </mat-select>
        <biosimulations-icon icon="file" matPrefix></biosimulations-icon>
        <mat-hint
          >Select one of the SED-ML files in the COMBINE/OMEX archive which
          describes one or more reports of one or more simulations.</mat-hint
        >
        <mat-error *ngIf="sedmlError">
          Please select a SED-ML file.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select a report of the results of one or more simulations</mat-label>
        <mat-select
          formControlName="report"
          disableOptionCentering
          disableRipple
          (selectionChange)="setReport()"
          required
        >
          <mat-option *ngFor="let report of reports" [value]="report">
            {{ report }}
          </mat-option>
        </mat-select>
        <biosimulations-icon icon="report" matPrefix></biosimulations-icon>
        <mat-hint
          >Select a report within the selected SED-ML file which describes the results of one or
          more simulations (e.g., in SED-ML format) of one or more models (e.g.,
          in SBML format).</mat-hint
        >
        <mat-error *ngIf="reportError">
          Please select a report of the results of one or more simulations.
        </mat-error>
      </mat-form-field>
    </form>

    <biosimulations-visualisation-container
      [graphData]="projectResults"
    ></biosimulations-visualisation-container>
  </div>
</biosimulations-page>
