<div class="run-overview-parent-container-platform">
  <mat-card class="simulation-run-card">
    <mat-card-header class="multipurpose-card-header sim-run">
      <mat-card-title class="sim-run-title-platform-name"> Simulation Run Details </mat-card-title>
      <mat-card-subtitle> Name: {{ simulation?.name }} </mat-card-subtitle>
      <mat-card-subtitle class="sim-run-title-platform-id"> Id: #{{ simulation?.id }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="overview-content">
      <ng-container *ngIf="simulation">
        <table class="icon-list" aria-label="Simulation run settings">
          <tr>
            <th>
              <biosimulations-icon icon="simulator"></biosimulations-icon>
            </th>
            <td>
              <span class="heading">Simulator:</span>{{ ' '
              }}<a [href]="simulation.simulatorUrl" rel="noopener" target="biosimulators"
                >{{ simulation.simulator }} {{ simulation.simulatorVersion }}</a
              >
            </td>
          </tr>
          <tr>
            <th>
              <biosimulations-icon icon="processor"></biosimulations-icon>
            </th>
            <td><span class="heading">CPU cores:</span>{{ ' ' }}{{ simulation.cpus }}</td>
          </tr>
          <tr>
            <th>
              <biosimulations-icon icon="memory"></biosimulations-icon>
            </th>
            <td><span class="heading">RAM:</span>{{ ' ' }}{{ simulation.memory }}</td>
          </tr>
          <tr>
            <th>
              <biosimulations-icon icon="duration"></biosimulations-icon>
            </th>
            <td><span class="heading">Max time:</span>{{ ' ' }}{{ simulation.maxTime }}</td>
          </tr>
        </table>

        <table class="icon-list" aria-label="Simulation run status and timing">
          <!--
          <tr>
            <th>
              <biosimulations-icon icon="duration"></biosimulations-icon>
            </th>
            <td><span class="heading">Runtime:</span> {{ simulation.runTime }}</td>
          </tr>
          -->
          <tr>
            <th>
              <biosimulations-icon icon="date"></biosimulations-icon>
            </th>
            <td><span class="heading">Submitted</span>: {{ simulation.submitted }}</td>
          </tr>
          <tr>
            <th>
              <biosimulations-icon icon="date"></biosimulations-icon>
            </th>
            <td><span class="heading">Updated:</span> {{ simulation.updated }}</td>
          </tr>
          <tr>
            <th>
              <biosimulations-icon icon="status"></biosimulations-icon>
            </th>
            <td>
              <div class="status-container">
                <span class="heading">Status:</span>{{ ' '
                }}<span [ngClass]="{ error: simulation.statusFailed }">{{ simulation.statusLabel }}</span>
                <span *ngIf="simulation.statusRunning"
                  >{{ ' ' }}
                  <biosimulations-icon icon="spinner"></biosimulations-icon>
                </span>
              </div>
            </td>
          </tr>
        </table>
        <div class="rerun-button-container-platform">
          <button (click)="rerunProject(simulation.id)" mat-flat-button class="rerun-project-button">
            Re-run Project
            <biosimulations-icon icon="reuse" style="margin-left: 1rem"></biosimulations-icon>
          </button>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
