h3 {
  color: var(--primary-color);
  line-height: normal;
  margin-bottom: 0;
  font-weight: bold;
}

.name {
  margin-bottom: 0.5rem;
}

.run-overview-parent-container-platform {
  justify-content: center;
  align-items: center;
}

.simulation-run-card {
  margin-top: -3rem;
}

.overview-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.icon-list {
  padding-right: 2rem;
}

.simulation-run-card-header {
  border-radius: 4px 4px 0 0;
}

mat-card-content {
  margin-top: 2rem;
}

mat-card-title,
mat-card-subtitle {
  color: white;
  font-weight: 700;
}

.status-container {
  font-size: 18px;
  &.success {
    color: var(--tertiary-darker-color) !important;
  }
  &.fail {
    color: var(--warn-darker-color) !important;
  }
}

.rerun-button-container-platform {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.rerun-project-button {
  margin-top: 1rem;
  margin-left: 2rem;
  color: white;
  font-weight: 700;
  height: 50px;

  &.original {
    background-color: var(--tertiary-darker-color) !important;
    margin-right: 2rem !important;
  }

  &.custom {
    background-color: var(--quaternary-darker-color) !important;
    margin-left: 2rem !important;
  }

  &:hover {
    background-color: var(--accent-darker-color) !important;
    transition: background-color 0.3s ease-in-out;
  }
}

.sim-run {
  background-color: var(--primary-darker-color) !important;
}
