<biosimulations-text-page
  heading="Guidelines for using Vega to visualize simulation results"
  [tocSections]="tocSections"
>
  <ng-container id="sideBar">
    <biosimulations-text-page-side-bar-section
      heading="Related resources"
      fxShow
      fxHide.lt-md
    >
      <div class="hanging-indent">
        <a href="https://vega.github.io/vega/" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Vega
        </a>
      </div>
      <div class="hanging-indent">
        <a href="https://altair-viz.github.io/" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Altair Python API
        </a>
      </div>
      <div class="hanging-indent">
        <a href="http://vega.github.io/lyra/" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Lyra visual Vega editor
        </a>
      </div>
      <div class="hanging-indent">
        <a href="https://vega.github.io/editor" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Vega text editor
        </a>
      </div>
    </biosimulations-text-page-side-bar-section>

    <biosimulations-text-page-help-side-bar-section fxShow fxHide.lt-md>
    </biosimulations-text-page-help-side-bar-section>

    <biosimulations-text-page-feedback-side-bar-section fxShow fxHide.lt-md>
    </biosimulations-text-page-feedback-side-bar-section>
  </ng-container>

  <ng-container id="content" tocSectionsContainer>
    <biosimulations-text-page-content-section
      heading="Overview"
      tocSection="Overview"
    >
      <p>
        BioSimulators recommends Vega
        <a href="https://vega.github.io/vega/" target="_blank"
          ><biosimulations-icon icon="link"></biosimulations-icon
        ></a>
        for data visualizations of simulation results. Vega is a powerful,
        declarative grammar for describing interactive, two-dimensional data
        visualizations.
      </p>

      <p>
        One key feature of Vega is that it separately represents the graphical
        marks which comprise visualizations and how those graphical marks should
        be painted with data. This feature makes it easy to produce data
        visualizations for multiple simulation conditions by combining the
        graphical marks with results from multiple simulations. This features
        also makes the provenance of data visualizations transparent. As a
        result, Vega is ideal for collaboration and publication.
      </p>

      <p>
        Below, we provide recommendations for using Vega to visualize the
        results of simulation experiments described with SED-ML.
      </p>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Using Vega with SED-ML"
      tocSection="Using Vega with SED-ML"
    >
      <p>
        BioSimulators recommends using Vega with simulation experiments by
        linking the inputs of data visualizations (Vega data sets) to the
        outputs of simulation experiments (SED-ML reports). As illustrated
        below, reports of simulation results should be encoded as lists of the
        results of each data set. The results of each data set should be
        represented as an object with two attributes that capture the label of
        the data set and the values of the data set. Data sets with
        multidimensional values can be captured using nested lists.
      </p>

      <p>
        Because Vega data sets can also be a useful mechanism for describing the
        visual marks of a diagram, BioSimulators also recommends annotating that
        these data sets provide data for visual marks rather than simulation
        results. BioSimulators recommends annotating this by adding a
        <code>_mapToSedmlReport</code> attribute to these data sets and setting
        its value to <code>false</code>.
      </p>

      <b>Example simulation results (SED-ML report)</b>
      <pre><code [languages]="['json']" [highlight]="exampleSedml"></code></pre>

      <b>Example visual marks snippet (Vega document)</b>
      <pre><code [languages]="['json']" [highlight]="exampleVega"></code></pre>

      <b
        >Example data visualization snippet (Vega document with simulation
        results)</b
      >
      <pre><code [languages]="['json']" [highlight]="exampleVegaSedml"></code></pre>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Example visualizations"
      tocSection="Examples"
    >
      <p>
        Several example data visualizations for results of simulations described
        with SED-ML are available here
        <a
          href="https://github.com/biosimulators/Biosimulators_test_suite/tree/dev/examples"
          target="_blank"
          ><biosimulations-icon icon="link"></biosimulations-icon></a
        >. This includes examples of canonical statistical charts, as well as
        interactive maps of metabolic networks. Each example visualization is
        accompanied by an example simulation experiment.
      </p>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Recommended resources for creating visualizations"
      tocSection="Recommended resources"
    >
      <p>Below are helpful tools for creating Vega visualizations:</p>

      <ul>
        <li>
          <b
            >Altair
            <a href="https://altair-viz.github.io/" target="_blank"
              ><biosimulations-icon icon="link"></biosimulations-icon></a
          ></b>
          is a Python library which provides methods for generating Vega
          visualizations similar to packages such as Matplotib and Seaborn.
        </li>

        <li>
          <b
            >Lyra
            <a href="http://vega.github.io/lyra/" target="_blank"
              ><biosimulations-icon icon="link"></biosimulations-icon></a
          ></b>
          is a interactive graphical program for designing data visualizations.
        </li>

        <li>
          <b
            >Vega Editor
            <a href="https://vega.github.io/editor" target="_blank"
              ><biosimulations-icon icon="link"></biosimulations-icon></a
          ></b>
          is a text editor for Vega documents which continuously renders Vega
          documents as they are edited.
        </li>

        <li>
          <b>Escher to Vega converter.</b> BioSimulations utils
          <a
            href="https://biosimulators.github.io/Biosimulators_utils/"
            target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          provides a module for converting Escher maps
          <a href="https://escher.github.io/" target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          of metabolic networks to Vega.
        </li>
      </ul>
    </biosimulations-text-page-content-section>
  </ng-container>
</biosimulations-text-page>
