<biosimulations-text-page
  heading="Guidelines for using Vega to visualize simulation results"
  [tocSections]="tocSections"
>
  <ng-container id="sideBar">
    <biosimulations-text-page-side-bar-section
      heading="Related resources"
      fxShow
      fxHide.lt-md
    >
      <div class="hanging-indent">
        <a href="https://vega.github.io/vega/" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Vega
        </a>
      </div>
      <div class="hanging-indent">
        <a href="https://altair-viz.github.io/" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Altair Python API
        </a>
      </div>
      <div class="hanging-indent">
        <a href="http://vega.github.io/lyra/" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Lyra visual Vega editor
        </a>
      </div>
      <div class="hanging-indent">
        <a href="https://vega.github.io/editor" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Vega text editor
        </a>
      </div>
    </biosimulations-text-page-side-bar-section>

    <biosimulations-text-page-help-side-bar-section fxShow fxHide.lt-md>
    </biosimulations-text-page-help-side-bar-section>

    <biosimulations-text-page-feedback-side-bar-section fxShow fxHide.lt-md>
    </biosimulations-text-page-feedback-side-bar-section>
  </ng-container>

  <ng-container id="content" tocSectionsContainer>
    <biosimulations-text-page-content-section
      heading="Overview"
      tocSection="Overview"
    >
      <p>
        BioSimulators recommends Vega
        <a href="https://vega.github.io/vega/" target="_blank"
          ><biosimulations-icon icon="link"></biosimulations-icon
        ></a>
        for data visualizations of simulation results. Vega is a powerful,
        declarative grammar for describing interactive, two-dimensional data
        visualizations.
      </p>

      <p>
        One key feature of Vega is that it modularly captures the graphical
        marks which comprise visualizations and how those graphical marks should
        be painted with data. This feature makes it easy to produce data
        visualizations for multiple simulation conditions by combining the same
        graphical marks with results from multiple simulations. This features
        also makes the provenance of data visualizations transparent. As a
        result, Vega is ideal for collaboration and publication.
      </p>

      <p>
        Below, we provide recommendations for using Vega to visualize the
        results of simulation experiments described with SED-ML.
      </p>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Creating Vega visualizations of the results of SED-ML files in COMBINE archives"
      tocSection="Creating Vega visualizations"
    >
      <p>
        BioSimulators recommends creating Vega visualizations for simulation
        results as follows:
      </p>

      <ol class="vertically-spaced">
        <li>Create one or more SED-ML files.</li>
        <li>
          Use tools such as the Vega Editor
          <a href="https://vega.github.io/editor" target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          and Altair
          <a href="https://altair-viz.github.io/" target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          to design the structures of visualizations for the results of the
          SED-ML files.
        </li>
        <li>Encode these diagramatic structures into Vega.</li>
        <li>
          <p>
            Indicate the Vega signals whose attributes should be rendered with the
            values of the attributes of SED-ML simulations.
          </p>

          <ul>
            <li>
              To render the <code>value</code> of a Vega signal with information
              from a SED-ML file, add the key <code>sedmlUri</code> to the Vega signal.
            </li>
            <li>
              To render an attribute of the <code>bind</code> attribute of a Vega signal
              with information from a SED-ML file, set the value of the attribute equal to
              a dictionary with a single key <code>sedmlUri</code>.
            </li>
          </ul>

          <p>
            The value of each <code>sedmlUri</code> key should be a list of the location 
            of the SED-ML document, the id of the SED-ML simulation or report, and the 
            name of the attribute of the simulation or report that the value of the signal or 
            attribute of the bind attribute of the signal should be rendered with (e.g.,
            <code
              >['location/of/simulation.sedml', 'simulationId',
              'numberOfSteps']</code
            >). To indicate that a <code>sedmlUri</code> key should be rendered with a list of
            the values of an attribute of multiple simulations or reports, use <code>SedDocument:*</code>,
            <code>Simulation:*</code>, or <code>Report:*</code> for the SED-ML document location 
            or simulation/report id (e.g., <code>['SedDocument:*', 'Report:*', 'id']</code> to render
            an attribute with a list of the ids of the all of the reports of all of the SED-ML files
            in the COMBINE/OMEX archive).
          </p>
        </li>
        <li>
          Indicate the Vega data sets whose values should be rendered with the
          results of SED-ML reports by adding a key <code>sedmlUri</code> to
          such Vega datas. The values of these keys should be set as follows:
          <ul>
            <li>
              To render a Vega data set with the results of all of the reports 
              of all of the SED-ML files in the parent COMBINE/OMEX archive, the 
              value of <code>sedmlUri</code> should be set to an empty array (<code>[]</code>).
            </li>
            <li>
              To render a Vega data set with the result of a single report of
              one of the SED-ML files in the parent COMBINE/OMEX archive, the
              value of <code>sedmlUri</code> should be set to a list of the 
              location of the SED-ML document and the id of the SED-ML report
              (e.g., <code>['location/of/simulation.sedml', 'reportId']</code>).
            </li>
          </ul>
        </li>
        <li>
          Package the SED-ML and Vega files into a COMBINE/OMEX archive. Include
          the Vega files in the manifest of the archive with the format
          <code>http://purl.org/NET/mediatypes/application/vega+json</code>.
        </li>
      </ol>

      <b
        >Example data visualization snippet (Vega document which indicates which
        Vega data sets should be mapped to SED-ML reports)</b
      >
      <pre><code [languages]="['json']" [highlight]="exampleVega"></code></pre>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Rendering Vega visualizations of the results of SED-ML files in COMBINE archives"
      tocSection="Rendering Vega visualizations"
    >
      <p>
        Simulation software tools, such as RunBioSimulations, should render such
        Vega visualizations linked to SED-ML files in COMBINE/OMEX archives as
        illustrated below:
      </p>

      <ol class="vertically-spaced">
        <li>
          Execute the SED-ML files in the COMBINE/OMEX archive and save each
          report.
        </li>
        <li>
          Use the manifest of the archive to identify the Vega visualizations in
          the archive (contents with the format
          <code>http://purl.org/NET/mediatypes/application/vega+json</code>).
        </li>
        <li>Extract these Vega visualization files from the archive.</li>
        <li>Use a JSON library to parse the Vega visualization files.</li>
        <li>
          Identify the Vega signals and data sets whose values are intended to
          be rendered with the values of attributes of simulations of SED-ML
          documents and the results of reports of SED-ML documents (Vega signals
          and data sets with the key <code>sedmlUri</code>).
        </li>
        <li>
          Set the values of these Vega signals and data sets equal to the values
          of the indicated attributes of SED-ML simulations and the resutls of
          SED-ML reports. As illustrated below, SED-ML reports should be encoded
          as lists of objects that represent the results of each SED-ML dataset.
          Data sets with multidimensional values should be captured using nested
          lists.
        </li>
        <li>
          Use Vega-Embed
          <a href="https://github.com/vega/vega-embed" target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          > to render the resultant Vega visualizations.
        </li>
      </ol>

      <b>Example simulation results (SED-ML report)</b>
      <pre><code [languages]="['json']" [highlight]="exampleSedmlData"></code></pre>

      <b
        >Example rendered Vega document (Vega document with data sets replaced
        with the values of SED-ML reports)</b
      >
      <pre><code [languages]="['json']" [highlight]="exampleVegaWithData"></code></pre>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Example COMBINE/OMEX archives with Vega visualizations"
      tocSection="Examples"
    >
      <p>
        Several example COMBINE/OMEX archives with Vega visualizations are
        available here
        <a
          href="https://github.com/biosimulators/Biosimulators_test_suite/tree/dev/examples"
          target="_blank"
          ><biosimulations-icon icon="link"></biosimulations-icon></a
        >. This includes examples of canonical statistical charts, as well as
        interactive maps of metabolic networks.
      </p>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Recommended resources for creating and rendering visualizations"
      tocSection="Recommended resources"
    >
      <p>Below are helpful tools for creating Vega visualizations:</p>

      <ul>
        <li>
          <b
            >Altair
            <a href="https://altair-viz.github.io/" target="_blank"
              ><biosimulations-icon icon="link"></biosimulations-icon></a
          ></b>
          is a Python library which provides methods for generating Vega
          visualizations similar to packages such as Matplotib and Seaborn.
        </li>

        <li>
          <b
            >Lyra
            <a href="http://vega.github.io/lyra/" target="_blank"
              ><biosimulations-icon icon="link"></biosimulations-icon></a
          ></b>
          is a interactive graphical program for designing data visualizations.
        </li>

        <li>
          <b
            >Vega Editor
            <a href="https://vega.github.io/editor" target="_blank"
              ><biosimulations-icon icon="link"></biosimulations-icon></a
          ></b>
          is a text editor for Vega documents which continuously renders Vega
          documents as they are edited.
        </li>

        <li>
          <b
            >Vega-Embed
            <a href="https://github.com/vega/vega-embed" target="_blank"
              ><biosimulations-icon icon="link"></biosimulations-icon></a
          ></b>
          is a JavaScript program for rendering Vega visualizations inside web
          pages.
        </li>
      </ul>
    </biosimulations-text-page-content-section>
  </ng-container>
</biosimulations-text-page>
