[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2"
connexion = {extras = ["swagger-ui"],version = ">=2.11.1"}
openapi-schema-validator = "<0.3" # avoid prereleases
requests = "*"
biosimulators-utils = {version = ">=0.1.168", extras = ["bngl", "cellml", "lems", "logging", "neuroml", "sbml", "smoldyn"]}
python-dateutil = "*"
gunicorn = {extras = ["gthread"], version = "*"}
flask-cors = "*"
python-dotenv = "*"
boto3 = "*"
kisao = ">=2.30"
stringcase = "*"
natsort = "*"
rdflib = "*"
numpy = "<1.24.3" # because Assiumulo requires numpy < 1.22
# AMICI
amici = "<=0.11.21" # avoid latest version because this requires SymPy >= 1.9 and CBMPy can't handle this because it (a) no version > 1.9 is available and (b) CBMpy can't handle versions of SymPy that don't have microversion numbers
biosimulators-amici = ">=0.1.22"
# BioNetGen
biosimulators-bionetgen = ">=0.1.20"
# BoolNet
biosimulators-boolnet = ">=0.1.18"
# CBMPy
sympy = "!=1.8,!=1.9" # avoid versions without microversion numbers because CBMPy can't handle versions with only major and minor numbers
biosimulators-cbmpy = ">=0.1.14"
# COBRApy
biosimulators-cobrapy = ">=0.1.23"
# COPASI
biosimulators-copasi = ">=0.1.34"
# GillesPy2
biosimulators-gillespy2 = ">=0.1.37"
# GINsim
biosimulators-ginsim = ">=0.0.9"
# LibSBMLSim
biosimulators-libsbmlsim = ">=0.0.6"
# MASSpy
biosimulators-masspy = ">=0.0.9"
# PySCeS
cython = "<3" # to avoid prelease
# assimulo = {version = ">=3.2.9", ref = "Assimulo-3.2.9", git = "https://github.com/modelon-community/Assimulo.git"} # commented out because pipenv can't install assimulo; see https://github.com/pypa/pipenv/issues/4768
biosimulators-pysces = ">=0.1.25"
# pyNeuroML
biosimulators-pyneuroml = {version = ">=0.0.16", extras = ["brian2", "netpyne", "neuron"]}
# RBApy
rbapy = {version = ">=1.0.2", git = "https://github.com/biosimulators/RBApy.git"}
biosimulators-rbapy = ">=0.0.4"
# Smoldyn
smoldyn = ">=2.67"
# tellurium
libroadrunner = "<2.2.0" # 2.2.0 requires numpy >= 1.22, which conflicts with Assimulo
biosimulators-tellurium = ">=0.1.25"
# XPP
biosimulators-xpp = ">=0.0.12"
orjson = "*"
openapi-spec-validator = "<0.5"
python-libsbml-experimental = ">=5.19.0"

[dev-packages]
openapi-core = "*"
pyyaml = "*"
pytest = "*"
pytest-cov = "*"
openapi-spec-validator = "*"
parameterized = "*"
requests = "*"
pytest-timeout = "*"
flaky = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true # to allow libCellML prerelease
