[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2"
flask-cors = ">=3.0.10"
# types-flask-cors = ">=3.0.10.3"
types-flask = ">=1.1.6"
connexion = {extras = ["swagger-ui","flask"],version = ">=2.14.2"}
openapi-core = ">=0.17.0"
openapi-spec-validator = ">=0.5.5"
openapi-schema-validator = ">=0.4.3"
requests = ">=2.31.0"
biosimulators-utils = {version = ">=0.1.168", extras = ["logging"]}
python-dateutil = "*"
gunicorn = {extras = ["gthread"], version = "*"}
python-dotenv = ">=0.14.0"
boto3 = ">=1.26.89"
botocore = ">=1.29.89"
kisao = ">=2.30"
stringcase = "*"
natsort = "*"
rdflib = "*"
numpy = "*"
matplotlib = "*"
mplfonts = "*"
orjson = ">=3.8.7"
python-libsbml = ">=5.19.7"
py-swagger-ui = ">=1.1.0"
swagger-ui-bundle = ">=0.0.9"

[dev-packages]
pyyaml = "*"
pytest = "*"
pytest-cov = "*"
parameterized = "*"
requests = "*"
pytest-timeout = "*"
flaky = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true # to allow libCellML prerelease
