<!-- <biosimulations-dispatch-navbar></biosimulations-dispatch-navbar>
<router-outlet></router-outlet>
<biosimulations-dispatch-footer></biosimulations-dispatch-footer> -->
<biosimulations-navigation>
  <mat-nav-list id="sidenav-menu">
    <a mat-list-item [routerLink]="['/']"> Home</a>
    <a mat-list-item [routerLink]="['/dispatch']">Dispatch</a>
    <a
      mat-list-item
      *ngFor="let uuid of uuids; let listIndex = index"
      [routerLink]="['/result', uuidsComplete[listIndex]]"
      >{{ uuid }}</a
    >
  </mat-nav-list>
  <router-outlet></router-outlet>
</biosimulations-navigation>
