<biosimulations-navigation>
  <biosimulations-topbar-menu>
    <biosimulations-topbar-menu-item title="Dispatch" icon="simulator" [route]="['/dispatch']">
    </biosimulations-topbar-menu-item>

    <biosimulations-topbar-menu-item title="Simulations" icon="simulation">
    </biosimulations-topbar-menu-item>
  </biosimulations-topbar-menu>

  <ng-container id="sidenav-menu">
    <biosimulations-navigation-item title="Dispatch" icon="simulator" [route]="['/dispatch']">
    </biosimulations-navigation-item>

    <biosimulations-navigation-item title="Simulations" icon="simulation">
      <biosimulations-navigation-subitem *ngFor="let uuid of uuids; let listIndex = index"
        [title]="uuid" icon="simulation" [route]="['/result', uuidsComplete[listIndex]]">
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>
  </ng-container>
  
  <router-outlet></router-outlet>
</biosimulations-navigation>
