@use '~@angular/material' as mat;
@import 'biosimulations-colors';

$card-padding: 4px;
$title-font-size: 1.3rem;
$title-line-height: 1.2;
$title-box-height: calc(
  #{$title-line-height} * #{$title-font-size} + #{$card-padding} * 2
);

.content {
  padding: 3rem;
  padding-top: 1rem;
}
