<div class="full-height has-breadcrumbs padded">
  <div class="fx" fxLayout="row" fxLayoutGap="2rem">
    <div fxFlex="initial">
      <div class="global-controls">
        <button
          mat-icon-button
          class="biosimulations-button text"
          (click)="toggleMenu()"
        >
          <biosimulations-icon icon="controls"> toggle</biosimulations-icon>
        </button>
        <button
          mat-icon-button
          class="biosimulations-button text"
          (click)="refresh()"
        >
          <biosimulations-icon icon="refresh">refresh</biosimulations-icon>
        </button>
      </div>
      <mat-accordion *ngIf="showMenu" class="controls">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> <mat-icon> list </mat-icon></mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-list>
              <ng-container
                *ngFor="let column of displayedColumns"
                #checkboxContainer
              >
                <mat-list-item>
                  <mat-checkbox
                    #checkbox
                    [checked]="initCheckbox[column.id]"
                    (change)="handleChange(checkbox.checked, column.id)"
                  >
                    {{ column.id | titlecase }}
                  </mat-checkbox>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon> filter_list </mat-icon></mat-panel-title
            >
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> <mat-icon> search </mat-icon></mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div fxFlex fxLayout="column" class="page-container">
      <div
        fxFlex
        class="table-container"
        [ngClass]="{ 'hide-overflow': isLoading | async }"
      >
        <mat-table
          matSort
          [dataSource]="data"
          class="mat-elevation-z8"
          cdkDropList
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="drop($event)"
        >
          <ng-container
            [matColumnDef]="column.id"
            *ngFor="let column of displayedColumns"
          >
            <mat-header-cell
              cdkDrag
              *matHeaderCellDef
              mat-sort-header
              [ngStyle]="{
                'min-width.em':
                  column.minWidth != null ? column.minWidth / 12 : null,
                'max-width.em':
                  column.maxWidth != null ? column.maxWidth / 12 : null,
                'flex-grow': column.minWidth != null ? 0 : 1
              }"
            >
              {{ column.id | titlecase }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element"
              [ngStyle]="{
                'min-width.em':
                  column.minWidth != null ? column.minWidth / 14 : null,
                'max-width.em':
                  column.maxWidth != null ? column.maxWidth / 14 : null,
                'flex-grow': column.minWidth != null ? 0 : 1,
                'white-space': column.nowrap
              }"
            >
              <div class="cell">
                {{ element[column.id] }}
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="columnsToDisplay; sticky: true"
          ></mat-header-row>
          <mat-row
            ngClass="click"
            (click)="navigate(row)"
            *matRowDef="let row; columns: columnsToDisplay"
          ></mat-row>
        </mat-table>
      </div>
      <div class="loading-shade" *ngIf="isLoading | async">
        <biosimulations-spinner></biosimulations-spinner>
      </div>
      <mat-paginator
        fxFlex="nogrow"
        #paginator
        class="mat-elevation-z8"
        [length]="dataSource?.data?.length"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]"
      >
      </mat-paginator>
    </div>
  </div>

  <biosimulations-debug-viewer>
    {{ data$ | async | json }}
  </biosimulations-debug-viewer>
</div>
