@import 'biosimulations-colors';

.table-container {
  overflow: auto;
}
.page-container {
  overflow: auto;
}
.fx {
  height: 100%;
  width: 100%;
}
.global-controls {
  text-align: center;
  margin-bottom: 0.5rem;

  .biosimulations-button {
    font-size: 135%;
    &:not(:first-child) {
      margin-left: 0.25rem;
    }
    &:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}

mat-paginator {
  width: 100%;
}
.mat-table {
  width: 100%;
  overflow: hidden;
}
.mat-row {
  min-height: 40px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  align-items: start;
}
.mat-header-cell,
.mat-cell {
  padding-right: 0.5rem;
}
.mat-header-cell:first-of-type,
.mat-cell:first-of-type {
  padding-left: 0.5rem;
}
.mat-header-cell:last-of-type,
.mat-cell:last-of-type {
  padding-right: 0.5rem;
}
.mat-cell {
  align-items: start;
  .cell {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
.loading-shade {
  background: rgba(0, 0, 0, 0.15);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84%;
  width: 100%;
}
.click {
  cursor: pointer;

  &:hover {
    background: rgba(#000000, 0.04);
  }

  &:active {
    background: rgba(#000000, 0.08);
  }
}
.hide-overflow {
  overflow: hidden;
}

.controls-container ::ng-deep .controls {
  .mat-expansion-panel-header.mat-expanded {
    height: 32px;
    background: $light-bg-darker-10;
  }

  .mat-expansion-panel-header {
    padding: 0 0.5rem;
  }

  .mat-expansion-panel-body {
    padding: 0 0 0.25rem;
  }

  .mat-list-base {
    padding-top: 0.25rem;
  }

  .mat-list-base .mat-list-item {
    height: 24px;
    font-size: 14px;
  }

  .mat-checkbox-inner-container {
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.25rem;
  }

  .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0 0.5rem;
  }
}
