<div class="full-width-container">
  <div class="title"><h1>Data</h1></div>
  <div class="select">
    <app-search-bar
      placeholder="Simulation ID..."
      buttonTerm="View Data"
      baseURL="/simulate/data/"
    ></app-search-bar>
  </div>
  <div class="landing" *ngIf="!id">
    <p>Please enter the id of a simulation run to view its data</p>
    <p>For example, search for "004"</p>
  </div>
  <div class="table-container" *ngIf="id">
    <app-data-table
      class="data-table"
      [columnDefs]="columnDefs"
      [rowData]="timecourse"
    ></app-data-table>
  </div>
</div>
