<div class="page-content partial-width centered">
  <div class="inner">
      <div class="icon">
          <fa-icon
              aria-hidden="false"
              aria-label="Bug icon"
              [icon]="['fas', 'bug']"
          ></fa-icon>
          404
      </div>
    <div class="title">Page not found</div>
    <div class="message">We're sorry. The page you requested could not be found. Please go back to the home page or contact us at <a href="mailto:info@biosimulations.org">info@biosimulations.org</a>.</div>
  </div>
</div>
