<div class="spinner-container full-height has-breadcrumbs" *ngIf="(loaded$ | async) !== true">
  <biosimulations-spinner></biosimulations-spinner>
</div>

<ng-container *ngIf="jsonLdData$ | async as jsonLdData">
  <biosimulations-json-ld [json]="jsonLdData"></biosimulations-json-ld>
</ng-container>

<!------------------------------------ DON'T YET DELETE: EXTRA SPINNER CONTAINERS THAT WE MAY NEED ------------------------------->
<!--<div class="spinner-container full-height has-breadcrumbs" *ngIf="(loaded$ | async) !== true">
  <biosimulations-spinner></biosimulations-spinner>
</div>
<ng-container *ngIf="jsonLdData$ | async as jsonLdData">
  <biosimulations-json-ld [json]="jsonLdData"></biosimulations-json-ld>
</ng-container>-->

<ng-container *ngIf="projectMetadata$ | async as projectMetadata">
  <ng-container *ngIf="simulationRun$ | async as simulationRun">
    <div class="display-data">
      <!-- Start Left Column-->
      <biosimulations-project-metadata
        [project]="projectMetadata"
        [simulationRun]="simulationRun"
        [projectSummary]="projectSummary$ | async">
      </biosimulations-project-metadata>
      <!-- End Left Column -->

      <!-- Start Right Column -->
      <mat-card class="viz-card">
        <mat-card-content class="viz-card-content">
          <mat-tab-group preserveContent="true">
            <!-- Start Visualizations Tab -->
            <mat-tab class="right-col-tab" label="Visualizations">
              <mat-card class="plots-card">
                <mat-grid-list
                  *ngFor="let plotVisualization of plotVisualizations$ | async"
                  cols="1"
                  rowHeight="525px"
                  gutterSize="20"
                  cdkDropList
                  (cdkDropListDropped)="drop($event)">
                  <mat-grid-tile class="figure-card" cdkDrag>
                    <mat-grid-tile-header
                      class="figure-card-header"
                      style="background-color: #2196f3; height: 6%"
                      cdkDragHandle>
                      {{ plotVisualization.name }}
                    </mat-grid-tile-header>
                    <div class="plotparent">
                      <div class="figure-card-placeholder" *cdkDragPlaceholder></div>
                      <biosimulations-project-visualization [visualization]="plotVisualization">
                      </biosimulations-project-visualization>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card>
            </mat-tab>
            <!-- End Visualizations Tab -->

            <!-- Begin Project files Tab -->
            <mat-tab class="right-col-tab" label="Files">
              <div class="files-card">
                <biosimulations-text-page-content-section
                  heading="Simulation specification (COMBINE/OMEX archive)"
                  *ngIf="projectFiles$ | async as files">
                  <biosimulations-project-files id="content" [files]="files" [usesMaster]="false" [usesMetadata]="false">
                  </biosimulations-project-files>
                </biosimulations-text-page-content-section>
                <biosimulations-text-page-content-section
                  heading="Contents of simulation specification"
                  *ngIf="files$ | async as files">
                  <biosimulations-project-files id="content" [files]="files" [usesMaster]="true" [usesMetadata]="true">
                  </biosimulations-project-files>
                </biosimulations-text-page-content-section>
                <biosimulations-text-page-content-section heading="Simulation outputs" *ngIf="outputs$ | async as files">
                  <biosimulations-project-files id="content" [files]="files" [usesMaster]="false" [usesMetadata]="false">
                  </biosimulations-project-files>
                </biosimulations-text-page-content-section>
              </div>
            </mat-tab>
            <!-- End Project Files Tab -->

            <!-- Begin Project Details Tab -->
            <mat-tab class="right-col-tab" label="Details">
              <div class="details-card">
                <!-- Start Details Display -->
                <div *ngIf="projectSummary$" fxGrid>
                  <!-- Biology, simulation, provenance, & identifiers information -->
                  <div
                    *ngIf="
                      projectMetadata?.modelSimulation?.length ||
                      simulationRun?.length ||
                      projectMetadata?.provenance?.length ||
                      projectMetadata?.identifiers?.length
                    "
                    class="attributes-column ragged-column"
                    fxLayout="column"
                    fxInlineBlock
                    fxFlex.lt-lg="100%">
                    <!-- project metadata -->
                    <ng-container
                      *ngTemplateOutlet="sectionsTemplate; context: { sections: projectMetadata?.modelSimulation || [] }"></ng-container>
                    <!-- simulation run metadata -->
                    <ng-container *ngTemplateOutlet="sectionsTemplate; context: { sections: simulationRun || [] }"></ng-container>
                    <!-- project metadata -->
                    <ng-container
                      *ngTemplateOutlet="sectionsTemplate; context: { sections: projectMetadata?.provenance || [] }"></ng-container>
                    <ng-container
                      *ngTemplateOutlet="sectionsTemplate; context: { sections: projectMetadata?.identifiers || [] }"></ng-container>
                    <!-- template -->
                    <ng-template #sectionsTemplate let-sections="sections">
                      <!-- Start Individual Detail Item Expansion -->
                      <mat-expansion-panel *ngFor="let section of sections" expanded="true">
                        <mat-expansion-panel-header class="item-expansion-header">
                          {{ section.title }}
                        </mat-expansion-panel-header>
                        <table class="icon-list" aria-label="metadata table">
                          <tr *ngFor="let item of section.items" fxLayout="row">
                            <th>
                              <biosimulations-icon [icon]="item.icon"></biosimulations-icon>
                            </th>
                            <td>
                              <b>{{ item.title }}:</b>{{ ' ' }}
                              <a [href]="item.url" rel="noopener" target="_blank" *ngIf="item.url; else noHref">
                                {{ item.value }}
                              </a>
                              <ng-template #noHref>{{ item.value }}</ng-template>
                            </td>
                          </tr>
                        </table>
                      </mat-expansion-panel>
                      <!-- Stop Individual Detail Item Expansion -->
                    </ng-template>
                  </div>
                </div>
                <!-- End Details Display -->
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
      <!-- End Right Column -->
    </div>
    <!-- End simulation information -->
  </ng-container>
</ng-container>







