@use '@angular/material' as mat;
@import 'biosimulations-colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.display-data {
  display: flex;
  flex-direction: row;
  height: auto;
  overflow-x: hidden;
}

.display-data > * {
  flex: 1;
  margin: 40px;
}

.plotparent {
  width: auto;
  height: 90%;
  align-items: stretch;
  padding-left: calc(2rem + 34px);
  display: flex;
}

biosimulations-tab-page ::ng-deep .icon-list {
  & > li:not(:first-child) {
    margin-top: 0.125rem;
  }

  a {
    color: $dark-primary-text;
    &:hover {
      color: $dark-primary-text;
      text-decoration: underline;
    }
  }
}

.files {
  margin-top: -2rem;
  ::ng-deep {
    h3 .icon-container {
      display: none;
    }
  }
}

@media screen and (max-width: 959px) {
  .files {
    margin-top: -1rem;
  }
}

.viz-card {
  height: fit-content;
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.viz-card-header {
  background-color: #ff9800;
  font-weight: 500;
  color: white;
  padding-top: 0.5rem;
  font-size: medium;
  padding-bottom: 0.5rem;
  border-top: 2px;
  border-radius: 1px;
  height: 100%;

  &:hover {
    background-color: #ff9800 !important;
  }

  &.mat-expansion-panel-header.mat-expanded {
    background-color: #ff9800 !important;
  }
}

.viz-card-content {
  height: fit-content;
  padding-top: 2rem;
}

.plots-card {
  padding: 2rem;
}

.figure-card {
  width: auto;
  height: auto;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.figure-card:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.figure-card:last-child {
  border: none;
}

.figure-card-header {
  color: white;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  border: 2px solid inherit;
  border-radius: 3px;
  height: auto;
  width: fit-content;
}

.figure-card-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.viz-card-content.cdk-drop-list-dragging .figure-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.files-card {
  display: grid;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.right-col-tab {
  border: 2px solid gray;
  border-radius: 1px;

  &:hover {
    background-color: #ff9800;
  }
}

.item-expansion-header {
  background-color: #2196f3;
  font-weight: 400;
  font-size: medium;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  border: 2px solid inherit;
  border-radius: 3px;
  height: auto;
  width: auto;

  &:hover {
    background-color: #ff9800 !important;
  }

  &.mat-expansion-panel-header.mat-expanded {
    background-color: #2196f3 !important;
  }
}

.icon-list {
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

.details-expansion-item {
  padding: 0.5rem;
}
