<div class="spinner-container full-height has-breadcrumbs" *ngIf="(loaded$ | async) !== true">
  <biosimulations-spinner></biosimulations-spinner>
</div>

<ng-container *ngIf="jsonLdData$ | async as jsonLdData">
  <biosimulations-json-ld [json]="jsonLdData"></biosimulations-json-ld>
</ng-container>

<!--<div class="spinner-container full-height has-breadcrumbs" *ngIf="(loaded$ | async) !== true">
  <biosimulations-spinner></biosimulations-spinner>
</div>

<ng-container *ngIf="jsonLdData$ | async as jsonLdData">
  <biosimulations-json-ld [json]="jsonLdData"></biosimulations-json-ld>
</ng-container>-->

<ng-container *ngIf="projectMetadata$ | async as projectMetadata">
  <ng-container *ngIf="simulationRun$ | async as simulationRun">
    <div class="display-data">
      <!-- Start Left Column-->
      <biosimulations-project-metadata
        [project]="projectMetadata"
        [simulationRun]="simulationRun"
        [projectSummary]="projectSummary$ | async">
      </biosimulations-project-metadata>
      <!-- End Left Column -->

      <!-- Start Right Column -->
      <mat-expansion-panel class="viz-card" disabled="true" hideToggle="true" expanded="true">
        <mat-expansion-panel-header class="viz-card-header"> Project Visualizations </mat-expansion-panel-header>
        <mat-card-content class="viz-card-content" *ngFor="let plotVisualization of plotVisualizations$ | async">
          <mat-grid-list cols="1" rowHeight="550px" gutterSize="20" cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-grid-tile class="figure-card" cdkDrag>
              <mat-grid-tile-header
                class="figure-card-header"
                style="background-color: #2196f3; height: 6%"
                cdkDragHandle>
                {{ plotVisualization.name }}
              </mat-grid-tile-header>
              <div class="plotparent">
                <div class="figure-card-placeholder" *cdkDragPlaceholder></div>
                <biosimulations-project-visualization [visualization]="plotVisualization">
                </biosimulations-project-visualization>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-expansion-panel>
      <!-- End Right Column -->
    </div>
  </ng-container>
</ng-container>
<!-- End overview tab-->

<!-- DO NOT DELETE: Possible Header colors: #087008; #ffa500; rgba(145, 18, 191, 0.859); -->
