<biosimulations-text-page heading="BioSimulators standard for simulator command-line interfaces" [tocSections]="tocSections">
  <ng-container id="sideBar">
    <biosimulations-text-page-side-bar-section heading="Related resources" fxShow fxHide.lt-md>
      <div class="hanging-indent">
        <a [routerLink]="['/help']">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          Tutorial
        </a>
      </div>
      <div class="hanging-indent">
        <a [href]="config.apiUrl" target="_blank">
          <biosimulations-icon icon="tutorial"></biosimulations-icon>
          REST API documentation
        </a>
      </div>
    </biosimulations-text-page-side-bar-section>

    <biosimulations-text-page-help-side-bar-section fxShow fxHide.lt-md>
    </biosimulations-text-page-help-side-bar-section>

    <biosimulations-text-page-feedback-side-bar-section fxShow fxHide.lt-md>
    </biosimulations-text-page-feedback-side-bar-section>
  </ng-container>

  <ng-container id="content" tocSectionsContainer>
    <biosimulations-text-page-content-section
      heading="Overview"
      tocSection="Overview"
    >
      <p>The BioSimulators standard for command-line interfaces for biosimulation tools is a set of requirements for the syntax and semantics of the inputs and outputs of biosimulation software tools. The standard ensures that simulation tools can be consistently executed with the same input arguments (paths to files that define models and simulations and paths to save simulation results) and that the simulation tools produce consistent outputs (reports and charts at consistent paths in consistent formats).</p>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Specifications"
      tocSection="Specifications"
    >
      <p>Simulation tools which implement the BioSimulators command-line interface standard should support the following command-line arguments:</p>

      <ul class="vertically-spaced">
        <li><b><code>-i, --archive</code>:</b> A path to a COMBINE archive which contains descriptions of one or more simulation tasks.</li>
        <li><b><code>-o, --out-dir</code>:</b> A path to a directory where the outputs of the simulation tasks should be saved.</li>
        <li><b><code>-h, --help</code>:</b> Optionally, this argument should instruct the command-line program to print help information about itself.</li>
        <li><b><code>-v, --version</code>:</b> Optionally, this argument should instruct the command-line program to report its version and the versions of any critical dependencies.</li>
      </ul>

      <p>Simulation tools which implement the BioSimulators command-line interface standard should also execute simulations and record their results according to the following conventions:</p>
      <ul class="vertically-spaced">
        <li><b>Execution of the contents of COMBINE/OMEX archives:</b> Simulation tools should execute all simulations (e.g., all tasks in all SED-ML files) defined inside COMBINE/OMEX archives.</li>
        <li><b>Formats of simulation results:</b> Reports should be saved in Comma-Separate Values (CSV) format <a href="https://en.wikipedia.org/wiki/Comma-separated_values" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> and plots should be saved in Portable Document Format (PDF) <a href="https://en.wikipedia.org/wiki/PDF" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a>.</li>
        <li><b>Encoding of simulation reports:</b> Reports of simulation reports should adhere to the <a [routerLink]="['/standards', 'simulation-reports']">BioSimulators format for reports of simulation results</a>.</li>
        <li><b>File paths of simulation results:</b> Reports should be saved to the same directory relative to the top-level output directory as the SED-ML file to the root of the archive. The file name of each output should be the id of the output plus the extension <code>.csv</code> for reports or <code>.pdf</code> for charts.</li>
      </ul>
    </biosimulations-text-page-content-section>

    <biosimulations-text-page-content-section
      heading="Example command-line interface"
      tocSection="Example interface"
    >
      <p>An an example, below is the documentation for the command-line interface for tellurium <a href="http://tellurium.analogmachine.org" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a>.</p>

      <pre><code>usage: tellurium [-h] [-d] [-q] -i ARCHIVE [-o OUT_DIR] [-v]

BioSimulators-compliant command-line interface to the tellurium simulation program <http://tellurium.analogmachine.org>.

optional arguments:
  -h, --help            show this help message and exit
  -d, --debug           full application debug mode
  -q, --quiet           suppress all console output
  -i ARCHIVE, --archive ARCHIVE
                        Path to OMEX file which contains one or more SED-ML-
                        encoded simulation experiments
  -o OUT_DIR, --out-dir OUT_DIR
                        Directory to save outputs
  -v, --version         show program's version number and exit</code></pre>

    </biosimulations-text-page-content-section>
  </ng-container>
</biosimulations-text-page>