.mat-menu-item
    height: 40px
    line-height: 40px
    .mat-icon, fa-icon
      margin-right: 2px

.icon
    color: rgba(0, 0, 0, 0.54)
.ng-fa-icon
   width: 24px
    max-width: 24px
   overflow: hidden
    position: relative
    top: 4px

.ng-fa-icon
    font-size: 0.75rem

.ng-fa-icon.models
    font-size: 0.6rem
