.mat-menu-item
    height: 40px
    line-height: 40px
    .mat-icon, fa-icon
      margin-right: 2px

.icon
    color: rgba(0, 0, 0, 0.54)
.ng-fa-icon
    overflow: hidden
    position: relative
    top: 2px
    font-size: 0.6rem
.ng-fa-icon.icon-16
    padding-left: 2.9px
    padding-right: 2.9px

