biosimulations-responsive-table {
  ::ng-deep biosimulations-table {
    .table-container {
      max-height: calc(100vh - 64px - 32px - 32px - 2rem - 2rem - 2rem - 2rem);
    }

    a:first-child {
      margin-right: 0.25rem;
    }
  }
}

.parent-container {
  margin-top: 7rem;
  border: 3px solid inherit;
  background-color: white;
  font-family: 'Roboto', sans-serif !important;
  padding: 3rem;
}

.description {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-weight: bold;
  font-size: 32px;
  background-image: url('/assets/images/backgrounds/grey-3.png');
  padding: 3rem;
}
