biosimulations-responsive-table {
  ::ng-deep biosimulations-table {
    .table-container {
      max-height: calc(100vh - 64px - 32px - 32px - 2rem - 2rem - 2rem - 2rem);
    }

    a:first-child {
      margin-right: 0.25rem;
    }
  }
}

.parent-container {
  height: fit-content;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-weight: bold;
  font-size: 32px;
  padding: 3rem;
}
