.footer
    background: inherit
    height: auto
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: false

.spacer
    min-width: 5px
    flex: 1 0 auto
    height: 100%

.Auth0, .github, .crbm
    display: flex
    flex: 0 0 auto
    flex-wrap: false
    padding: 5px
.app-logo
    height: 50px

    p
        justify-self: flex-start
.octicon
    margin-left: -40px
