<biosimulations-navigation
  [appName]="config.appName"
  [appNameParts]="config.appNameParts"
  [logo]="config.logo"
  [privacyPolicyVersion]="config.privacyPolicyVersion"
  [newsVersion]="1"
  [showNews]="false"
>
  <biosimulations-topbar-menu>
    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item
        heading="Tools"
        icon="simulator"
        id="trigger"
        [route]="['/simulators']"
      >
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Browse"
          icon="browse"
          [routerLink]="['/simulators']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Submit"
          icon="upload"
          href="https://github.com/biosimulators/Biosimulators/issues/new?assignees=&labels=Validate%2Fsubmit+simulator&template=validate-submit-a-simulator.md&title="
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Suggest"
          icon="idea"
          href="https://github.com/biosimulators/Biosimulators/issues/new?assignees=&labels=enhancement&template=request-a-model-framework-algorithm-format-or-simulator.md&title="
        >
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item
        heading="Utilities"
        icon="construction"
        id="trigger"
      >
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Convert a file"
          icon="convert"
          href="https://run.biosimulations.org/utils/convert"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Create a project"
          icon="construction"
          href="https://run.biosimulations.org/create"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a model"
          icon="review"
          href="https://run.biosimulations.org/utils/validate-model"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a simulation"
          icon="review"
          href="https://run.biosimulations.org/utils/validate-simulation"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate metadata"
          icon="review"
          href="https://run.biosimulations.org/utils/validate-metadata"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a project"
          icon="review"
          href="https://run.biosimulations.org/utils/validate-project"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Validate a simulator"
          icon="review"
          href="https://github.com/biosimulators/Biosimulators/issues/new?assignees=&labels=Validate%2Fsubmit+simulator&template=validate-submit-a-simulator.md&title="
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Suggest a simulator"
          icon="idea"
          href="https://run.biosimulations.org/utils/suggest-simulator"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Execute a project"
          icon="simulator"
          href="https://run.biosimulations.org/run"
        >
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item
        heading="Conventions"
        icon="standard"
        id="trigger"
        [route]="['/conventions']"
      >
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Simulator specs"
          icon="browse"
          [routerLink]="['/conventions', 'simulator-specs']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulator interfaces"
          icon="logs"
          [routerLink]="['/conventions', 'simulator-interfaces']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulator images"
          icon="docker"
          [routerLink]="['/conventions', 'simulator-images']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulation experiments"
          icon="experiment"
          [routerLink]="['/conventions', 'simulation-experiments']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulation reports"
          icon="report"
          [routerLink]="['/conventions', 'simulation-reports']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Data visualizations"
          icon="chart"
          [routerLink]="['/conventions', 'data-viz']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Metadata"
          icon="tags"
          [routerLink]="['/conventions', 'metadata']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Simulation logs"
          icon="progress"
          [routerLink]="['/conventions', 'simulation-logs']"
        >
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>

    <biosimulations-hover-open-menu>
      <biosimulations-topbar-menu-item heading="Help" icon="help" id="trigger">
      </biosimulations-topbar-menu-item>

      <ng-container id="items">
        <biosimulations-dropdown-menu-item
          heading="Tutorial"
          icon="tutorial"
          [routerLink]="['/help']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="FAQ"
          icon="help"
          [routerLink]="['/help', 'faq']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Tech tutorial"
          icon="tutorial"
          href="https://tutorial.biosimulators.org"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Tech docs"
          icon="help"
          href="https://docs.biosimulators.org"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="About"
          icon="info"
          [routerLink]="['/help', 'about']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Terms of service"
          icon="legal"
          [routerLink]="['/help', 'terms']"
        >
        </biosimulations-dropdown-menu-item>

        <biosimulations-dropdown-menu-item
          heading="Privacy policy"
          icon="policy"
          [routerLink]="['/help', 'privacy']"
        >
        </biosimulations-dropdown-menu-item>
      </ng-container>
    </biosimulations-hover-open-menu>
  </biosimulations-topbar-menu>

  <ng-container id="sidenav-menu">
    <biosimulations-navigation-item heading="Tools" icon="simulator">
      <biosimulations-navigation-subitem
        heading="Browse"
        icon="browse"
        [route]="['/simulators']"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Submit"
        icon="upload"
        href="https://github.com/biosimulators/Biosimulators/issues/new?assignees=&labels=Validate%2Fsubmit+simulator&template=validate-submit-a-simulator.md&title="
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Suggest"
        icon="idea"
        href="https://github.com/biosimulators/Biosimulators/issues/new?assignees=&labels=enhancement&template=request-a-model-framework-algorithm-format-or-simulator.md&title="
      >
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item heading="Utilities" icon="construction">
      <biosimulations-navigation-subitem
        heading="Convert a file"
        icon="convert"
        href="https://run.biosimulations.org/utils/convert"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Create a project"
        icon="construction"
        href="https://run.biosimulations.org/create"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Validate a model"
        icon="review"
        href="https://run.biosimulations.org/utils/validate-model"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Validate a simulation"
        icon="review"
        href="https://run.biosimulations.org/utils/validate-simulation"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Validate metadata"
        icon="review"
        href="https://run.biosimulations.org/utils/validate-metadata"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Validate a project"
        icon="review"
        href="https://run.biosimulations.org/utils/validate-project"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Validate a project"
        icon="review"
        href="https://github.com/biosimulators/Biosimulators/issues/new?assignees=&labels=Validate%2Fsubmit+simulator&template=validate-submit-a-simulator.md&title="
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Suggest a simulator"
        icon="idea"
        href="https://run.biosimulations.org/utils/suggest-simulator"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Execute a project"
        icon="simulator"
        href="https://run.biosimulations.org/run"
      >
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item heading="Conventions" icon="standard">
      <biosimulations-navigation-subitem
        heading="Overview"
        icon="standard"
        [route]="['/conventions']"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulator specs"
        icon="browse"
        [route]="['/conventions', 'simulator-specs']"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulator interfaces"
        icon="logs"
        [route]="['/conventions', 'simulator-interfaces']"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulator images"
        icon="docker"
        [route]="['/conventions', 'simulator-images']"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulation expts"
        icon="experiment"
        [route]="['/conventions', 'simulation-experiments']"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulation reports"
        icon="report"
        [route]="['/conventions', 'simulation-reports']"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Data visualizations"
        icon="chart"
        [route]="['/conventions', 'data-viz']"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Metadata"
        icon="tags"
        [route]="['/conventions', 'metadata']"
      >
      </biosimulations-navigation-subitem>

      <biosimulations-navigation-subitem
        heading="Simulation logs"
        icon="progress"
        [route]="['/conventions', 'simulation-logs']"
      >
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>

    <biosimulations-navigation-item heading="Help" icon="help">
      <biosimulations-navigation-subitem
        heading="Tutorial"
        icon="tutorial"
        [route]="['/help']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="FAQ"
        icon="help"
        [route]="['/help', 'faq']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Tech tutorial"
        icon="tutorial"
        href="https://tutorial.biosimulators.org"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Tech docs"
        icon="help"
        href="https://docs.biosimulators.org"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="About"
        icon="info"
        [route]="['/help', 'about']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Terms of service"
        icon="legal"
        [route]="['/help', 'terms']"
      >
      </biosimulations-navigation-subitem>
      <biosimulations-navigation-subitem
        heading="Privacy policy"
        icon="policy"
        [route]="['/help', 'privacy']"
      >
      </biosimulations-navigation-subitem>
    </biosimulations-navigation-item>
  </ng-container>

  <ng-container id="news"> </ng-container>

  <router-outlet></router-outlet>
</biosimulations-navigation>
