<biosimulations-page heading="Publish project">
  <form
    *ngIf="(metadataValid$ | async) === true; else invalidErrorLoading"
    [formGroup]="formGroup"
    (ngSubmit)="publishSimulation()"
  >
    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="id"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Id*</div>
          <div class="form-section-subtitle">
            Enter a unique id for this modeling project
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <mat-form-field appearance="fill">
          <input
            matInput
            formControlName="id"
            placeholder="System-Author-Journal-Year"
            required
          />
          <mat-error *ngIf="formGroup.hasError('required', 'id')"
            >Please enter an id for this project.</mat-error
          >
          <mat-error *ngIf="formGroup.hasError('pattern', 'id')"
            >Ids must consist of at least three letters, numbers, underscores, and dashes ({{ '^[a-z0-9_-]{3,}$' }}). Please enter a valid id.</mat-error
          >
          <mat-error *ngIf="formGroup.hasError('available', 'id')"
            >The id has already been claimed. Please enter a unique id for this
            project.</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="valid"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">Confirmation of validity*</div>
          <div class="form-section-subtitle">
            Confirm that BioSimulations presents the expected results of this
            project.
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group">
          <mat-checkbox formControlName="isValid" required color="primary"
            >I confirm that BioSimulations presents the expected results of this
            project.</mat-checkbox
          >
          <mat-error
            *ngIf="
              (formGroup.get('isValid')?.touched || submitPushed) &&
              formGroup.hasError('required', 'isValid')
            "
            >Please confirm that BioSimulations presents the expected results of
            this project.</mat-error
          >
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-section-head">
        <div class="mat-form-field-prefix">
          <biosimulations-icon icon="license"></biosimulations-icon>
        </div>
        <div class="form-section-head-title-subtitle">
          <div class="form-section-title">License*</div>
          <div class="form-section-subtitle">
            Grant BioSimulations to store and distribute this project and its
            simulation results.
          </div>
        </div>
      </div>
      <div class="form-section-body">
        <div class="form-field-group">
          <mat-checkbox
            formControlName="grantedLicense"
            required
            color="primary"
            >I grant BioSimulations, free of charge, to store and distribute
            this project and its simulation results.</mat-checkbox
          >
          <mat-error
            *ngIf="
              (formGroup.get('grantedLicense')?.touched || submitPushed) &&
              formGroup.hasError('required', 'grantedLicense')
            "
            >Please grant BioSimulations to store and distribute this project
            and its simulation results.</mat-error
          >
        </div>
      </div>
    </div>

    <div class="button-container">
      <button
        mat-flat-button
        type="submit"
        [class]="{
          'biosimulations-button': true,
          text: true,
          'mat-button-disabled': formGroup.invalid
        }"
      >
        Publish
      </button>
    </div>
  </form>

  <ng-template #invalidErrorLoading>
    <ng-container
      *ngIf="(metadataValid$ | async) === false; else metadataLoading"
    >
      <div
        *ngIf="
          isMetadataValidationReport(metadataValidationReport$ | async);
          else errorLoading
        "
        class="metadata-validation-report error"
      >
        The simulation project does not contain valid metadata for publication
        to BioSimulations. More information about the metadata requirements for
        BioSimulations is available
        <a href="https://biosimulators.org/conventions/metadata" target="_blank"
          >here</a
        >.

        <ng-container *ngIf="metadataValidationReport$ | async as report">
          <div class="metadata-validation-report-section" *ngIf="report.errors">
            Errors:
            <ul [innerHTML]="report.errors"></ul>
          </div>

          <div
            class="metadata-validation-report-section"
            *ngIf="report.warnings"
          >
            Warnings:
            <ul [innerHTML]="report.warnings"></ul>
          </div>
        </ng-container>
      </div>

      <ng-template #errorLoading>
        <div
          *ngIf="(metadataValidationReport$ | async) === false; else loading"
          class="error"
        >
          Sorry! The metadata for the project could not be validated. The
          metadata must be valid for publication. Please try again later. If
          this error persists, please contact the BioSimulations Team
          <a [href]="newIssueUrl" target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >.
        </div>

        <ng-template #loading>
          <div class="headed-page-spinner-container">
            <biosimulations-spinner></biosimulations-spinner>
          </div>
        </ng-template>
      </ng-template>
    </ng-container>

    <ng-template #metadataLoading>
      <div class="headed-page-spinner-container">
        <biosimulations-spinner></biosimulations-spinner>
      </div>
    </ng-template>
  </ng-template>
</biosimulations-page>
