@use '~@angular/material' as mat;
@import 'biosimulations-colors';

.button-container {
  text-align: right;
}

mat-form-field {
  ::ng-deep .mat-form-field-subscript-wrapper {
    font-size: 93.75%;
  }
}

.form-section .form-field-group mat-error {
  padding-top: 0;
}