@import 'src/theme.scss'

.container
    min-height: 100vh
    background: #fff
    padding-bottom: 3rem

.logo
    background-image: url('src/assets/background/network/grey-3.png')
    background-size: cover
    display: flex
    align-items: center
    justify-content: center
    height: 40vh
    padding-top: 32px

    .logo-inner
        text-align: center

    img
        height: 12vh
    .title
        padding-top: 1rem
        padding-bottom: 1rem
        font-size: 28px
        line-height: normal
        font-weight: bold
        text-align: center
    .text
        font-size: 24px
        line-height: 150%
        text-align: center

.partial-width
    max-width: 1400px
    margin: 0 auto
    padding-top: 3rem

.section
    width: 100%
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 2rem

    .title
        color: mat-color($theme-primary)
        font-size: 32px
        line-height: normal
        font-weight: bold
        text-align: center
        margin-bottom: 1rem

    .subtitle
        font-size: 20px
        line-height: 125%
        font-weight: 500
        text-align: center

.feature
    .title
        color: mat-color($theme-primary)

    .text
        font-size: 16px
        line-height: normal
        padding: 0
        margin: 0
        list-style-type: none
        text-align: center

        li
            padding-top: 1rem

.partner-group
    .title
        color: mat-color($theme-accent)

    .content .row
        text-align: center
    img
        height: 3rem
        width: auto
        margin-top: 1rem
        margin-left: 0.25rem
        margin-right: 0.25rem
        transition: all 0.5s

    img:hover
        transform: scale(1.08)

.stats
    .section:not(:first-child)
        padding-top: 2rem

    .title
        color: mat-color($theme-primary)

    .graph
        width: 100%
        height: 10vh
        margin-top: 1rem

.spacer
    padding-top: 3rem
    padding-bottom: 3rem
    hr
        border-style: solid
        border-width: 0.5px
        color: #ccc

