<div class="container">
    <div class="logo">
        <div class="logo-inner">
            <img src="assets/logo/logo-white.svg" />
            <div class="title">Reusable biomodeling</div>
            <div class="text">BioSimulations is a web application for sharing, re-using, and<br/>composing biomodels, simulations, and visualizations</div>
        </div>
    </div>

    <div class="partial-width">
        <div class="features">
            <div class="feature">
                <div class="title">Authors: Publish projects</div>
                <ul class="text">
                    <li>Publish models, simulations and visualizations</li>
                    <li>Obtain DOIs for models, simulations and visualizations</li>
                    <li>Verify the reproducibility of projects</li>
                    <li>Share projects with reviewers and editors</li>
                </ul>
            </div>

            <div class="feature">
                <div class="title">Users: Reuse published models</div>
                <ul class="text">
                    <li>Find published models, simulations, and visualizations</li>
                    <li>Simulate models under new conditions</li>
                    <li>Paint visualizations with new simulation results</li>
                    <li>Compose visualizations into dashboards</li>
                </ul>
            </div>

            <div class="feature">
                <div class="title">Reviewers: Check reported models</div>
                <ul class="text">
                    <li>Interactively explore reported projects</li>
                    <li>Verify the reusability of reported models</li>
                    <li>Verify the reproducibility of reported figures and tables</li>
                    <li>Test models under alternative simulation conditions</li>
                </ul>
            </div>
        </div>

        <div class="spacer">
            <hr/>
        </div>

        <div class="partners">
            <div class="partner-group">
                <div class="title">Model repositories</div>
                <div class="content">
                    <img
                        class="partner"
                        title="BioModels"
                        src="assets/about/partners/biomodels.svg" />
                    <img
                        class="partner"
                        title="Physiome Model Repository"
                        src="assets/about/partners/physiome.svg" />
                    <img
                        class="partner"
                        title="Open Source Brain"
                        src="assets/about/partners/open-source-brain.svg" />
                    <img
                        class="partner"
                        title="JWS Online"
                        src="assets/about/partners/jws.svg" />
                </div>
            </div>

            <div class="logos-group">
                <div class="title">Model formats</div>
                <div class="content">
                    <img
                        class="partner"
                        title="CellML"
                        src="assets/about/partners/cellml.svg" />
                    <img
                        class="partner"
                        title="NeuroML"
                        src="assets/about/partners/neuroml.svg" />
                    <img
                        class="partner"
                        title="pharmML"
                        src="assets/about/partners/pharmml.svg" />
                    <img
                        class="partner"
                        title="SBML"
                        src="assets/about/partners/sbml.svg" />
                </div>
            </div>

            <div class="logos-group">
                <div class="title">Simulators</div>
                <div class="content">
                    <img
                        class="partner"
                        title="COBRApy"
                        src="assets/about/partners/cobrapy.svg" />
                    <img
                        class="partner"
                        title="COPASI"
                        src="assets/about/partners/copasi.svg" />
                    <img
                        class="partner"
                        title="libRoadRunner"
                        src="assets/about/partners/libroadrunner.svg" />
                    <img
                        class="partner"
                        title="NFsim"
                        src="assets/about/partners/nfsim.svg" />
                    <img
                        class="partner"
                        title="OpenCOR"
                        src="assets/about/partners/opencor.svg" />
                    <img
                        class="partner"
                        title="VCell"
                        src="assets/about/partners/vcell.svg" />
                </div>
            </div>
        </div>

        <div class="spacer">
            <hr/>
        </div>

        <div class="stats">
            <div class="graph-container" *ngFor="let graph of statGraphs">
                <div class="title">{{ graph.title }}</div>
                <div class="graph">
                    <app-vega-viewer
                        [spec]="graph.spec"
                        [data]="graph.data"
                        [options]="vegaOptions"
                        class="vega block no-actions"
                    ></app-vega-viewer>
                </div>
            </div>
        </div>
    </div>
</div>