<mat-menu class="topbar-submenu" #profileMenu="matMenu" color="primary">
  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    color="primary"
    [routerLink]="['/profile']"
  >
    <mat-icon class="icon" aria-hidden="false" aria-label="Profile"
      >account_circle</mat-icon>
    Profile
  </button>

  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    color="primary"
    [routerLink]="['/settings']"
  >
    <mat-icon class="icon" aria-hidden="false" aria-label="Settings"
      >settings</mat-icon>
    Settings
  </button>

  <mat-divider *ngIf="auth.loggedIn"></mat-divider>

  <button
    mat-menu-item
    color="primary"
    [routerLink]="['/help']"
  >
    <mat-icon class="icon" aria-hidden="false" aria-label="Help"
      >help</mat-icon>
    Help
  </button>

  <button
    mat-menu-item
    color="primary"
    [routerLink]="['/about']"
  >
    <mat-icon class="icon" aria-hidden="false" aria-label="Info"
      >info</mat-icon>
    About
  </button>

  <mat-divider></mat-divider>

  <button
    mat-menu-item
    *ngIf="!auth.loggedIn"
    color="primary"
    (click)="auth.login()"
  >
    <fa-icon class="icon" aria-hidden="false" aria-label="Sign in" size="2x" 
      [icon]="['fas', 'sign-in-alt']"></fa-icon>
    Sign in
  </button>

  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    color="primary"
    (click)="auth.logout()"
  >
    <fa-icon class="icon" aria-hidden="false" aria-label="Sign out" size="2x" 
      [icon]="['fas', 'sign-out-alt']"></fa-icon>
    Sign out
  </button>
</mat-menu>
