<mat-menu class="topbar-submenu" #profileMenu="matMenu" color="primary">
  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    matTooltip="Profile"
    matTooltipPosition="below"
    color="primary"
    [routerLink]="['/profile']"
  >
    <mat-icon aria-hidden="false" aria-label="Profile">account_circle</mat-icon>
    Profile
  </button>

  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    matTooltip="Settings"
    matTooltipPosition="below"
    color="primary"
    [routerLink]="['/settings']"
  >
    <mat-icon aria-hidden="false" aria-label="Settings">settings</mat-icon>
    Settings
  </button>

  <button
    mat-menu-item
    *ngIf="!auth.loggedIn"
    matTooltip="Sign in"
    matTooltipPosition="below"
    color="primary"
    (click)="auth.login()"
  >
    <fa-icon aria-hidden="false" aria-label="Sign in" size="lg" [icon]="['fas', 'sign-in-alt']"></fa-icon>
    Sign in
  </button>

  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    matTooltip="Sign out"
    matTooltipPosition="below"
    color="primary"
    (click)="auth.logout()"
  >
    <fa-icon aria-hidden="false" aria-label="Sign out" size="lg" [icon]="['fas', 'sign-out-alt']"></fa-icon>
    Sign out
  </button>
</mat-menu>
