<mat-menu class="topbar-submenu" #profileMenu="matMenu" color="primary">
  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    color="primary"
    [routerLink]="['/user']"
  >
    <mat-icon class="icon" aria-hidden="false" aria-label="Profile"
      >account_circle</mat-icon>
    Your profile
  </button>

  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    color="primary"
    [routerLink]="['/user', 'projects']"
  >
    <fa-icon class="icon" aria-hidden="false" aria-label="Models icon" size="2x" [icon]="['fas', 'folder-open']"></fa-icon>
    Your projects
  </button>

  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    color="primary"
    [routerLink]="['/user', 'models']"
  >
    <fa-icon class="icon" aria-hidden="false" aria-label="Models icon" size="2x" [icon]="['fas', 'project-diagram']"></fa-icon>
    Your models
  </button>

  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    color="primary"
    [routerLink]="['/user', 'simulations']"
  >
    <mat-icon class="icon" aria-hidden="false" aria-label="Simulations icon"
      >timeline</mat-icon>
    Your simulations
  </button>

  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    color="primary"
    [routerLink]="['/user', 'chart-types']"
  >
    <fa-icon class="icon icon-16" aria-hidden="false" aria-label="Chart types icon" size="2x" [icon]="['fas', 'chart-area']"></fa-icon>
    Your chart types
  </button>

  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    color="primary"
    [routerLink]="['/user', 'visualizations']"
  >
    <fa-icon class="icon icon-16" aria-hidden="false" aria-label="Visualizations icon" size="2x" [icon]="['fas', 'paint-brush']"></fa-icon>
    Your visualizations
  </button>

  <mat-divider *ngIf="auth.loggedIn"></mat-divider>

  <button
    mat-menu-item
    color="primary"
    [routerLink]="['/about/help']"
  >
    <mat-icon class="icon" aria-hidden="false" aria-label="Help"
      >help</mat-icon>
    Help
  </button>

  <button
    mat-menu-item
    color="primary"
    [routerLink]="['/about']"
  >
    <mat-icon class="icon" aria-hidden="false" aria-label="Info"
      >info</mat-icon>
    About
  </button>

  <mat-divider></mat-divider>

  <button
    mat-menu-item
    *ngIf="!auth.loggedIn"
    color="primary"
    (click)="auth.login()"
  >
    <fa-icon class="icon icon-16" aria-hidden="false" aria-label="Sign in" size="2x"
      [icon]="['fas', 'sign-in-alt']"></fa-icon>
    Sign in
  </button>

  <button
    mat-menu-item
    *ngIf="!auth.loggedIn"
    color="primary"
    (click)="auth.login()"
  >
    <fa-icon class="icon" aria-hidden="false" aria-label="Sign up" size="2x"
      [icon]="['fas', 'user-plus']"></fa-icon>
    Sign up
  </button>

  <button
    mat-menu-item
    *ngIf="auth.loggedIn"
    color="primary"
    (click)="auth.logout()"
  >
    <fa-icon class="icon icon-16" aria-hidden="false" aria-label="Sign out" size="2x"
      [icon]="['fas', 'sign-out-alt']"></fa-icon>
    Sign out
  </button>
</mat-menu>
