<div fxLayout="row" fxLayoutAlign="space-between flex-end">
  <h3>References</h3>
  <button mat-icon-button color="primary" (click)="this.addRef()">
    <fa-icon
      aria-hidden="true"
      aria-label="Add icon"
      [icon]="['fas', 'plus']"
    ></fa-icon>
  </button>
</div>

<ng-container [formGroup]="control" *ngIf="control.controls.length > 0">
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div
      *ngFor="let group of control.controls; index as i"
      cdkDrag
      [formGroupName]="i"
    >
      <div fxLayout="row nowrap" fxLayoutAlign="space-around center">
        <div
          fxFlex="1 1 auto"
          fxLayout="row wrap"
          fxLayoutAlign="space-around center"
        >
          <mat-form-field appearance="fill">
            <mat-label> Authors</mat-label>
            <input matInput formControlName="authors" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> Title</mat-label>
            <input matInput formControlName="title" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> Journal</mat-label>
            <input matInput formControlName="journal" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> Volume</mat-label>
            <input matInput formControlName="volume" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> Number</mat-label>
            <input matInput formControlName="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> Pages</mat-label>
            <input matInput formControlName="pages" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> Year</mat-label>
            <input matInput formControlName="year" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> DOI</mat-label>
            <input matInput formControlName="doi" />
          </mat-form-field>
        </div>
        <fa-icon
          fxFlex="0 0 auto"
          aria-hidden="true"
          aria-label="Drag icon"
          [icon]="['fas', 'grip-lines-vertical']"
          class="drag"
        ></fa-icon>
        <div fxFlex="0 0 0.5em"></div>
        <fa-icon
          fxFlex="0 0 auto"
          aria-hidden="true"
          aria-label="Delete icon"
          [icon]="['fas', 'trash-alt']"
          (click)="this.removeControl(i)"
        ></fa-icon>
      </div>
    </div>
  </div>
</ng-container>
