<mat-tab-group class="page-content full-width" *ngIf="simulation" disableRipple="true" [selectedIndex]="1">
  <mat-tab>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Overview icon" [icon]="['fas', 'list']"></fa-icon> Overview
    </ng-template>
    <div class="tab overview">
      <div class="section">
        <h1>Simulation {{ simulation.id }}: {{ simulation.name }}</h1>

        <div class="authors">
          {{ simulation.getAuthors().join('; ') }}
          (Owner: <a [routerLink]="simulation.owner.getRoute()">{{ simulation.owner.getFullName() }}</a>)
        </div>
        
        <div class="description">{{ simulation.description }}</div>

        <div class="tags">
          <span>
            <fa-icon 
              aria-hidden="true" 
              aria-label="Tags icon" 
              [icon]="['fas', 'tags']"
            ></fa-icon>
            {{ simulation.tags.join(', ') }}
          </span>

           <span>
              <fa-icon aria-hidden="true" aria-label="Changes icon" [icon]="['fas', 'pencil-alt']"></fa-icon>
              {{ simulation.changedParameters.length + ' parameter'}}
            </span>

            <span>
              <fa-icon aria-hidden="true" aria-label="Duration icon" [icon]="['fas', 'stopwatch']"></fa-icon>
              {{ simulation.length | formatTimeForHumans }}
            </span>

            <span>
              <fa-icon aria-hidden="true" aria-label="Framework icon" [icon]="['fas', 'calculator']"></fa-icon>
              {{ simulation.framework }}
            </span>

            <span>
              <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
              {{ simulation.license }}
            </span>
        </div>

        <div class="refs" *ngIf="simulation.refs.length > 0">
          <div *ngFor="let ref of simulation.refs">
            <fa-icon aria-hidden="true" aria-label="File icon" [icon]="['far', 'file-alt']">
            </fa-icon>
            <a [href]="ref.getUrl()" target="_blank">{{ ref.authors.join('; ') }}{{ '. ' }}<i>{{ ref.journal }}</i>{{ ' ' }}<b>{{ ref.volume }}</b>{{ ', ' + ref.pages + ' (' + ref.year + ').' }}</a>
          </div>
        </div>
      </div>

      <div class="section" *ngIf="simulation.model as model">
        <h1>
          <a [routerLink]="model.getRoute()">Model {{ model.id }}: {{ model.name }}</a>
        </h1>

        <div class="authors">
          {{ model.getAuthors().join('; ') }}
          (Owner: <a [routerLink]="model.owner.getRoute()">{{ model.owner.getFullName() }}</a>)
        </div>
        
        <div class="description">{{ model.description }}</div>

        <div class="tags">
          <span>
            <fa-icon aria-hidden="true" aria-label="Tags icon" [icon]="['fas', 'tags']"></fa-icon>
            {{ model.tags.join(', ') }}
          </span>

          <span>
            <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
            {{ model.format.name }}
          </span>

          <span>
            <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
            {{ model.license }}
          </span>
        </div>

        <div class="refs" *ngIf="model.refs.length > 0">
          <div class="ref" *ngFor="let ref of model.refs">
            <fa-icon aria-hidden="true" aria-label="File icon" [icon]="['far', 'file-alt']">
            </fa-icon>
            <a [href]="ref.getUrl()" target="_blank">{{ ref.authors.join('; ') }}{{ '. ' }}<i>{{ ref.journal }}</i>{{ ' ' }}<b>{{ ref.volume }}</b>{{ ', ' + ref.pages + ' (' + ref.year + ').' }}</a>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Experiment icon" [icon]="['fas', 'flask']"></fa-icon> Experiment
    </ng-template>
    <div class="tab">
      <table cellpadding="0" cellspacing="0" class="section heading">
        <tbody class="section">
          <tr>
            <th colspan="5" class="section-title">Changed parameters</th>
          </tr>
          <tr class="section-heading">
            <th><div>Id</div></th>
            <th><div>Name</div></th>
            <th><div>Value</div></th>
            <th><div>Default</div></th>
            <th><div>Units</div></th>
          </tr>
        </tbody>
        <tbody class="section-body">
          <tr *ngFor="let param of simulation.changedParameters">
            <td>{{ param.id }}</td>
            <td>{{ param.name }}</td>
            <td>{{ param.value }}</td>
            <td>{{ param.defaultValue }}</td>
            <td>{{ param.units }}</td>
          </tr>
        </tbody>
      </table>

      <table cellpadding="0" cellspacing="0" class="section">
        <tbody class="section">
          <tr>
            <th colspan="2" class="section-title">Meta parameters</th>
          </tr>
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="Length icon" [icon]="['fas', 'stopwatch']"></fa-icon>
              Length:
            </th>
            <td>{{ simulation.length | formatTimeForHumans }}</td>
          </tr>
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="Replicates icon" [icon]="['fas', 'clone']"></fa-icon>
              Replicates:
            </th>
            <td>1</td>
          </tr>
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="Simulator icon" [icon]="['fas', 'cog']"></fa-icon>
              Simulator:
            </th>
            <td>
              <a href="{{ simulation.simulator.getDockerHubUrl() }}"
              >{{ simulation.simulator.name }} {{ simulation.simulator.version }}</a>
            </td>
          </tr>
        </tbody>

        <tbody class="section">
          <tr>
            <th colspan="2" class="section-title">Format</th>
          </tr>
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
              Format:
            </th>
            <td>{{ simulation.format.name }} {{ simulation.format.version }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="History icon" [icon]="['fas', 'history']"></fa-icon> History
    </ng-template>
    <div class="tab">
      <table cellpadding="0" cellspacing="0" class="section">
        <tbody *ngIf="simulation.parent" class="section">
          <tr>
            <th colspan="2" class="section-title">Provenance</th>
          </tr>
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="Parent icon" [icon]="['fas', 'sitemap']"></fa-icon>
              Parent:
            </th>
            <td>
              <a [routerLink]="simulation.parent.getRoute()">{{ simulation.parent.name }}</a>
            </td>
          </tr>
        </tbody>

        <tbody class="section">
          <tr>
            <th colspan="2" class="section-title">Run status</th>
          </tr>
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="Status icon" [icon]="['fas', 'tag']"></fa-icon>
              Status:
            </th>
            <td>{{ simulation.status | ucfirst }}</td>
          </tr>
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
              Submitted:
            </th>
            <td>{{ simulation.date | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
          </tr>
          <tr *ngIf="simulation.startDate">
            <th>
              <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
              Started:
            </th>
            <td>{{ simulation.startDate | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
          </tr>
          <tr *ngIf="simulation.endDate">
            <th>
              <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
              Finished:
            </th>
            <td>{{ simulation.endDate | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
          </tr>
          <tr *ngIf="simulation.wallTime">
            <th>
              <fa-icon aria-hidden="true" aria-label="Time icon" [icon]="['fas', 'stopwatch']"></fa-icon>
              Duration:
            </th>
            <td>{{ simulation.wallTime | formatTimeForHumans }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'unlock-alt']"></fa-icon> Access
    </ng-template>
    <div class="tab">
      <table cellpadding="0" cellspacing="0" class="section">
        <tbody class="section">
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'unlock-alt']"></fa-icon>
              Access:
            </th>
            <td>{{ simulation.access | ucfirst }}</td>
          </tr>
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="Token icon" [icon]="['fas', 'key']"></fa-icon>
              Access token:
            </th>
            <td>{{ simulation.accessToken }}</td>
          </tr>
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
              License:
            </th>
            <td>{{ simulation.license }}</td>
          </tr>
          <tr>
            <th>
              <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'user']"></fa-icon>
              Owner:
            </th>
            <td>
              <a [routerLink]="['/profile', simulation.owner.id]"
              >{{ simulation.owner.getFullName() }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Logs icon" [icon]="['fas', 'terminal']"></fa-icon> Logs
    </ng-template>
    <div class="tab logs">
      <div class="log">
        <div>
          <fa-icon aria-hidden="true" aria-label="Log icon" [icon]="['fas', 'terminal']"></fa-icon>
          <b>Standard output</b>
        </div>
        <div class="pre-container">
          <pre *ngIf="simulation.outLog; else noOutLog">{{ simulation.outLog }}</pre>
          <ng-template #noOutLog>
            <span class="none">None.</span>
          </ng-template>
        </div>
      </div>

      <div class="log">
        <div>
          <fa-icon aria-hidden="true" aria-label="Log icon" [icon]="['fas', 'terminal']"></fa-icon>
          <b>Standard error</b>
        </div>
        <div class="pre-container">
          <pre *ngIf="simulation.errLog; else noErrLog">{{ simulation.errLog }}</pre>
          <ng-template #noErrLog>
            <span class="none">None.</span>
          </ng-template>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
  </mat-tab>
</mat-tab-group>
