<mat-accordion multi="true">
  <div *ngFor="let header of NavItems | filter: isTopLevel">
    <mat-expansion-panel>
      <mat-expansion-panel-header class="header-title" [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
        <div class="header-content">
          <mat-icon class="icon" *ngIf="header.icon_type == 'mat'; else faIcon"> {{ header.icon }}</mat-icon>
          <ng-template #faIcon>
            <fa-icon class="icon" [icon]="[header.icon_type, header.icon]" size="lg"></fa-icon>
          </ng-template>
          <mat-panel-title class="panel-title">{{ header.label }}</mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <div
        class="child"
        *ngFor="let route of NavItems | filter: isChildOf:[header]"
      >
        <mat-list-item [routerLink]="route.link" [disableRipple]="true">
          <mat-icon class="icon">{{ route.icon }}</mat-icon>
          {{ route.label }}
        </mat-list-item>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>
