@import "src/styles.sass"
button
    width: 100%
button:hover
    color: mat-color($accent)
button:focus
    outline: 0px

.header-content
    display: flex
    align-content: space-between
.header-title:hover
    color: mat-color($accent)
    .panel-title
        color: mat-color($accent)
.toplink
    display: flex
    align-content: space-between
.spacer
    padding: 5px