<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [(opened)]="opened"
  >
    <mat-toolbar class="sidebar-header" color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="opened = !opened"
        *ngIf="opened"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="topbar">
      <button
        mat-icon-button
        class="nav-button"
        type="button"
        aria-label="Toggle sidenav"
        (click)="sidenav.toggle()"
        *ngIf="!opened"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-topbar class="navbar"></app-topbar>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
