<div class="data-table-parent-container platform-runs">
  <mat-card class="data-table-card platform-runs">
    <mat-card-header class="data-table-heading">
      Your simulation runs
      <div class="table-buttons">
        <button
          mat-icon-button
          class="biosimulations-button primary"
          title="Export simulations"
          (click)="exportSimulations()">
          <biosimulations-icon icon="download"></biosimulations-icon>
        </button>
        <button
          mat-icon-button
          class="biosimulations-button primary"
          title="Import simulations"
          (click)="importSimulations()">
          <biosimulations-icon icon="upload"></biosimulations-icon>
        </button>
        <button
          mat-icon-button
          class="biosimulations-button primary"
          title="Delete all simulations"
          (click)="removeSimulations()">
          <biosimulations-icon icon="trash"></biosimulations-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="data-table-container platform-runs" [class.collapsed]="collapsed" (click)="collapseTable()">
        <biosimulations-responsive-table
          [columns]="columns"
          [data]="simulations"
          [defaultSort]="{ active: 'name', direction: 'asc' }"
          stackedContentsHeading="Simulations"
          [getStackedHeading]="getStackedHeading"
          [getStackedHeadingMoreInfoRouterLink]="getStackedHeadingMoreInfoRouterLink"
          searchPlaceHolder="Query (e.g., scan)"
          searchToolTip="Enter a query such as 'queued'. By default, your query will be searched over all columns. To search over a specific column, prefix your query with the heading of the column (with spaces replaced by dashes) such as 'last-updated: 2020'. Please see the FAQs for more information.">
        </biosimulations-responsive-table>
      </div> </mat-card-content
  ></mat-card>
</div>
