.form-group.model-parameter-changes
    grid-template-columns: 1fr 4rem 4rem 8rem 1.453125rem

.form-group.time-course
    grid-template-columns: auto 1fr

.form-group.algorithm-parameter-changes
    grid-template-columns: 1fr 4rem 4rem 1.453125rem

.form-group.authors
    grid-template-columns: 1fr 5rem 1fr 1.453125rem

.form-group.refs
    grid-template-columns: 1fr 1fr 1fr 5rem 5rem 5rem 5rem 1fr 1.453125rem
