@import 'biosimulations-colors'

.logos
  margin-block-start: 0.5rem

  .logos-row:not(:first-child)
    margin-block-start: 0.5rem

  a:not(:first-child)
    margin-left: 0.25rem
  a:not(:last-child)
    margin-right: 0.25rem

  img
    height: 2.5rem

.biosimulations-table
  thead
    tr
      background: $light-bg-darker-10
    th
      white-space: nowrap
  tbody
    td
      height: 42px
    td:first-child
      white-space: nowrap

  th, td
    &:nth-child(1)
      width: 17%
    &:nth-child(2)
      width: 17%
    &:nth-child(3)
      width: 40%
    &:nth-child(4)
      width: 26%

@media screen and (max-width: 959px)
  .logos
    text-align: center
  .logos-row
    display: inline
