<span *ngIf="authors && authors.length > 0; else ownerTemplate">
  <span *ngFor="let author of authors; index as iAuthor">
    <app-routerlink [routerLink]="route ? author.getRoute() : null">{{
      author.getFullName()
    }}</app-routerlink>{{
    iAuthor < authors.length - 2 ? ', ' : (iAuthor == authors.length - 2 ? ' &amp; ' : '')
    }}
  </span>
</span>

<ng-template #ownerTemplate>
  <app-routerlink
    *ngIf="owner"
    [routerLink]="route ? owner.getRoute() : null"
  >{{
    owner.getFullName()
  }}</app-routerlink>
</ng-template>
