<biosimulations-home-teaser
  heading="Sharing and reusing biomodels, simulations, and visualizations"
  banner="assets/images/biosimulations-logo/logo-white.svg"
>
  <ng-container id="buttons">
    <biosimulations-home-teaser-button
      [href]="config.simulatorsAppUrl"
      width="160px"
      color="accent"
    >
      <ng-container id="title">Simulation tools</ng-container>
      <ng-container id="text">
        <p>Share or find simulation tools</p>
        <p>@BioSimulators</p>
      </ng-container>
    </biosimulations-home-teaser-button>

    <biosimulations-home-teaser-button
      [route]="['/projects']"
      width="160px"
      color="primary"
    >
      <ng-container id="title">Simulation Projects</ng-container>
      <ng-container id="text">
        <p>Share or reuse simulation studies</p>
        <p>@BioSimulations</p>
      </ng-container>
    </biosimulations-home-teaser-button>
  </ng-container>
  <ng-container id="description">
    BioSimulations is a free platform for sharing and re-using biomodels,
    simulations, and visualizations. BioSimulations makes sharing and reuse
    easier by providing a simple web interface for a wide range of frameworks
    (e.g., logical, Flux-Balance Analysis (FBA), continuous kinetic, discrete
    kinetic), simulation algorithms (e.g., FBA, SSA), model formats (e.g.,
    SBML), and tools (e.g., COBRApy, COPASI, tellurium).
  </ng-container>
</biosimulations-home-teaser>

<biosimulations-home-section [columns]="3">
  <ng-container id="heading">
    Helping authors, reviewers, and investigators
    <span class="highlight-primary">share and reuse biomodeling studies</span>
  </ng-container>

  <biosimulations-home-subsection
    id="subsection"
    heading="Users"
    subheading="Reuse published modeling studies"
    icon="simulator"
  >
    BioSimulations provides investigators a central portal for finding models,
    simulations, and visualizations; modifying simulations and visualizations;
    executing simulations; and painting visualizations with simulation results.
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Authors"
    subheading="Publish modeling studies"
    icon="write"
  >
    BioSimulations makes it easier for authors to share models, simulations, and
    visualizations. Sharing modeling studies through BioSimulations makes it
    easier for other inevstigators to find and reuse them.
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Reviewers"
    subheading="Evaluate modeling studies"
    icon="review"
  >
    BioSimulations makes it easier for reviewers to evaluate models,
    simulations, and visualizations. Reviewers can interactively explore
    studies, verify the reproducibility of reported results, and test models
    under alternate conditions.
  </biosimulations-home-subsection>
</biosimulations-home-section>

<biosimulations-home-section [columns]="4">
  <ng-container id="heading"
    >Central access to
    <span class="highlight-primary"
      >multiple modeling frameworks, algorithms, formats &amp; tools</span
    ></ng-container
  >

  <biosimulations-home-subsection
    id="subsection"
    heading="Model formats"
    subheading="BioSimulations supports several model formats"
    subheadingSize="small"
    icon="model"
  >
    <biosimulations-home-logo
      title="BNGL"
      src="assets/images/about/partners/bionetgen.png"
      href="https://www.bionetgen.org"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="CellML"
      src="assets/images/about/partners/cellml.svg"
      href="https://www.cellml.org/"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="GINsim"
      src="assets/images/about/partners/ginsim.svg"
      href="http://ginsim.org/"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="NeuroML"
      src="assets/images/about/partners/neuroml.svg"
      href="https://neuroml.org/"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="RBA"
      src="assets/images/about/partners/rba.png"
      href="https://rba.inrae.fr/"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="SBML"
      src="assets/images/about/partners/sbml.svg"
      href="http://sbml.org"
    >
    </biosimulations-home-logo>
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Simulation formats"
    subheading="BioSimulations supports the SED-ML simulation format"
    subheadingSize="small"
    icon="simulation"
  >
    <biosimulations-home-logo
      title="SED-ML"
      src="assets/images/about/partners/sed-ml.svg"
      href="https://sed-ml.org/"
    >
    </biosimulations-home-logo>
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Visualization formats"
    subheading="BioSimulations supports the Vega visualization format"
    subheadingSize="small"
    icon="visualization"
  >
    <biosimulations-home-logo
      title="Escher"
      src="assets/images/about/partners/escher.svg"
      href="https://escher.github.io/"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="GINsim"
      src="assets/images/about/partners/ginsim.svg"
      href="http://ginsim.org"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="SBGN"
      src="assets/images/about/partners/sbgn.png"
      href="https://sbgn.github.io/"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="Vega"
      src="assets/images/about/partners/vega.svg"
      href="https://vega.github.io/vega/"
    >
    </biosimulations-home-logo>
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Algorithms &amp; simulators"
    subheading="BioSimulations supports numerous simulation algorithms and tools"
    subheadingSize="small"
    icon="simulator"
  >
    <p>
      <biosimulations-home-logo
        title="AMICI"
        src="assets/images/about/partners/amici.svg"
        href="http://amici-dev.github.io/AMICI/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="BioNetGen"
        src="assets/images/about/partners/bionetgen.png"
        href="https://bionetgen.org"
      >
      </biosimulations-home-logo>

      <!--
      <biosimulations-home-logo
        title="Cayenne"
        src="assets/images/about/partners/cayenne.png"
        href="https://cayenne.readthedocs.io/"
      >
      </biosimulations-home-logo>
      -->

      <biosimulations-home-logo
        title="COPASI"
        src="assets/images/about/partners/copasi.svg"
        href="http://copasi.org/"
      >
      </biosimulations-home-logo>      

      <biosimulations-home-logo
        title="tellurium/libRoadRunner"
        src="assets/images/about/partners/libroadrunner.svg"
        href="http://tellurium.analogmachine.org/"
      >
      </biosimulations-home-logo>
    </p>
    <p>
      <biosimulations-home-logo
        title="GillesPy2"
        src="assets/images/about/partners/gillespy2.svg"
        href="https://gillespy2.github.io/GillesPy2/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="COBRApy"
        src="assets/images/about/partners/cobrapy.svg"
        href="https://opencobra.github.io/cobrapy/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="MASSpy"
        src="assets/images/about/partners/masspy.svg"
        href="https://masspy.readthedocs.io/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="VCell"
        src="assets/images/about/partners/vcell.svg"
        href="https://vcell.org/"
      >
      </biosimulations-home-logo>
    </p>
    <p>
      <biosimulations-home-logo
        title="GINsim"
        src="assets/images/about/partners/ginsim.svg"
        href="http://ginsim.org"
      >
      </biosimulations-home-logo>

      <!--
      <biosimulations-home-logo
        title="iBioSim"
        src="assets/images/about/partners/ibiosim.svg"
        href="https://github.com/MyersResearchGroup/iBioSim"
      >
      </biosimulations-home-logo>
      -->

      <biosimulations-home-logo
        title="NetPyNe"
        src="assets/images/about/partners/netpyne.png"
        href="http://www.netpyne.org/"
      >
      </biosimulations-home-logo>
    </p>

    <p>
      <biosimulations-home-logo
        title="PySCeS"
        src="assets/images/about/partners/pysces.svg"
        href="http://pysces.sourceforge.net/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="RBApy"
        src="assets/images/about/partners/rbapy.svg"
        href="https://sysbioinra.github.io/RBApy/"
      >
      </biosimulations-home-logo>
    </p>
  </biosimulations-home-subsection>
</biosimulations-home-section>

<biosimulations-home-section [columns]="1">
  <ng-container id="heading"
    >About <span class="highlight-primary">BioSimulations</span></ng-container
  >
  <ng-container id="subsection">
    <div class="about-content">
      <div class="text">
        <p>
          BioSimulations was developed by the Center for Reproducible Biomedical
          Modeling
          <a href="https://reproduciblebiomodels.org/" target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >, the Karr Lab at the Icahn School of Medicine at Mount Sinai
          <a href="https://www.karrlab.org" target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >, and the Center for Cell Analysis &amp; Modeling at the University
          of Connecticut Health Center at the University of Connecticut Health
          Center
          <a
            href="https://health.uconn.edu/cell-analysis-modeling/"
            target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon
          ></a>
          with support from the National Institutes of Health and the National
          Science Foundation.
        </p>
        <p>
          BioSimulations is implemented using several open-source tools and
          cloud platforms. The models, simulations, and visualizations are
          available under the licenses specified for each resource. The code is
          openly available under the MIT license
          <a
            href="https://github.com/biosimulations/Biosimulations/blob/dev/LICENSE"
            target="_blank"
            ><biosimulations-icon icon="link"></biosimulations-icon></a
          >.
        </p>
        <p>
          Please see the <a [routerLink]="['/help', 'about']">About page</a> for
          more information.
        </p>
      </div>
      <div class="logos">
        <p>
          <biosimulations-home-logo
            title="Center for Reproducible Biomedical Modeling"
            src="assets/images/about/team/crbm.svg"
            href="https://reproduciblebiomodels.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Karr Lab"
            src="assets/images/about/team/karr-lab.svg"
            href="https://www.karrlab.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Icahn School of Medicine at Mount Sinai"
            src="assets/images/about/team/sinai.svg"
            href="https://icahn.mssm.edu/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="UConn Health"
            src="assets/images/about/team/uconn.svg"
            href="https://health.uconn.edu/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="University of Washington"
            src="assets/images/about/team/uw.svg"
            href="https://www.washington.edu/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NIBIB"
            src="assets/images/about/funding/nibib.svg"
            href="http://nibib.nih.gov/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NIGMS"
            src="assets/images/about/funding/nigms.svg"
            href="http://nigms.nih.gov/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NIH"
            src="assets/images/about/funding/nih.svg"
            href="http://nih.gov/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NSF"
            src="assets/images/about/funding/nsf.svg"
            href="http://nsf.gov/"
          >
          </biosimulations-home-logo>
        </p>        
        <p>
          <biosimulations-home-logo
            title="BiGG"
            src="assets/images/about/partners/bigg.png"
            href="http://bigg.ucsd.edu/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="BioModels"
            src="assets/images/about/partners/biomodels.svg"
            href="http://biomodels.org/"
          >
          </biosimulations-home-logo>

          <!--
          <biosimulations-home-logo
            title="Cell Collective"
            src="assets/images/about/partners/cell-collective.png"
            href="http://cellcollective.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Fluxer"
            src="assets/images/about/partners/fluxer.svg"
            href="https://fluxer.umbc.edu/"
          >
          </biosimulations-home-logo>
          -->

          <biosimulations-home-logo
            title="JWS Online"
            src="assets/images/about/partners/jws.svg"
            href="https://jjj.biochem.sun.ac.za/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="ModelDB"
            src="assets/images/about/partners/modeldb.svg"
            href="http://modeldb.science/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="RBA"
            src="assets/images/about/partners/rba.png"
            href="https://rba.inrae.fr/"
          >
          </biosimulations-home-logo>

          <!--
          <biosimulations-home-logo
            title="StochSS"
            src="assets/images/about/partners/stochss.svg"
            href="https://stochss.org/"
          >
          </biosimulations-home-logo>
          -->
        </p>
        <p>
          <biosimulations-home-logo
            title="Angular"
            src="assets/images/about/tech/angular.svg"
            href="https://angular.io/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Auth0"
            src="assets/images/about/tech/auth0.svg"
            href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Docker"
            src="assets/images/about/tech/docker.svg"
            href="http://www.docker.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Favicon Generator"
            src="assets/images/about/tech/real-favicon-generator.png"
            href="http://realfavicongenerator.net/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Font Awesome"
            src="assets/images/about/tech/font-awesome.svg"
            href="https://fontawesome.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="GitHub"
            src="assets/images/about/tech/github.svg"
            href="https://github.com/open-source"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Gravatar"
            src="assets/images/about/tech/gravatar.svg"
            href="https://gravatar.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Kubernetes"
            src="assets/images/about/tech/kubernetes.svg"
            href="https://kubernetes.io/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Material Design"
            src="assets/images/about/tech/material.svg"
            href="https://material.io/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Material Theme Generator"
            src="assets/images/about/tech/material-theme-generator.svg"
            href="https://materialtheme.arcsine.dev/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="MongoDB"
            src="assets/images/about/tech/mongodb.svg"
            href="https://www.mongodb.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NestJS"
            src="assets/images/about/tech/nestjs.svg"
            href="https://nestjs.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Netlify"
            src="assets/images/about/tech/netlify.svg"
            href="https://www.netlify.com"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="OpenAPI"
            src="assets/images/about/tech/openapi.svg"
            href="https://www.openapis.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="SPDX"
            src="assets/images/about/tech/spdx.svg"
            href="http://spdx.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Swagger"
            src="assets/images/about/tech/swagger.svg"
            href="https://swagger.io/"
          >
          </biosimulations-home-logo>
        </p>
      </div>
    </div>
  </ng-container>
</biosimulations-home-section>
