@use '~@angular/material' as mat;
@import 'biosimulations-colors';
@import 'biosimulations-typography';

$card-padding: 0.25rem;
$title-font-size: mat.font-size($fontConfig, 'body-2');
$title-line-height: 1.2;
$title-box-height: calc(
  2 * #{$title-line-height} * #{$title-font-size} + 2 * #{$card-padding}
);
$border-radius: 4px;

.container {
  cursor: pointer;
  padding: 0;

  transition: 0.5s linear;

  position: relative;

  &:hover {
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, 30%));
    transform: scale(1.02);
  }

  &:active {
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, 40%));
  }

  aspect-ratio: 4 / 3;
}

.title-container {
  font-size: $title-font-size;
  line-height: $title-line-height;
  background-color: mat.get-color-from-palette($theme-primary);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $title-box-height;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.title {
  color: $light-text;
  max-height: calc(#{$title-line-height} * 2.6rem);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.thumbnail {
  object-fit: contain;
  width: calc(100% - #{$card-padding} * 2);
  padding: 0.25rem;
  height: calc(100% - #{$title-box-height} - 2 * 0.25rem);
}

.details-overlay {
  position: absolute;
  top: $title-box-height;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: #000000bb;
  transition: 0.5s linear;
  padding: 0.25rem;
  color: white;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  align-items: center;
  justify-content: center;

  .details-overlay-inner {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .icon-list {
    max-width: 100%;
  }

  tr:not(:first-child) td {
    padding-top: 0.4rem;
    line-height: 1.2;
  }

  td:first-child {
    padding-right: 0.25rem;
    vertical-align: top;
  }

  td:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  td:last-child.multiline {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.container:hover {
  .details-overlay {
    display: flex;
  }
}

.active-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: #00000033;
  border-radius: $border-radius;
}

.container:active {
  .active-overlay {
    display: block;
  }
}
