<mat-card class="container" routerLink="{{ route }}" *ngIf="project.metadata as metadata">
  <mat-card-title class="title-container">
    <div class="title">{{ metadata.title }}</div>
  </mat-card-title>

  <img class="thumbnail" [lazyLoad]="metadata.thumbnail" defaultImage="./assets/images/loading.svg" />

  <div class="details-overlay">
    <div class="details-overlay-inner">
      <table class="icon-list">
        <ng-container *ngFor="let encode of metadata.encodes">
          <tr *ngIf="encode.label">
            <td>
              <biosimulations-icon icon="cell"></biosimulations-icon>
            </td>
            <td>{{ encode.label }}</td>
          </tr>
        </ng-container>

        <ng-container *ngFor="let taxon of metadata.taxa">
          <tr *ngIf="taxon.label">
            <td>
              <biosimulations-icon icon="taxon"></biosimulations-icon>
            </td>
            <td>{{ taxon.label }}</td>
          </tr>
        </ng-container>

        <ng-container *ngFor="let citation of metadata.citations">
          <tr *ngIf="citation.label">
            <td>
              <biosimulations-icon icon="file"></biosimulations-icon>
            </td>
            <td class="multiline">{{ citation.label }}</td>
          </tr>
        </ng-container>

        <tr *ngIf="metadata.created">
          <td>
            <biosimulations-icon icon="date"></biosimulations-icon>
          </td>
          <td>{{ metadata.created.formattedValue }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="active-overlay"></div>
</mat-card>
