<mat-tab-group
  class="page-content full-width"
  *ngIf="visualization"
  disableRipple="true"
  >
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Overview icon" [icon]="['fas', 'list']"></fa-icon> Overview
    </ng-template>
    <ng-template matTabContent>
      <div class="tab overview" [class.overview-image]="visualization.image">
        <div class="image" *ngIf="visualization.image">
          <img [src]="visualization.image.url" />
        </div>
        <div class="section">
          <h1>{{ visualization.name }}</h1>
          <div class="section-content">
            <div class="sub-section">
              <app-authors
                class="authors"
                [authors]="visualization.authors"
                [owner]="visualization.owner">
              </app-authors>
            </div>

            <div class="sub-section light">{{ visualization.description }}</div>

            <div class="sub-section">
              <ul class="icon-text inline no-wrap">
                <li>
                  <fa-icon
                    aria-hidden="true"
                    aria-label="Tags icon"
                    [icon]="['fas', 'tags']"
                  ></fa-icon>{{
                  visualization.tags.join(', ') | ucfirst
                }}</li>
              </ul>

              <ul class="icon-text inline no-wrap">
                <li>
                  <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
                  <app-hyperlink [href]="'https://vega.github.io/vega/'">Vega</app-hyperlink>
                </li>
              </ul>

              <ul class="icon-text inline no-wrap">
                <li>
                  <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
                  <app-hyperlink [href]="getLicenseInfo(visualization.license)['url']">{{
                    getLicenseInfo(visualization.license)['name']
                  }}</app-hyperlink>
                </li>
              </ul>
            </div>

            <div class="sub-section" *ngIf="visualization.refs.length > 0">
              <ul class="icon-text">
                <li *ngFor="let ref of visualization.refs">
                  <fa-icon aria-hidden="true" aria-label="File icon" [icon]="['far', 'file-alt']">
                  </fa-icon>
                  <app-hyperlink [href]="ref.getUrl()">{{ ref.getAuthorsStr() }}{{ '. ' }}{{ ref.title }}{{ '. ' }}<i>{{ ref.journal }}</i>{{ ' ' }}<b>{{ ref.volume }}</b>{{ ', ' + ref.pages + ' (' + ref.year + ').' }}</app-hyperlink>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Overview icon" [icon]="['fas', 'chart-area']"></fa-icon> Visualization
    </ng-template>
    <ng-template matTabContent>
      <div class="tab full-height visualization">
        <app-vega-viewer
          *ngIf="visualization"
          [spec]="visualization.schema.spec"
          [options]="vegaOptions"
          class="vega block"
        ></app-vega-viewer>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Projects icon" [icon]="['fas', 'folder-open']"></fa-icon> Projects ({{ visualization.projects.length }})
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <div class="section-title float-container">
            <h1>Projects</h1>
            <a
              class="routes"
              [routerLink]="['/projects', 'new']"
              >
              <fa-icon
                aria-hidden="true"
                aria-label="New project icon"
                [icon]="['fas', 'plus']"
              ></fa-icon>
                New
            </a>
          </div>
          <div class="section-content">
            <app-project-cards
              [projects]="visualization.projects"
              [cols]="4"
            ></app-project-cards>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="History icon" [icon]="['fas', 'history']"></fa-icon> History
    </ng-template>
    <ng-template matTabContent>
      <div class="tab history">
        <div class="section">
          <h1>Provenance</h1>
          <div class="section-content">
            <app-tree
              [nodes]="historyTreeNodes"
              [highlightedNodeId]="id"
            ></app-tree>
          </div>
        </div>

        <div class="section">
          <h1>Run status</h1>
          <table cellpadding="0" cellspacing="0" class="icon-key-vals section-content">
            <tbody>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                </th>
                <th>Created</th>
                <td>{{ visualization.created | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                </th>
                <th>Updated</th>
                <td>{{ visualization.updated | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'unlock-alt']"></fa-icon> Access
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <table cellpadding="0" cellspacing="0" class="icon-key-vals section-content">
            <tbody>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'unlock-alt']"></fa-icon>
                </th>
                <th>Access</th>
                <td>{{ visualization.access | ucfirst }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Token icon" [icon]="['fas', 'key']"></fa-icon>
                </th>
                <th>Access token</th>
                <td>{{ visualization.accessToken }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
                </th>
                <th>License</th>
                <td>
                  <app-hyperlink [href]="getLicenseInfo(visualization.license)['url']">{{
                    getLicenseInfo(visualization.license)['name']
                  }}</app-hyperlink>
                </td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'user']"></fa-icon>
                </th>
                <th>Owner</th>
                <td>
                  <a [routerLink]="['/user', visualization.owner.id]"
                  >{{ visualization.owner.getFullName() }}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
