@import 'src/theme.scss'

.overview-image
    display: grid
    grid-template-columns: 15rem 1fr
    grid-gap: 1rem

    .image
        border: 1px solid #ccc
        overflow: hidden
        height: min-content
        line-height: 0
        img
            width: 100%
            transition: all 0.5s
        img:hover
            transform: scale(1.08)

.section-title
    h1
        float: left

    .routes
        float: right
        color: mat-color($theme-primary)

    margin-bottom: 0.25rem
