<biosimulations-home-teaser
  heading="Containerized biosimulation tools with consistent interfaces"
  banner="assets/images/biosimulators-logo/logo-white.svg"
>
  BioSimulators is a free collection of containerized biosimulation tools that provide consistent interfaces and a guide to choosing a simulator. In particular, BioSimulators makes it easier to reuse published simulations. BioSimulators supports a broad range of frameworks (e.g., logical, kinetic), simulation algorithms (e.g., FBA, SSA), and formats (e.g., SBML, SED-ML). BioSimulators is powered by a standard interface, a container structure, and format for describing the capabilities of a simulator and a database of the capabilities of simulators.
</biosimulations-home-teaser>

<biosimulations-home-section
  [columns]="3"
>
  <ng-container id="heading">
    Helping investigators <span class="highlight-primary">execute biomodeling studies</span>
  </ng-container>

  <biosimulations-home-subsection
    id="subsection"
    heading="Simulate studies"
    subheading="Execute many formalisms &amp; algorithms"
    icon="simulator"
  >
    BioSimulators provides a consistent set of simulation tools for executing simulations of a broad range of modeling frameworks, simulation algorithms, and model formats.
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Reuse published studies"
    subheading="Evaluate new hypotheses"
    icon="reuse"
  >
    By making it easier to execute simulations, BioSimulators makes it easier for investigators to reuse published simulations and for peer reviewers to evaluate simulations.
  </biosimulations-home-subsection>

   <biosimulations-home-subsection
    id="subsection"
    heading="Compare simulation tools"
    subheading="Identify strengths and weaknesses"
    icon="compare"
  >
    BioSimulators makes it easier for developers to compare simulation tools. This can be used to identify the strengths of different approaches, find bugs, and drive standardization.
  </biosimulations-home-subsection>
</biosimulations-home-section>

<biosimulations-home-section
  [columns]="4"
>
  <ng-container id="heading">Consistent access to <span class="highlight-primary">multiple modeling frameworks, algorithms, formats &amp; tools</span></ng-container>

  <biosimulations-home-subsection
    id="subsection"
    heading="Model formats"
    subheading="BioSimulators supports several model formats"
    subheadingSize="small"
    icon="model"
  >
    <biosimulations-home-logo
      title="BNGL"
      src="assets/images/about/partners/bionetgen.png"
      href="https://www.bionetgen.org"
    >
    </biosimulations-home-logo>

    <biosimulations-home-logo
      title="SBML"
      src="assets/images/about/partners/sbml.svg"
      href="http://sbml.org"
    >
    </biosimulations-home-logo>
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Simulation formats"
    subheading="BioSimulators supports the SED-ML simulation format"
    subheadingSize="small"
    icon="simulation"
  >
    <biosimulations-home-logo
      title="SED-ML"
      src="assets/images/about/partners/sed-ml.svg"
      href="https://sed-ml.org/"
    >
    </biosimulations-home-logo>
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Project formats"
    subheading="BioSimulators supports the COMBINE/OMEX format"
    subheadingSize="small"
    icon="project"
  >
    <biosimulations-home-logo
      title="COMBINE/OMEX"
      src="assets/images/about/partners/omex.svg"
      href="https://combinearchive.org/"
    >
    </biosimulations-home-logo>
  </biosimulations-home-subsection>

  <biosimulations-home-subsection
    id="subsection"
    heading="Algorithms &amp; simulators"
    subheading="BioSimulators supports many simulation algorithms and tools"
    subheadingSize="small"
    icon="simulator"
  >
    <p>
      <!--
      <biosimulations-home-logo
        title="AMICI"
        src="assets/images/about/partners/amici.svg"
        href="http://amici-dev.github.io/AMICI/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="Cayenne"
        src="assets/images/about/partners/cayenne.png"
        href="https://cayenne.readthedocs.io/"
      >
      </biosimulations-home-logo>
      -->

      <biosimulations-home-logo
        title="COBRApy"
        src="assets/images/about/partners/cobrapy.svg"
        href="https://opencobra.github.io/cobrapy/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="COPASI"
        src="assets/images/about/partners/copasi.svg"
        href="http://copasi.org/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="GillesPy2"
        src="assets/images/about/partners/gillespy2.svg"
        href="https://gillespy2.github.io/GillesPy2/"
      >
      </biosimulations-home-logo>
    </p>
    <p>
      <biosimulations-home-logo
        title="iBioSim"
        src="assets/images/about/partners/ibiosim.svg"
        href="https://github.com/MyersResearchGroup/iBioSim"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="NFsim"
        src="assets/images/about/partners/nfsim.svg"
        href="http://michaelsneddon.net/nfsim/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="PySCeS"
        src="assets/images/about/partners/pysces.svg"
        href="http://pysces.sourceforge.net/"
      >
      </biosimulations-home-logo>
    </p>
    <p>
      <biosimulations-home-logo
        title="tellurium/libRoadRunner"
        src="assets/images/about/partners/libroadrunner.svg"
        href="http://tellurium.analogmachine.org/"
      >
      </biosimulations-home-logo>

      <biosimulations-home-logo
        title="VCell"
        src="assets/images/about/partners/vcell.svg"
        href="https://vcell.org/"
      >
      </biosimulations-home-logo>
    </p>
  </biosimulations-home-subsection>
</biosimulations-home-section>

<biosimulations-home-section
  [columns]="1"
>
  <ng-container id="heading">About <span class="highlight-primary">BioSimulators</span></ng-container>
  <ng-container id="subsection">
    <div class="about-content">
      <div class="text">
        <p>
          BioSimulators was developed by the Center for Reproducible Biomedical Modeling <a href="https://reproduciblebiomodels.org/" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a>, the Karr Lab at the Icahn School of Medicine at Mount Sinai <a href="https://www.karrlab.org" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a>, and the Moraru Lab at the University of Connecticut Health Center <a href="https://facultydirectory.uchc.edu/profile?profileId=Moraru-Ion" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a> with support from the National Institutes of Health and the National Science Foundation.
        </p>
        <p>
          BioSimulators is implemented using several open-source tools and cloud platforms. The containerized simulators are available under the licenses specified for each container. The BioSimulators code is openly available under the MIT license <a href="https://github.com/biosimulations/Biosimulations/blob/master/LICENSE" target="_blank"><biosimulations-icon icon="link"></biosimulations-icon></a>.
        </p>
        <p>
          Please see the About page <a [routerLink]="['/help', 'about']"><biosimulations-icon icon="internalLink"></biosimulations-icon></a> for more information.
        </p>
      </div>
      <div class="logos">
        <p>
          <biosimulations-home-logo
            title="Center for Reproducible Biomedical Modeling"
            src="assets/images/about/team/crbm.svg"
            href="https://reproduciblebiomodels.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Karr Lab"
            src="assets/images/about/team/karr-lab.svg"
            href="https://www.karrlab.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Icahn School of Medicine at Mount Sinai"
            src="assets/images/about/team/sinai.svg"
            href="https://icahn.mssm.edu/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="University of Connecticut Health Center"
            src="assets/images/about/team/uconn.svg"
            href="https://health.uconn.edu/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="University of Washington"
            src="assets/images/about/team/uw.svg"
            href="https://www.washington.edu/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NIBIB"
            src="assets/images/about/funding/nibib.svg"
            href="http://nibib.nih.gov/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NIGMS"
            src="assets/images/about/funding/nigms.svg"
            href="http://nigms.nih.gov/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NIH"
            src="assets/images/about/funding/nih.svg"
            href="http://nih.gov/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NSF"
            src="assets/images/about/funding/nsf.svg"
            href="http://nsf.gov/"
          >
          </biosimulations-home-logo>
        </p>
        <p>
          <biosimulations-home-logo
            title="BNGL"
            src="assets/images/about/partners/bionetgen.png"
            href="https://www.bionetgen.org"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="SBML"
            src="assets/images/about/partners/sbml.svg"
            href="http://sbml.org"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="SED-ML"
            src="assets/images/about/partners/sed-ml.svg"
            href="https://sed-ml.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="COMBINE/OMEX"
            src="assets/images/about/partners/omex.svg"
            href="https://combinearchive.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="BioContainers"
            src="assets/images/about/partners/biocontainers.png"
            href="https://biocontainers.pro/"
          >
          </biosimulations-home-logo>
        </p>
        <p>
          <!--
          <biosimulations-home-logo
            title="AMICI"
            src="assets/images/about/partners/amici.svg"
            href="http://amici-dev.github.io/AMICI/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Cayenne"
            src="assets/images/about/partners/cayenne.png"
            href="https://cayenne.readthedocs.io/"
          >
          </biosimulations-home-logo>
          -->

          <biosimulations-home-logo
            title="COBRApy"
            src="assets/images/about/partners/cobrapy.svg"
            href="https://opencobra.github.io/cobrapy/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="COPASI"
            src="assets/images/about/partners/copasi.svg"
            href="http://copasi.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="GillesPy2"
            src="assets/images/about/partners/gillespy2.svg"
            href="https://gillespy2.github.io/GillesPy2/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="iBioSim"
            src="assets/images/about/partners/ibiosim.svg"
            href="https://github.com/MyersResearchGroup/iBioSim"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NFsim"
            src="assets/images/about/partners/nfsim.svg"
            href="http://michaelsneddon.net/nfsim/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="PySCeS"
            src="assets/images/about/partners/pysces.svg"
            href="http://pysces.sourceforge.net/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="tellurium/libRoadRunner"
            src="assets/images/about/partners/libroadrunner.svg"
            href="http://tellurium.analogmachine.org/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="VCell"
            src="assets/images/about/partners/vcell.svg"
            href="https://vcell.org/"
          >
          </biosimulations-home-logo>
        </p>
        <p>
          <biosimulations-home-logo
            title="Angular"
            src="assets/images/about/tech/angular.svg"
            href="https://angular.io/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Bruit.io"
            src="assets/images/about/tech/bruit-io.svg"
            href="https://www.bruit.io/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Docker"
            src="assets/images/about/tech/docker.svg"
            href="http://www.docker.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Favicon Generator"
            src="assets/images/about/tech/real-favicon-generator.png"
            href="http://realfavicongenerator.net/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Font Awesome"
            src="assets/images/about/tech/font-awesome.svg"
            href="https://fontawesome.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="GitHub"
            src="assets/images/about/tech/github.svg"
            href="https://github.com/open-source"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Kubernetes"
            src="assets/images/about/tech/kubernetes.svg"
            href="https://kubernetes.io/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Material Design"
            src="assets/images/about/tech/material.svg"
            href="https://material.io/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Material Theme Generator"
            src="assets/images/about/tech/material-theme-generator.svg"
            href="https://materialtheme.arcsine.dev/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="MongoDB"
            src="assets/images/about/tech/mongodb.svg"
            href="https://www.mongodb.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="NestJS"
            src="assets/images/about/tech/nestjs.svg"
            href="https://nestjs.com/"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="Netlify"
            src="assets/images/about/tech/netlify.svg"
            href="https://www.netlify.com"
          >
          </biosimulations-home-logo>

          <biosimulations-home-logo
            title="OpenAPI"
            src="assets/images/about/tech/openapi.svg"
            href="https://www.openapis.org/"
          >
          </biosimulations-home-logo>
        </p>
      </div>
    </div>
  </ng-container>
</biosimulations-home-section>
