<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button mat-button color="primary">Home</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button mat-button color="primary">About</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button mat-button color="primary">Visualize</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button mat-button color="primary">Files</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button mat-button color="primary">Simulate</button>
        </div>
    </div>
</div>