<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button mat-button color="primary" [routerLink]="['']">Home</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button mat-button color="primary" [routerLink]="['/about']">About</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button mat-button color="primary" [routerLink]="['/visualize']">Visualize</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button mat-button color="primary" [routerLink]="['/files']">Files</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button mat-button color="primary" [routerLink]="['/simulate']">Simulate</button>
        </div>
    </div>
</div>