<mat-tab-group
  class="page-content full-width"
  *ngIf="simulation"
  disableRipple="true"
  >
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Overview icon" [icon]="['fas', 'list']"></fa-icon> Overview
    </ng-template>
    <ng-template matTabContent>
      <div class="tab overview">
        <h1>{{ simulation.name }}</h1>
        <div>
          <div class="tab-content-section">
            <app-authors
              class="authors"
              [authors]="simulation.authors"
              [owner]="simulation.owner">
            </app-authors>
          </div>

          <div class="tab-content-section description">{{ simulation.description }}</div>

          <div class="tab-content-section" *ngIf="simulation.model as model">
            <fa-icon
                aria-hidden="true"
                aria-label="Model icon"
                [icon]="['fas', 'project-diagram']"
            ></fa-icon>
            <a [routerLink]="model.getRoute()">{{ model.id }}: {{ model.name }}</a>
            (<app-authors
              class="authors"
              [authors]="model.authors"
              [owner]="model.owner">
            </app-authors>)
          </div>

          <div class="tab-content-section tags">
            <div>
              <span>
                <fa-icon
                  aria-hidden="true"
                  aria-label="Taxon icon"
                  [icon]="['fas', 'dna']"
                ></fa-icon>
                <a [href]="simulation.model.taxon.getUrl()" target="_blank">{{
                  simulation.model.taxon.getShortName()
                }}</a>
              </span>

              <span>
                <fa-icon
                  aria-hidden="true"
                  aria-label="Tags icon"
                  [icon]="['fas', 'tags']"
                ></fa-icon>{{
                simulation.tags.join(', ') | ucfirst
              }}</span>
            </div>

            <div>
              <span>
                <fa-icon aria-hidden="true" aria-label="Changes icon" [icon]="['fas', 'pencil-alt']"></fa-icon>{{
                simulation.modelParameterChanges.length + ' parameters'
              }}</span>

              <span>
                <fa-icon aria-hidden="true" aria-label="Duration icon" [icon]="['fas', 'stopwatch']"></fa-icon>{{
                simulation.length | formatTimeForHumans
              }}</span>
            </div>

            <div>
              <span>
                <fa-icon aria-hidden="true" aria-label="Model framework icon" [icon]="['fas', 'calculator']"></fa-icon>
                <a [href]="simulation.model.framework.getUrl()" target="_blank">{{ simulation.model.framework.name | ucfirst }}</a>
              </span>

              <span>
                <fa-icon aria-hidden="true" aria-label="Simulation algorithm icon" [icon]="['fas', 'calculator']"></fa-icon>
                <a [href]="simulation.algorithm.getUrl()" target="_blank">{{ simulation.algorithm.name | ucfirst }}</a>
              </span>

              <span>
                <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
                <a [href]="simulation.format.url" target="_blank">{{
                  simulation.format.name
                }}</a>
              </span>

              <span>
                <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
                <a [href]="simulation.model.format.url" target="_blank">{{
                  simulation.model.format.name
                }}</a>
              </span>
            </div>

            <div>
              <span *ngFor="let identifier of simulation.model.identifiers">
                <fa-icon aria-hidden="true" aria-label="Identifier icon" [icon]="['fas', 'star']"></fa-icon>
                <a [href]="identifier.getUrl()" target="_blank">{{
                  identifier.namespaceName + ': ' + identifier.id
                }}</a>
              </span>

              <span>
                <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
                <a [href]="simulation.license.getSwoUrl()" target="_blank">{{
                  simulation.license.name
                }}</a>
              </span>
            </div>
          </div>

          <div class="tab-content-section" *ngIf="simulation.refs.length > 0">
            <div *ngFor="let ref of simulation.refs">
              <fa-icon aria-hidden="true" aria-label="File icon" [icon]="['far', 'file-alt']">
              </fa-icon>
              <a [href]="ref.getUrl()" target="_blank">{{ ref.authors.join('; ') }}{{ '. ' }}<i>{{ ref.journal }}</i>{{ ' ' }}<b>{{ ref.volume }}</b>{{ ', ' + ref.pages + ' (' + ref.year + ').' }}</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Experiment icon" [icon]="['fas', 'flask']"></fa-icon> Experiment
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <h1>Model parameter changes</h1>
        <table cellpadding="0" cellspacing="0" class="heading">
          <tbody>
            <tr class="section-heading">
              <th>Id</th>
              <th>Name</th>
              <th>Value</th>
              <th>Default</th>
              <th>Units</th>
            </tr>
          </tbody>
          <tbody class="section-body">
            <tr *ngFor="let param of simulation.modelParameterChanges">
              <td>{{ param.id }}</td>
              <td>{{ param.name }}</td>
              <td>{{ param.value }}</td>
              <td>{{ param.defaultValue }}</td>
              <td>{{ param.units }}</td>
            </tr>
          </tbody>
        </table>

        <h1>Timecourse</h1>
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Length icon" [icon]="['far', 'clock']"></fa-icon>
                Start time:
              </th>
              <td>{{ simulation.startTime | formatTimeForHumans }}</td>
            </tr>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Length icon" [icon]="['far', 'clock']"></fa-icon>
                End time:
              </th>
              <td>{{ simulation.endTime | formatTimeForHumans }}</td>
            </tr>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Length icon" [icon]="['fas', 'stopwatch']"></fa-icon>
                Length:
              </th>
              <td>{{ simulation.length | formatTimeForHumans }}</td>
            </tr>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Simulator icon" [icon]="['fas', 'circle']"></fa-icon>
                Timepoints:
              </th>
              <td>{{ simulation.numTimePoints }}</td>
            </tr>
          </tbody>
        </table>

        <h1>Simulation algorithm</h1>
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Modeling framework icon" [icon]="['fas', 'calculator']"></fa-icon>
                Framework:
              </th>
              <td>
                <a [href]="simulation.model.framework.getUrl()" target="_blank">{{
                  simulation.model.framework.name
                }}</a>
              </td>
            </tr>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Simulation algorithm icon" [icon]="['fas', 'calculator']"></fa-icon>
                Algorithm:
              </th>
              <td>
                <a [href]="simulation.algorithm.getUrl()" target="_blank">{{
                  simulation.algorithm.name
                }}</a>
              </td>
            </tr>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Simulator icon" [icon]="['fas', 'cog']"></fa-icon>
                Simulator:
              </th>
              <td>
                <a [href]="simulation.simulator.getDockerHubUrl()" target="_blank"
                >{{ simulation.simulator.getFullName() }}</a>
              </td>
            </tr>
          </tbody>
        </table>

        <h1>Simulation algorithm parameters</h1>
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr *ngFor="let param of simulation.algorithmParameters">
              <th>
                <fa-icon aria-hidden="true" aria-label="Algorithm parameter icon" [icon]="['fas', 'circle']"></fa-icon>
                <a [href]="param.getUrl()" target="_blank" title="{{ param.name }}">{{ param.id }}</a>:
              </th>
              <td [innerHTML]="param.value | scientificNotation"></td>
            </tr>
          </tbody>
        </table>

        <h1>Format</h1>
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
                Simulation:
              </th>
              <td>
                <a [href]="simulation.format.url" target="_blank">{{
                  simulation.format.getFullName()
                }}</a>
              </td>
            </tr>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
                Model:
              </th>
              <td>
                <a [href]="simulation.model.format.url" target="_blank">{{
                  simulation.model.format.getFullName()
                }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <div class="tab-button" (click)="edit()">
        <fa-icon aria-hidden="true" aria-label="Fork icon" [icon]="['fas', 'code-branch']"></fa-icon> Fork
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <div class="tab-button" (click)="visualize()">
        <fa-icon aria-hidden="true" aria-label="Visualize icon" [icon]="['fas', 'chart-area']"></fa-icon> Visualize
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <div class="tab-button" (click)="download()">
        <fa-icon aria-hidden="true" aria-label="Download icon" [icon]="['fas', 'download']"></fa-icon> Download
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="History icon" [icon]="['fas', 'history']"></fa-icon> History
    </ng-template>
    <ng-template matTabContent>
      <div class="tab history">
        <h1>Provenance</h1>
        <app-tree
          [nodes]="simulationHistoryTreeNodes"
          [highlightedNodeId]="id"
        ></app-tree>

        <h1>Run status</h1>
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Status icon" [icon]="['fas', 'tag']"></fa-icon>
                Status:
              </th>
              <td>{{ simulation.status | ucfirst }}</td>
            </tr>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                Submitted:
              </th>
              <td>{{ simulation.date | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
            </tr>
            <tr *ngIf="simulation.startDate">
              <th>
                <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                Started:
              </th>
              <td>{{ simulation.startDate | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
            </tr>
            <tr *ngIf="simulation.endDate">
              <th>
                <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                Finished:
              </th>
              <td>{{ simulation.endDate | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
            </tr>
            <tr *ngIf="simulation.wallTime">
              <th>
                <fa-icon aria-hidden="true" aria-label="Time icon" [icon]="['fas', 'stopwatch']"></fa-icon>
                Duration:
              </th>
              <td>{{ simulation.wallTime | formatTimeForHumans }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'unlock-alt']"></fa-icon> Access
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'unlock-alt']"></fa-icon>
                Access:
              </th>
              <td>{{ simulation.access | ucfirst }}</td>
            </tr>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Token icon" [icon]="['fas', 'key']"></fa-icon>
                Access token:
              </th>
              <td>{{ simulation.accessToken }}</td>
            </tr>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
                License:
              </th>
              <td>
                <a [href]="simulation.license.getSwoUrl()" target="_blank">{{
                  simulation.license.name
                }}</a>
              </td>
            </tr>
            <tr>
              <th>
                <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'user']"></fa-icon>
                Owner:
              </th>
              <td>
                <a [routerLink]="['/user', simulation.owner.id]"
                >{{ simulation.owner.getFullName() }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Logs icon" [icon]="['fas', 'terminal']"></fa-icon> Logs
    </ng-template>
    <ng-template matTabContent>
      <div class="tab logs">
        <div class="log">
          <div>
            <fa-icon aria-hidden="true" aria-label="Log icon" [icon]="['fas', 'terminal']"></fa-icon>
            <b>Standard output</b>
          </div>
          <div class="pre-container">
            <pre *ngIf="simulation.outLog; else noOutLog">{{ simulation.outLog }}</pre>
            <ng-template #noOutLog>
              <span class="none">None.</span>
            </ng-template>
          </div>
        </div>

        <div class="log">
          <div>
            <fa-icon aria-hidden="true" aria-label="Log icon" [icon]="['fas', 'terminal']"></fa-icon>
            <b>Standard error</b>
          </div>
          <div class="pre-container">
            <pre *ngIf="simulation.errLog; else noErrLog">{{ simulation.errLog }}</pre>
            <ng-template #noErrLog>
              <span class="none">None.</span>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
