<mat-tab-group
  class="page-content full-width"
  *ngIf="simulation"
  disableRipple="true"
  >
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Overview icon" [icon]="['fas', 'list']"></fa-icon> Overview
    </ng-template>
    <ng-template matTabContent>
      <div class="tab overview" [class.overview-image]="simulation.image">
        <div class="image" *ngIf="simulation.image">
          <img [src]="simulation.image['url']" />
        </div>
        <div class="section">
          <h1>{{ simulation.name }}</h1>
          <div class="section-content">
            <div class="sub-section">
              <app-authors
                class="authors"
                [authors]="simulation.authors"
                [owner]="simulation.owner">
              </app-authors>
            </div>

            <div class="sub-section light">{{ simulation.description }}</div>

            <div class="sub-section" *ngIf="simulation.model as model">
              <ul class="icon-text inline no-wrap">
                <li>
                  <fa-icon
                      aria-hidden="true"
                      aria-label="Model icon"
                      [icon]="['fas', 'project-diagram']"
                  ></fa-icon>
                  <a [routerLink]="model.getRoute()">{{ model.id }}: {{ model.name }}</a>
                  (<app-authors
                    class="authors"
                    [authors]="model.authors"
                    [owner]="model.owner">
                  </app-authors>)
                </li>
              </ul>
            </div>

            <div class="sub-section">
              <ul class="icon-text inline no-wrap">
                <li>
                  <fa-icon
                    aria-hidden="true"
                    aria-label="Taxon icon"
                    [icon]="['fas', 'dna']"
                  ></fa-icon>
                  <app-hyper-link [href]="simulation.model.taxon.getUrl()">{{
                    simulation.model.taxon.getShortName()
                  }}</app-hyper-link>
                </li>

                <li>
                  <fa-icon
                    aria-hidden="true"
                    aria-label="Tags icon"
                    [icon]="['fas', 'tags']"
                  ></fa-icon>{{
                  simulation.tags.join(', ') | ucfirst
                }}</li>
              </ul>

              <ul class="icon-text inline no-wrap">
                <li>
                  <fa-icon aria-hidden="true" aria-label="Changes icon" [icon]="['fas', 'pencil-alt']"></fa-icon>{{
                  simulation.modelParameterChanges.length + ' parameters'
                }}</li>

                <li>
                  <fa-icon aria-hidden="true" aria-label="Duration icon" [icon]="['fas', 'stopwatch']"></fa-icon>{{
                  simulation.length | formatTimeForHumans
                }}</li>
              </ul>

              <ul class="icon-text inline no-wrap">
                <li>
                  <fa-icon aria-hidden="true" aria-label="Model framework icon" [icon]="['fas', 'calculator']"></fa-icon>
                  <app-hyper-link [href]="simulation.model.framework.getUrl()">{{
                    simulation.model.framework.name | ucfirst
                  }}</app-hyper-link>
                </li>

                <li>
                  <fa-icon aria-hidden="true" aria-label="Simulation algorithm icon" [icon]="['fas', 'calculator']"></fa-icon>
                  <app-hyper-link [href]="simulation.algorithm.getUrl()">{{
                    simulation.algorithm.name | ucfirst
                  }}</app-hyper-link>
                </li>

                <li>
                  <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
                  <app-hyper-link [href]="simulation.format.url">{{
                    simulation.format.name
                  }}</app-hyper-link>
                </li>

                <li>
                  <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
                  <app-hyper-link [href]="simulation.model.format.url">{{
                    simulation.model.format.name
                  }}</app-hyper-link>
                </li>
              </ul>

              <ul class="icon-text inline no-wrap">
                <li *ngFor="let identifier of simulation.identifiers">
                  <fa-icon aria-hidden="true" aria-label="Identifier icon" [icon]="['fas', 'star']"></fa-icon>
                  <app-hyper-link [href]="identifier.getUrl()">{{
                    identifier.getNamespaceName() + ': ' + identifier.id
                  }}</app-hyper-link>
                </li>

                <li>
                  <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
                  <app-hyper-link [href]="getLicenseInfo(simulation.license)['url']">{{
                    getLicenseInfo(simulation.license)['name']
                  }}</app-hyper-link>
                </li>
              </ul>
            </div>

            <div class="sub-section" *ngIf="simulation.refs.length > 0">
              <ul class="icon-text">
                <li *ngFor="let ref of simulation.refs">
                  <fa-icon aria-hidden="true" aria-label="File icon" [icon]="['far', 'file-alt']">
                  </fa-icon>
                  <app-hyper-link [href]="ref.getUrl()">{{ ref.getAuthorsStr() }}{{ '. ' }}{{ ref.title }}{{ '. ' }}<i>{{ ref.journal }}</i>{{ ' ' }}<b>{{ ref.volume }}</b>{{ ', ' + ref.pages + ' (' + ref.year + ').' }}</app-hyper-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Experiment icon" [icon]="['fas', 'flask']"></fa-icon> Experiment
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <h1>Model parameter changes</h1>
          <table cellpadding="0" cellspacing="0" class="col-headings section-content">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Default</th>
                <th>Units</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let change of simulation.modelParameterChanges">
                <td>{{ change.parameter.id }}</td>
                <td>{{ change.parameter.name }}</td>
                <td>{{ change.value }}</td>
                <td>{{ change.parameter.value }}</td>
                <td>{{ change.parameter.units }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="section">
          <h1>Timecourse</h1>
          <table cellpadding="0" cellspacing="0" class="icon-key-vals section-content">
            <tbody>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Length icon" [icon]="['far', 'clock']"></fa-icon>
                </th>
                <th>Start time</th>
                <td>{{ simulation.startTime | formatTimeForHumans }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Length icon" [icon]="['far', 'clock']"></fa-icon>
                </th>
                <th>End time</th>
                <td>{{ simulation.endTime | formatTimeForHumans }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Length icon" [icon]="['fas', 'stopwatch']"></fa-icon>
                </th>
                <th>Length</th>
                <td>{{ simulation.length | formatTimeForHumans }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Simulator icon" [icon]="['fas', 'circle']"></fa-icon>
                </th>
                <th>Timepoints</th>
                <td>{{ simulation.numTimePoints }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="section">
          <h1>Simulation algorithm</h1>
          <table cellpadding="0" cellspacing="0" class="icon-key-vals section-content">
            <tbody>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Modeling framework icon" [icon]="['fas', 'calculator']"></fa-icon>
                </th>
                <th>Framework</th>
                <td>
                  <app-hyper-link [href]="simulation.model.framework.getUrl()">{{
                    simulation.model.framework.name | ucfirst
                  }}</app-hyper-link>
                </td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Simulation algorithm icon" [icon]="['fas', 'calculator']"></fa-icon>
                </th>
                <th>Algorithm</th>
                <td>
                  <app-hyper-link [href]="simulation.algorithm.getUrl()">{{
                    simulation.algorithm.name
                  }}</app-hyper-link>
                </td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Simulator icon" [icon]="['fas', 'cog']"></fa-icon>
                </th>
                <th>Simulator</th>
                <td>
                  <app-hyper-link [href]="simulation.simulator.getDockerHubUrl()">{{
                    simulation.simulator.getFullName()
                  }}</app-hyper-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="section">
          <h1>Algorithm parameter changes</h1>
          <table cellpadding="0" cellspacing="0" class="icon-key-vals section-content">
            <tbody>
              <tr *ngFor="let change of simulation.algorithmParameterChanges">
                <th>
                  <fa-icon aria-hidden="true" aria-label="Algorithm parameter icon" [icon]="['fas', 'circle']"></fa-icon>
                </th>
                <th>
                  <app-hyper-link
                    [href]="change.parameter.getUrl()"
                    title="{{ change.parameter.name }}">{{
                    change.parameter.id
                  }}</app-hyper-link>
                </th>
                <td [innerHTML]="change.value | scientificNotation"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="section">
          <h1>Format</h1>
          <table cellpadding="0" cellspacing="0" class="icon-key-vals section-content">
            <tbody>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
                </th>
                <th>Simulation</th>
                <td>
                  <app-hyper-link [href]="simulation.format.url">{{
                    simulation.format.getFullName()
                  }}</app-hyper-link>
                </td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Format icon" [icon]="['far', 'file-alt']"></fa-icon>
                </th>
                <th>Model</th>
                <td>
                  <app-hyper-link [href]="simulation.model.format.url">{{
                    simulation.model.format.getFullName()
                  }}</app-hyper-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab *ngIf="simulation.getProjects() as projects">
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Projects icon" [icon]="['fas', 'folder-open']"></fa-icon> Projects ({{ projects.length }})
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <div class="section-title float-container">
            <h1>Projects</h1>
            <a
              class="routes"
              [routerLink]="['/projects', 'new']"
              >
              <fa-icon
                aria-hidden="true"
                aria-label="New project icon"
                [icon]="['fas', 'plus']"
              ></fa-icon>
                New
            </a>
          </div>
          <div class="section-content">
            <app-project-cards
              [projects]="projects"
              [cols]="4"
            ></app-project-cards>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab *ngIf="simulation.getChartTypes() as chartTypes">
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Chart types icon" [icon]="['fas', 'folder-open']"></fa-icon> Chart types ({{ chartTypes.length }})
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <div class="section-title float-container">
            <h1>Chart types</h1>
            <a
              class="routes"
              [routerLink]="['/chart-types', 'new']"
              >
              <fa-icon
                aria-hidden="true"
                aria-label="New chart type icon"
                [icon]="['fas', 'plus']"
              ></fa-icon>
                New
            </a>
          </div>
          <div class="section-content">
            <app-chart-type-cards
              [chartTypes]="chartTypes"
              [cols]="4"
            ></app-chart-type-cards>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab *ngIf="simulation.getVisualizations() as visualizations">
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Visualizations icon" [icon]="['fas', 'folder-open']"></fa-icon> Visualizations ({{ visualizations.length }})
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <div class="section-title float-container">
            <h1>Visualizations</h1>
            <a
              class="routes"
              [routerLink]="['/visualizations', 'new']"
              >
              <fa-icon
                aria-hidden="true"
                aria-label="New visualization icon"
                [icon]="['fas', 'plus']"
              ></fa-icon>
                New
            </a>
          </div>
          <div class="section-content">
            <app-visualization-cards
              [visualizations]="visualizations"
              [cols]="4"
            ></app-visualization-cards>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div class="tab-button">
        <fa-icon aria-hidden="true" aria-label="Download icon" [icon]="['fas', 'download']"></fa-icon> Download
      </div>
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <h1>Description</h1>
          <ul class="section-content icon-text">
            <li>
              <fa-icon
                aria-hidden="true"
                aria-label="Download icon"
                [icon]="['far', 'file-alt']"
              ></fa-icon>
              <a [href]="simulation.getDescriptionFileUrl()"
              >SED-ML ({{ simulation.getDescriptionFileSize() }} Mb)</a>
            </li>
          </ul>
        </div>

        <div class="section">
          <h1>Results</h1>
          <ul class="section-content icon-text">
            <li>
              <fa-icon
                aria-label="Download icon"
                aria-hidden="true"
                [icon]="['far', 'file-alt']"
              ></fa-icon>
              <a
                [href]="simulation.getResultsFileUrl(SimulationResultsFormat.csv)"
                download="simulation-{{ simulation.id }}.csv.zip"
              >CSV ({{ simulation.getResultsFileSize(SimulationResultsFormat.csv) }} Mb)</a>
            </li>
            <li>
              <fa-icon
                aria-label="Download icon"
                aria-hidden="true"
                [icon]="['far', 'file-alt']"
              ></fa-icon>
              <a
                [href]="simulation.getResultsFileUrl(SimulationResultsFormat.hdf5)"
                download="simulation-{{ simulation.id }}.hdf5"
              >HDF5 ({{ simulation.getResultsFileSize(SimulationResultsFormat.hdf5) }} Mb)</a>
            </li>
          </ul>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="History icon" [icon]="['fas', 'history']"></fa-icon> History
    </ng-template>
    <ng-template matTabContent>
      <div class="tab history">
        <div class="section">
          <h1>Provenance</h1>
          <div class="section-content">
            <app-tree
              [nodes]="historyTreeNodes"
              [highlightedNodeId]="id"
            ></app-tree>
          </div>
        </div>

        <div class="section">
          <h1>Run status</h1>
          <table cellpadding="0" cellspacing="0" class="icon-key-vals section-content">
            <tbody>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Status icon" [icon]="['fas', 'tag']"></fa-icon>
                </th>
                <th>Status</th>
                <td>{{ simulation.status | ucfirst }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                </th>
                <th>Created</th>
                <td>{{ simulation.created | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                </th>
                <th>Updated</th>
                <td>{{ simulation.updated | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
              </tr>
              <tr *ngIf="simulation.startDate">
                <th>
                  <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                </th>
                <th>Started</th>
                <td>{{ simulation.startDate | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
              </tr>
              <tr *ngIf="simulation.endDate">
                <th>
                  <fa-icon aria-hidden="true" aria-label="Date icon" [icon]="['far', 'calendar-alt']"></fa-icon>
                </th>
                <th>Finished</th>
                <td>{{ simulation.endDate | date: 'yyyy-MM-dd hh-mm-ss aaaaa\'m\'' }}</td>
              </tr>
              <tr *ngIf="simulation.wallTime">
                <th>
                  <fa-icon aria-hidden="true" aria-label="Time icon" [icon]="['fas', 'stopwatch']"></fa-icon>
                </th>
                <th>Duration</th>
                <td>{{ simulation.wallTime | formatTimeForHumans }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'unlock-alt']"></fa-icon> Access
    </ng-template>
    <ng-template matTabContent>
      <div class="tab">
        <div class="section">
          <table cellpadding="0" cellspacing="0" class="icon-key-vals section-content">
            <tbody>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'unlock-alt']"></fa-icon>
                </th>
                <th>Access</th>
                <td>{{ simulation.access | ucfirst }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Token icon" [icon]="['fas', 'key']"></fa-icon>
                </th>
                <th>Access token</th>
                <td>{{ simulation.accessToken }}</td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="License icon" [icon]="['fas', 'certificate']"></fa-icon>
                </th>
                <th>License</th>
                <td>
                  <app-hyper-link [href]="getLicenseInfo(simulation.license)['url']">{{
                    getLicenseInfo(simulation.license)['name']
                  }}</app-hyper-link>
                </td>
              </tr>
              <tr>
                <th>
                  <fa-icon aria-hidden="true" aria-label="Access icon" [icon]="['fas', 'user']"></fa-icon>
                </th>
                <th>Owner</th>
                <td>
                  <a [routerLink]="['/user', simulation.owner.id]"
                  >{{ simulation.owner.getFullName() }}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon aria-hidden="true" aria-label="Logs icon" [icon]="['fas', 'terminal']"></fa-icon> Logs
    </ng-template>
    <ng-template matTabContent>
      <div class="tab logs">
        <div class="log">
          <div>
            <fa-icon aria-hidden="true" aria-label="Log icon" [icon]="['fas', 'terminal']"></fa-icon>
            <b>Standard output</b>
          </div>
          <div class="pre-container">
            <pre *ngIf="simulation.outLog; else noOutLog">{{ simulation.outLog }}</pre>
            <ng-template #noOutLog>
              <span class="none">None.</span>
            </ng-template>
          </div>
        </div>

        <div class="log">
          <div>
            <fa-icon aria-hidden="true" aria-label="Log icon" [icon]="['fas', 'terminal']"></fa-icon>
            <b>Standard error</b>
          </div>
          <div class="pre-container">
            <pre *ngIf="simulation.errLog; else noErrLog">{{ simulation.errLog }}</pre>
            <ng-template #noErrLog>
              <span class="none">None.</span>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
