<div class="partial-width-container no-page-routes">
  <div class="page-toolbar">
        <h1>Edit profile</h1>
        <div class="page-routes">
          <a [routerLink]="['..']">
            <mat-icon class="profile view" aria-hidden="false" aria-label="View icon"
              >person</mat-icon> View
          </a>
        </div>
    </div>

  <form *ngIf="auth.userProfile$ | async as profile">
    <!-- <img class="photo" src="{{ user.pictureUrl }}" /> -->

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput
        name="username"
        placeholder="username"
        value="{{ user.username }}"
        disabled />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput        
        name="firstName"
        class="firstName"
        required
        placeholder="John"
        value="{{ user.firstName }}"/>
      <input matInput        
        name="middleName"
        class="middleName"
        placeholder="C"
        value="{{ user.middleName }}"/>
      <input matInput        
        name="lastName"
        class="lastName"
        required
        placeholder="Doe"
        value="{{ user.lastName }}"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Organization</mat-label>
      <input matInput
        name="organization"
        placeholder="XXX University"
        value="{{ user.organization }}" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Website</mat-label>
      <input matInput
        name="website"
        type="url"
        placeholder="https://www.mywebsite.org"
        value="{{ user.website }}" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email address for notifications</mat-label>
      <input matInput        
        name="email"
        class="email"
        type="email"
        required
        placeholder="user@organization.org"
        value="{{ user.email }}"/>

      <mat-select
        name="emailPublic"
        class="emailPublic"
        required 
        [(ngModel)]="user.emailPublic"
      >
        <mat-option [value]="false">Private</mat-option>
        <mat-option [value]="true">Public</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>GitHub username</mat-label>
      <input matInput
        name="github"
        placeholder="github.username"
        value="{{ user.github }}" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Google Scholar id</mat-label>
      <input matInput
        name="googleScholar"
        placeholder="XXXXXXXXXXXXX"
        value="{{ user.googleScholar }}" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>ORCID</mat-label>
      <input matInput
        name="orcid"
        placeholder="xxxx-xxxx-xxxx-xxxx"
        value="{{ user.orcid }}" />
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Description</mat-label>
      <textarea matInput
        name="description"
        placeholder="Description of professional interests and experience."
        rows="10"
        >{{
        user.description
      }}</textarea>
    </mat-form-field>

    <button mat-button
      type="submit"
      value="Submit"
      disableRipple="true">Save</button>
  </form>
</div>