<div class="partial-width-container">
  <h1>
    Profile
    <a [routerLink]="['/profile/edit']"
      ><mat-icon aria-hidden="false" aria-label="Edit profile"
        >edit</mat-icon
      ></a
    >
  </h1>

  <div *ngIf="auth.userProfile$ | async as profile">
    <img class="photo" *ngIf="user.pictureUrl" src="{{ user.pictureUrl }}" />
    <div class="name mat-title">{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</div>
    <div class="username">{{ user.username }}</div>
    <div class="description" *ngIf="user.description">{{
      user.description
    }}</div>

    <table class="details">
      <tr *ngIf="user.organization">
        <th>
          <mat-icon aria-hidden="false" aria-label="Organization"
            >people</mat-icon
          >
        </th>
        <td>{{ user.organization }}</td>
      </tr>

      <tr *ngIf="user.website">
        <th>
          <mat-icon aria-hidden="false" aria-label="Website">link</mat-icon>
        </th>
        <td>
          <a href="{{ user.website }}">{{
            user.website
          }}</a>
        </td>
      </tr>

      <tr *ngIf="user.email && user.emailPublic" class="email">
        <th><mat-icon aria-hidden="false" aria-label="Email">email</mat-icon></th>
        <td>
          <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </td>
      </tr>

      <tr *ngIf="user.github">
        <th>
          <fa-icon
            [icon]="['fab', 'github']"
            size="lg"
            aria-hidden="false"
            aria-label="GitHub"
          ></fa-icon>
        </th>
        <td>
          <a href="https://github.com/{{ user.github }}">{{
            user.github
          }}</a>
        </td>
      </tr>

      <tr *ngIf="user.googleScholar">
        <th>
          <fa-icon
            [icon]="['fab', 'google']"
            size="lg"
            aria-hidden="false"
            aria-label="Google Scholar"
          ></fa-icon>
        </th>
        <td>
          <a
            href="https://scholar.google.com/citations?user={{
              user.googleScholar
            }}"
            >{{ user.googleScholar }}</a
          >
        </td>
      </tr>

      <tr *ngIf="user.orcid">
        <th>
          <fa-icon
            [icon]="['fab', 'orcid']"
            size="lg"
            aria-hidden="false"
            aria-label="ORCID"
          ></fa-icon>
        </th>
        <td>
          <a href="https://orcid.org/{{ user.orcid }}">{{
            user.orcid
          }}</a>
        </td>
      </tr>
    </table>
  </div>
</div>