<mat-card appearance="outlined" class="container" routerLink="{{ route }}" *ngIf="project.metadata as metadata">
  <mat-card-title class="title-container">
    <div class="title">{{ project.title }}</div>
  </mat-card-title>

<!--  <img-->
<!--    class="thumbnail"-->
<!--    alt="thumbnail for model"-->
<!--    [lazyLoad]="metadata.thumbnail"-->
<!--    defaultImage="./assets/images/loading.svg" />-->

  <div class="details-overlay">
    <div class="details-overlay-inner">
      <table class="icon-list">
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column._visible">
            <ng-container *ngIf="project._cache[column.id].value as value">
              <ng-container *ngIf="isArray(value); else scalar">
                <ng-container *ngFor="let v of value">
                  <ng-container *ngTemplateOutlet="template; context: { value: v }"> </ng-container>
                </ng-container>
              </ng-container>

              <ng-template #scalar>
                <ng-container *ngTemplateOutlet="template; context: { value: value }"> </ng-container>
              </ng-template>

              <ng-template #template let-value="value">
                <tr>
                  <td>
                    <biosimulations-icon
                      [icon]="project._cache[column.id].left.icon"
                      [title]="column.heading"></biosimulations-icon>
                  </td>
                  <td>{{ value }}</td>
                </tr>
              </ng-template>
            </ng-container>
          </ng-container>
        </ng-container>
      </table>
    </div>
  </div>

  <div class="active-overlay"></div>
</mat-card>
