<div class="partial-width">
  <mat-table matSort [dataSource]="data" class="mat-elevation-z8">
    <ng-container
      [matColumnDef]="column"
      *ngFor="let column of displayedColumns"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column | titlecase }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="columnsToDisplay; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]"
  >
  </mat-paginator>
  {{ data$ | async | json }}
</div>
