name: Generate a report of the licenses of the dependencies
on:
  push:
    branches: [dev]
jobs:
  dependency-report:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "13.x"

      - name: Generate license report
        working-directory: ./biosimulations
        run: |
          npm install -g license-checker
          npm ci
          npm run gen-dependency-license-report

      - name: Create pull request for updated license report
        id: create_pull_request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{  secrets.GITHUB_TOKEN}}
          branch: dep-licenses
          base: dev
          commit-message: "Updated licenses of dependencies"
          committer: BioSimulations Daemon <biosimulationsdaemon@gmail.com>
          delete-branch: true
          author: BioSimulations Daemon <biosimulationsdaemon@gmail.com>
          title: Update Dependency Licenses
          body: Updates the [LICENSE-DEPENENCIES file](https://github.com/biosimulations/Biosimulations/blob/dev/LICENSE-DEPENDENCIES) with the latests versions and dependencies
          labels: |
            automerge
