name: Release
on:
  workflow_dispatch:
jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: 
          token: ${{secrets.GH_RELEASE_TOKEN}}
      - name: Configure CI Git User
        run: |
          git config --global user.name 'Biosimulations-Daemon'
          git config --global user.email 'biosimulationsdaemon@gmail.com'

      - uses: actions/setup-node@v2
        with:
          node-version: "12"
      - run: npm ci
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          git-user-signingkey: true
          git-commit-gpgsign: true 

      - name: Release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{secrets.GH_RELEASE_TOKEN}}
          GIT_CREDENTIALS: ${{secrets.GH_RELEASE_TOKEN}}
          GIT_AUTHOR_NAME: "Biosimulations-Daemon"
          GIT_AUTHOR_EMAIL: "biosimulationsdaemon@gmail.com"
          GIT_COMMITTER_NAME: "Biosimulations-Daemon"
          GIT_COMMITTER_EMAIL: "biosimulationsdaemon@gmail.com"
          
        run: npx semantic-release
