name: Ontology Update
on:
  schedule:
    - cron: '0 0 * * 0' # weekly

  workflow_dispatch:
    inputs:
      ontologies:
        description: 'Comma-separated list of the names of ontologies to update; default: update each ontology'
        required: false
        default: ''

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Install dependencies
        run: sudo apt-get install -y --no-install-recommends wget

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Install Python packages
        run: |
          python -m pip install -r ${GITHUB_WORKSPACE}/biosimulations/tools/generate-ontologies-requirements.txt

      - name: Update ontologies
        run: ${GITHUB_WORKSPACE}/biosimulations/tools/generate-ontologies ${{ github.event.inputs.ontologies }}

      - name: Commit updated ontologies to repository
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          branch: update-ontologies
          base: dev
          commit-message: "Updated ontologies"
          committer: BioSimulations Daemon <biosimulationsdaemon@gmail.com>
          author: BioSimulations Daemon <biosimulationsdaemon@gmail.com>
          delete-branch: true
          title: Update Ontologies
          body: Updates the JSON-LD files that contains the ontologies using the latest OWL file at the IRIs
          labels: |
            automerge
