<div class="title"><h1>Visualizations</h1></div>
<div class="select">
  <form class="form-field" layout layout-align="center" layout-padding>
    <mat-form-field class="form">
      <input #vizInput matInput placeholder="Simulation ID" />
    </mat-form-field>

    <button
      [routerLink]="'/visualize/' + vizInput.value"
      mat-raised-button
      color="primary"
    >
      Visualize
    </button>
  </form>
</div>
<div class="landing" *ngIf="!id">
  <p>Please enter the id of a simulation run to view its visualizations</p>
</div>
<div class="figures" *ngIf="isBrowser">
  <div class="figure" *ngFor="let viz of visualizations; index as i">
    <app-vega-viewer [viz]="viz"> </app-vega-viewer>
  </div>
</div>
