.figures
    width: 100%
    display: flex
    justify-content: space-between
    align-content: space-around
    flex-grow: 1 1
    flex-direction: row
    flex-wrap: wrap
.figure
    flex-basis: content

