.figures
    width: 100%
    display: flex
    justify-content: space-between
    align-content: space-around
    flex-grow: 1 1
    flex-direction: row
    flex-wrap: wrap
.figure
    flex-basis: content
.select
    display: flex
    flex-direction: row
    justify-content: center
.example-full-width
    width: 80%
.title
    display: flex
    justify-content: center

