@use '~@angular/material' as mat;
@import 'biosimulations-colors';

.thumbnails-column {
  display: flex;
  justify-content: center;
}

.thumbnails-container {      
  border: 1px solid $light-bg-darker-20;
  border-radius: 4px;
  aspect-ratio: 1;  

  ::ng-deep {
    .carousel {
      border-radius: 4px;
    }    

    .carousel-slide {
      background-size: contain;
    }

    .carousel-indicators {
      transform: none;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 1.5px;
      padding-bottom: 1.5px;
      background: #00000011;
      justify-content: center;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }    

    .mat-mini-fab.mat-accent {
      background-color: #aaa;
      box-shadow: none;
    }
  }

  &.single-thumbnail ::ng-deep .carousel-indicators {
    display: none;
  }

  &:not(.single-thumbnail) ::ng-deep .carousel-list {
    height: calc(100% - 25px - 0.5rem) !important;
  }
}

@media screen and (max-width: 959px) {
  .thumbnails {
    ::ng-deep {
      height: 10px;
    }
  }
}

.metadata-column {
  margin-top: -2rem;
}

@media screen and (max-width: 959px) {
  .metadata-column {
    margin-top: -1rem;
  }
}

.metadata-column {
  .abstract {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .creators {
    font-style: italic;
    margin-block-start: 0;
    margin-block-end: 0.5em;
  }

  .description {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  .attributes {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.125rem;
    margin-block-start: 0.5em;

    div:nth-child(odd) {
      display: flex;
      justify-content: center;
    }

    a {
      color: $dark-primary-text;
      text-decoration: underline;
    }
  }
}

.simulation-column {
  margin-top: -1rem;

  ::ng-deep biosimulations-text-page-section {
    .container {
      margin-top: 1rem;
    }
  }
}