<div
  class="metadata"
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="space-between"
  fxLayoutGap="2rem"
  fxLayoutGap.lt-md="1rem"
>
  <!-- Begin thumbnails -->
  <div
    *ngIf="showThumbnails | async"
    class="thumbnails"
    style.height="auto"
    fxFlex="30"
  >
    <mat-carousel
      *ngIf="thumbnails as images"
      timings="250ms ease-in"
      [autoplay]="true"
      [interval]="5000"
      color="accent"
      maxWidth="100%"
      [proportion]="100"
      [loop]="true"
      [hideArrows]="true"
      [hideIndicators]="true"
      [useKeyboard]="true"
      [useMouseWheel]="true"
    >
      <mat-carousel-slide
        [hideOverlay]="true"
        *ngFor="let image of images"
        image="{{ image }}"
      >
      </mat-carousel-slide>
    </mat-carousel>
  </div>
  <!-- End thumbnails-->

  <!-- Begin summary/text data-->
  <div fxFlex>
    <h2>{{ title }}</h2>
    <div class="abstract" *ngIf="abstract">{{ abstract }}</div>

    <!-- Begin creators/contributers-->
    <!-- TODO create ORCID people list component -->
    <ul class="creators comma-separated ampersand-separator" *ngIf="creators?.length">
      <li *ngFor="let creator of creators">
        {{ creator.label }}{{ creator.uri ? ' ' : ''
        }}<a [href]="creator.uri" target="_blank" *ngIf="creator.uri">
          <biosimulations-icon icon="orcid"></biosimulations-icon>
        </a>
      </li>
    </ul>

    <!-- description -->
    <div class="description" *ngIf="description">{{ description }}</div>

    <!-- attributes -->
    <div class="attributes" *ngIf="attributes?.length">
      <ng-container *ngFor="let attribute of attributes">
        <div>
          <biosimulations-icon [icon]="attribute.icon"></biosimulations-icon>
        </div>
        <div>
          <b>{{ attribute.title }}:</b>{{ ' ' }}
          <a *ngIf="attribute.url; else noUrl" [href]="attribute.url" target="_blank">{{ attribute.label }}</a>
          <ng-template #noUrl>
            {{ attribute.label }}
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- End summary/text data-->
</div>
