@import 'biosimulations-colors'

.md-container
  overflow: auto
  max-height: 50vh

.header
  margin: auto
  text-align: center

.content
  max-width: 80vw
  margin: auto
  margin-top: 3rem

.error
  margin-bottom: 2rem

.content-card-account-content
  margin-top: 3rem

.step-content
  height: 100%
  align-content: center
  justify-content: center
  margin-top: 2rem
  margin-left: 10%

.username-content-container
  height: 200px

.user-input
  height: 50px !important
  font-size: 20px !important

.form-field
  height: 60px !important
